[2013-04-28 14:57] aesedepece opened #1 "Adding new contact to roster does not perform any subscription"
By now we might subscribe to new contacts as "both" until a subscription managing interface is implemented.

[2013-04-28 14:58] aesedepece opened #2 "No way to accept, turn down or block subscription from others"
We might auto-accept subscription unitl a proper interface to manage it is implemented.

[2013-04-28 15:04] aesedepece opened #3 "[0077] Real In-Band Registration"
Current registration in loqui.im server is made via https and a script which writes directly to users database.
We should be able to perform IBR (In-Band Registration) as described by XEP-0077 to register in any server supporting that feature instead.

[2013-04-28 15:13] aesedepece opened #4 "System notifications on message receive"
System notifications should be fired when receiving messages in a chat which is not in foreground.

Example:

[code]

[2013-04-29 11:08] nukeador opened #5 "Persona support"
It would be nice to be able to log in using your Persona ID account, instead of having to create a new one or the server to deal with passwords.

http://identity.mozilla.com/post/47114516102/persona-on-firefox-os-phones

[2013-04-29 11:08] nukeador opened #6 "[XMPP] Contacts dicoverability"
A way to search for contacts is needed, probably sharing your contacts and searching by email.

[2013-04-29 11:38] aesedepece commented on #5
LOQUI is intended to be used with accounts from arbitrary Jabber providers, so by default we can't use any registering/logging in method other than those provided by XMPP standard.

Nevertheless, Persona would be an easy and safe method to "easy login" option which will be eventually used by most users who do not want to get into setting hosts or BOSH urls, as it will register a "nickname@loqui.im

[2013-04-29 12:06] aesedepece commented on #6
That's a really important point for the sake of simplicity and rich UX.
We have still to decide whether identify and discover people by nickname, phone number or email.

But the really tricky part goes as follows: you might want to look for somebody who is not in your same Jabber server. What's more, you may not know what server that person is registered in.

I had thought of a simple and clever w

[2013-04-29 23:03] aesedepece commented on #4
System notifications are already shown when someone talks you for the first time since commit dc90561ae3543520fc7e756c1e05140e2d23b450.
Showing them when "receiving messages in a chat which is not in foreground" depends on "Page Visibility API", yet to be studied and soon implemented.

[2013-04-29 23:20] aesedepece commented on #4
Took just some minutes to figure out how to push system notifications based on Page Visibility.
By now there's no way to delete or modify previously showed notifications, so by the moment they pile up quite annoyingly without we are able to help it.
Until such a method for removing old notifications is implemented by the API, this issue can be closed.

[2013-04-29 23:20] #4 closed, assigned to aesedepece

[2013-04-29 23:32] aesedepece opened #7 "When receiving messages from somebody not in roster, name appears to be "undefined" instead of JID"

[2013-04-30 11:25] aesedepece opened #8 "[0045] MUC (Multi-User Chat)"
Multi-User Chat is a must-have for chat apps and, just in this case, we are not to be different.

[2013-04-30 20:12] nukeador opened #9 "Improve UI using Lungo"
After investigating about mobile app frameworks, I was amazed about the speed and versatility of creating the UI using Lungo (instead of jquery mobile):

http://lungo.tapquo.com/

There is also a hangout in Spanish presenting it:

https://www.youtube.com/watch?v=EwmJ88Nq600

I think this could speed up the UI creation for loqui :D

[2013-05-01 02:26] aesedepece commented on #9
At the moment no UI framework is being used by LOQUI.
But I do really like what I've seen so far from Lungo, so I personally agree to your suggestion and study the feasibility of adopting it in short.
Thanks for all!

[2013-05-01 02:32] aesedepece opened #10 "Make app available offline"
This implies leading with Offline Storage API, cache-manifest, online-offline events and so on.
Messages sent offline should also be stored for delayed delivery in a localStorage / sessionStorage stack ready to be pushed on next connection to the Internet.

[2013-05-01 13:47] aesedepece opened #11 "[0052] File transfer"
This depends on "FileHandle API" and XEP-0030 "Service Discovery".

[2013-05-01 13:50] aesedepece opened #12 "[0030] Service discovery"
"This specification defines an XMPP protocol extension for discovering information about other XMPP entities. Two kinds of information can be discovered: (1) the identity and capabilities of an entity, including the protocols and features it supports; and (2) the items associated with an entity, such as the list of rooms hosted at a multi-user chat service."

[2013-05-01 19:38] aesedepece commented on #9
I've started porting LOQUI to Lungo in a separated branch. It's delightful!
You'll see Lungo in the master branch as soon as possible :D

[2013-05-02 13:00] aesedepece commented on #9
Just finished preliminary port to Lungo ;)

[2013-05-02 13:00] #9 closed, assigned to nobody

[2013-05-02 13:12] aesedepece opened #14 "Show logging in status"
Show progress indicators and success/fail messages.

[2013-05-07 08:03] aesedepece opened #15 "Create dictionary mapping "JID → visible name""
Creating a dictionary mapping "JID → visible name" avoids the need to query the roster repeatedly every time we have to update the contact list, which happens every time a change in the roster is received, thus reverting to better response and fewer usage of resources and data connection.

What's more, this is needed for issue #10.

[2013-05-07 22:41] #15 closed, assigned to aesedepece

[2013-05-07 23:18] #14 closed, assigned to aesedepece

[2013-05-08 13:15] #10 closed, assigned to aesedepece

[2013-05-08 13:15] #7 closed, assigned to nobody

[2013-05-12 12:47] #2 closed, assigned to nobody

[2013-05-12 23:54] aesedepece commented on #1
Fixed by commit 80e09199e7b9e0870df0cc04e05ddc7d9f323636.

[2013-05-12 23:54] #1 closed, assigned to nobody

[2013-05-14 01:25] Gioyik opened #18 "Synchronize chats between devices"
Hi,

I installed loqui in my Samsung Galaxy S3 phone with Firefox for Android and in a Unagi phone with FirefoxOS. I sent a message to @Nukeador from my Unagi phone, and when I open loqui in my Galaxy S3 I watched that the conversations are not synchronized, it's this a Bug? Or it's probably feature for the future?

Regards

[2013-05-14 01:31] aesedepece commented on #18
Sorry, such feature is not implemented yet, but you can be sure it will have high priority in the roadmap. (It's a must-have!)
Although XMPP does not directly support synchronizing chats between devices, it could be achieved by backing the chats up in the server as described by XEP-0049.

[2013-05-14 01:33] Gioyik opened #19 "Cannot disconnect"
Hi,

Today I installed loqui. I log in and all is OK. The problem is when I try to disconnect. I click on the disconnect menu but It doesn't disconnect me, I continue connected. Could someone confirm if is this a Bug?

Thanks

PD: Tested in a Samsung Galaxy S3 with Firefox for Android and a Unagi phone with FirefoxOS

[2013-05-14 01:35] Gioyik commented on #18
Probably, providing a way to host that conversations in a Host to export to every phone could fix this. What you think?

[2013-05-14 01:36] aesedepece commented on #19
Does the "Disconnecting" black notification even appear or not?

[2013-05-14 01:40] Gioyik commented on #19
Yes, but I can continue be connected and chatting after I click on the Disconnect menu.

[2013-05-14 01:47] aesedepece commented on #18
I forgot that XMPP already DOES have a feature for implementing this feature.

It is called "Message Archiving" and is described by XEP-0136 → http://xmpp.org/extensions/xep-0136.html

The sad fact is that Google Talk doesn't implement it yet.

[2013-05-14 01:48] Gioyik opened #20 "Contacts are showed always as "Disconnected""
Hi,

Today I installed loqui and log in with my GTalk and when I watched my contacts list all was showed as Disconnected. 15 minutes later one of 57 contacts listed was showed as Available. Is this a Bug? Something wrong?

Tested in a Unagi phone with FirefoxOS and a Samsung Galaxy S3 with Firefox for Android.

Regards,

[2013-05-14 01:53] aesedepece commented on #19
CONFIRMED

In fact disconnection is made properly. It's just the other phone not rendering you as disconnected. So it's a presence rendering issue actually.

[2013-05-14 01:54] Gioyik commented on #18
XMPP Rules! But it that's the problem with GTalk, could be great try to provide the idea of the Host but probably the people will not feel good knowing that loqui is saving their conversations in a private server. Or probably providing a way to export and import his conversations.

Regards

[2013-05-14 02:00] aesedepece commented on #20
We are aware of it. Google servers do not send contacts' presence on log in.

It's not secret that Google Talk implements some features by using their own XMPP extensions instead of that proposed for community approval in XEP documents.

We are trying to figure out all of those little differences between standard XMPP and Google's XMPP in order to support them on an equal basis.

[2013-05-14 02:00] Gioyik commented on #19
Cool, you detect the real bug.

[2013-05-14 02:05] aesedepece commented on #19
I will tackle the issue as soon as tomorrow. Thanks for all the feedback!

[2013-05-14 02:51] Gioyik commented on #18
How loqui save the conversations? I thinking in make a Webapp to export/import conversations in loqui. Could you tell me how loqui save the conversations?

[2013-05-14 03:14] Gioyik commented on #19
Awesome! I will be testing if the problem is fixed.

[2013-05-14 03:19] Gioyik commented on #20
So bad, probably in the future this will be fixed with help of XEP, I am going to read something about it to know how to help to fix this, it's not sure that I find out the solution. :P

[2013-05-14 09:00] aesedepece commented on #18
LOQUI saves the chat list (and the messages inside) as JSON in localStorage. You can see it in `scripts/waalt/app.js`.

[code]

The chat list is an Array containing objects of class `Chat` as defined in `scrips/waalt/messenjer.js`:

[code]

The message list inside every chat object is an Array containing objects of class `Message` as defined in `scrips/waalt/messenjer.js`:

[code]

I think the fie

[2013-05-14 09:39] willyaranda opened #21 "Use asyncStorage (indexedDB wrapper) instead of localStorage"
localStorage is syncronous, so it blocks UI. You should use asyncStorage[1], which is a localStorage-like wrapper for indexedDB (so it's asynchronous).

[1] https://github.com/mozilla-b2g/gaia/blob/master/shared/js/async_storage.js

[2013-05-14 09:46] aesedepece commented on #21
Shut up and take my money!!!
That would avoid the little UI freeze when entering a chat with lots of messages inside. It will be implemented ASAP :)

[2013-05-14 09:55] willyaranda opened #22 "Ability to sign out and forget login details"
So it's possible to switch accounts :)

[2013-05-14 09:55] willyaranda commented on #22
AFAIK: this should be easy if you disconnect user and clear the localStorage (soon asyncStorage :) )

[2013-05-14 10:06] aesedepece commented on #22
It seems logic to feature a menu options for that.
As soon as you perform `localStorage.clear()` or `localStorage.removeItem("xsettings")` and reload app, the login form is offered again.

[2013-05-14 12:05] cosenal opened #23 "Suspicious sign in prevented"
I tried to sign in with my gmail account, but Google prevented the access and send me an email with the following text:

[2013-05-14 12:36] cosenal opened #24 "Delete or edit contact not possible"
In the UI I can't find an option to delete or edit a contact

[2013-05-14 14:16] aesedepece commented on #23
Do you have 2-step login enabled for that account? If so, you have to issue an app password from here: https://accounts.google.com/IssuedAuthSubTokens?hide_authsub=1

If that's not your case, let us know and we'll make further enquiries.

[2013-05-14 14:21] aesedepece commented on #24
There is not such feature yet, but it will be implemented in a matter of days.

Provisionally, you can change a contact's nickname by adding it again with a different nickname. The new one will override the old one but chats will remain intact.

Thanks for noticing!

[2013-05-14 18:27] aesedepece commented on #21
Fixed by commits 6f82fe33ef5b3e139a2196ce6a2d98fbddc27a44 and a9c97b5d80520a6402c5891f0374e2077314049f

In addition if it detects that there is data from a previous version of LOQUI, it imports the data.

[2013-05-14 18:33] #22 closed, assigned to aesedepece

[2013-05-14 19:15] #21 closed, assigned to aesedepece

[2013-05-14 19:37] aesedepece commented on #19
After performing a set of tests against last nightly, it seems that this does not happen any more.
I'll update the online app version from 006 to 007 later today and close the issue once you confirm it is solved.

[2013-05-14 23:13] cosenal commented on #23
Yes, 2-step worked. I will close this.

[2013-05-14 23:13] #23 closed, assigned to nobody

[2013-05-14 23:23] cosenal opened #28 "crash after logging with gtalk account"
The app crashed after I logged in with my gtalk account. And after I force-quit and restart it, the app gets stuck at the boot screen

I am new to Firefox OS, so I don't know how to get more debug information, sorry.

[2013-05-14 23:50] aesedepece commented on #28
This happens only sometimes and I guess is caused by a mismatch between versions.

I pushed a new version of LOQUI (pa007) a few hours ago. After restarting the app your phone should have downloaded the updated files but instead it seems to be still retaining old files from pa006.

Currently, the only way to go back to normal is reinstalling the app. Sadly, as message archiving is not yet implemen

[2013-05-15 18:04] cosenal commented on #28
I just reinstalled, it logged in and after 20 seconds of playing with the app, it crashed again. As soon as i start it, it crashes.

(Note: not a critics, I understand what pre-alpha means, just trying to help here ;) )

[2013-05-15 18:05] cosenal opened #29 "Logging-in with two accounts"
I would like to login with my Gtalk account and with my Jabber.org account at the same time. Is it possible?

[2013-05-15 18:13] markuman opened #30 "Parse http && https URLs"
i've received a https URL in a chat, but it was not clickable.
It would be nice to have it clickable

[2013-05-15 18:35] aesedepece commented on #28
I'll continue to investigate what could cause that crash and the subsequent frozen boot.

It would be great if you could provide logcat output. It's done by connecting phone to PC and running `adb logcat | grep GeckoConsole`.

Thanks for your feedback, I really esteem it :pray:

[2013-05-15 18:39] aesedepece commented on #30
That's a great idea, sorry for having thought of it before. :astonished:

You'll see that feature implemented in terms of days.

[2013-05-15 19:05] #30 closed, assigned to nobody

[2013-05-15 19:47] Gioyik opened #31 "[Firefox Marketplace] Problem with Manifest"
Hi,

You have been sent the Loqui manifest to the Firefox Marketplace to publish Loqui, but there's a problem in your manifest file because it's a Hosted webapp. So you need put the complete launch path (ej: https://www.server.com/path/app.htm), for that reason i can't approve it.

Please fix this to approve your app.

Regards,
Gio

[2013-05-15 19:57] aesedepece commented on #31
I have changed that line to:
`"launch_path": "https://app.loqui.im/app.htm",`

Thanks for your help.

[2013-05-15 19:57] #31 closed, assigned to nobody

[2013-05-15 20:06] Gioyik commented on #31
Please, add a Category in your manifest file for your app if you like see LOQUI listed in the Marketplace.

Regards,
Gio

[2013-05-15 20:13] Gioyik commented on #31
Please provide more metadata about your app, such as a summary and/or description that explains the functionality of your app, add screenshots, a category and more usefull info, to aprrove it again.

Regards,
Gio

[2013-05-15 20:25] aesedepece commented on #31
I provided all the data you mention: categories, summary, screenshots and descriptions. :open_mouth:
![Listing](http://loqui.im/img/listing.png)

[2013-05-15 20:30] Gioyik commented on #31
I am seeing the manifest for the Version pre-alpha004. Probably, thats the problem. Let me check again.

[2013-05-15 20:35] Gioyik commented on #31
Please delete and send again your application. I have problems with your manifest, i see this:

![captura de pantalla de 2013-05-15 15 34 50](https://f.cloud.github.com/assets/1834718/509237/f2957206-bd9e-11e2-8a34-e2806525248b.png)

Regards,
Gio

[2013-05-15 20:49] aesedepece commented on #31
Re-submitted :+1:

[2013-05-15 20:57] Gioyik commented on #31
Do you see your webapp published in the Marketplace?

[2013-05-15 21:16] aesedepece commented on #31
Not yet...

[2013-05-15 21:18] Gioyik commented on #31
Let me report it, because It shows me the content of 0.4 version and the manifest shows the 0.7 version.

[2013-05-16 04:18] cosenal commented on #28
As I said in the bug report, I am very new to Firefox OS. Where should I run adb? Do I need the Android SDK for that?

[2013-05-16 09:34] borislas opened #32 "Connect to Gtalk with custom domain name"
Hello,

I can't connect to Google Talk with a custom domain name.

I guess Loqui only uses the Google server if the IADB ends with "gmail.com".

Is it possible to have the opportunity to choose the type of account?
For example Jabber with the possibility to enter the server address or GTalk which predetermines the server address.

Thanks!

[2013-05-16 10:14] aesedepece commented on #32
Somebody told us about this issue some days ago via mail.

Contrary to what you may think, LOQUI does not make any distinctions between Google Talk or Jabber. It just takes your JID and split it in username and domain. Then it tries to log into that domain using your username and password.

The problem with Google Apps accounts is that server name differs from the user's domain, so LOQUI tries to

[2013-05-16 10:20] aesedepece commented on #28
Here you  have a tutorial on how to install and run adb: http://forum.xda-developers.com/showthread.php?t=1751439

Anyway, could you describe the crash more accurately? Does it closes or just freeze and don't respond to any user action at all?

Thanks.

[2013-05-16 10:49] #20 closed, assigned to nobody

[2013-05-17 13:51] aesedepece commented on #32
The guy who told us about this issue first has managed to solve it.

In order to use Google Apps accounts in LOQUI and other clients that makes no distinction from domain and server, you have to modify your domain's DNS records as described in this Google Apps help page:
http://support.google.com/a/bin/answer.py?hl=en&hlrm=es&answer=34143

Please apply those changes (or encourage the sysadmin to d

[2013-05-17 18:24] Zash commented on #18
May I suggest you look at [Carbons](http://xmpp.org/extensions/xep-0280.html) for real-time synchronization of chats and [MAM](http://xmpp.org/extensions/xep-0313.html) for a more modern and simple archiving spec.

[2013-05-18 20:34] aesedepece commented on #18
@Zash thanks for the suggestions, both XEPs meet perfectly the needs.

[2013-05-22 16:17] AntonioMA opened #34 "Bring app to the foreground"
You have an example here:
https://github.com/AntonioMA/tsimplepush/blob/master/js/tokesApp.js

[2013-05-22 20:01] MiguelSchneider opened #35 "Sorted contacts"
It would be helpful that contacts are sorted (e.g, first name or surname), or there is an option to sort them.

[2013-05-22 20:12] MiguelSchneider opened #36 "Add person: select textarea"
It is impossible to directly select the textarea to provide the information of the address or JID and nickname in the "add person" window. It is only possible to select the text area by clicking on the text labels ("Adress or JID" and "Nickname"). Tested on a Peak and a Keon.

![loqui](https://f.cloud.github.com/assets/2051119/550841/8963ef92-c31b-11e2-9831-38a70fce3d1b.png)

[2013-05-22 23:05] aesedepece commented on #36
Those fields are supposed to be selectable as expected.

But this is a very odd issue. I have observed it only happens sometimes with some FirefoxOS versions in some devices, which lead me to think that is more attributable to Gaia than to LOQUI itself. (It never happened to me in desktop Firefox or Firefox for Android)

[2013-05-22 23:06] aesedepece commented on #35
Basic contacts management and sorting is expected to land with "alpha1" milestone by June 15.

[2013-05-22 23:08] aesedepece commented on #34
Thanks again for sharing the example.

This is to be implemented ASAP.

[2013-05-23 22:07] cosenal commented on #28
I finally found the time to do this.
I get a lot of lines like the following:
`"E/GeckoConsole( 8861): Content JS LOG at https://app.loqui.im/scripts/waalt/app.js:114 in anonymous: SAVING"`

No error when the crash happens though.

[2013-05-23 22:13] cosenal commented on #28
And if i don't filter for `GeckoConsole`, I also see lines like this:

`I/Gecko   (  118): ###!!! [Parent][RPCChannel] Error: Channel error: cannot send/recv`

I don't know if it's related at all

[2013-05-23 22:42] aesedepece commented on #28
Thanks for taking the time to debug this. At first sight your logs don't point out anything wrong.

The good news are that I'm working in a deep revision of how the app manages memory that eventually will stop this crash and similar ones. I'll keep you informed.

Anyway, which B2G and Gaia versions are you using? Subsequent LOQUI releases will be optimized for B2G 1.1 as that's the one to be shipp

[2013-05-23 22:44] cosenal commented on #28
Thank you for helping with debug instructions.

I am running B2G 1.0.1.0-prerelease on my new GP Peak

[2013-05-27 13:41] #32 closed, assigned to nobody

[2013-05-30 04:23] Gioyik commented on #31
Hey! Good news, now loqui is approved and fixed. Please check it in the marketplace.

Regards

[2013-05-30 10:05] aesedepece commented on #31
Thanks a lot @Gioyik !

By the way, I have a question regarding Firefox Marketplace,

In subsequent releases, LOQUI won't be a hosted app any more but a packaged app. I can't see such option from switching from hosted to packaged in the Developer Hub. How should I proceed for submitting the packaged one without deleting the listing for the hosted one? Should I upload it as a separate app and when

[2013-05-30 19:29] Gioyik commented on #31
I asked and this is the answer:

13:11        eviljeff   he will have to submit it again as a new app - you can't switch from hosted to packaged (or back)
13:11   eviljeff    he can delete the hosted app if he wants (though remember packaged apps don't work on Desktop or release Android yet)
13:15   Gioyik  So it's impossible switch from Hosted to packaged
13:16   eviljeff    correct

Could i help

[2013-06-03 20:54] Zeriuno opened #38 "No contacts shown"
Got a [dukgo.com XMPP account](https://dukgo.com/blog/xmpp-services-at-duckduckgo).
I have 4 contacts, 1 of them being an ever-on-line bot. No contacts is shown on Loqui, nor online or offline.

[2013-06-03 23:17] aesedepece commented on #38
This happens when your account's vCard does not include a "FN" field, which is the default behaviour in dukgo.com accounts.

This is fixed in pre-alpha008, to be released on June 15.

Thanks for the issue report and sorry for the inconveniences.

[2013-06-03 23:17] #38 closed, assigned to nobody

[2013-06-04 08:15] Zeriuno commented on #38
Bueno: ¡espero la próxima version de loqui!

[2013-06-04 17:00] MiguelSchneider opened #39 "Manifest file in Github"
Include a valid manifest file in github, so that the very latest version of Loqui can be downloaded from Github and installed on the Firefox OS Simulator or on a developer device through the simulator.

This might help the dogfooding testing of Loqui a lot!

[2013-06-04 17:08] aesedepece commented on #39
Current version on GitHub (pa007) is just the same as the one you see live on http://app.loqui.im, so the manifest for it is this → http://app.loqui.im/loqui.webapp

Anyway, I'll take your advice and include the manifest when I upload LOQUI pa008, whose development is not being tracked in GitHub yet ;)

[2013-06-15 11:05] ntrrgc opened #40 "GMail dropping XMPP, what will you do?"
"GMail compatible" is one of the promises of Loqui, but the new Google Hangouts breaks that with incompatible and closed technology.

[2013-06-15 18:24] markuman commented on #40
someone has to reverse engineer the protocol, otherwise gmail will be dropped i guess.

[2013-06-15 19:00] aesedepece commented on #40
Like you said, the Hangouts app makes no longer use of XMPP but a closed protocol instead. Nevertheless, you can still access your account via XMPP and their servers keep federating.

We can't understand why is Google moving in this dumb direction, given that XMPP is a growing standard that is being used even by Microsoft Lync, Facebook and Tuenti (though these last two don't federate).

The fact

[2013-06-15 19:09] markuman commented on #40
nsa prism
these two words were just missing in this discussion

[2013-06-15 19:34] aesedepece commented on #40
Lately those words seem to be even in every table talk...

Seriously, secrecy of communications and personal data protection are nowadays issue of concern just because they have to.

We all should pay a little more attention to how our data is being stored and handled by the companies running the services we love, and to how they share it with third parties for unknown purposes even without our co

[2013-06-17 15:54] #39 closed, assigned to nobody

[2013-06-17 15:54] #35 closed, assigned to nobody

[2013-06-17 15:54] #24 closed, assigned to nobody

[2013-06-17 15:54] #34 closed, assigned to aesedepece

[2013-06-17 15:55] #36 closed, assigned to nobody

[2013-06-17 17:45] willyaranda opened #41 "Impossible to open a chat conversation"
From Contacts, if I tap in a connected contact, there is no opened window for chatting. No error is shown on logcat.

This break Loqui best functionality: chat :)

PS: using latest commit from here and pushed to the phone with the simulator

[2013-06-17 17:57] aesedepece commented on #41
Note that it works on app close and reopen.

For some reason, some elements stop receiving tap events after a while. It's the same as #36, which has not been definitively solved.

It has been reported as a issue in Lungo, which seems to be where the problem resides:
https://github.com/tapquo/Lungo.js/issues/211

Frankly, I'm not sure wether it's a Lungo issue or Gaia issue :S

[2013-06-24 02:30] Gioyik commented on #36
This is not happening any more. I tested in FirefoxOS phones with 1.1 and 1.0 versions. Probably now is fixed with the changes in last commits.

Regards,
Gio

[2013-06-24 03:10] aesedepece commented on #36
Yes, it does not happen, but it's not really fixed.

Indeed I made a workaround for this by dynamically replacing every input field by a `<div contenteditable data-pretend='input-text'></div>` and then styling it to look like a input field. it's at the bottom in /scripts/waalt/bindings.js

[2013-06-24 15:15] unknowndevice opened #43 "OTR Support"
OTR is a pretty standard feature in most third party IM clients (Gibberbot, Pidgin, Adium). Is there any plans to implement OTR support?

http://www.cypherpunks.ca/otr/

[2013-06-24 15:37] aesedepece commented on #43
Yes, I also think It should be implemented ASAP. Thanks for reporting, I'll post further progress in this same issue.

[2013-06-24 19:19] Gioyik opened #44 "Emoji icons"
Do you have plans or ideas to integrate emoji icons?

[2013-06-24 19:59] Gioyik commented on #44
This module could help, but it's deferred:

http://xmpp.org/extensions/xep-0038.html

This is the one that uses piddgin:

http://xmpp.org/extensions/xep-0231.html

[2013-06-24 23:05] aesedepece commented on #28
Can you confirm it is solved / still happening as of pa009? Thanks.

[2013-06-24 23:06] #19 closed, assigned to aesedepece

[2013-06-24 23:17] aesedepece commented on #44
I'm currently working on #12 which is blocking for this, #11 and many others.

When done with that, this may be the next issue to solve and then maybe the huge #8.

[2013-06-25 14:22] unknowndevice commented on #43
Thanks! :)

This might help the process http://arlolra.github.io/otr/ Though I can't vouch for it's security, it is used in cryptocat.

[2013-07-20 12:43] #28 closed, assigned to aesedepece

[2013-07-20 14:37] cosenal commented on #28
@aesedepece I am still not using loqui on a regular basis, but I can confirm that the issue seems to be gone now

[2013-07-27 20:47] kkdeep opened #48 "Contacts sorting"
Are there any plans to implement the functionality of contacts sorting such as show only ONLINE contacs or/and mark them as favourites so that only selected contacts are visible?

[2013-07-27 21:55] aesedepece commented on #48
Hello Krishna,

Contacts sorting is planned though not assigned yet to a certain release or milestone.

Showing only connected contacts is already supported. You just have to open the contextual menu by pressing the icon on the top left corner of the contacts list and then tap "Toggle disconnected contacts".

[2013-07-27 22:38] #12 closed, assigned to aesedepece

[2013-07-27 22:39] #3 closed, assigned to nobody

[2013-07-28 06:05] kkdeep commented on #48
Hi Adan,
Thanks for the info.Nice to hear that its planned. I already checked those things bt may be because of terminology failed to understand. Normally in IM's "Toggle/Toggling" word is avoided. It would be much better  and intutive if instead of "Toggle disconnected contacts" "Show online contacts" is displayed. This is just a suggestion btw.

[2013-07-28 06:08] kkdeep commented on #41
The issue is still present. Even after closing & reopening i am unable to start a conversation.

[2013-07-28 10:33] radare commented on #48
Another feature request similar to this would be to favorite contacts and show them first in list if they are online.

Otherwise alphabetically listing online contacts would be the expected behaviour.

On Jul 28, 2013, at 8:05, Krishna Kumar Deep notifications@github.com wrote:

[2013-07-28 18:13] axllent commented on #32
Hi @aesedepece. I made the necessary DNS changes described on the Google support site, however I still cannot connect to my Google Apps domain (it's been two weeks since I made the changes). You mentioned port 5222, however the DNS entries are for port 5269 - could this be the reason?

If I `dig _xmpp-server._tcp.gmail.com srv` or use my own domain name, they say the same thing, so I'm pretty sure

[2013-07-30 18:07] niktto commented on #41
I have same issue with the marketplace version.

[2013-07-30 18:16] niktto opened #49 "Opening the app takes me to the list of application files."
After installing 0.0.11 on my phone and opening it - application shows part of firefox-style error page with a list of .htm files and folders. I figured that I need to click index.htm to start, but I believe that startup process was designed differently ;).

I don't really know what I can attach to this issue - where can I find some log files that would help you fix this?

[2013-08-03 20:25] markuman opened #50 "bosh gateway"
what are you using as bosh gateway?
prosody as gateway failed if i change "bosh": "https://app.loqui.im/http-bind" in scripts/waalt/app.js to my gateway.

[2013-08-04 00:27] aesedepece commented on #50
We are using Punjab [1] as the main BOSH gateway.
Anyway, we have previously tested that Prosody bundled BOSH gateway works as well.

[1]  https://github.com/twonds/punjab

[2013-08-04 08:02] kkdeep opened #51 "Sliding sidebar"
How you had created the sliding sidebar?

[2013-08-04 09:17] aesedepece commented on #51
All the UI has been created using Lungo.js [1]
Please tell me if you need any help setting it up in your own projects.

[1] http://lungo.tapquo.com/

Regards!

[2013-08-04 09:22] aesedepece commented on #49
That has happened before to me not only with Loqui but with other apps.
As of Firefox OS 1.1, I believe that issue is not happening any more.

Best way to debug any FirefoxOS app is connecting your phone to your PC and running `adb logcat | grep GeckoConsole`. This should print out every javascript errors and warnings.

[2013-08-04 09:23] #40 closed, assigned to nobody

[2013-08-04 12:51] kkdeep commented on #51
Thanks! Yes i do need a bit of help. Mailed you on your id. :)

[2013-08-04 19:03] markuman commented on #50
do you have just enabled "bosh"; in prosody?
And do you have setup a proxy redirect with apache/nginx/lighttpd from https://app.loqui.im/http-bind to bosh port?

[2013-08-05 00:30] aesedepece commented on #50
In addition to the "bosh" thing in the modules_enabled section in prosody.cfg.lua, when we used prosody's bundled gateway instead of punjab, we used to have some other settings at the end of the prosody config file:

[code]

We use Nginx for proxying connections by using this setup inside the proper virtual host:

[code]

[2013-08-05 00:34] #51 closed, assigned to nobody

[2013-08-09 12:55] kkdeep commented on #51
How can i open a link a  within the app?

I have set

[code]

in the main.html & in binding.js i am using

$$('aside#options li[data-event=firefoxsite]').on('click', function (e)
{
 window.location = "https://www.mozilla.org/en-US/firefox/fx/"
});

On clicking the "Firefox Website" menu its opening in the browser. Is it possible to open the link within the  app itself?

[2013-08-11 14:09] aesedepece commented on #51
In FirefoxOS, apps are loaded as "iframe mozbrowser" elements. So, as with any other kind of window or iframe, is subject of the browser same-origin policy [1].

Since your app may have been given some permissions over system elements or user data, it's considered unsafe to load any kind of resource from domains other than the one in your app manifest and thus redirects are made in a separate zero

[2013-08-13 09:12] jorrete opened #52 "Notifications with broke image link"
Hi,
On my ZTE Open ffos 1.0.1 (loqui pre-alpha v.0.0.11), notifications appears with broken image link instead an app icon or contact avatar.
The account used to test, doesn't have an associated avatar.
It should show an anonymous avatar or app icon on notifications instead a broken link.
Thanks for the app!

[2013-08-23 01:55] temowani commented on #32
Hi @aesedepece. You are wrong or you do not have tried to implement the solution that you was posted.

Hey @axllent
The correct solution for that problem is add or replace your DNS Records like shown below

[code]

[2013-08-25 17:16] marti1125 commented on #41
Keon software (Boot2Gecko 1.0.1.0-prerelease)

I test loqui in the emulator, It works perfectly.

$$('section#main article.list ul li').singleTap(function (e){
  Messenger.chatShow(e.currentTarget.dataset.jid);
  alert('chat');
});

I added an alert message to check singleTap Method, in the emulator I saw a message, but in the Keon I didn't see the message.

I think the problem is with http://quoj

[2013-08-25 18:33] marti1125 opened #53 "Could you change the default image for an empty contact list?"
![2013-08-25-10-40-18](https://f.cloud.github.com/assets/223240/1022840/d6ee6e98-0db4-11e3-9bbf-2f2b4036da92.png)

[2013-08-25 18:40] aesedepece commented on #53
Well, I've seen not everyone got the joke, so that pic will be dropped in next release :hushed:

[2013-08-25 19:41] marti1125 commented on #53
thanks :)
I found this message when loading all contacts

[2013-10-07 08:45] murr4y commented on #43
Is there any progress on this? Would be a great feature!

[2013-10-08 00:14] aesedepece commented on #43
Don't worry - OTR is on its way.

Nevertheless, there are many other features yet to be implemented first, so you probably won't see this until December.

[2013-10-09 05:14] Gioyik commented on #53
Is this necessary? I think that some fun is not bad.

[2013-10-09 05:16] marti1125 commented on #53
yes is necessary is  annoying .....

[2013-10-09 05:26] Gioyik opened #54 "WebRTC support for LOQUI"
Hi,

I think that LOQUI needs to level up with this feature. I had those useful links to implement it on LOQUI:

https://github.com/ESTOS/strophe.jingle
https://github.com/ESTOS/gowebrtc.js

Is interesting, and the best part is that is working. I read about it and could be possible to integrate to LOQUI, because is a plug in for Strophe.js. Probably you are thinking in how to test WebRTC if the fu

[2013-10-09 05:42] Gioyik commented on #5
This could be work.

https://github.com/nikhilm/browserid-xmpp

[2013-10-09 12:39] aesedepece commented on #54
Hi Gioyik.

WebRTC is definitely in the roadmap, and personally I'd want to support it by the end of the year.

The code from ESTOS implementing it as a strophe plugin should make it incredibly easy to add to Loqui. Having the ability to test it in Peak devices right now sounds great too, didn't knew that.

It would be GREAT if you could work in that pull request :D . So, FYI release v0.1 will be

[2013-10-09 12:58] Gioyik commented on #54
Yes, i was seeing some tweets from Waaltcom twitter account that mention a new release with cool changes. I will wait the new version to help with code in the UI, and if is possible in the way to integrate WebRTC completely.

I think that is more than possible to have WebRTC support complete before the end of the year. I am positive on that, and i will help to make it possible. :D

Thanks so much

[2013-10-10 02:39] garrettr commented on #43
I've started working on adding OTR support using the arlolra library - can we join forces?

[2013-10-10 11:35] aesedepece commented on #43
Sure, any colaboration is welcome! :+1:

Loqui v0.1 will be released next Tuesday 15th. There are substantial changes to the source code because of the multi-account thing, so we should wait for it before starting to code anything.

[2013-10-11 03:28] mautematico opened #55 "multi-account"
I love loqui. And I wish it to be multiaccount.

[2013-10-11 09:51] aesedepece commented on #55
Duplicate of https://github.com/waalt/loqui/issues/29

Anyway...  Good news! Loqui IM v0.1 will be released next week and it's multi-account.

[2013-10-13 01:40] mautematico commented on #55
Great! :D

[2013-10-15 19:15] aesedepece commented on #55
Closed by 7129fe9f3cc45f227e8303885cdcaae3b6400287.

[2013-10-15 19:15] #55 closed, assigned to nobody

[2013-10-15 19:16] aesedepece commented on #29
Closed by 7129fe9f3cc45f227e8303885cdcaae3b6400287.

Now you can login with as many accounts as you like!

[2013-10-15 19:16] #29 closed, assigned to aesedepece

[2013-10-15 19:21] #53 closed, assigned to nobody

[2013-10-15 19:22] #50 closed, assigned to nobody

[2013-10-15 19:24] aesedepece commented on #44
A first emoji icons implementation has been done in 7129fe9f3cc45f227e8303885cdcaae3b6400287

[2013-10-15 20:20] aesedepece commented on #41
No more unresponsive items or input fields as for 7129fe9f3cc45f227e8303885cdcaae3b6400287 ;)

[2013-10-15 20:20] #41 closed, assigned to nobody

[2013-10-15 20:23] aesedepece opened #56 "Facebook chats mix up incoming and outcoming messages in storage"
When storing messages in Facebook chats, all messages are shown as incoming.

The reason is because real Facebook JIDs differ from showed ones.

This should be fixed ASAP.

[2013-10-15 20:54] #56 closed, assigned to aesedepece

[2013-10-15 21:10] aesedepece commented on #54
@Gioyik I've assigned this issue to you because Github does not allow more than one assignee per issue...

Let's go for it! I'm creating a development branch where we can work on supporting WebRTC.

[2013-10-16 01:45] aesedepece opened #57 "Excessive CSN send"
It sends "composing" CSN  for every key stroke in new message text field.

It should only send it for the first stroke!!!

[2013-10-16 01:48] #57 closed, assigned to aesedepece

[2013-10-16 04:58] Gioyik opened #58 "A little lag loading contacts"
In the new version there's a problem when you log in by first time (i used my GTalk account). It lag for a moment while it loads all the contacts. This does understand that the application has stopped or has stopped working. If you touch something else it doesn't respond.

[2013-10-16 05:13] Gioyik opened #59 "Contacts disappear"
I had loaded all my contacts, if i lost the internet connection my contact list disappear too. Could we make something to have a king of "cache" for the contact list, and to refresh it when connection is back?

[2013-10-16 05:34] Gioyik opened #60 "Problems with scrolling"
Este lo voy a escribir en Español para poder hacerme entender mejor.

Cuando tienes toda la lista de contactos completamente cargada, si deslizas hacia abajo o hacia arriba por mas de dos segundos, podria decirse que es un dislizado largo, abre la pagina de perfil del contacto, en donde se encuentra su informacion y si quieres borrar los chats con este contacto. Se comporta como si yo hubiese sele

[2013-10-16 05:42] Gioyik opened #61 "Information in login fields saved"
I log in with my account information (user and pass) and when i click on "Add another account" it shows me the page again to put the info (user and pass) for my new account but the fields are not empty, it had the data of the previous account that i added at first. Could be great to clear the info that you put in the fields once you log in, What you think?

[2013-10-16 06:04] Gioyik opened #62 "Add a default avatar"
When you add a new account, Loqui shows the profile image of the account, but if the account doesn't have an image, it shows a little white circle that means no image. Could be great to add a simple default avatar for images that doesn't have one.

This can be a complement of issue #52

[2013-10-16 06:07] Gioyik commented on #60
Bueno, he probado con otro telefono, en la version 1.3 y el problema con el scroll/deslizado largo persiste. Sin embargo sigue funcionando la navegacion entre <section>, alli si selecciono algun otro elemento despues de este efecto del scroll/deslizado, si me lleva a una page distinta. Puede que haga falta hacer debug para ver que pasa en realidad. Con el App-Manager ya es posible hacerlo desde el

[2013-10-16 06:15] Gioyik commented on #54
@aesedepece Yup no problem and don't worry about it :+1:

Thanks for the branch i will wait it to start sending pull requests. Btw, good work with the new version of Loqui, looks great!

Do you have a Peak? Did you try to make a build as explain in the guide/link that i shared you to make possible run WebRTC? I ask just to know, i don't have a build in this moment, i need to build it again. if not

[2013-10-16 06:43] Gioyik commented on #62
This issue is solved by me :P

@aesedepece could you check the commit 23f312bf74b7b01f5017d3708f4e527c1338d133 and see if you agree to close this issue?

Regards,
Gio

[2013-10-16 06:54] Gioyik opened #63 "Make different received/sent messages"
Is difficult to know which messages you sent and which messages you received because there's not a difference between them. Is necessary to make some modifications on this.

[2013-10-16 07:07] Gioyik commented on #63
Ok i am testing and probably is not a problem at all, the first time that i test send/receive a message a get this error, not is working as expected. Tomorrow i will test again and confirm if this really needs a solution.

[2013-10-16 09:06] aesedepece commented on #63
This is in fact https://github.com/waalt/loqui/issues/56

It's already solved and will push an OTA update with the bugfix ASAP.

[2013-10-16 09:10] aesedepece commented on #60
El problema con el swype+hold en realidad se trata de un bug de QuoJS, este en concreto → https://github.com/soyjavi/QuoJS/pull/67

Yo mismo lo arreglé hace meses pero debe de haber habido alguna regresión. Voy a hacer un fix en el instante.

[2013-10-16 09:18] aesedepece commented on #59
Contacts list is always loaded from asyncStorage, indeed. You may take a look at `App.accountsCores[0].roster` to see if it was stored properly.

[2013-10-16 09:20] aesedepece commented on #61
Sure, I think the behaviour you described is the correct one.

[2013-10-16 09:22] aesedepece commented on #58
I'll take a look with the profiler to see if there's a memory leak or something. Thanks for reporting ;)

[2013-10-16 09:35] aesedepece commented on #62
Nice! I have made only a small amend concerning tabbing  b9430b7cd46742a8f0de7dfa45361e5e2f6f535e

Ok to close it ;)

[2013-10-16 10:00] #60 closed, assigned to aesedepece

[2013-10-16 11:55] aesedepece opened #64 "New account setup menu is not shown properly when language is unknown"
English strings should be showed if device language is not supported yet.

[2013-10-16 12:08] aesedepece commented on #64
Fixed by e10df278a0375edd30a95bf46fe3bb932145f479

[2013-10-16 12:08] #64 closed, assigned to aesedepece

[2013-10-16 12:09] aesedepece opened #65 "Settings are not loaded properly"
Default settings overwrite user's ones repeatedly.

[2013-10-16 12:10] #63 closed, assigned to nobody

[2013-10-16 12:11] #62 closed, assigned to nobody

[2013-10-16 12:12] #65 closed, assigned to aesedepece

[2013-10-16 12:13] #49 closed, assigned to nobody

[2013-10-16 13:54] aesedepece commented on #61
Fixed by a5d72fdcfa9b8bc7d3b7956a03c85a15b1ec9769

[2013-10-16 13:54] #61 closed, assigned to aesedepece

[2013-10-16 16:53] Gioyik commented on #59
I try it again and it is not a problem, is working as expected.

[2013-10-16 16:53] #59 closed, assigned to aesedepece

[2013-10-16 18:03] v3rlain3 commented on #58
Se puede reportar bugs en español?, ya que no domino mucho el English

[2013-10-16 20:16] aesedepece commented on #58
@v3rlain3 ¡Adelante! No te preocupes por la cuestión lingüística, para nosotros también es más fácil en español ;)

[2013-10-17 18:38] aesedepece opened #69 ""Bolts" not working"
"Attention" request, a.k.a."Bolts" (XEP-0224) are broken when using more than one account because of some kind of error when adding features to Disco (XEP-0030).

[2013-10-23 15:21] Zash opened #72 "HTTP method for discovering BOSH or WebSocket endpoint"
Until support for querying TXT records becomes available, and as a fallback, consider implementing [this proposal for a way to look up BOSH or WS endpoints over HTTP](http://legastero.github.io/customxeps/extensions/xep-0156.html#http) by @legastero.

[2013-10-24 07:14] Gioyik commented on #54
Today a made a push to devel branch (208b0a6ada7f950a9943861ce8f1107c8d3e1201). I will add here every commit that i push related to this topic to have a tracking.

[2013-10-24 16:12] Gioyik commented on #54
Yup! 3cf44199a0554fe492e32c4aaedfd09ee7d7229f

[2013-10-24 18:33] Gioyik commented on #54
@aesedepece We can start testing the WebRTC support with this library (https://gowebrtc.me/latest.js). Home page (https://gowebrtc.me/) and the demo (https://gowebrtc.me/demo.html).

I think that is necessary to have installed XEP's 0166, 0167, 0293, 0294 and 0320, can you confirm me this? If yes, is possible to install it?

This is a demo that uses strophe.jingle library (http://legastero.github.

[2013-10-27 17:38] aesedepece opened #73 "No way to keep the app closed"
Some users dib't like being always online and ask for a way to sign out or kill the app and prevent it from spawning/resurrecting.

I think we could put a "Power off" button below the "Add account" one in the accounts aside menu,

[2013-10-27 19:11] Gioyik commented on #73
Assign me this is issue. I have a code for this and i have time this night to make a push to the code with a fix. I will make the push in master branch, it's ok?

[2013-10-27 19:14] aesedepece commented on #73
Thanks! Tell me if you have any doubt.

[2013-10-27 19:24] aesedepece commented on #73
I think that once this issue is closed we could fix three or four little ones more and push a OTA update with 0.1.3 "Halloween Edition" (custom icon included).

[2013-10-28 04:26] Gioyik commented on #58
This happens when you had set up multiple accounts, and more lag if you have a lot of contacts. Probably this could be solved with an integration of WebSockets + SimplePUSH in order to save battery when multiple accounts are set up.

[2013-10-28 04:32] Gioyik commented on #73
Great! Which issues do you think we need to have closed by the date? Probably i can help you with one of them. We can create a milestone for v0.1.3. :)

[2013-10-28 04:36] Gioyik commented on #73
I am seeing this milestone (https://github.com/waalt/loqui/issues?milestone=3) and it will finish in 3 days. Probably those are the issues for the v0.1.3, i am right?

[2013-10-28 05:11] Gioyik commented on #44
I am seeing something. In `scripts/waalt/app.js`

[code]

This is the list for emojis and when render it. Some of them are not working when you sent it in Facebook accounts.

![captura de pantalla de 2013-10-28 00 09 33](https://f.cloud.github.com/assets/1834718/1417507/3c59f3d6-3f8f-11e3-9e2a-2ef1fd36873b.png)

![captura de pantalla de 2013-10-28 00 09 53](https://f.cloud.github.com/assets/183471

[2013-10-28 05:21] Gioyik opened #74 "People don't know how to connect to Facebook"
Hi,

Seeing the reviews in Marketplace, i can see that people don't know the difference between username on Facebook and the username that the use normally to log in on Facebook. We need to say to people that is not the problem of Loqui that didn't work connecting to facebook accounts. We could add a text with a link in the setup account section that help people to understand how to log in.

I hav

[2013-10-28 05:23] Gioyik commented on #74
I will add it to the milestone @aesedepece, is not a big problem and i have a fast solution. If you disagree, please tell me and remove it from the milestone.

[2013-10-28 07:22] Gioyik commented on #73
Please, add an icon for the new button in `img/providers/squares/close.svg`.

[2013-10-28 07:41] Gioyik commented on #74
Sorry, i am seeing that there's a description that helps to understand where to get the user name. Probably we could add a link to this site:

https://www.facebook.com/help/www/211813265517027

Most of the reviews in the Firefox Marketplace are related to "failed to connect to Facebook"

[2013-10-28 08:07] Gioyik commented on #73
Well, this is not solved, when i tried it works, but now i am seeing that Loqui continue opening. I am going to send a fix for this tomorrow in the morning.

[2013-10-28 10:22] willyaranda commented on #73
Hey @Gioyik , I just answer you here:

Loqui seems to be using alarms (at least they are defined on the manifest). So for really closing your app you need:
1. Remove ALL pending alarms you might have scheduled in the future. (see https://developer.mozilla.org/en-US/docs/Web/API/MozAlarmsManager.getAll )
2. `window.close()`

[2013-10-28 10:25] aesedepece commented on #74
Another useful link:
https://www.facebook.com/username

[2013-10-28 10:35] aesedepece commented on #44
The first column `EmojiList[i][0]` is the "preferred form" of the emoticon. That means the actual text that is in the body of the message when you send it.

The following columns are "alternative" representations. All off them are replaced by the same emoticon from the first column.

I tested all of them with XMPP and Pidgin, but Facebook could need some more alternative forms or different preferr

[2013-10-28 11:34] aesedepece commented on #73
Icon has been added.

[2013-10-28 19:12] Gioyik commented on #73
Hi @willyaranda

Thanks so much, the information that you provide me help me to solve this issue. I did a commit with the fix this and now it's working as expected.

@aesedepece Thanks for adding the icon, could you check the commit to see if everything is working and to close this issue?

[2013-10-28 19:48] #73 closed, assigned to Gioyik

[2013-10-28 19:51] aesedepece commented on #73
I have edited it so that it asks for user confirmation in order to avoid accidental close of the app.

[2013-10-28 20:19] Gioyik commented on #74
How can we add the links in the text? I was trying something like this, to use <a> tag to insert the link:

https://github.com/fabi1cazenave/webL10n#innerhtml

But is not clear to me the process with l10n.js, I can't make it work with that example in the link. :S

[2013-10-28 20:25] aesedepece commented on #74
I think you can put `<a href="wherever"></a>` directly in the translated text.
Not very elegant but close enough...

[2013-10-28 20:41] Gioyik commented on #74
If i add in `l10n/en.ini` :

`facebookNotice = <a href="https://www.facebook.com/help/www/211813265517027">link</a>`

It shows it as a plain text. It's not rendered as link.

[2013-10-28 20:48] aesedepece commented on #74
In `scripts/waalt/providers.js`, line 128:

[code]

Change it for:

[code]

[2013-10-28 21:13] Gioyik commented on #74
It was my fault, i have changed `text` for `html`, but i didn't save the changes. For that reason it didn't work to me. Now i push a commit with the changes, take a look and tell me if you agree to close the issue, if not you can change whatever you think is necessary.

[2013-10-28 21:43] irisdominguez opened #75 "Cannot close the app"
Sometimes I just want to close the app and leave it closed. But everytime I "close" it (close button on the app switcher), it just reconnects by itself after some time. I find this behavior extremely annoying. If I wanted it to run on the background, I would just leave it there running.

It would be nice having the option to close it, or at least to deactivate the accounts, if this kind of zombie

[2013-10-28 21:48] Gioyik commented on #75
Hi,

This is fixed in the next version v0.1.3, there's other issue mentioning this #73, and it is solved, today we push some code to add this feature. Wait the update of Loqui from the Marketplace in a few days to start using this feature.

Thanks for report this issue.

Regards,
Gio

[2013-10-28 21:48] #75 closed, assigned to nobody

[2013-10-28 22:48] aesedepece commented on #74
af963fcd1b4f766baac840210684340ae933d306 Changes some words in the Facebook notice
548e19bd38f8722e7ecf1b666b26054a19bdc3b3 Introduces some CSS for highlighting the links in the notice text.

This has been closed in just 17h! :clock1:

[2013-10-28 22:48] #74 closed, assigned to Gioyik

[2013-10-28 22:54] aesedepece commented on #52
For some reason, despite of implementing default avatar, it keeps happening every time an image file route is assigned to a notification.
Nevertheless, when the contact has its own avatar, it recovers the base64-encoded image from `Store` and successfully show it.
So I think this has something to do with image file routes...

[2013-10-28 23:01] aesedepece commented on #52
As read in MDN:

[2013-10-28 23:06] #52 closed, assigned to nobody

[2013-10-29 06:57] Gioyik commented on #44
Do you have something planned for the v0.1.3 related to this issue? I ask because i am not sure why this is on the milestone.

By the way, I agree to have different emojilist depending on the account. Do you have an idea of how to show something depending on the account? Knowing this, i can work on a fast solution for this to close the issue.

[2013-10-30 01:41] aesedepece commented on #44
Indeed, no changes on emoji icons are planned for this milestone...

I think we'd better close this issue and create new ones with specific problems or improvements to the emoji icons list when needed.

[2013-10-30 01:41] #44 closed, assigned to aesedepece

[2013-10-30 01:44] aesedepece opened #76 "Messages not being marked as read"
When you are in a chat and you receive a message from other part:
- The incoming message should automatically be marked as read
- The "unread marker" for the chat should be reset to 0.

(I have experimented this before, and some users complains about it, but I'm not able to reproduce it with last master).

[2013-10-31 17:09] Gioyik commented on #76
I can reproduce this with the latest master.

[2013-10-31 17:27] aesedepece commented on #76
Does it always happen?

I have double-checked the condition for marking a message as unread and it seems to be OK:

[code]

The logic flow is as follows:

A = Chat section is being displayed

[code]

B = The jid of the chat in front is the same as the one from the incoming message

[code]

C = App is backgrounded

[code]

D = Increment number of unread messages for this chat

[code]

[2013-10-31 17:29] Gioyik commented on #76
Let me check again, cloning again the repo.

[2013-11-04 15:55] sonnyp opened #77 "Consider using node-xmpp"
Hello,

Strophe.js was designed to work on old browser engine.
It uses DOM to parse and serialize XML. It's quite slow, specially if you consider performance constraints on mobile.

node-xmpp runs in the browser, support WebSocket, BOSH, has TCP support in Node.js (so adding Firefox OS TCPSocket support is trivial) and doesn't use DOM.

An other benefit of not using DOM to parse/serialize XML is t

[2013-11-04 16:11] Gioyik opened #78 "Show actions depending on the account"
In #44 we talked about a way to show Emojis depending on the account. I think that we need a way to show different actions depending on the account. Same problem with #54 that will only work in Loqui Jabber accounts (By first, probably more people create other services to provide support for WebRTC too), so the Call and Video call only should be work in Loqui Jabber accounts. By the way, i am not

[2013-11-04 16:12] Gioyik opened #79 "Add support to Google Apps accounts"
Hi,

We have at Mozilla Hispano the members accounts @mozilla-hispano.org that are linked to the Google Apps service. So we can use Hangouts and thinks like that. At this moment you can't log in with an account linked to Google Apps Service. For example:

I like to log in with this account:

gioyik@mozilla-hispano.org

but it recognizes it as my other account:

gioyik@gmail.com

Because it deletes

[2013-11-04 16:29] Gioyik opened #80 "Chat notifications will not open Loqui"
You receive the notifications of 10 messages, You need to click/touch the last message notification to open Loqui and answer the conversation. If you click the any other of the 9 notifications before the last notification message, Loqui will not open.

Example to example better the problem:
- Notification 1 = First message notification, If you click/touch this message notification Loqui will not o

[2013-11-04 16:33] aesedepece commented on #78
There is already a method for telling if an account supports certain features:

[code]

It returns `true` when the feature does not appear in the "lacks" array from its matching provider entry in `providers.js`.
I.e., for Facebook:

[code]

Even buttons and other interface elements can be showed/hidden depending on support:

[code]

[2013-11-04 16:33] Gioyik commented on #76
I can reproduce it with the latest in master branch. Other things that i am seeing are:
- If you receive a message in Loqui and you see it, is not marked as read in Facebook.
- Open Loqui from a notification message and continue the conversation. later if you go back to the chat list section it will show you that you have X number of messages not read. The number of message notifications that you

[2013-11-04 16:39] aesedepece commented on #80
I think this is caused by holding last notification in `App.lastNot`. When a new notification is created, it overwrites the previous one and thus it loses its events.

[2013-11-04 16:42] aesedepece commented on #76
Have you tested the patch in https://github.com/waalt/loqui/commit/dd8fef9845b4a61ca5e650b29dfe701f9af9c49f ?

[2013-11-04 16:42] Gioyik commented on #76
No, i am going to test it.

[2013-11-04 17:05] Gioyik commented on #76
OK, I tested and seems that everything is working and the problems before mentioned are not present now with the commit in 76 branch. Ready to push to master :D

[2013-11-04 17:06] #76 closed, assigned to aesedepece

[2013-11-04 17:11] aesedepece commented on #79
I suggest two different approaches for fixing this:
1. Removing this line from Hangouts entry in `/scripts/waalt/providers.js`:

[code]
1. Adding a new provider entry for Google Apps.

I vote for number 2 because it does not break the autodomain functionality for Hangouts.

[2013-11-04 17:13] Gioyik commented on #79
Yes i was thinking the same, let me make the changes and make a push with a fix for this. Btw, i will update devel branch that is outdate.

[2013-11-04 18:00] Gioyik opened #82 "Devel branch is broken"
I pushed latest changed from master to devel and now when i use Loqui from Devel it make crash FirefoxOS. @aesedepece Could you check if this is happening to you too? I ask to now if probably is caused because i am using v1.3 and everything there crash.

[2013-11-05 00:22] aesedepece commented on #79
First progress → https://github.com/waalt/loqui/commit/e6c2d3e0329450e1c61fe908a88dc4ca984eae35
I have yet to make the icons.

Can you test it?

[2013-11-05 04:02] Gioyik commented on #79
I was working in the first progress too :( I will make a push when you sent the yours :P

I tested and i can't log in with my @mozilla-hispano.org account or with any other Google Apps account. For the icon i think that is more convenient keep using the same Hangouts icon, because is same the Gmail chat and the Google Apps chat, it's Hangouts! (Google monopoly). It will confusing if has a differen

[2013-11-05 05:34] Gioyik commented on #78
Hi,

For example, to fix the problem in the Emojis for different accounts. This is a possible solution, not sure if it works, i didn't test:

[code]

This will work? To be more clear, this is a correct way to implement:

[code]

For sure, is necessary create a new template for facebook emojis named EmojiFB.

[2013-11-06 08:59] aesedepece commented on #79
Please see https://github.com/waalt/loqui/issues/32

[2013-11-06 09:13] aesedepece commented on #79
I'm disabling this for v0.1.4, let's get it ready for next release when it has been tested enough.

[2013-11-08 18:39] willyaranda opened #85 "Do not unfocus the chat field, so keyboard does not hides"

[2013-11-08 21:07] Gioyik commented on #85
This is necessary feature, it's a little annoying select every time the text box to write a message. I did a commit with a partial fix for this, because it works when you write a message and you send it using the enter key from the keyboard. But it doesn't work if you write a message and you click on the left icon to send it. I will take a look again in the night.

[2013-11-10 13:20] oschlies opened #88 "[XMPP] contacts not imported"
Hello, I would like to report the follwing bug: when you register with an existing xmpp account, existing contacts are not imported. the contact list stays totally empty.

[2013-11-10 13:34] aesedepece commented on #88
What device / FxOS version / XMPP provider?

Thanks!

[2013-11-10 13:39] oschlies commented on #88
Hello,

Thanks for the quick reply! -device is an Alcatel One Touch Fire, FxOS version 1.1.0.0, XMPP provider: jabber.ccc.de

[2013-11-12 17:07] neuberoliveira opened #89 "Google hangout not connect"
I was trying to add my google account, but i get a message saying "Authentication Failed Login or password invalid"

I triple checked the login and user and both are correct.
2 Steps authentication are disable in my account.

Google alert me about a suspicious login attempt, so i recognized the activity

Even so i unable to connect to google.

[2013-11-17 21:05] soapdog opened #90 "Can't turn off app"
The 'turn off' icon on the left side icon bar is disabled. The app is logged on facebook and uses alarm API to keep itself alive. I can't turn off the app. The application came back up even after I reboot the phone. The only way I found to turn the app off was to uninstall the app.

[2013-11-17 21:24] Gioyik commented on #90
Which version are you using? Can you debug it and coy here what you are seeing?

[2013-11-27 01:32] soapdog commented on #90
I've removed the app, that was the only way to quit it. I will reinstall it. The quit button should never be disabled. There should always be a way to cancel the Alarm API scheduling.

After reinstalling I will try to produce some logs.

[2013-11-27 02:00] aesedepece commented on #90
The quit button is never intentionally disabled. Only case in which it may become unresponsive is when any unhandled Javascript exception occurs (this stops every touch event by default).

I mean: this is indeed a symptom of some other bug. I'd appreciate if you could provide some logs. Thanks.

[2013-11-27 14:47] ghost commented on #43
If someone is interested in contributing to a bounty: https://www.bountysource.com/issues/1181815-otr-support

[2013-11-28 12:45] aesedepece commented on #78
As of 0.2, the emoji map depends on the account provider.

If we want to use a different emoji map for Facebook, we only have to ad it to `/scripts/waalt/connectors/xmpp.js` and change the emoji provider under Facebook section in ```/scripts/waalt/providers.js´´´.

Now buttons and other interface elements can be showed/hidden in CSS like this:

[code]

In other words, this is FIXED! :D

[2013-11-28 12:45] #78 closed, assigned to nobody

[2013-11-28 12:46] aesedepece commented on #8
As of 0.2, WhatsApp MUC is supported, so XMPP MUC now needs just little work to be supported ;)

[2013-11-28 12:49] aesedepece commented on #77
This sound pretty interesting. I'll give node-xmpp a try soon and share my impressions.

Thanks for the suggestion!

[2013-11-28 13:32] imaginator commented on #77
yes - please drop BOSH - node-xmpp is really the way to go.

PS: great app!

[2013-11-28 14:02] lloydwatkin commented on #77
The project you now want is `node-xmpp-client`, we split this `node-xmpp` into a smaller set of modules just yesterday :)

Can help on either of these projects if you like

[2013-11-28 23:10] mautematico opened #92 "Error en la hora en Whatsapp / Time error on Whatsapp"
¡Hola!
Al chatear conmigo mismo, veo que hay un error en la hora que loqui reporta.

Mientras que en Android, whatsapp dice que estoy en línea,
Loqui IM dice "Última vez: Hoy a las 22:55", y curiosamente 22:55 es la hora actual, +6.
Curiosamente, en México estamos en GMT-6, entonces sospecho que LoquiIM está reportando algo así como la hora GMT.

Adjunto capturas. :)

![shot_000059](https://f.clou

[2013-11-28 23:15] mautematico commented on #92
He notado, además, que la hora de "Last seen" no siempre se actualiza.

[2013-11-28 23:21] nukeador opened #93 "Message text area too small when keyboard is present"
Font size on message text area box is too small when the keyboard is visible, in fact all app text is reduced when the keyboard is present.

[2013-11-28 23:23] nukeador opened #94 "Keyboard is hidden when you send a message"
It's very inconvenient that the keyboard is automatically hidden when you send a message, making you click again and again on the text area to send new messages.

[2013-11-28 23:25] nukeador opened #95 "Contact search"
I would like a way to search on contact list, so I won't have to scroll down the whole list to find someone.

[2013-11-28 23:44] aesedepece commented on #94
Duplicate of #85

Tip: you can send messages without hidding the keyboard by typing the return key ;)

[2013-11-28 23:44] #94 closed, assigned to nobody

[2013-11-28 23:46] aesedepece commented on #92
Ok, resulta que tenemos dos funciones distintas para las marcas de tiempo, una para la hora local y otra para GMT. En algún lugar se han debido de cruzar y muestra GMT.

En las pruebas no lo noté por eso de vivir a pocos kilómetros del meridiano de Greenwhich... pero mañana mismo lo arreglo ;)

¡Gracias!

[2013-11-28 23:48] aesedepece commented on #93
¿FirefoxOS version? I saw this happening with the first 1.2 releases, but I think it was already fixed.

[2013-11-28 23:50] aesedepece commented on #95
This is a must-have. I have plans for a toolbar in the Contacts section allowing you to search contacts and quickly add contacts or create groups.

Scheduled for 0.2.1 ;)

[2013-11-29 00:07] mautematico opened #96 "Formato de número de Whatsapp en México (y quizás otros)"
En México, hay un problema con los números de Whatsapp.

Los números nacionales en México son de diez dígitos, y el código internacional oficial de México es +52, formando asi un número de 12 dígitos. Pero en la práctica es necesario agregar un decimotercero.

Según puedo ver en la ficha de contacto que Loqui pone a mis contactos de Whatsapp, cuando éstos son identificados así:
520123456789@s.what

[2013-11-29 00:10] nukeador commented on #93
Keon 1.3 nightly.

[2013-11-29 00:11] mautematico opened #97 "Loqui IM identifica únicamente el primer número de la ficha de contacto para Whatsapp, e ignora el resto."
En mi agenda de contactos tengo varios con varios números de teléfono.
En algunas ocasiones, varios de esos números son números válidos de Whatsapp.

Loqui IM, al sincronizar los contactos, aparentemente revisa sólo si el primero de esos números es o no de Whatsapp, e ignora los números restantes.

[2013-11-29 00:13] mautematico commented on #92
Algo así imaginé. Mientras tanto, será divertido que los amigos escriban desde el futuro. :P

¡Gracias a ti por el excelente trabajo!

[2013-11-29 00:16] mautematico commented on #96
Propongo esta **solución temporal** para quienes usan Loqui IM en México y ven que sus contactos están "No disponibles":

En la agenda de contactos, modifica los contactos de tus amigos que usan Whatsapp y agrega un 1 al inicio, para que quede de **11 dígitos**, ejemplo:

**Antes de la modificación:**     55 5555 5555
**Después de la modificación:** 1 55 5555 5555

[2013-11-29 00:17] aesedepece commented on #97
¿Cuál crees que debería ser el comportamiento más natural para ese caso? De momento no se ha tomado una decisión al respecto...

[2013-11-29 00:18] aesedepece commented on #93
I'll take a look. 1.3 nightly on Peak is OK.

[2013-11-29 00:25] mautematico commented on #97
Incluso me parece un caso con prioridad baja.
Apostaría que entre los usuarios de android un caso como el que expongo es más bien poco frecuente. Es decir... ¿quién tiene más de un número de Whatsapp? ¿quién tiene más de un número de contacto para la misma persona?

Pero esos casos existen. Lo que hace Whatsapp apara android es, para cada contacto, revisar cada cada número, y si lo tiene registrad

[2013-11-29 00:43] willyaranda opened #98 "Adding a WhatsApp account stucks in "Sync""
[code]

---

[code]

---

[code]

[2013-11-29 00:48] aesedepece commented on #98
LOL... Most stupid bug in the world.

[2013-11-29 00:50] mautematico opened #99 "Loqui IM malinterpreta los números en formato internacional."
Relacionado con #96

Es usual que los contactos en el teléfono estén en formato nacional, pero también a veces están en formato internacional, agregando el prefijo internacional del país.

En mi caso particular, tenía un contacto de México en formato internacional (mi número es también de México).

Número nacional: 0123456789 (diez dígitos).
Código internacional: +52

Número que tenía guardado: +5

[2013-11-29 01:03] aesedepece commented on #98
Can you test the patch? My WhatsApp pn just got blocked :'(

[2013-11-29 01:05] willyaranda commented on #98
Will try tomorrow morning!

[2013-11-29 01:26] aesedepece commented on #99
Sí, directamente le añade el prefijo internacional (52 en tu caso) sin comprobar si ya lo tienen aplicado.

Estoy hay que corregirlo también en breve. Gracias de nuevo.

[2013-11-29 01:29] mautematico commented on #99
El comportamiento esperado sería el siguiente:

Si el número **no** inicia con "+",
--verificar si es un caso como el #96 y hacer las modificaciones necesarias.
--añadir el prefijo internacional del país que el usuario indicó al instalar.
Ahora tenemos el número en formato internacional.

[2013-11-29 01:31] mautematico commented on #96
Creo que la salida rápida para este y el caso potencial en otros países será usar un fake.internationalcode.
En este caso, sería reemplazar +52 por +521, que es lo que han hecho los de ConnectA2.

No es la mejor solución, pero resolvería el problema para buena parte de los casos. Y daría tiempo a diseñar una solción más pulida.

[2013-11-29 02:51] mautematico opened #100 "Permitir usar emojis "inline" en Whatsapp"
De momento, cuando seleccionamos un emoji en el cuadro de emojis, éste es enviado como único contenido del mensaje a nuestro interlocutor.

Whatsapp para Android permite usar emojis "inline", como parte del mensaje.

Loqui podría permitir esto como una mejora de baja prioridad.

[2013-11-29 02:54] aesedepece commented on #100
Para ello se necesitaría que el botón "+" coexistiese con el de envío, y de momento la solución actual de compartir el mismo espacio e intercambiarse me parece mejor con tal de que la caja de entrada de texto sea lo más amplia posible.

Pero todo es cuestión de ver cómo lo encajamos y dar con una solución óptima.

[2013-11-29 03:09] mautematico opened #101 "Tick, doble tick y mensajes no enviados (sugerencia de "tick rojo") al chatear vía Whatsapp"
Al conversar con los contactos de Whatsapp, Loqui IM:

[x] Pone la hora del mensaje en los mensajes "en envío"
[x] Pone un indicador azul (tick) si el mensaje ha sido recibido en el servidor, junto a la hora.
[x] Pone un indicador verde (doble tick) si el mensaje ha sido recibido por nuestro contacto, reemplazando el indicador azul.

Eso está perfecto. El problema viene cuando uno cierra la conver

[2013-11-29 03:13] deimidis commented on #99
Algo similar ocurre con los números en Argentina, que se les agrega un 9 entre el internacional y el nacional. Por ejemplo, para enviar un mensaje al 11 5555 5555 hay que hacerlo al +54 9 11 5555 5555 (siendo el 11 la característica de la provincia/estado). En mi caso no está entendiendo los números (aunque si los grupos, que los tomó perfectamente)

[2013-11-29 03:14] aesedepece commented on #101
El reintento de envío de mensajes funciona con Facebook/Hangouts/etc., pero no con WhatsApp porque aún no he hallado un método 100% fiable para detectar si realmente la conexión a WhatsApp sigue viva o no (con XMPP+BOSH es más fácil).

Respecto a preservar los marcadores, se abordará en breve.

[2013-11-29 03:16] mautematico commented on #99
@deimidis mira el #96, sospecho que lo que ocurre es similar.

Vayamos armando una lista exhaustiva de países en los que se reporta este problema, que han de ser varios.

[2013-11-29 03:19] mautematico commented on #98
I recived an update notification today on the morning (before this report). I'm having no troubles like this.
Whatever, I'll try the patch and ask some people who had the problem to try it as well.

[2013-11-29 04:09] Gioyik commented on #93
I tested on Peak 1.3 and Keon 1.3 and seems to be OK. Some nightly's from geeksphone had broken features, to me, nightly's sometimes shows me a black screen in the middle of the display when I use the browser.

[2013-11-29 05:43] vitalyster opened #102 "Not available in my region?"
I'm using FirefoxOS ROM on my android device, when I trying to install LOQUI - Firefox Marketplace says something like "not available in your region" (Russian Federation), and "ask developer to add it"
Also I have "Mrktpl dev" icon, where LOQUI available but "LOQUI install failed" when I trying to install.
I have successfully install LOQUI previously on B2G PC emulator

[2013-11-29 05:48] Gioyik commented on #102
Not sure if the Marketplace has restrictions for Russia (i don't think so), I need to ask. If you like to try Loqui on your phone, you can clone/download the repo and push the app using the Firefox OS Simulator or the App Manager. Not really necessary download from the Marketplace to use it.

[2013-11-29 10:50] willyaranda commented on #98
Fixed by commit 77efec3

[2013-11-29 10:50] willyaranda commented on #93
Keon 1.2 from GP affected also.

[2013-11-29 12:02] aesedepece commented on #102
At the moment the only banned country is USA, so you should be able to download it from everywhere else.

May be this a Marketplace bug?

[2013-11-29 12:05] aesedepece commented on #98
There are still reports of people stuck in sync screen. I'll try to find the unhandled case we are missing...

[2013-11-29 12:19] vitalyster commented on #102
Maybe my phone reports it is USA, don't know where to change it, "location" is set to Europe/Moscow.

[2013-11-29 13:41] willyaranda commented on #97
Yo soy de esas personas que tendrían un "Adán Sánchez" con 2 teléfonos y no un "Adán Sánchez CASA" y "Adrán Sánchez MÓVIL". Aunque la verdad, no sé qué usará la gente de forma más normal (creo que lo segundo, pero bueno, voy a preguntar).

Igualmente, creo recordar, que WhatsApp permite comprobar si un número de teléfono está o no en su sistema, por lo que podrías iterar en un worker (para no jode

[2013-11-29 13:46] willyaranda commented on #99
https://github.com/andreasgal/PhoneNumber.js

[2013-11-29 15:49] deimidis opened #104 "Facebook queda en Sincronización y no avanza"
¿Cuál sería la mejor forma de conseguir información sobre el error que pueda estar pasando para poder enviarlo?

Gracias

[2013-11-29 15:59] willyaranda commented on #104
`adb logcat | grep Gecko`

Para ello, activa las trazas en el menú desarrollador.

[2013-11-29 16:05] Gioyik commented on #104
Hola Guillermo,

Ya hay un bug relacionado #98 con su solucion, probablemente estes usando la version que esta en la Marketplace la cual es la tiene el error (0.2.1) y aun no se ha subido la update (0.2.2) con los ultimos cambios hechos. Supongo que hoy se envia una actualizacion a la Marketplace con estos ultimos cambios. O puedes descargar el repo y usar el simulador o el app manager para probar

[2013-11-29 16:05] #104 closed, assigned to nobody

[2013-11-29 17:56] willyaranda opened #105 "No uses tanta memoria"
https://github.com/waalt/loqui/blob/master/scripts/anonymous/coseme.js#L4932

Sólo cuando nos damos de alta, mira el comentario

[2013-11-29 18:34] willyaranda commented on #97
Resultados de la encuesta científica:

1) Me ha comentado gente (amigos de toda la vida, de mi pueblo, todos usuarios de WA) que tienen contactos duplicados, de la manera: "Adán Casa" y "Adán Móvil"

2) Pero la gente de Madrid, todos tienen el "Adán" con dos números dentro :)

Creo que entonces habría que comprobar por cada contacto todos los teléfonos y mostrar aquellos que tienen WA (que como di

[2013-11-29 19:11] Gioyik opened #106 "Boton seccion codigo de activacion"
Muchas veces he recibido ya el codigo de activacion para activar mi telefono con Whatsapp, pero por cuestion de la vida desinstalo/termino el proceso/reinicio el telefono y cuando intento abrir Loqui de nuevo me encuentro con que tengo que enviar de nuevo la solicitud para que me llegue el codigo de nuevo y lo mas probable es que Whatsapp me ponga a esperar miles de millones de horas para que lleg

[2013-11-30 02:38] aesedepece commented on #98
I finally got it:

[code]

For some reason, ```navigator.mozContacts.getCount´´´ is undefined in FirefoxOS 1.1

[2013-11-30 02:42] aesedepece commented on #105
No termino de pillar lo que quieres decir...

[2013-11-30 05:37] Gioyik opened #107 "Regression [Bug #76 - Messages not being marked as read]"
Una regression del bug #76. CC: @aesedepece

[2013-11-30 05:43] #107 closed, assigned to Gioyik

[2013-11-30 05:54] Gioyik opened #108 "Regression [Bug #87 - Using Tools to generate stamp()]"
Regression del bug #87. CC: @aesedepece

[2013-11-30 06:01] #108 closed, assigned to nobody

[2013-11-30 06:16] Gioyik commented on #102
@vitalyster Are you logged in the Marketplace with a PersonaID account? Probably that's the problem and the accounts is saved with preferences filled as USA. Other question is, did you bought it by ebay?

[2013-11-30 08:15] willyaranda commented on #105
El comentario de ese fichero es "Pon este fichero sólo en el momento del
registro". Hay unas cadenas del copón, que además hay que transformar para
poder hacer el registro. No sé cuánto se podría salvar, pero supongo que
igual 1 mega sí.

On Sat, Nov 30, 2013 at 3:42 AM, Adán Sánchez de Pedro Crespo <
notifications@github.com> wrote:

##

Guillermo López Leal - @willyaranda
http://www.pijusmagnifi

[2013-11-30 13:51] aesedepece commented on #108
These regressions appeared because the CoSeMe branch was based upon devel branch while the fixes were made in master branch but never merged. Thanks for noticing!

[2013-11-30 16:51] Gioyik opened #109 "SyntaxError: missing } after property list - messenger.js"
Firefox is showing a problem with a comma in messenger.js

[2013-11-30 16:53] #109 closed, assigned to nobody

[2013-11-30 17:11] Gioyik commented on #90
@soapdog Could you reproduce it again? Could you post us some logs if you reproduce this?

[2013-11-30 17:13] aarizkuren commented on #106
Buenas,
he estado mirando esta issue, y con el código que tu has puesto, y añadiendole:
<code>ReConfirmCode=I've code</code>
en /l10n/en.ini
ya puedes ver el boton.

El problema es que no se exactamente que es lo que se necesita para hacer el login en el servidor de whatssap, he visto que crea un deviceId que lo guarda en la SD como ".coseme.id", y creo que utiliza este id para hacer el registro,

[2013-11-30 17:18] aesedepece commented on #106
El deviceId sirve para que una vez se halla confirmado el número en ese dispositivo, si se reinstala la app, no haga falta recibir un nuevo código por SMS; lo que ocurre en su lugar es que al pedirle el código, el servidor de WhatsApp automáticamente nos da el número por válido.

Es una cadena aleatoria porque si fuera fija, podrías robar la cuenta a cualquier otro usuario de Loqui o Wassap.

[2013-11-30 17:36] Gioyik commented on #106
@aarizkuren Claro, ya estaba agregada esa linea, sin embargo seguia sin mostrarse. Lo unico que se necesitaba era agregar esta linea:

[code]

Voy a hacer un commit con el fix para esto :)

[2013-11-30 17:41] aesedepece commented on #106
Genial, gracias a ambos por poneros con ello tan rápido.

BTW creo que voy a dedicar un día entero a comentar cada una de las funciones aparecidas recientemente, porque hay partes bastante chungas que entiendo que cuestan bastante intuir como trabajan y a más de uno les echará atrás a la hora de colaborar...

[2013-11-30 18:28] Gioyik commented on #106
@aesedepece Podriamos usar la Wiki que trae integrada Github, no? O podriamos hacerlo interesante:

http://ricostacruz.com/flatdoc/

[2013-11-30 18:32] aesedepece commented on #106
@Gioyik LOL that link crashes my Firefox UX 28.0a1

[2013-11-30 18:47] Gioyik commented on #106
@aesedepece WTF??? I am using that version and it doesn't crash me.

Just to ask, at this moment with the last changes, Loqui is running you without any problem? I ask because I continue getting stuck in "Connecting" when i try to add an account.

[2013-11-30 18:51] Gioyik opened #110 "Mejorar la navegacion planteada en issue #106"

[2013-11-30 18:58] aesedepece commented on #106
Yes, it works in on both 1.3 and 1.1

[2013-11-30 19:06] Gioyik commented on #106
Ok, i think that Loqui is trolling me. :P

[2013-11-30 20:41] Gioyik commented on #95
Finally this is fixed! Yujuuuuuu

[2013-11-30 20:41] #95 closed, assigned to nobody

[2013-11-30 20:50] Gioyik commented on #82
Devel branch is out of date, and in those days is better work on master. This will be fixed/normalized when the Whatsapp support will work stable.

[2013-11-30 20:50] #82 closed, assigned to nobody

[2013-11-30 20:52] Gioyik commented on #58
Este problema ya se ha mejorado con los ultimos cambios, no del todo, pero se ha recuperado la estabilidad de antes.

[2013-11-30 20:52] #58 closed, assigned to nobody

[2013-11-30 21:17] Gioyik commented on #89
Are you continue feeling this problem? Could you test with the latest version in the Marketplace or downloading the code from the repo?

[2013-11-30 21:18] Gioyik commented on #93
Could someone provide a screenshot? @nukeador @willyaranda

[2013-11-30 21:25] nukeador commented on #93
For some reason my Keon 1.3 is unable to save screenshots :S

[2013-11-30 21:41] nukeador opened #112 "Connection lost to Whatsapp when screen is off?"
I'm not sure if this is the case for everyone, but I lost Loqui connectivity to Whatsapp a couple of times after switching the screen off.

The only way to send or receive messages again was to kill and open Loqui again.

[2013-11-30 21:48] Gioyik commented on #112
Could you provide a log when this happens?

`adb logcat | grep Gecko`

Ping @aesedepece

[2013-11-30 21:56] nukeador commented on #112
When I switch screen off, abd exits.

I'll try to reproduce it again, since now it's working :S

[2013-11-30 21:58] nukeador commented on #112
OK, I need to switch the screen of a few seconds and then Loqui lost the connectivity.

[code]

Something related to sleep mode? (I'm using wifi only)

[2013-11-30 23:21] juaneladio opened #113 "[Whatsapp] Cant't erase contacts"
When I choose a Contact there is a button in order to Remove that contact, but when I press it nothing happens: no error message, no remove.

If the feature is not ready it's better to hide it.

[2013-11-30 23:23] juaneladio opened #114 "[Whatsapp] Choose only one phone number per contact"
I have contacts with more than one phone number. When I synchronized contacts it inserts only one of the numbers. Maybe an option is to repeat the contact and add all his/her numbers.

[2013-11-30 23:37] willyaranda commented on #112
Connections _should not_ be dropped on sleep mode.

Also, remember that the only stable version is 1.1 and 1.2 is not certified and using a stable branch. With master there might be problems with gecko.

[2013-11-30 23:47] juaneladio opened #115 "[Whatsapp] Weird chats appear as contacts (apparently groups)"
I have two 'chats', both of one word ('Toc' and 'Calabazas') that appears as contacts. When I choose to see them as conversations there is no messages, and when I choose to see the contact details nothing happens. I will add an screenshot.

[2013-11-30 23:49] juaneladio commented on #115
![2013-11-30-10-39-19](https://f.cloud.github.com/assets/547722/1649663/0c0b4770-5a1a-11e3-9605-80cb83c14623.png)

[2013-11-30 23:55] juaneladio opened #116 "[Whatsapp] Doesn't update current chats"
I noticed that I don't receive conversations while I'm connected. I have to close the app and reopen it in order to get new messages.

[2013-12-01 00:04] nukeador commented on #93
Screenshot
![small-text](https://f.cloud.github.com/assets/531906/1649677/0d653d68-5a1c-11e3-928a-17f555ec245a.png)

[2013-12-01 00:26] Gioyik commented on #115
Calazas and Toc is on your contact list?

[2013-12-01 00:33] Gioyik commented on #114
Duplicated issue, see #97. If is not the same or related to that issue, ping me to open this again.

[2013-12-01 00:33] #114 closed, assigned to nobody

[2013-12-01 00:47] Gioyik opened #117 "Incremental notification number not working"
This is the incremental variable working in v0.1.0:

![2013-11-30-19-34-43](https://f.cloud.github.com/assets/1834718/1649719/a11cc3d2-5a21-11e3-9e56-e2e6d6a79c0a.png)

and this is the incremental variable (working but is not showed) in v0.2.2:

![2013-11-30-19-35-14](https://f.cloud.github.com/assets/1834718/1649718/88b207a8-5a21-11e3-93ee-04dafe54a2f7.png)

@aesedepece did you know what could be

[2013-12-01 00:52] Gioyik commented on #93
This happens to me in landscape screen in v1.3. I thought that it was a FirefoxOS problem.

![2013-11-30-19-48-50](https://f.cloud.github.com/assets/1834718/1649732/d561a0da-5a22-11e3-9635-1da24d3bd36a.png)

[2013-12-01 00:57] juaneladio commented on #115
No, there is no contacts in my phone with those names, but them appears as Loqui contacts, as the screenshot shows.

[2013-12-01 00:59] deimidis commented on #115
I think there are Group chats, at least I saw my Group chats in the same way

[2013-12-01 01:01] Gioyik opened #118 "emojiRender not working"
The emojiRender is not working at all, it is searching emojis in `img/emoji`, see the screenshot:

![2013-11-30-19-54-15](https://f.cloud.github.com/assets/1834718/1649736/7bf41338-5a23-11e3-95ac-57b3ef3c23d5.png)

This is the code affected in `xmpp.js`:

[code]

@aesedepece did you know what could be happening here? If you give me a quick explanation i can make a fix for that, and you can focus i

[2013-12-01 01:03] deimidis commented on #99
Probé esta solución. Compré una sim nueva, para probar con un nuevo teléfono. Recibí el mensaje de Whatsapp con el código, pero el círculo aparece siempre gris y en lugar de como aparece el número cuando sirve, le saca el 9 en la representación. El número además no aparece como ususario registrado cuando agrego el contacto en otro teléfono

[2013-12-01 01:40] Gioyik commented on #99
@deimidis Si le envias un mensaje a ese numero nuevo, te llega?

[2013-12-01 01:44] Gioyik commented on #115
@juaneladio tell me to add this screenshot:

![1426250_10202918885117242_1627884750_n](https://f.cloud.github.com/assets/1834718/1649781/fa0b94b6-5a29-11e3-9e49-9c00aa9671da.jpg)

@deimidis that seems to be a more clear explanation for the problem.

[2013-12-01 02:14] vitalyster opened #119 "Can't clone on Windows"
As I understand, there are prohibited symbols in filenames:

error: unable to create file img/emoji/fb/8|.png (Invalid argument)
error: unable to create file img/emoji/fb/:'(.png (Invalid argument)
error: unable to create file img/emoji/fb/:(.png (Invalid argument)
error: unable to create file img/emoji/fb/:).png (Invalid argument)
error: unable to create file img/emoji/fb/:*.png (Invalid argument

[2013-12-01 02:20] vitalyster commented on #102
Just installed Firefox OS Simulator 1.3 and got the same problem with Marketplace. I have install now with App Manager

[2013-12-01 02:36] aesedepece commented on #119
Our Linux minds always forget those Windows limitations...

Don't worry, we'll figure out a smart fix for this as soon as possible as every contribution is welcome regardless of what OS it comes from ;)

[2013-12-01 02:39] aesedepece commented on #115
Ah ok, your point is that they should have a default avatar showing a group of people and not only a dummy person, isn't it?

[2013-12-01 02:44] aesedepece commented on #93
Landscape in 1.2/1.3 is broken for me as well, portrait is just fine.

I'm pretty sure the bug resides in Gaia. It isn't calculating the screen dot-per-inch properly, so the screen width is reported to be greater than 960, which is the limit for the media query that fits qHD mobile devices like Peak.

[2013-12-01 02:44] Gioyik commented on #119
If you use Cywin this must not be a problem. Is a small linux in a box. :)

[2013-12-01 02:45] aesedepece commented on #117
I know where the bug is, I'm sending a fix in some minutes. You'll see it's a completely dumb bug.

[2013-12-01 02:45] vitalyster commented on #89
Not able to log in with my Google account, it stuck on "Connecting".

[2013-12-01 02:47] aesedepece commented on #116
This bug has been reported to the developers in charge of the whatsapp connection library and will likely be fixed by monday or tuesday. Thanks.

[2013-12-01 02:48] aesedepece commented on #116
This is duplicate of #112

[2013-12-01 02:48] Gioyik commented on #89
@vitalyster Could you provide us a log or something that shows us what is happening?

[2013-12-01 02:49] Gioyik commented on #116
Closed.

Reason: Duplicated

[2013-12-01 02:49] #116 closed, assigned to nobody

[2013-12-01 02:50] Gioyik commented on #93
Yah! Can we close it? Is a problem in Gaia and not a problem with Loqui.

[2013-12-01 02:54] aesedepece commented on #93
We can implement a provisional workaround and the only problem would be getting bigger screen elements when used on PC with screen width over 960px. Virtually nobody uses Loqui on PC or tablets, so I think it's not such a problem.

[2013-12-01 02:55] vitalyster commented on #89
@Gioyik where to get something useful? I see "console" in App Manager with "POST https://app.loqui.im/http-bind/" lines, but there is nothing interesting yet.

[2013-12-01 03:01] Gioyik commented on #93
Sometimes i use Loqui on PC and it works perfectly.

![captura de pantalla de 2013-11-30 22 01 24](https://f.cloud.github.com/assets/1834718/1649831/e706aaa8-5a34-11e3-8d28-65ec8dbe6f01.png)

[2013-12-01 03:14] aesedepece commented on #118
Not tested with WhatsApp. Let's test it and close it.

[2013-12-01 03:17] vitalyster opened #120 "[XMPP] Messages from different self-contact resource"
I am online from several clients using one JID and able to exchange messages using "resources". When I send message from another client directly to LOQUI resource, it creates new chat with my JID, but with "offline" icon (seems like my JID is not present in my roster). I see incoming message and able to reply, but outgoing message are showing twice every time in chat transcript.
Related error from

[2013-12-01 03:21] deimidis commented on #99
No, no llega a aparecer como conectado. Y no lo reconoce Whatsapp (si te referís a un SMS si llega)

[2013-12-01 03:22] #117 closed, assigned to Gioyik

[2013-12-01 03:35] #93 closed, assigned to nobody

[2013-12-01 03:51] Gioyik commented on #118
Tested and everything works great!

[2013-12-01 03:51] #118 closed, assigned to nobody

[2013-12-01 03:51] vitalyster commented on #89
It is detected as "Suspicious activity" by Google, trying to unblock now. As I understand, you are using deprecated clientLogin/X-GOOGLE-TOKEN authentication, it would be better switching to OAuth authentication.

[2013-12-01 03:53] aesedepece commented on #89
@vitalyster I agree. We'd better implement OAuth for Google and Facebook accounts. Plain authentication is a pain for some users.

[2013-12-01 03:58] Gioyik commented on #89
Shit! Yesterday i saw a xmpp client using strophe that works with OAuth for Facebook connection. I need to review a universally infinite history, probably i have a fast solution that is a pain for many users. ;)

[2013-12-01 04:19] vitalyster opened #121 "[XMPP] "hide unavailable contacts" problem"
I have checked "hide unavailable contacts" option, but not all contacts are hidden. The problem is in contacts with error (contacts from dead domain send presence type=error) but not treated as offline

[2013-12-01 04:45] Gioyik commented on #89
Ok i got it! I have the libraries to implement OAuth authentication. I will test and workaround.

[2013-12-01 04:46] Gioyik opened #122 "Implement OAuth for Google hangouts connections"

[2013-12-01 04:46] Gioyik opened #123 "Implement OAuth for Facebook connections"

[2013-12-01 05:03] Gioyik commented on #119
@aesedepece I was thinking in convert all the png images of smiles to base64 images. What you think? Are you agree? Do you think that this could affect somethings? I think that is not a problem convert from png to base64, and it will solve this issue btw.

[2013-12-01 05:06] vitalyster opened #124 ""http-bind" sources?"
Is it possible to see "http-bind" app sources and set up own gateway?

[2013-12-01 05:07] aesedepece commented on #119
@Gioyik I have only one objection: when you encode binary data to base64 its size increases in 37% aprox.

[2013-12-01 05:07] aesedepece commented on #124
SURE! This is it:

https://github.com/twonds/punjab

[2013-12-01 05:08] #124 closed, assigned to nobody

[2013-12-01 05:11] aesedepece commented on #106
¿Puede ser que nos hayamos cargado algo?
https://twitter.com/CodingFree/status/406911468815130624

[2013-12-01 05:11] Gioyik commented on #119
@aesedepece Jummmm and there are many png files, so the increase will be notorious. So, keep the png images for now? Are you thinking in replace the ones from base64 to png in coseme.js?

[2013-12-01 05:14] aesedepece commented on #119
@Gioyik Maybe. FYI: CoSeMe emoji icons are in fact .gif pics.

[2013-12-01 05:21] Gioyik commented on #106
Parece que si, no esta funcionando :S

[2013-12-01 05:24] Gioyik commented on #119
@aesedepece I can get them as png. There are a lot of libraries that helps to support to emoji icons and they use the ones in whatsapp, most of them are using png files.

[2013-12-01 05:38] Gioyik commented on #106
Parece que no ha sido que me hemos tocado algo que no se debia, mas bien parece que me ha faltado codigo para implementar en la funcion. :P

[2013-12-01 12:20] aarizkuren opened #126 "[WhatssApp] Automatic sync contacts"
I think that we need to sync whatsapp contacts with our phone contacts all times that we start app.

[2013-12-01 14:59] cristodcgomez commented on #90
I can't use button also on custom compilation of Firefox OS 1.1 over a huawei ascend G300... maybe UI bug?

I'll try to put logcat whne i arrive to home.

[2013-12-01 15:18] aesedepece commented on #126
Having the app constantly prompting you for permission to access your contacts list is kinda annoying.

I think a smarter solution (the same as in Android WhatsApp) is to have an option in the app contacts list for syncing contacts on demand. What do you reckon?

[2013-12-01 17:22] aarizkuren commented on #126
Agree with you, that is the better solution to do easily

[2013-12-01 18:34] aesedepece commented on #99
I think this can now be closed.
@mautematico can you test if the @aarizkuren's patch works to you?

[2013-12-01 18:48] #92 closed, assigned to aesedepece

[2013-12-01 21:55] rick110 commented on #113
The same problem on my Peak with FFOS 1.2.0.0-prerelease. No reacting when I hit the red remove-button.

[2013-12-01 22:57] #126 closed, assigned to aesedepece

[2013-12-02 00:15] juaneladio commented on #115
Yes, probably they are groups without conversations and there is no way to see if that is a group or just a lost text, a bug. In addition, when I enter a "group" and tap the profile picture nothing happens. It should inform that this is a group and provide details.

[2013-12-02 00:42] juaneladio opened #127 "It doesn't show more than two messages per intervention."
I noticed that in [Whatsapp] when somebody write more than 2 'messages', when I reconnect I see all the messages as notifications, but when I open the specific chat I only see the first one and the last one. All other messages doesn't appear. I attach screenshots.

[2013-12-02 00:43] juaneladio commented on #127
These are the notifications: I have 4+1 messages from a contact.
1. Estas como activo
..
4. Twitter.

![2013-12-01-09-14-03](https://f.cloud.github.com/assets/547722/1651724/aa23efcc-5aea-11e3-8168-cd42096d2558.png)

[2013-12-02 00:43] juaneladio commented on #127
This is the chat. I only see the first message "1. Estas como activo" and the last one "4. Twitter".

![2013-12-01-09-14-16](https://f.cloud.github.com/assets/547722/1651726/c09ce0a6-5aea-11e3-927b-304bfd749943.png)

[2013-12-02 01:05] juaneladio commented on #99
Confirmo que el mismo problema ocurre en Perú. Tenía números con código internacional (usando +51, que es el código para Perú) y en el contacto de Whatsapp aparece 5151(número). También probé sin incluir 51 como contacto e igual vuelve a pasar.

[2013-12-02 01:08] juaneladio commented on #99
![2013-11-30-22-53-49](https://f.cloud.github.com/assets/547722/1651780/2dde2ad2-5aee-11e3-88f0-b0a69dca12c8.png)

[2013-12-02 01:13] juaneladio commented on #127
I just remembered that I had the same issue with a Google Hangout chat. I leaved the app for a while, then I received three messages from a contact in the notifications area. When I open the conversation I only see the first and the last one.

![2013-11-30-21-34-54](https://f.cloud.github.com/assets/547722/1651793/f2787bf4-5aee-11e3-94b5-d015075a7f59.png)

[2013-12-02 01:46] ThePhoenixBird commented on #99
Venezuela tenemos codigo +58 y numero de teléfono de 11 dígitos (041x-xxx-xx-xx), es normal que tengamos en la agenda de contactos los numeros en formato nacional, pero en discado internacional no se coloca el prefijo 0 que tienen todos los números lo cual quedaría como: +58 41x xxx xx xx

[2013-12-02 06:32] Gioyik commented on #106
@aesedepece La cuestion es la siguiente. El procedimiento esta bien, el boton muestra lo que tiene que mostrar y tal cual como funciona, funciona bien. Sin embargo quien tiene el problema es la funcion que valida el codigo, ya que en la funcion se valida toda la informacion que ha dado el usuario anteriormente, en pocas palabras al validar toma lo que ingresas en los campos de telefono, pais, codi

[2013-12-02 07:05] Gioyik commented on #99
@juaneladio Podrias probar Loqui desde el codigo que tenemos en master en este momento que ha enviado @aarizkuren? Para saber si el problema se ha solucionado con el fix que se ha enviado :)

[2013-12-02 07:11] Gioyik opened #128 "Notificar al usuario cuando ha agregado dos veces la misma cuenta"
Deberiamos decirle al usuario que ha agregado dos veces la misma cuenta, y no mostrarle el proceso como si se hubiese agregado una normalmente. Se que Loqui no agrega cuentas duplicadas al menu, pero seria bueno que tuviera un comportamiento de interfaz que muestre algun aviso cuando esto pasa.

[2013-12-02 14:22] willyaranda opened #129 "Set a timeout when setting up an account"
If I try to set up an account (mozilla-hispano.org with hangouts), it seems that it fails, but it is stuck on "Connecting" and the only way to get out of that screen is just closing and opening the app.

It will be fantastic if you put a 10-15 seconds timeout so users will not wait forever.

[2013-12-02 21:22] dimasv commented on #102
Saludos, lo estoy instalando en firefox OS, y cuando quiero configurar whatsapp no logro seleccionar mi pais Venezuela, el scroll de paises no funciona, que puedo hacer?

[2013-12-03 09:47] aarizkuren commented on #127
I have the same issue too

[2013-12-03 12:28] isalcedo commented on #99
¿Como puedo aplicar el Patch a la aplicación instalada en mi OT4012 (Alcatel Fire)?

[2013-12-03 13:07] aarizkuren commented on #126
This throws an error:

TypeError: this.connector.contactsSync is not a function (account.js:238)

[2013-12-03 13:26] aarizkuren commented on #106
Buenas,
Creo que deberiais de darle prioridad a este asunto, para así permitir a la gente que queremos colaborar en el desarrollo o simplemente, en testear la aplicación, una forma más fácil de poder hacerlo. Yo ahora mismo estaba intentando solucionar un error que me ocurria, y tambien estaba mirando para implementar las imagenes en el chat, pero como whatsapp ya no me manda mensajes hasta pasado

[2013-12-03 13:29] aesedepece commented on #106
@aarizkuren Estoy de acuerdo, alta prioridad a esto.

No obstante, ten en cuenta que aunque tengas el código de activación, este no es válido una vez pasado unos minutos desde que te lo enviaron, y de hecho sólo se puede utilizar una vez cada código.

[2013-12-03 13:38] aesedepece commented on #106
@Gioyik El archivo `.coseme.id` contiene un código aleatorio que se envía al servidor de WhatsApp como identificador del dispositivo.
Una vez que el servidor comprueba la validez del número telefónico mediante el SMS, almacena ese deviceID para que la próxima vez que le vuelvas a pedir el SMS desde ese mismo dispositivo, no te lo envíe sino que directamente te responda la petición toda la informac

[2013-12-03 13:45] aarizkuren commented on #106
Hay una cosa que no me queda clara,
Entiendo que en <code>.coseme.id</code> se guarda un codigo aleatorio que se manda en el primer request al servidor de whatsApp, con el nº de telefono y algun dato más imagino.
El servidor hace sus comprobaciones y decide que tiene que mandarte un sms
Se introduce el codigo que nos dan, y se vuelve a mandar a whatsapp para que valide.
Una vez validado whatsapp t

[2013-12-03 13:51] aesedepece commented on #106
WhatsApp devuelve un objeto con el fullJid de la cuenta (34666123456@s.whatsapp.net), la fecha de expiración, el tipo de cuenta, la contraseña y algún dato más.
En cuanto se reciben esos datos, se guardan en `App.accounts[n].core.data`, y eso basta para probar la cuenta con `App.accounts[n].test()` o iniciar sesión con `App.accounts[n].connect()`.

[2013-12-03 13:56] aarizkuren commented on #106
Y ves factible poder hacer algun tipo de importación / exportación de esos datos? aunque sea de una forma más manual, para evitar robo de datos, o que sea algo que se pueda desactivar/activar dependiendo si estas debuggeando o no.
Con esto tambien estaria bien, añadirle a la aplicación un estado (debug/produccion), para que no guarde todos los logs estando en producción por ejemplo.

[2013-12-03 15:51] v3rlain3 opened #130 "algunos mensajes no llegan con facebook chat"
Me a pasado en unas cuantas ocasiones desde que actualice a la 0.2.2 que algunos de los mensajes no llegan al destino usando facebook chat

[2013-12-03 16:02] Gioyik commented on #130
Es dificil saber si algo esta pasando o no, podrias pasarnos algun log en donde podamos ver si pasa algo raro y lo podamos identificar?

[2013-12-03 17:46] aesedepece commented on #106
Cuando estuve haciendo las primeras pruebas con WhatsApp, aún no existía el formulario de registro y directamente tomaba los datos de un JSON. La verdad es que para debugging, no estaría mal recuperarlo.

+1 a la flag de debugging/producción. ¿Cómo lo veis mejor, como opción de "compilación" o como ajuste dentro de la aplicación?

[2013-12-03 18:04] Gioyik commented on #106
:+1: a la flag.

A mi me pareceria mejor como ajuste dentro de la aplicacion. Si podemos tener esta funcionalidad tan solo activando y desactivando un boton pues mucho mejor, a veces se vuelve aburridor estar haciendo Push para ver un cambio minimo y debuggear todo denuevo.

[2013-12-03 18:10] Gioyik commented on #110
#106 Needs to be fixed first, to continue fixing this.

[2013-12-03 20:57] Reston opened #131 "Whatsapp Contacts Venezuela"
Cuando se sincronizan los contactos de mi teléfono con los de whatsapp, si el número que tengo es 04145557777 loqui sincroniza 5804145557777@s.whatsapp.net y no elimina el 0, normalmente en Venezuela se agregan los números de celulares con un 0 al inicio y en el formato internacional se elimina, no sé si otros países sea así. Claro que uno podría simplemente agregar los numeros sin el 0, pero quiz

[2013-12-04 00:28] deimidis opened #132 "Time to re try confirmation Whatsapp"
I don't know if it's a Loqui problem or Whatsapp, but trying to test the application with a new account is almost impossible. I wait 80 thousands seconds, and after a new try the first message is too many tryes, please try again in 60 thousands seconds.

Do we have a solution for this thing?

[2013-12-04 04:39] Gioyik commented on #132
Hi @deimidis

Are you using the latest version from master or just using the one in the Marketplace? Just to know if was a problem in some commit or just is a normal case getting time out from Whatsapp server.

[2013-12-04 05:27] Reston commented on #112
This happened to me with loqui v0.2.2 and firefox os 1.1 on an alcatel one touch fire after a while if the phone it is on sleep mode, i have to close (kill) the app and reopen to refresh conversations and so.

[2013-12-04 06:05] Gioyik opened #133 "Reload button"
Creo que esto es importante y puede funcionar como una solucion parcial para el issue #112. Es tan solo un boton que recarga todas las cuentas por si se presenta el problema de que se ha quedado pegado o no las recarga.

[2013-12-04 06:17] Gioyik commented on #133
@aesedepece Podrias agregar el icono para el boton en `img/providers/squares/reload.svg`? Una vez lo hagas, podrias cerrar el issue para saber que todo esta bien?

[2013-12-04 06:20] Gioyik commented on #112
He creado un boton con el fin de que sea una solucion parcial para quienes tienen este problema. Es tan solo un boton el cual reconecta las cuentas que tengas sin tener que detener la aplicacion (matarla) y tener que volver a iniciarla. El issue del boton es el #133 por si quieren comentar algo o seguir el proceso.

[2013-12-04 07:33] Gioyik commented on #129
Hi @willyaranda, i pushed a commit with a fix for this bug, so please, test and tell me if it's Ok! i set as timeout 15 seconds. Let me know if all is great to close this issue. :)

[2013-12-04 07:39] Gioyik commented on #132
btw 80000 seconds are just 1 minute and 20 seconds, i was thinking that you spend hours waiting :P

[2013-12-04 08:03] Gioyik commented on #90
@soapdog & @cristomc could you provide logs related to this issue? Is important to know if this is a issue or not to include or not a fix in the next version.

Thanks

[2013-12-04 09:27] 8la commented on #132
80000 seconds = 1minute 20 seconds? omg! xD  https://www.google.es/search?client=ubuntu&channel=fs&q=8000+seconds+to+minutes&ie=utf-8&oe=utf-8&gws_rd=cr&ei=efWeUuMTw6vSBYLTgZgC

[2013-12-04 10:03] nukeador commented on #133
@Gioyik ¿Y cómo sabe el usuario que la conexión no funciona? Te deja escribir mensajes pero no sabes si llegan o no, no hay forma de saberlo excepto escribirte desde otro terminal y ver que efectivamente no llega.

¿No sería mejor algo que comprobara si estás online cada X tiempo y si no lo estás que reconectara?

[2013-12-04 11:17] nukeador opened #134 "[Whatsapp] Weird/wrong groups behavior"
When someone adds you to a group, the group appears with the name of that contact instead of the group name.

Also, all messages sent to the group are displayed in the same way, so it's impossible to know who's writing.

[2013-12-04 11:40] aesedepece commented on #133
@nukeador Ese es precisamente el problema que estamos teniendo con WhatsApp, no sabemos muy bien cómo identificar cuándo la conexión se ha perdido para reconectar de forma automática.

[2013-12-04 11:48] #133 closed, assigned to Gioyik

[2013-12-04 11:50] 8la opened #135 "No puedo validar: Whatsapp, XMPP, facebook"
### Datos del móvil

Móvil: ZTE Open
Versión FFOS: 1.1
Versión de loqui: MarketPlace
### Caso WhatsApp

Inicio la validación, veo en las notificaciones que me llega el sms con el código pero la pantalla sigue como "opaca" sobre el cuadro de diálogo para insertar el código recibido. Y no puedo validar.

El log ( adb logcat |grep Gecko |grep -v mobile_operator |grep -v cell )
### Caso Jabber xmpp

E

[2013-12-04 11:59] aesedepece commented on #135
¿Qué quieres decir con la pantalla opaca? ¿Versión de Loqui? ¿Versión de FirefoxOS? Gracias.

IMPORTANTE: Cuidado al publicar logs, es recomendable quitar el número de teléfono o el DID, porque cualquiera que lo lea podría hacerse con tu cuenta muy fácilmente.

[2013-12-04 12:03] aesedepece commented on #131
Related to #99 and #96

[2013-12-04 12:06] aesedepece commented on #132
We have nothing to do with validation SMS sending. Loqui ask for them to the WhatsApp server and it answers whether it was successfully sent or you have to wait N seconds.

[2013-12-04 12:08] 8la commented on #135
Voy a revisar los logs para publicarlos de nuevo limpiándolos. Las versiones las puse en el primer post, lo edité luego, igual no pudiste verlo.

[2013-12-04 12:10] 8la commented on #135
### Log de intento Facebook

[code]

[2013-12-04 12:11] 8la commented on #135
### Log de intento Whatsapp

[code]

[2013-12-04 12:12] aesedepece commented on #135
Llo único sospechoso son las advertencias de CSP (violación de la política de seguridad de contenidos). Hasta ahora no habíamos visto ningún caso de este tipo.

Investigando...

[2013-12-04 12:15] 8la commented on #135
En cuanto a lo de la pantalla me refiero a que cuando pulsas el botón, se oscurece un poco la pantalla, entiendo que debería salir una animación de iniciando sesión o algo así, pero no sale. Y se queda así, con esa especie de "capa" sobre el formulario y no puedes pulsar nada ni volver para atrás (no sé si en ffox OS hay alguna forma para hacer eso, porque el botón de inicio vuelve al home y no va

[2013-12-04 12:21] 8la commented on #135
Añado log de arranque de loqui:

[code]

[2013-12-04 12:27] 8la commented on #135
Aparte de esto, ( no se si ayuda o si quieres que abra otro ticket a parte), los botones de la izquierda funcionan los primeros segundos tras iniciar loqui, al rato dejan de funcionar, se queda abierta siempre la de hangouts (que tampoco me funcionan xD) y no va ni la de settings ni la de añadir cuenta ni la de salir. Tengo que cerrar loqui con el administrador de tareas (manteniendo pulsado el bo

[2013-12-04 12:40] nukeador commented on #133
¿Y si Loqui reinicia la conexión con Whatsapp cada X tiempo para evitar esto (5 min.)? ¿Tiene un coste muy grande en el rendimiento/uso de batería?

[2013-12-04 15:02] Gioyik commented on #126
@aarizkuren Please, test again and the us if the error continue, i think that the error was produced by the commit in #106 and i have been reverted.

[2013-12-04 15:37] Gioyik commented on #133
@nukeador Supongo que si, algunas veces los usuarios se molestan porque tratan de cerrar la aplicacion y se vuelve abrir automaticamente. Imaginate que estes escribiendo y se recargue la app sin ningun aviso, o peor, sin que tu lo quieras. De igual forma es una solucion parcial mientras se nos ocurre algo respecto al issue #112

Yo me doy cuenta de que se han desconectado mis cuentas cuando el bot

[2013-12-04 16:15] deimidis commented on #132
All my last tries gave me the same answer, too many tries, try again later. I beginning to think there's another problem here :)

And Gioyik, I'm using git version

[2013-12-04 16:49] Gioyik commented on #129
Ok, there was a problem with the commit. When you log in successfully into an account and you wait 15 seconds it shows you the timeout message, so, this is a wrong behavior. I am going to fix it.

[2013-12-04 16:51] willyaranda commented on #133
@nukeador sí, una burrada. Lo que se quiere es que sea lo más eficiente posible. Igualmente, whatsapp hace pings automáticos desde su servidor durante un tiempo fijo (180 segundos), que mata tu batería igualmente.

lo que habría que hacer es realmente identificar si la conexión se ha perdido y que loqui se enterara.

[2013-12-04 16:53] Gioyik commented on #129
Seems to work great. Please test it and tell me if everything is OK! to close the issue.

[2013-12-04 16:55] willyaranda commented on #129
I don't think this is the correct behaviour. If the auth fails, just show the error without the timeout (you have a problem, and you wait 15 seconds to show the message? :)). This is expecting loqui caughts the authfail event, BTW.

[2013-12-04 17:08] Gioyik commented on #129
I removed the timeout, seems reasonable that you pointed. Tell if it's ok to change the text in the notification.

[2013-12-04 17:18] willyaranda commented on #129
No debería usar `Lungo.Notification.error`?

[2013-12-04 17:19] aesedepece commented on #129
There's already a message shown when auth fails. But it's only fired when the server actively refuses the connection: if the problem is due to a network error nothing happens.

And YES, it should be `.error` instead of `.success`. Lol.

[2013-12-04 17:22] Gioyik commented on #129
Jajajajjaa sorry, now is fixed :P

[2013-12-04 17:24] willyaranda opened #137 "Use pull requests ;)"
@Gioyik you should use PR to merge your code and ask for review. This will cut the number of possible bugs on the app (see #129) ;)

Asking for "enhacement" label :dancers:

[2013-12-04 17:26] aesedepece commented on #137
We need to go and open this issue in every project on GitHub! :dancer:

[2013-12-04 17:26] Gioyik commented on #137
No problem, thanks for the suggestion ;)

[2013-12-04 17:26] #137 closed, assigned to nobody

[2013-12-04 17:29] Gioyik commented on #129
I added some code, see bc9f7bb6970b74763a66492056f228695bf87294 to notify when you fill data for an account like this:

username: ohgoisdhfis
password: hosjfoisfs

Let me know if everything is ok, to change the text in the notifications and stop making infinite commits with not pull requests :P

[2013-12-04 17:44] aesedepece commented on #127
I have a theory on what may be causing this awful issue. I'l make some test and keep you updated.

[2013-12-04 18:04] Gioyik commented on #129
Seems that everything is working well. If the problem continues reopen it and i will make the corrections in a Pull Request for review.

[2013-12-04 18:04] #129 closed, assigned to Gioyik

[2013-12-04 18:22] nukeador commented on #133
@Gioyik Y la bolita esa ¿cómo sabe que tiene que cambiar de color? ¿Para reiniciar la conexión hay que matar todo la app/UI?

[2013-12-04 18:33] Gioyik commented on #133
@nukeador la bolita esta, refleja el estado en que estas. Si es verde es que estas disponible, si es roja es que estas ocupado y asi cambia de color por el estilo. Yo, me he dado cuenta (personalmente y alguien tambien lo ha mencionado en el issue #112), que cuando no aparece esta bolita es porque se ha desconectado, y la unica forma de que vuelva a reconectar es "matando" la aplicacion desde el a

[2013-12-04 18:37] Gioyik commented on #133
Mira estas dos capturas de pantalla, esta es en donde muestra el circulito gris que indica que el contacto no esta disponible:

![2013-12-04-13-32-27](https://f.cloud.github.com/assets/1834718/1675996/c22cd12c-5d12-11e3-85ea-b4f7ff891dfd.png)

y aqui es cuando esta desconectado, ya no muestra el circulito gris:

![2013-12-04-13-32-37](https://f.cloud.github.com/assets/1834718/1676007/de66c69a-5d12

[2013-12-04 18:37] nukeador commented on #133
¿No se puede detectar cuando esa bolita desaparece? Porque supongo que desaparecerá en base a algo.

[2013-12-04 18:42] Gioyik commented on #133
Supongo que si, aunque si logramos seria una solucion para las conexiones XMPP, ya que veo que en las cuentas Whatsapp no aparece esta bolita. Voy a revisar si encuentro algo que se me ha ocurrido con lo que has dicho.

[2013-12-04 19:19] aarizkuren commented on #126
its ok now

[2013-12-04 19:25] aesedepece commented on #133
El color y la presencia de la bolita está determinada en el CSS. Las condiciones para que aparezcan son:
- Que la cuenta soporte notificaciones de presencia
- Que el WiFi / 3G esté conectado
- Que la sesión de BOSH siga abierta

Estoy trabajando en un parche para que se funcione también con WhatsApp, que a priori no da información de los puntos 1 y 3.

[2013-12-04 19:42] Gioyik commented on #133
@aesedepece en que issues estas trabajando? pregunto para no pasar por la situacion de estar trabajando los dos en lo mismo cada uno por su lado.

[2013-12-04 19:44] aesedepece commented on #133
@Gioyik  Ahora mismo, #97 y #112.

[2013-12-04 19:50] Gioyik commented on #133
Vale, yo voy a trabajar en otros, a ver si de una vez se envia la nueva version a la Marketplace. o/

[2013-12-05 00:55] aesedepece commented on #135
Yo creo que está bastante relacionada una cosa con la otra. A raíz de esas alertas de CSP, todo el Javascript se para y por lo tanto los bindings de los botones laterales dejan de funcionar.

[2013-12-05 04:31] Gioyik commented on #135
Creo que esto es lo mismo que esta pasando en el issue #90. Tal parece que las violaciones CSP nos estan afectando.

[2013-12-05 04:48] Gioyik opened #139 "CSP Violations - Test warnings"
Those are the current CSP violations in our code:

https://marketplace.firefox.com/developers/upload/dfe60842f89d43988d3f03ed94b8aa5d

[2013-12-05 04:52] Gioyik commented on #139
CSP violations blocking code, possibly blocking #135 and #90.

[2013-12-05 06:49] juaneladio commented on #99
@Gioyik confirmó que la versión actual (acabo de bajar y probar) es una solución parcial.

Me explicó: en mi país (Peru) el código es 51.
- Si el nro añadido tiene +51(nro-de-movil) entonces lo añade correctamente.
- si el nro añadido tiene +57(nro-de-movil) (57 es el código de Colombia) el contacto se genera mal en Whatsapp: 5157(nro-de-movil).

En resumen, la solución propuesta sólo funciona par

[2013-12-05 08:09] jeena opened #140 "Doesn't start when offline"
I didn't realize that my phone was offline, when I started LOQUI I only got a black screen and nothing more. It should at least show some hint that this is because of the fact that my phone is offline.

[2013-12-05 09:18] 8la commented on #135
Es realmente extraño que nadie más tenga este problema, ¿no? El nivel de seguridad en CSP cambia con versiones / dispositivos de FirefoxOS? Si no es así, no entiendo que esto le esté funcionando a más gente a mi no me funciona prácticamente nada. Solo puedo registrar la cuenta de hangouts y no funciona nada bien, no recibo mensajes a veces o no se envían. Nada fiable por ahora.

De cualquier forma

[2013-12-05 09:21] aesedepece commented on #99
Ayer estuve probando con la librería que mencionó @willyaranda pero tampoco conseguí que funcionase 100% con algunos números de Venezuela o México por las incomprensibles normas de tener que quitar o poner "1" entre el prefijo internacional y el número nacional.

[2013-12-05 09:28] #97 closed, assigned to aesedepece

[2013-12-05 09:28] #112 closed, assigned to aesedepece

[2013-12-05 09:31] willyaranda commented on #99
@aesedepece voy a preguntar a ver si alguien de mi grupo conoce bien el tema de normalización de números y puede comentar algo.

[2013-12-05 10:28] borjasalguero commented on #99
@aesedepece Nosotros usamos https://github.com/andreasgal/PhoneNumber.js para normalizar los números y en principio está funcionando sin problema. Para la normalización tienes que recuperar correctamente el par MCC/MNC de la SIM (cuidado que hay dos valores para esto! El de la SIM y el de la RED, y pueden no coincidir -por ejemplo en Roaming-).
Para probar:
http://logofid.es/phonenumberjs_test/

S

[2013-12-05 14:00] #127 closed, assigned to aesedepece

[2013-12-05 14:01] aesedepece commented on #127
Hi guys, this is what happened:

When you received a lot of messages in a short period of time, each one was being written to memory without waiting for the previous one to be successfully stored. This caused all the previous messages to vanish!

The solution was to push every message to a asynchronous queue so that they can be processed in order and they don't overwrite each other.

[2013-12-05 14:06] aesedepece commented on #106
¿Qué decisión tomamos respecto a esta feature? ¿La pulimos o la dejamos para más adelante? Ya he explicado que su utilidad es hasta cierto punto limitada:

Ahora me asalta una duda: ¿Existe esta opción en el cliente original de WhatsApp?

[2013-12-05 14:40] aarizkuren commented on #106
Ni idea si existe en el original.

Yo creo que se tendría que poder exportar de alguna forma lo que el programa guarda para conectarse a whatsapp, para poder importarlo/copiarlo, aunque sea un proceso manual. Siendo como es firefoxOS una plataforma bastante Beta, creo que puede ser bastante frecuente que la gente actualice la plataforma, y es posible que te quedes sin los datos.
Por esto decía que

[2013-12-05 14:48] aesedepece commented on #106
@aarizkuren  Si quieres llevarte una cuenta de un equipo a otro, puedes exportarla con:

[code]

E importar en el otro con:

[code]

No sé si se me escapa algo, creo que con eso debería bastar...

[2013-12-05 14:55] aarizkuren commented on #106
Ok, gracias,
con esto a mi me vale :laughing:

[2013-12-05 14:57] aesedepece commented on #99
@borjasalguero Muchas gracias por la explicación. El problema ahora es que PhoneNumber.js contiene un `eval()` y por lo tanto la bloquea la CSP, tal y como he reportado en este issue: https://github.com/andreasgal/PhoneNumber.js/issues/32

[2013-12-05 19:47] #99 closed, assigned to aesedepece

[2013-12-05 23:06] Gioyik commented on #106
Realmente la cuestion con este issue es que al ser un poco inestable el soporte de Whatsapp en Loqui esta funcionalidad hace un poco mas facil el testeo y mas aun con la cosa de tener que hacer los request al servidor de Whatsapp y que llegue o no el mensaje, bla, bla, bla. En el cliente original no existe esta opcion, siempre he querido que la agreguen, pero no lo esta.

Creo que podriamos quitar

[2013-12-05 23:30] aarizkuren commented on #106
por mi sin problema, cuando necesite importar la cuenta, con lo que ha puesto ahí @aesedepece creo que ya podré hacerlo.

[2013-12-05 23:40] Gioyik commented on #110
This is not necessary any more since #106 will not fixed.

[2013-12-05 23:40] #110 closed, assigned to Gioyik

[2013-12-06 00:14] Gioyik opened #143 "Adding a WhatsApp account stucks in "Sync" error is back"
Testing the latest version in master i got the Sync infinite message. PING @aesedepece

[2013-12-06 00:27] Gioyik commented on #112
Yo sigo teniendo este problema aun, este es mi log:

[code]

Ping @aesedepece

[2013-12-06 00:27] Gioyik commented on #143
My log:

[code]

[2013-12-06 00:32] willyaranda commented on #112
La 1.2 se apaga el wifi automáticamente. Si no utilizáis 3g, es normal que se desconecte. (puedes hacer grep por `wlan`)

[2013-12-06 00:35] Gioyik commented on #112
Ando usando la 1.3, este es log:

[code]

[2013-12-06 00:38] willyaranda commented on #112
Comprueba que esperando un poco, al encender la pantalla, vuelve al
conectarse al wifi.

Si no, pon el log completo, con `adb logcat - v time` y las horas en las
que apagad la pantalla y la enciendes y cuando dejas de recibir mensajes.
El 06/12/2013 01:35, "Giovanny Andres Gongora Granada" <
notifications@github.com> escribió:

[2013-12-06 00:43] Gioyik commented on #143
Seems more reasonable continue this bug in the main issue and not creating other.

[2013-12-06 00:43] #143 closed, assigned to nobody

[2013-12-06 00:44] Gioyik commented on #98
Testing the latest version in master i got the Sync infinite message. PING @aesedepece

Tested in v1.3

[2013-12-06 00:46] aesedepece commented on #106
:+1 Si vemos más adelante que sigue haciendo falta el botón, lo recuperamos.

[2013-12-06 00:50] #106 closed, assigned to Gioyik

[2013-12-06 01:12] aesedepece commented on #98
This is the error:

[code]

It seems that for certain numbers, the PhoneNumber library fails to guess the pattern and throws such error.

[2013-12-06 01:51] Gioyik commented on #112
Parece que solo ha sido momentaneo porque ahora anda funcionando bien :3

[2013-12-06 02:46] #128 closed, assigned to Gioyik

[2013-12-06 05:25] Gioyik commented on #113
On what kind of account is happening this? Whatsapp, Google, Jabber....

[2013-12-06 05:29] Gioyik commented on #140
seems a rare behavior, on which version are you working on? could you provide us a log?

[2013-12-06 20:05] rick110 commented on #113
The whatsApp contacs are unremovable. I cant test the others, because by now I use only the whatsapp network.

[2013-12-08 19:32] aarizkuren opened #146 "Error al recibir mensajes multiples"
When i received big amount of messages, the behaviour was not correct, it duplicates chats and when

Cuando recibo una cantidad considerable de mensajes, el comportamiento de la aplicación no es correcto. Multiplica varias veces cada chat, o "pisa" chats anteriores y los cambia de nombre/foto. Luego al entrar en ese chat, no siempre salen los mensajes, a veces se queda vacio todo.

A ver si mañana

[2013-12-09 04:56] jcatumba commented on #113
Same issue within ZTE Open. WhatsApp contacts can't be erased. Other service providers are ok.

[2013-12-09 15:49] kkdeep opened #147 "The app i sno more available in my region."
![2013-12-09-21-12-56](https://f.cloud.github.com/assets/1812737/1706071/2a84a6ee-60e9-11e3-9b0a-e270fdb73c3b.png)

I had uninstalled the app few weeks ago since it was having some issues. Few days back i again tried to give it a shot but its showing that its not available in my region. Had any changes been made due to which its not available in my region?

[2013-12-09 15:51] willyaranda commented on #147
So, what's your region?
El 09/12/2013 16:49, "Krishna Kumar Deep" notifications@github.com
escribió:

[2013-12-09 16:59] kkdeep commented on #147
India,Asia.

[2013-12-09 22:52] aesedepece commented on #147
For some reason, Firefox Marketplace seems to think that your IP belongs to USA or China, which are the two only countries where the app is not available.

[2013-12-09 22:54] aesedepece commented on #146
Espero los logs, a ver qué puede estar ocurriendo.

[2013-12-09 23:53] aarizkuren commented on #146
Los logs al final no voy a poder ponerlos, sale demasiada info privada (telefonos, nombres y esas cosas) y no tengo tiempo para poder filtrarlo adecuadamente. Como mucho podría pasartelos de forma privada, de todas maneras, subo un pantallazo para que se pueda ver lo que me esta pasando, que creo que es lo suficientemente claro.
![repeated_chats](https://f.cloud.github.com/assets/476141/1710250/14

[2013-12-10 03:22] kkdeep commented on #147
![ip](https://f.cloud.github.com/assets/1812737/1711297/0d4f5716-614a-11e3-89c7-7275ebf22718.png)

Is it Firefox Marketplace bug? coz when i check my IP it shows the proper one.

[2013-12-10 09:50] thallian commented on #147
Same problem here on a Geeksphone Peak, country is Switzerland.
I still have Loqui installed and get updates but I can't even find it in the marketplace.

[2013-12-10 12:34] #98 closed, assigned to nobody

[2013-12-10 15:34] aesedepece opened #148 "Login can't tell if WA password is no longer valid"
Reported by @devja4a in #145

The issue is that when you login to WhatsApp and the auth fails it continues as if nothing happened.

The expected behaviour is to return to account setup screen and let the user reset the password through the validation process. The chats and contacts should remain untouched.

Any suggestions on a more natural UX?

[2013-12-10 15:37] aesedepece commented on #140
Did this happen with Marketplace release or GitHub nightly?

[2013-12-10 17:27] #113 closed, assigned to aesedepece

[2013-12-10 22:02] jeena commented on #140
I tested it again and I think you can't do anything about, this is was happened:
- While I still had Internet I downloaded and installed the application.
- I use prepaid card, when the money is gone I don't have internet anymore but Cellular & Data is still on, so the phone thinks it is online, but in fact the provider doesn't allow sending or getting any packages to the internet.
- Many applicati

[2013-12-10 22:10] aesedepece commented on #140
I'll pass the bug and the suggestion to the B2G and Gaia people. Many thanks!

[2013-12-10 22:10] #140 closed, assigned to nobody

[2013-12-11 15:21] mahomedalid commented on #43
OTR is a must! :)

I want to help to, implementing this feature.

[2013-12-12 19:19] #146 closed, assigned to aesedepece

[2013-12-12 20:39] aesedepece commented on #102
I've changed the selection of available countries to "All but China". Now it should be available for everyone as no restrictions are applied.

Can you @vitalyster check if you can download it now? Thanks.

[2013-12-12 20:40] aesedepece commented on #147
I've changed the selection of available countries to "All but China". Now it should be available for everyone as no restrictions are applied.

Can you @kkdEEP and @thallian check if you can download it now? Thanks.

[2013-12-12 21:17] kkdeep commented on #147
Yes! Now its available. Just installed it and testing it again. :)

[2013-12-12 21:29] vitalyster commented on #102
Yes, now it available and successfully installed via Marketplace :)

[2013-12-13 00:42] #147 closed, assigned to nobody

[2013-12-13 00:42] #102 closed, assigned to Gioyik

[2013-12-13 02:01] cargabsj175 commented on #96
Hola, en Venezuela se presenta algo distinto, aunque ahora toma de forma correcta 58xx, genera un guión (-) generando un número como este, 584xx-yyyzzzz@whatsapp.net en lugar de 584xxyyyzzzz@whatsapp.net que sería el correcto.

Saludos.

[2013-12-13 06:48] Gioyik commented on #139
Creo que esto ya no es necesario.

[2013-12-13 06:48] #139 closed, assigned to nobody

[2013-12-13 09:43] thallian commented on #147
perfect, thanks :)

[2013-12-13 17:56] cargabsj175 opened #149 "Conversaciones duplicadas"
en whatsapp, se duplican los mensajes de un mismo contacto https://twitter.com/willicab/status/411550817728991232/photo/1

Saludos

[2013-12-13 18:02] Gioyik commented on #149
Adjunto algunas mias que lo confirman:

![2013-12-13-10-26-08](https://f.cloud.github.com/assets/1834718/1744641/a33c0a98-6420-11e3-9a8d-2789002b552f.png)
![2013-12-13-10-27-42](https://f.cloud.github.com/assets/1834718/1744642/a3633640-6420-11e3-8081-e5634290e595.png)
![2013-12-13-10-35-18](https://f.cloud.github.com/assets/1834718/1744643/a365e340-6420-11e3-90ad-e226d4660ac9.png)
![2013-12-13-10

[2013-12-13 18:04] Gioyik opened #150 "Long words not adapted to the size screen"
![2013-12-13-10-29-23](https://f.cloud.github.com/assets/1834718/1744667/f5d06344-6420-11e3-9c8a-22f7e4d65b7b.png)

[2013-12-14 11:46] nukeador commented on #149
A mi me ha pasado, tenía 2 conversaciones individuales y un grupo. Con la última actualización cuando me llegó un mensaje de un grupo, todas las conversaciones se transformaron en la de ese grupo.

[2013-12-16 02:20] #150 closed, assigned to nobody

[2013-12-16 16:57] YukiteruAmano89 commented on #149
A mi tambien me ha pasado lo de las conversaciones duplicadas, especificamente cuando estoy chateando con una persona, no he probado si en grupo pasa lo mismo.

[2013-12-16 17:03] YukiteruAmano89 commented on #130
Uso loquiim 0.2.3 y me pasa exactamente lo mismo, estoy conversando con una persona, y luego de 2 o 3 mensajes, ejo de recibir mensajes de esa conversacion, aunque por la apps de facebook se registran los nuevos. Si realizo otra conversacion con otra persona, presenta el mismo cuadro, 2 o 3 mensajes y luego deja de recibir mensajes. Un caso extrañó pero así, en lo que puedo instalarme adb en mi Wi

[2013-12-16 17:24] aarizkuren commented on #149
A mi me sigue pasando, tal como dije en #146 , y con los cambios que se pusieron ahí no se soluciono el problema.
No se podría crear algún tipo de cola de mensajes que se procesen uno a uno? es decir, ir cargando a la cola de mensajes, y aunque sea asincronamente, cuando termine de cargar uno, empezar con el siguiente, porque si se van lanzando todos a la vez, imagino que la app se vuelve loca con

[2013-12-16 17:27] DiegoErnesto commented on #149
pienso lo mismo que aarizkuren.

[2013-12-17 15:35] aesedepece commented on #149
El caso es que el problema actual apareció tras los commits 1d13fa7cb364b9b46de06fd875b5d9c76f1b8a80 y 8c02137611f6efce3ae4587b4308428319810609, que precisamente lo que hacen es poner los mensajes en una cola e ir procesando uno a uno para finalmente pasarlos al almacenamiento. Vamos a revisarlo cuanto antes porque en algún lugar se me debió de escapar algo bien gordo.

[2013-12-17 22:47] aarizkuren commented on #149
He estado mirando un poco, y si no he entendido mal, en https://github.com/waalt/loqui/blob/master/scripts/waalt/chat.js#L50 hace un async.queue();
y segun la documentacion del async (https://github.com/caolan/async#queue), esta función trabaja en paralelo. No seria mejor añadir ahí una que funcione en serie? es decir, que vaya procesando mensaje a mensaje.

[2013-12-17 22:49] gabriel-lucas opened #154 "Improvements for Loqui"
Hi,

I have some suggestions / bugs I found that could improve Loqui.
- when showing contact list, the profile photograph doesn´t load until you start a conversation with that contact. It would be good to load them all together at the beginning.
- Once installed Loqui, if you update a contact in firefox contact webapp, list of contact in Loqui doesn´t updates.
## Bugs
- When adding whatsapp accoun

[2013-12-18 00:20] soapdog opened #155 "why Loqui connects to its own XMPP server instead of connecting to the real service server?"
Hi,

Checking out the source code for Loqui, I've noticed that all providers except whatsapp appears to connect to http://app.loqui.im/http-bind/ which appears to be a XMPP server (probably ejabberd). I want to understand why you are connecting to your own server instead of connecting directly to the real provider server.

Cheers
andre

[2013-12-18 00:22] qmx commented on #155
xmpp requires something like a BoSH gateway (what loqui provides) which not all providers allow, or tcp connections, currently not available.

[2013-12-18 00:28] vitalyster commented on #155
"http://app.loqui.im/http-bind/" is a gateway or "session manager", which maintain persistent connection on a behalf of user. With current XMPP specs mobile application can not maintain connection directly, there are many issues with background keep-alive, notifications, etc. So http-bind(BOSH) gateway is a good solution to solve these issues somehow.

[2013-12-18 00:41] aesedepece commented on #149
@aarizkuren El método `async.queue()` toma automáticamente concurrencia 1 cuando no se especifica esta, por lo que es equivalente a procesarlas en serie.

[2013-12-18 01:22] soapdog commented on #155
Thanks for the heads up on that. Is your session manager on GitHub? It would be great if instead of using BOSH it could stop the client and wake it using simple push... (a lot of work probably).

[2013-12-18 01:53] aesedepece commented on #155
For more information:
https://github.com/waalt/loqui/issues/50
https://github.com/waalt/loqui/issues/124

[2013-12-18 01:53] #155 closed, assigned to nobody

[2013-12-18 02:06] #149 closed, assigned to aesedepece

[2013-12-18 02:14] aesedepece commented on #154
- Downloading hundred of contact pics is not a good idea if you are connected through data plan...
- There's a refresh button on the right side of the search bar in the contacts list. Tap it and your contacts will be synced.
- I'll check it, but I think the '-' character was automatically taken out.
- Duplicate of #149, already fixed ;)

Thanks for all!

[2013-12-18 02:19] aesedepece opened #156 "When you remove an account, it removes always the last one"
- Try to remove an account which is not the last one.
- The last account will be removed.

[2013-12-18 02:21] #156 closed, assigned to aesedepece

[2013-12-18 08:20] Gioyik commented on #148
There's any way to know if the connection with Whatsapp is lost?

[2013-12-18 17:17] aesedepece opened #158 "Chat is empty"
Sometimes when you enter a chat, it's empty though you know there are messages in there.

I've observed that this happens when `App.accounts[m].core.chats[n].chunks[o] == null`. We have to guess under what circumstances it stores a null chunk instead of a storage index.

[2013-12-18 18:02] deimidis opened #159 "Bad contact number in WA (Argentina loqui v 0.2.3)"
I installed the new version, and works perfect for authentication and send messages, but still have problems with phone numbers and contacts.

I have another SIM to test loqui in keon, so I have my own contact in this phone with int.code. When I selected that contact and see the info loqui shows (from whatsapp) says my number in this way: 54911xxxx-xxxx@s.whatsapp.net and shows like unavailable.

[2013-12-18 18:07] Gioyik commented on #159
Seems that is the same that someone mentioned in #154. The third point.

[2013-12-18 18:10] deimidis commented on #159
No, it's not the same. This is not the validation code from WA, is the number that appear in the contact list vs the number that came from WA message. To add, in the contact app appear without the dash, I don't know when the dash is add, if it's in the contact app or in loqui

[2013-12-18 18:17] Gioyik commented on #159
Sorry I was confused with that. Thanks for the explanation. Another question, only that number has the dash there? or all your contacts are with the dash?

[2013-12-18 18:22] deimidis commented on #159
All the Argentina's contact has the dash there. But a contact from Venezuela has 58xxx-xxxxxxx From Colombia seems ok, without dash

[2013-12-18 18:27] Gioyik commented on #159
Yes, i was seeing that my contacts (in Colombia) are correct, without the dash.

[2013-12-18 18:34] deimidis commented on #159
We tested with @Gioyik and with Colombia numbers works

[2013-12-18 20:39] aesedepece commented on #159
I think this is already fixed in 0.2.4 by commit 2609ea320bfaba43c1f31254a5bb3d2e562c5250.

[2013-12-19 16:05] deimidis commented on #159
Yes, this problem is fixed, but I found another problem (that could be mine :)) Phones that don't wasn't wrote with International codes doesn't were recognized.

Example:
International number for Argentina is +54 but for mbile, you have to add a 9 before the area code. So the final number is something like +54911xxxxxxxx and whatsapp use that rule to create the user.

But if you have your contact

[2013-12-19 16:16] aesedepece commented on #159
@deimidis Yes, we are using a library for handling international number format and validation, and I can't understand why in the hell it doesn't fix all the cases.

Adding special rules for certain locales sounds to me more like a cheat than an actual fix.

Sorry for the rant, I say this without any intention of offending anyone; but I'm getting tired of those "magical prefixes" you use in South A

[2013-12-19 16:37] Gioyik commented on #159
@aesedepece they thought in fuck us :)

[2013-12-19 16:51] deimidis commented on #159
@aesedepece don't worry, I don't feel offended. I rant the same way the first I had to call someone from outside Argentina and had to learn this stupid thing

[2013-12-19 18:50] deimidis commented on #159
I could confirm that adding the 9 to contact app, Loqui import correctly the users and works

[2013-12-20 05:31] iamed2 commented on #79
Now that releases have moved along, can we get Apps support? I had thought I had problems connecting but I guess this feature was just not available.

[2013-12-20 20:07] enapupe opened #160 "emoticons within hyperlinks at chat"
This is the rendered html of a hyperlink with a :/ (emoticon) inside it:

[code]

The issue seems to be located at xmpp.js:343 @fy function which renders text to emoji;

[2013-12-21 00:03] mautematico opened #161 "Implementar Telegram"
http://telegram.org/
https://github.com/vysheng/tg/

https://github.com/vysheng/tg/issues/25

[2013-12-23 18:41] aesedepece commented on #160
Funny bug. Links work though.
We'll see how to make the emoticon processor not read URLs.
Thanks for reporting!

[2013-12-23 18:43] aesedepece commented on #161
TIene toda la pinta de ser el siguiente protocolo en ser implementado en LoquiIM. :+1:
¿Que tal si cambiamos el título del issue por "Implementar Telegram" y empezamos a discutirlo?

[2013-12-23 18:48] Gioyik commented on #161
http://www.cryptofails.com/post/70546720222/telegrams-cryptanalysis-contest

[2013-12-24 03:26] mautematico commented on #161
"Luego" es tarde. ;)

[2013-12-24 03:31] Gioyik commented on #161
Creo que tiene mas ciencia de la que parece. La documentación hasta ahora es muy poca y la api no esta del todo libre, puede llevar un tiempo hasta que se considere viable experimentar con el nuevo protocolo. Podemos ver como avanza y ver que posibilidades tenemos, de igual manera hay una cola de cosas por hacer para LoquiIM aún. ;)

[2013-12-24 11:15] aesedepece commented on #158
Solved by 66307d3

[2013-12-24 11:15] #158 closed, assigned to aesedepece

[2013-12-24 23:49] JCVega opened #165 "Error al Agregar una cuenta nueva"
Loqui IM V0.2.4
Esta instalado sobre el Simulador de Firefox OS, me parece que la version es 1.1.0.

cree una cuenta de Facebook sin problema, pero al una segunda cuenta, en este caso de Hangust, no me deja navegar hacia ella, solo se queda en la primera, puedo acceder a cualquier otro elemento del menu.
Cuando selecciono el boton de Facebook me aparece que el indice es un 0
y en Hangust un -1
Alg

[2013-12-25 00:01] JCVega opened #166 "Error al recibir Emoticon"
Loqui IM v0.2.4
Esta correindo bajo el simulador de Firefox OS, me parece que la vercion es 1.1.0

Al recibir un emoticon de facebook en loqui im no me aparece el emoticon, creo que es cuestion de cuando viene solo el emoticon, sin mas texto.
(Izquierda chat de Facebook, derecha Loqui)
![bug error recivir emoticon](https://f.cloud.github.com/assets/6250173/1807548/f13beedc-6cf6-11e3-9900-4933576f2

[2013-12-25 02:16] Gioyik commented on #166
Podrias poner algun error de consola que nos muestre algo del error?

[2013-12-25 15:25] JCVega commented on #166
Claro que si esto es lo que me aparece al mandar el emoticon
![error emoticon consola](https://f.cloud.github.com/assets/6250173/1808787/eefdf4a4-6d77-11e3-80d3-677cb575a299.png)

Me parece que el detalle es el <<"PUSHING" 425 [object undefined]>>
Al parecer el objeto chunk no es declarado, el archivo que lo utiliza es chats.js aproximadamente en la linea 54.

Esto es a mi parecer no estoy totalme

[2013-12-26 21:11] JCVega opened #167 "Bienvenida Pasmada"
Loqui IM: v0.2.4
Dispositivo: Lanzado desde Simulador Firefox OS
Cuando se lanza la aplicacion por primera vez, te muestra el menu de servicios a los que te puedes conectar. Pero si le das en cancelar te regresa a la pantalla de bienvenida, y ahi se queda, no vuelve a mandar nada, hasta que cierras y vuelves a abrir la aplicacion.
No es el gran error pero talvez alguien se llegue a confundir en es

[2013-12-27 01:44] aesedepece opened #168 "Sending WhatsApp images"

[2013-12-27 02:03] aesedepece commented on #168
Still needs work on UI/UX:
- Progress bar
- Success / error messages
- Show sent message in chat
- Show "John Doe has sent you a image" in system notifications
- Show "Image" as last message in chats list
- Send image from Gallery app

[2013-12-27 08:08] Gioyik commented on #167
Hay un problema y es que si retiramos el boton de alli cuando se intente agregar una cuenta nueva usando el boton que tiene un +, y por X o Y motivos ya no queremos agregar dicha cuenta e intentemos regresar a la pantalla principal ya no es posible.

[2013-12-27 10:11] aesedepece commented on #167
Supuestamente pulsando en cualquier lugar de la splash screen se podía volver al menú de selección de proveedor, pero parece que ya no está funcionando.

[2013-12-27 19:09] Gioyik opened #173 "Use Store.SD.save instead imageSave and videoSave"
#169

[2013-12-27 21:16] deimidis opened #174 "No contact update with git version"
Hi everyone, I tried to change some contacts to add the bad Argentina's number and then try to update Loqui contact list, but I couldn't. I made click to the arrow near the top screen on Contacts list, but nothing happens

[2013-12-27 21:44] deimidis commented on #174
[JavaScript Error: "Error: Permission denied to access property 'tagName'" {file: "app://8756f3b1-886e-4e48-99d4-31b6ad390a9a/scripts/tapquo/quo.js" line: 1028}]

Este es el error que aparece en la consola cuando hago clic en la flecha

[2013-12-28 05:43] JCVega commented on #167
Pues yo pensaba en verificar si ya tenia alguna cuenta, en caso contrario ocultar el boton de regresar, pero me parece mucho mas economico hacer que al darle click regrese al menu de seleccion de provedor.
Me parece que de esta ultima forma ya lo tengo solucionado en un momento hago la solicitud de pull y me dicen si hay que cambiarle algo mas.

[2013-12-28 05:48] Gioyik commented on #167
Venga! Ando pendiente del pull para cuando lo hagas, lo miramos. :)

[2013-12-28 06:28] Gioyik commented on #168
See this commit 972f1c867d91f9590a64e1443890c4022d99aa28

[2013-12-28 06:34] Gioyik commented on #173
Pregunta, en que momento se deberia guardar la imagen?

[2013-12-28 06:58] JCVega commented on #167
Parece que ya pude subirla.
Creo que voy a necesitar un manual de JS y otro de Github jaja.

[2013-12-28 07:07] Gioyik commented on #167
Ya he pasado los cambios que has hecho, gracias por el Pull Request. Hice un cambio minimo a lo que modificaste solo para que tenga la estructura que llevamos en todo el codigo.

[2013-12-28 07:07] #167 closed, assigned to nobody

[2013-12-28 12:48] JCVega commented on #167
De nada, del cambio no te preocues.
Seguire buscando errores y a ver si los puedo apoyara resolver algunos.

[2013-12-29 19:29] aarizkuren opened #176 "Sugerencias"
Buenas,
vengo con un par de sugerencias para poder llevar adelante mejor este proyecto, a ver que os parecen:

1.- Crear una rama de desarrollo, y usar la master solo cuando una versión funcione, porque está pasando que se hacen desarrollos a medias, y esto hace que no funcione correctamente lo que antes si lo hacia. Haciendo esto conseguiriamos un poco más de estabilidad para la gente que utilice

[2013-12-29 19:48] Gioyik commented on #176
Hay una branch devel que se supone que esta para esto, pero se dejo de usar desde que el soporte para Whatsapp salio a la luz. Yo estaba empezando a usar los Pull Request y dejar de hacer commits directos, pero me dieron mas de un dolor de cabeza al ver que enviaba un Pull Request, luego hacian cambios y si se aplicaba el Pull Request se sobre escribian cosas y se formaba otra mas grande (realment

[2013-12-29 20:33] aarizkuren commented on #173
En mi opinion, cuando se recibe hay que mostrar el thumbnail (mediaPreview) y si se le da click, guardar la original (mediaUrl) en la sdcard, para que si no quieres no tengas que bajartela

[2013-12-30 23:33] aesedepece commented on #173
@aarizkuren Exacto, así es como está ahora mismo.

[2013-12-31 06:44] Gioyik commented on #173
Una pregunta, cuando usamos el imageSave, videoSave, AudioSave?

[2013-12-31 07:39] Gioyik commented on #154
This is fixed in v0.2.4

[2013-12-31 07:39] #154 closed, assigned to nobody

[2013-12-31 07:41] Gioyik commented on #132
This is on Whatsapp server side, so there's nothing that Loqui can do.

[2013-12-31 07:41] #132 closed, assigned to nobody

[2013-12-31 11:50] aesedepece commented on #173
Pues en principio, ninguno de esos métodos son necesarios teniendo `Store.SD.save`, siempre que se le pase un blob lo guarda sin problemas.

[2013-12-31 17:23] Gioyik opened #180 "Purchase Whatsapp button not working"
#178

[2014-01-02 16:00] enapupe commented on #160
The link is NOT following through the emojized URL on 0.2.3

[2014-01-03 03:21] ghost opened #181 "Some XMPP acounts stay in 'Syncrhonizing'"
I have tried with different accounts but some remain in 'Syncrhonizing'

Log: app.loqi.im/http-bind/ [HTTP/1.1 200 OK 213ms]

I test in FirefoxOS 1.2, 1.3 and FirefoxOS Simulator 4.0 (1.2)

[2014-01-03 03:44] Gioyik commented on #181
Which accounts did you try to log in with?

[2014-01-03 13:22] ghost commented on #181
My account: distopico [at] riseup [dot] net (Work)

Account of my wife:  ziggvegan [at] riseup [dot] net (Not working)

[2014-01-03 15:04] Gioyik commented on #181
Are you testing on phones or just in the simulator? If yes, which phone (and which version) are you using?

However I was trying to create an account in Riseup to test, but the official site is not loading me, well, probably not loading for nobody:

http://www.isitdownrightnow.com/riseup.net.html

The site is maker as down, so probably you can't connect because in Riseup sever side there's nothing

[2014-01-03 15:38] ghost commented on #181
Test in Simulator and phone Alcatel One Touch Fire version 1.1 and 1.2

The register in Riseup is by invitation code.
I tried in two accounts in deferents moments.

My account: distopico [at] riseup [dot] net (always Work)

Account of my wife: ziggvegan [at] riseup [dot] net (always Not working)

I also tried the facebook account of my wife (accion.visual.1) and Not working

[2014-01-03 17:25] JCVega commented on #166
Una disculpa, al parecer no todos los emoticones se copiaron, o se copian en mi carpeta, al parecer son los nombres que tienen. Pero si manda bien los emoticones

[2014-01-03 18:10] Gioyik commented on #166
Ahora entiendo que usas WIndows, y probablemente tengas problemas como el mencionado en este issue #119. LO abro de nuevo ya que es un issue nuevo y no se ha solucionado aun.

[2014-01-03 18:19] JCVega commented on #166
Jaja si tendre que instalar una particion de Ubuntu,
Y si, es el mismito problema.
Quiza deberias dejarlo así, solo advertirlo en el Readme, sugerir el uso de otro sistema operativo, y dejarlo como una limitacion. No se que opinen.

[2014-01-03 18:22] Gioyik commented on #166
No tanto eso, como se hablaba en el otro issue tenemos que tener en cuenta que necesitamos pensar en los usuarios y en que no todos usan Linux, MacOS y derivados de Unix. Voy a solucionarlo, y te pongo el link del comit que haga aqui.

[2014-01-03 18:25] JCVega commented on #166
Ok me parece bien.
Gracias Gio.

[2014-01-03 19:18] Gioyik commented on #166
Este commit soluciona el problema con el nombre de los emoji:

https://github.com/Gioyik/loqui/commit/9fd5325d49ebae812ed1c1da7df1c33e45d04f37

Se agrega en el proximo Pull Request para la proxima version. (0.2.5)

Gracias

[2014-01-03 19:18] #166 closed, assigned to nobody

[2014-01-03 19:19] Gioyik commented on #119
Fixed! Patch will be landed for the next version (0.2.5).

[2014-01-03 19:19] #119 closed, assigned to nobody

[2014-01-03 19:42] vitalyster commented on #119
why reverted?

[2014-01-03 19:47] Gioyik commented on #119
It's not reverted at all. We are trying to put every change on a Pull Request first to review with all the team instead of send direct commits. I made a direct commit to waalt/loqui [master] for error, so I reverted. But I added the changes again to the Pull Request to the next version (#178). Don't worry, the issue will be solved for the next version.

[2014-01-03 19:49] JCVega commented on #166
Va gracias Gio.

[2014-01-03 19:49] vitalyster commented on #119
Ah, then why you not use git branches? :)

[2014-01-03 19:54] Gioyik commented on #119
Yes, you're right (see #176). We have a development branch (devel) to work on, but it's too out of date. After all Pull Request will be landed and the v0.2.5 published, we will organize all again to work with branches and defining contribute paths.

Thanks for the comments. :)

[2014-01-04 06:56] Gioyik commented on #174
Yes, the problem is that quo.js doesn't recognize getElementsByTagName. Now it's fixed with the commit added to the Pull Request for the v0.2.5 (#178). If the problem continues, reopen this issue a paste again a logcat with the error.

Thanks for report it.

[2014-01-04 06:56] #174 closed, assigned to nobody

[2014-01-04 07:34] Gioyik commented on #148
Wohooooo! I commited in the Pull Request for v0.2.5 (#178) a UX fix for this. It just redirects to the providers section and shows a notification for 8 sec (sometimes notifications are very faster, and this one is very important) when auths fails.

[2014-01-04 07:34] #148 closed, assigned to nobody

[2014-01-04 07:36] Gioyik commented on #130
Te sigue sucediendo esto? Has actualizado a la version v0.2.4? En que dispositivos/simulador usas Loqui? Podrias proveernos algun log que nos de vistazos de que pasa con tu caso?

[2014-01-04 15:18] v3rlain3 commented on #130
Hola, uso loqui desde Firefox (navegador) ya que en mi país no los
venden y por internet es imposible y desde el simulador no he podido ya
que estoy detrás de un proxy, desde q me paso dejé de usarlo; lo retome
hoy para darte respuesta y al parecer todo funciona bien. Tambien me
daba problemas a pantalla completa que no funcionaban los Atras, y lo
solucione usando (vista de diseño adaptable) en la

[2014-01-04 16:00] Gioyik commented on #130
Que bueno que te funcione. :)

[2014-01-04 16:00] #130 closed, assigned to nobody

[2014-01-04 16:05] Gioyik commented on #90
News about this issue? Could you/both provide us a logcat that shows us the possible problem with the button? In the last version you continue having this problem?

[2014-01-04 16:27] Gioyik commented on #88
Do you have this problem in latest versions? Could you give us a log or logcat that shows us what could be happening?

[2014-01-05 18:22] Gioyik commented on #165
El Pull Request ya ha sido aceptado y los cambios hechos, asi que esto deberia estar solucionado.

[2014-01-05 18:22] #165 closed, assigned to nobody

[2014-01-05 18:22] Gioyik commented on #100
No veo tan necesario que los emoji se muestren en el cuadro de texto si se muestran en el listado de chats. Facebook no los renderiza hasta que son enviados y son mostrados en la parte de mensajes.

[2014-01-05 18:28] Gioyik commented on #135
Aun sigues teniendo estos problemas con la ultima version de la Marketplace?

[2014-01-05 19:29] mcorteel commented on #79
I have the same problem, I can't connect to a google apps account (which is silly because it uses normal gtalk servers, only with "user@domain.ext" as a login instead of "user" on the "domain.ext" server...).

[2014-01-05 19:38] Gioyik commented on #79
Yes, we know about this issue. We are working on implement OAuth authentication to solve this and update our way to connect to servers.

[2014-01-06 03:14] pravi opened #184 "[XMPP] unable to remove jabber contacts"
Loqui 0.2.4
jabber server autistici.org

it asks for confirmation, but fails to delete.

[2014-01-06 03:18] pravi opened #185 "[WhatsApp] unable to manually add contacts"
Loqui 0.2.4

add button doesn't work. There should be an option to import contact from addressbook. Also when unknown person sends a message, I cannot create contact.

[2014-01-06 05:31] Gioyik commented on #184
Could you provide us some logs?

[2014-01-07 06:04] Gioyik opened #186 "Confirm Location recieve support"
Based on commit 6acd7c2 just test the latest changes to see if this feature is working or not.

[2014-01-07 06:06] Gioyik opened #187 "Test new Whatsapp features"
We added some new features related to Whatsapp, and now that the code is landed, is time to see if it is working or not. Check that we are receiving photos, videos, audio and locations.

Code to send photos, videos... etc is not landed yet, but we can test it too of course. :)

[2014-01-07 06:09] Gioyik opened #188 "Typing method for Whatsapp"
We landed code for this feature in commit 26c14c6 and needs testing to confirm if it is working or not.

[2014-01-07 06:10] Gioyik commented on #180
Code landed in 087f94e. Not working yet.

[2014-01-07 06:24] Gioyik opened #189 "Style for group chats"
As reported in #115 #134 we landed some code in commits 44a0dda6e7f9aaa088e556df1dd1875f21b7d038 and d887b2062f31432261ed7e084b4ea527959e2dd6 to make this work. But is not working at all. The code adds the attribute data-muc to every chat (someone could test this to be sure that is true?) but the value is false all the time.

See the line with the important code and read #178 to get background abo

[2014-01-07 06:45] Gioyik opened #190 "Export/Import accounts functions"
Now that we have a developer section, I added the posibility to export/import data from accounts.

As @aesedepece mention in:

https://github.com/waalt/loqui/issues/106#issuecomment-29903000

And in #18:

https://github.com/waalt/loqui/issues/18#issuecomment-17864508

We can create those functions that are really necessary for development process. :)

[2014-01-07 17:37] Gioyik commented on #134
Fixed #189

[2014-01-07 17:37] #134 closed, assigned to nobody

[2014-01-07 17:38] Gioyik commented on #115
Fixed #189

[2014-01-07 17:38] #115 closed, assigned to nobody

[2014-01-07 17:38] Gioyik commented on #189
@aesedepece is working with the last commits. :)

[2014-01-07 17:38] #189 closed, assigned to nobody

[2014-01-07 20:51] achintangal opened #191 "setting up xmpp/jabber"
I keep seeing the "sychronizing" screen when I try to setup up my xmpp account.
Btw, I am running firefox 1.1 and the xmpp account is with riseup.  I wll try to see if it works with google-talk.

[2014-01-07 22:46] aarizkuren commented on #188
Lo he probado y no funciona, me devuelve los siguientes errores
<code>
Error invoking false with ["346XXXXXXXX@s.whatsapp.net"] ~ call@app://xxxxxxxxxxxx/scripts/anonymous/coseme.js:6166 [yowsupAPI]" coseme.js:3377

23:41:29.786 "Error details:
TypeError: "CoSeMe.yowsup.connectionmanager.methods[aMethod] is undefined" at
call@app://xxxxxxxxxx/scripts/anonymous/coseme.js:6164 >
 App.connectors.cose

[2014-01-07 22:51] Gioyik commented on #188
No hay página del proyecto, tenemos que informar por privado. No te preocupes, vamos avisarlo.

[2014-01-07 22:51] willyaranda commented on #188
El código de Giovanny está mal, hago los comentarios en el commit

[2014-01-07 23:02] Gioyik commented on #188
@aarizkuren puedes probar ahora con el ultimo commit?

[2014-01-07 23:05] aarizkuren commented on #186
He hecho unas modificaciones que hacian que fallara el recibir la localizacion.
Lo unico ahora cuando te mandan una, se muestra una imagen en blanco, hay que modificar el Message.preRender() para que en caso de que this.core.media.type == url, muestre un enlace, o un iframe, al gusto
pero recibir ya lo recibe bien :D

[2014-01-07 23:11] aarizkuren commented on #188
Ahora funciona perfecto, gran trabajo @Gioyik @willyaranda !!!

[2014-01-07 23:13] Gioyik commented on #186
No deberia mostrar el blob de la imagen que he agregado?

https://github.com/waalt/loqui/blob/master/scripts/waalt/connectors/coseme.js#L627

El comportamiento seria que aparezca la imagen del blob y que al seleccionarla se abriera una ventana en modo _external, que habra un link como este:

http://maps.google.com/maps?q=mlatitude+','+mlongitude

Que dices?

[2014-01-07 23:14] Gioyik commented on #188
Wohoooooo!!!

[2014-01-07 23:14] #188 closed, assigned to nobody

[2014-01-07 23:27] Gioyik commented on #176
Ya he creado un branch Dev para trabajar despues de que salga la version v0.2.5, y estoy documentando todo en la wiki:

https://github.com/waalt/loqui/wiki

Lo que quisiera que definieramos son los tiempos para cada version, definir fechas o lapsos de tiempo para el versionado y no estar sacando versiones a veces a los dos dias de haber sacado la otra, o por el contrario tomarnos dias o semanas pa

[2014-01-07 23:29] Gioyik commented on #189
@aarizkuren Podrias probar y confirmar que los grupos esten funcionando normalmente?

[2014-01-07 23:54] aesedepece commented on #189
Creo que ahora mismo si te llega un mensaje de un grupo del cual no tienes previo chat, no lo reconoce como grupo. Me ocupo de ello ahora mismo, sé dónde está el patón.

[2014-01-07 23:55] Gioyik commented on #189
Si eso mismo estaba viendo, por eso pedi que lo revisaran por si era solo a mi que me fallaba.

[2014-01-08 00:39] aarizkuren commented on #186
Esta todo funcionando, excepto la imagen, que por lo que he visto, la aplicacion en vez de coger el blob tal como se lo paso (con la modificacion que le he hecho, para añadir el header "data:image/png;base64,") lo que hace es algun tipo de filtro, y lo añade como si fuese una url relativa a la app, del tipo "app://id-del-app/blob-sin-header"

Ahora no tengo tiempo para mirar esto, si se os ocurre

[2014-01-08 00:48] aarizkuren opened #192 "Add css styles to video thumb"
Podemos añadir alguna regla de css para diferenciar el preview de una imagen o de un video, porque ahora mismo se ven igual

[2014-01-08 00:56] Gioyik commented on #192
Cuales serian esos cambios o diferencias y hago un commit para resolver esto pronto que no lleva gran tiempo hacerlo.

[2014-01-08 00:57] aarizkuren commented on #192
No se, tipico de sobreponer un icono de play encima del preview del video o alguna cosa que nos indique a primera vista que es un video, y que si te lo descargas te puedes comer tu tarifa de datos :P

[2014-01-08 00:58] Gioyik commented on #192
Va me encargo de ello. :)

[2014-01-08 00:58] aesedepece commented on #192
:+1: Al icono de play. Esto se hace fácil con la propiedad `:after` de CSS.

[2014-01-08 01:30] Gioyik commented on #186
El problema esta en que has olvidado agregarle el data:image/png;base64, en:

https://github.com/aarizkuren/loqui/blob/d3048b2f2b4d2013249986c07c9703671175ca63/scripts/waalt/connectors/coseme.js#L678

Creo que con ese cambio ya queda arreglado y se puede hacer merge. :)

Podrías comentarme en donde esta la URL que procesa con la geolocalización?

[2014-01-08 01:31] Gioyik commented on #186
Dejo que hagas los cambios tu para no pisarnos luego entre Pull Request.

[2014-01-08 01:50] Gioyik commented on #192
@aesedepece el icono deberia estar antes y despues de que se descargue no? O con el :after basta?

[2014-01-08 01:52] aesedepece commented on #192
Sí, yo creo que debería estar siempre. Con `:after` lo que te ahorra es tener que añadirle el icono mediante javascript en función de si es vídeo o no; directamente lo añade CSS en función a la clase o a `data-type`.

[2014-01-08 01:54] Gioyik commented on #192
Y si usamos :after y :before?

[2014-01-08 01:56] aesedepece commented on #192
En definitiva ambos son lo mismo ;)

[2014-01-08 01:58] Gioyik commented on #192
Jajajjaja me he reido con esa. Entonces, hacemos por Javascript que agregue una clase y por ahí le mandamos el icono?

[2014-01-08 02:03] aesedepece commented on #192
Molaría algo como:

[code]

Y luego:

[code]

[2014-01-08 02:14] Gioyik commented on #192
Y como hariamos para que no pase lo mismo que en #189. Algo como?

this.core.media = type || false;

[2014-01-08 02:16] aesedepece commented on #192
No haría falta hacer nada al respecto si el `li.data` está dentro de la comprobación de que es multimedia de `message.preRender`.

[2014-01-08 02:27] Gioyik commented on #192
Va voy hacer el commit con el fix

[2014-01-08 02:38] aesedepece commented on #168
I think this is done. Further works might be done in order to improve UX (e.g. progress bar instead of notification).

[2014-01-08 02:38] #168 closed, assigned to aesedepece

[2014-01-08 02:39] aesedepece commented on #173
¿Esto ya está hecho, cierto?

[2014-01-08 02:43] Gioyik commented on #173
No se si para el envio de archivos ya esta hecho, que yo sepa ya esta hecho cuando se reciben imágenes. Voy a revisar.

[2014-01-08 02:44] aesedepece commented on #160
This is not happening any more as of 0.2.5 after solving #166 ;)

[2014-01-08 02:44] #160 closed, assigned to nobody

[2014-01-08 02:54] Gioyik opened #194 "Testing Loqui on production devices"
Most of the errors in Loqui are present in production devices like the ZTE Open and Alcatel One Touch Fire. I have one of both so I will test to be prepared for probably issues from users that buy those phones and install Loqui there.

[2014-01-08 05:13] #180 closed, assigned to Gioyik

[2014-01-08 06:29] Gioyik commented on #186
No me hagas con lo de la url, ya he visto donde la has puesto. :)

[2014-01-08 07:06] Gioyik commented on #192
Ya hice un pull request con los cambios pero aun no lo he probado aunque me surgen las dudas. Esto solo aplica cuando se reciben mensajes? (supongo que si) que hay de cuando es uno quien envia el archivo, tambien tendria que aparecer almenos por estetica, no?

Otra cosa de la que me di cuenta es que sea video o imagen siempre va arrojar:

[code]

Ya que se uso la misma funcion para que genere una

[2014-01-08 08:30] achintangal commented on #181
I have the same problem too.
@Gioyik , it doesn't seem like their server problem, I use their service daily on my machine via pidgin.
btw, I am using firefox 1.1.

[2014-01-08 10:15] aesedepece commented on #192
Si directamente se añade el `data-media-type` al `ii` y no a la imagen en sí desde `message.preRender`, se puede distinguir perfectamente entre vídeo y foto.

[2014-01-08 10:18] aesedepece commented on #181
There are reported problems when connecting to some servers:
- riseup.net
- kdetalk.net

I have yet to investigate what's special in that servers and why they refuse connections from Loqui.

[2014-01-08 11:45] DiegoErnesto opened #197 "Error de grabación?"
Me he dado cuenta (ver 0.2.4), que en algunas conversaciones, mientras tengas el chat abierto, se muestran todos los mensajes (los que recibes y los que envías), pero sin embargo, a partir de cierto momento, al salir de ese chat y volver a entrar los últimos mensajes ya no se "recargan", y todo lo que se escriba o llegue, aunque se vea en el chat , al volver a salir y entrar, ya no existe.., es co

[2014-01-08 11:47] DiegoErnesto commented on #197
por ahora solo he tenido conversaciones lo suficientemente largas para que pase con Whatsapp

[2014-01-08 12:02] DiegoErnesto commented on #197
es posible que el Issue #158 sea lo mismo,
pero como el chat no se queda vacío, no estoy seguro

[2014-01-08 13:49] aesedepece opened #198 "Coseme methods misuse causing some issues"
The `this.events.onContactTyping` event is intended to process incoming typing notifications (CSN), so you shouldn't call `typing_send` from it.

The same happens with `this.events.onContactPaused` and `this.events.onMessageDelivered`. They are just listeners and need no answer!

Only the "success events" such as `this.events.onUploadRequestSuccess` should make answers or perform calls with `MI.ca

[2014-01-08 14:51] Gioyik commented on #197
Confirmed! This happens to me not only with Whatsapp accounts. :)

[2014-01-08 14:53] Gioyik commented on #198
Fixed!

[2014-01-08 14:53] #198 closed, assigned to aesedepece

[2014-01-08 15:00] Gioyik commented on #186
Ya ha quedado bien con los ultimos cambios?

[2014-01-08 15:10] aarizkuren commented on #186
Sí, ya esta funcionando correctamente

[2014-01-08 15:10] #186 closed, assigned to nobody

[2014-01-08 15:49] Gioyik commented on #192
esta bien en donde he puesto el `data-media-type`?

r ----> @aesedepece

[2014-01-08 16:02] aesedepece commented on #192
Sí, así está ideal. Haz el PR para verlo todo de un vistazo y probarlo, que por ejemplo el commit 9c6b82a4f9695adda4fa6faec9d50b5896f44e55 no esta referido desde este hilo.

[2014-01-08 16:03] aesedepece commented on #192
Ni caso, acabo de ver que el PR es el #195 ;)

[2014-01-08 16:20] aesedepece opened #201 "TypeError: html is null"
A la hora de recibir una imagen, hay ocasiones que ocurre lo siguiente:

[code]

El fallo salta en `message.js:161`

[2014-01-08 16:26] Gioyik commented on #201
CC'ing #192

[2014-01-08 16:27] Gioyik commented on #192
Podrias pasarme una captura de como estas viendo la imagen play.png?

[2014-01-08 16:27] aesedepece commented on #201
This has nothing to do with #192 xD

[2014-01-08 16:32] Gioyik commented on #201
Jajajajjaa Hasta ahora me vengo a dar cuenta, ultimamente los issues, los pull request y todo Github me anda trolleando y me muestra cosas que luego se desaparecen y se convierten en otras totalmente distintas. :P

[2014-01-08 17:16] aesedepece commented on #192
Es que aún no he podido probar la recepción de vídeo.

Ya de paso, ¿el envío de vídeo y audio os está funcionando? Parece que el archivo se sube pero cuando se produce el success no envía el correspondiente mensaje multimedia.

[2014-01-08 17:17] Gioyik commented on #192
Me di cuenta que deberia ir el data-media-type en el div dentro del li y no en el li directamente.

r -------> @aesedepece

[2014-01-08 17:27] Gioyik commented on #192
Bueno sigue sin funcionar, creo que el no dormir me ha puesto mal. Hice otro commit al Pull Request #195. Podrias revisarlo?

[2014-01-08 17:46] Gioyik commented on #192
A mi el video me esta funcionando, me llega y lo puedo reproducir, el que me envian y no me llega es el audio y la localizacion.

[2014-01-08 17:55] Gioyik commented on #192
El envio de video y audio si me funciona, me aparece que lo sube todo completo, mas no lo muestra en el chat. Supongo porque aun no hemos hecho nada para que se muestre como lo ha hecho @aarizkuren con las imagenes. Y aun mas con mi ultimo commit en #195 pues menos se ve, porque parece que he roto los mensajes de media-type con ese ultimo commit.

[2014-01-08 18:16] #201 closed, assigned to nobody

[2014-01-08 19:01] Gioyik commented on #192
Bueno ahora todo esta funcionando bien, sin ningun problema, solo que el video que se recibe lo toma como data-media-type="image" por las razones, que segun creo yo, explique mas arriba antes, en los comentarios.

https://github.com/loqui/im/issues/192#issuecomment-31810017

[2014-01-09 12:56] aesedepece commented on #192
A mí me sigue pasando lo mismo de antes: mirando en el debugger se ve que cuando envío un vídeo o un audio, se hace la petición para subir el archivo, se recibe la URL, se sube el archivo pero una vez subido no se envía el correspondiente mensaje al contacto.

[2014-01-09 13:08] aarizkuren commented on #192
Si a la tarde-noche tengo un rato, lo miro yo, sino mañana

[2014-01-09 13:24] DiegoErnesto commented on #197
he estado haciendo varias pruebas con whatsapp y hangouts, y el problema empieza desde el mensaje 30
en todos los casos

[2014-01-09 13:42] aesedepece commented on #197
Ok, el número 30 no es casual, pues 30 son los mensajes que se guardan seguidos en memoria.
Vamos a revisar la función que se encarga de guardar los mensajes porque debe de haber algún problema con esto.
Gracias por avisar.

[2014-01-09 16:04] DiegoErnesto commented on #197
asyncStorage...
me estoy pegando con este js  para entender como funciona.. supongo que es aquí después de seguir..
desde chat.js (account.save()--> App.smartupdate() -->Store.put()-->asyncStorage.setItem()...)

[2014-01-09 16:38] Gioyik commented on #197
https://github.com/loqui/im/blob/master/scripts/loqui/app.js#L43
https://github.com/loqui/im/blob/master/scripts/loqui/chat.js#L64

[2014-01-09 21:28] aarizkuren commented on #197
@aesedepece cual es el comportamiento que tiene que haber aquí?
me explico, tal como creo que esta hecho ahora, cuando pasa del limite de 30 mensajes, se borra el 1º para meter el ultimo. es asi?
no seria mejor, almacenar todos, pero a la hora de abrir el chat, recuperar unicamente los ultimos 30? incluso si se subiera por la ui del chat hasta arriba, poner un enlace de "ver mas" y recuperar los s

[2014-01-09 21:46] aesedepece commented on #197
Los mensajes se guardan en el storage en bloques de 30, es lo que se llaman "chunks".
Cuando entras en una conversación, carga y pinta el último chunk de esa conversación.
Si se recibe/envía un mensaje y hay hueco en el último chunk de la conversación, se añade el mensaje a ese mismo.
Por el contrario, si al enviar/recibir el último chunk está lleno, se crea un nuevo chunk y se añade a la lista de

[2014-01-09 21:49] aesedepece commented on #197
Me faltó decir que en el caso de que el último chunk tenga menos mensajes que la mitad del tamaño máximo (30), automáticamente se carga y pinta también el penúltimo chunk.

BTW, el límite está puesto en 30 porque garantiza que al acceder a una conversación se van a poder ver bastantes mensajes pero que no tarde demasiado en pintarlos.

[2014-01-09 21:52] DiegoErnesto commented on #197
entonces no es un problema de guardar, si no de mostrar?
y lo que hace cada vez que entras en el chat es mostrar solo el primer bloque en vez del último?

[2014-01-09 21:54] aesedepece commented on #197
Claro, el que muestra es siempre el último bloque, que es el más reciente.

[2014-01-09 22:04] aarizkuren commented on #197
Ok ahora comprendo, habia entendido mal la funcion :S

el PR no vale :P

[2014-01-10 01:38] aarizkuren commented on #192
Con el ultimo PR he puesto que al guardarse un archivo multimedia guarde la imagen del preview con una class distinta segun cual sea. (.image, .video)

Ahora solo falta apañar el css para que se vea como se queria en un principio

[2014-01-10 23:32] aarizkuren commented on #192
Con el ultimo cambio de @Gioyik esta arreglado esto :D

[2014-01-10 23:32] #192 closed, assigned to Gioyik

[2014-01-10 23:39] #173 closed, assigned to nobody

[2014-01-11 04:02] aesedepece opened #211 "Notifications for multimedia messages show "undefined""
Notifications for multimedia messages show "undefined".
Correct text should be "Has sent you a [video/audio/picture/whatever]"

[2014-01-11 04:05] aesedepece opened #212 "If you tap the play icon in a video message, it won't play"
Video messages are being downloaded and played only if you tap on the thumbnail picture but not on the play icon itself.

[2014-01-11 04:08] aesedepece opened #213 "Download progress bar"
We need a download progress bar, at least for letting the user know that the picture/video/audio has started to be downloaded. For the sake of UX!!!

I assign this to myself if you don't care :wink:

[2014-01-11 04:10] aesedepece commented on #194
Thanks, since I only own Geeksphones... and they tend to trick us, you know.

[2014-01-11 04:15] aesedepece commented on #176
Respecto al punto 3, la guía de estilo, intentamos seguir la de mozilla:
https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style#JavaScript_practices

Ejemplo:

[code]

[2014-01-11 04:31] aesedepece opened #214 "You can't open a media message you have sent"
If you tap on a picture/video/audio you have sent, it doesn't open. This happens because it tries to open `/loqui/files/TIMESTAMP+RANDOM.ext` instead of the original path of the file.

Do you think that we should store the original path in the media message so we can open it afterwards, or maybe just copy the file to the `/loqui/files/` path?

[2014-01-11 05:03] Gioyik commented on #213
What about if we use the UX that I used when we upload something?

https://github.com/loqui/im/blob/master/scripts/loqui/connectors/coseme.js#L566

This could be an easy solution and we can save the UX surprises for other versions. :P

[2014-01-11 05:07] Gioyik commented on #176
Cof, cof, cof... Alguien por ahi dijo una vez que se iba a encargar de comentar todo el codigo para que fuera mas entendible, no @aesedepece?

[2014-01-11 05:09] Gioyik commented on #214
Copy the file to `/loqui/files/` path, not sure why, but Whatsapp do it and other clients too.

[2014-01-11 05:35] Gioyik opened #215 "It's back!"
Issues #149 and #146 are back in latest version from master.

[2014-01-11 11:28] aesedepece commented on #176
Ooops... ya lo pillo :+1:

[2014-01-11 11:37] aesedepece commented on #215
Not for me. Anyone else?

[2014-01-11 11:41] aesedepece opened #216 "Don't repaint everything upon message send/receive"
Currently, every time you send/receive a message, the whole chats list is repainted, and even the avatars are reloaded from memory.

The only thing to be updated upon send/receive should be the "last message" line in the chats list element.

This was a provisional behaviour but it has survived to many versions and now should be dropped at last.

[2014-01-11 11:50] DiegoErnesto commented on #215
In simulator firefox OS yes for me

[2014-01-11 11:54] DiegoErnesto commented on #215
But is diferent there are one chat for evry msg for The same contact and evry chat has only one msg

[2014-01-11 16:24] #197 closed, assigned to nobody

[2014-01-11 16:26] #211 closed, assigned to aesedepece

[2014-01-11 21:28] DiegoErnesto commented on #215
curioso, solo pasa con un chat, y siempre el menor en orden de creación, con el resto lo hace bien

[2014-01-11 21:30] aesedepece commented on #215
¿Podéis describir el problema actual en un sólo párrafo? Gracias :)

[2014-01-11 22:29] #216 closed, assigned to aesedepece

[2014-01-12 02:47] DiegoErnesto commented on #215
encontré la línea que está mal,
es en message.js en la línea 111 , en la función addToChat
el  if (chatIndex > 0) debería ser  if (chatIndex >= 0).

[2014-01-12 05:13] aesedepece commented on #215
Con razón a mí no me ocurría el problema: ese mismo bug lo solucioné ayer con el commit d817701aa16ff4fb44efd89e4c75e4d51b1e35fb.
Así que salvo oposición, puede considerarse cerrado. Gracias @DiegoErnesto por el seguimiento :)

[2014-01-12 05:13] #215 closed, assigned to nobody

[2014-01-12 10:43] drasojem opened #222 "[XMPP] Using ICQ transport doesn't show the nicknames"
Hello,
I'am running my own ejabberd server with pyicqt icq transport.
When I connect to it with Pidgin it displays the icq nicknames of my contacts,
but when i try to connect with loqui IM my conntact are named by the jid of the icq transport (icqnr@domain-of-icqtransport).
Is this a bug / missing feature in loqui or a misconfiguration?
I'm fairly new to all this stuff and don't know wich logs or

[2014-01-12 14:07] aesedepece commented on #222
We have never tested transports in LoquiIM, so it's perfectly feasible that we missed something.
I'll make some tests and see where we did wrong.

Thanks for reporting!

[2014-01-12 21:59] vitalyster commented on #222
0) XMPP specifications does not define common way to sync contact nicknames with gateways/transports.
1) If Pidgin receive nicknames somehow - from user vcards, from presence updates (XEP-0172), RIE packet (XEP-0144) - it should store nicknames in XMPP contact list (roster), and all other clients will use it - so it is Pidgin's bug
2) PyICQt send nicknames using XEP-0172, but have bug in their imp

[2014-01-13 17:22] rafaelmr2 opened #223 "XMPP Priority"
Default resource priority is higher than desktop. Is there plans to change this? The applicattion has plans to support XEP-0168 (Priority)?

http://xmpp.org/extensions/xep-0168.html

[2014-01-13 17:41] aesedepece commented on #223
Default priority is currently 127, which is the maximum value as defined by RFC3921 2.2.2.3:

_The OPTIONAL <priority/> element contains non-human-readable XML character data that specifies the priority level of the resource. The value MUST be an integer between -128 and +127. A presence stanza MUST NOT contain more than one <priority/> element. The <priority/> element MUST NOT possess any attribu

[2014-01-13 18:22] aesedepece opened #225 "XMPP status changing is broken"
`TypeError: account.connector.presenceSet is not a function`

[2014-01-14 00:24] rafaelmr2 commented on #223
Sounds great. :)

[2014-01-14 15:04] #225 closed, assigned to aesedepece

[2014-01-14 15:07] Gioyik commented on #223
Is :+1:  to me.

[2014-01-14 18:25] #223 closed, assigned to nobody

[2014-01-14 19:11] Gioyik commented on #212
Como hacemos para asignarle una accion ya que esta inserada con :after la imagen?

[2014-01-14 19:23] aesedepece commented on #212
Pensando, pensando... he recordado un truquillo de CSS que nos podría valer:

[code]

Lo que hace es volver al elemento insensible a los clicks, de modo que lo atraviesan y van a parar a la imagen, que es la que tiene el evento. Creo que puede funcionar.

[2014-01-14 19:24] Gioyik commented on #212
Voy a probarlo y si algo, hago Pull Request

[2014-01-14 22:25] gps1mx commented on #96
Me parece que la forma de solucionar el problema sería modificar /scripts/goles/countries.json en la línea 136 y cambiar "52" por "521".

[2014-01-15 03:41] Gioyik commented on #212
hice el commit con el fix en el mismo PR de los emoji ya que hice los cambios en master y se me vuelve todo una nada si intento hace cambios con otras branches.

[2014-01-15 04:05] Gioyik opened #228 "Downloaded audio is not reproduced"
You receive an audio message and it's downloaded but when it finish the download it doesn't reproduce the audio in the audio player.

[2014-01-15 04:08] Gioyik opened #229 "null Object for video"
You receive a video message and the console shows you this:

   "SAVING" "loqui/files/20140114T225407ZAGULL.mp4" tools.js:7
   null [null, undefined]

[2014-01-15 04:26] Gioyik commented on #229
Added to this, the video has data-type-downloaded=false, and i got this trying to download it again:
<query xmlns="jabber:iq:last" seconds="1737">
</query>
</iq>
 ~ BinaryReader.prototype._readNextTree@app://89c8d896-e637-452e-a7f3-097ae7ba0ebf/scripts/anonymous/coseme.js:4639 [BinaryReader]" coseme.js:3377
"SAVING" "loqui/files/20140114T225407ZAGULL.mp4" tools.js:7
"SAVE ERROR" DOMError {name: "N

[2014-01-15 04:39] Gioyik commented on #229
seems that is trying to save the video with the same name. Everything is happening thanks to the null. I think!

[2014-01-15 09:24] aarizkuren commented on #212
Buenas,
Ando bastante liado esta semana y no he podido acabar esto,
aunque lo tengo perfilado ya.

El metodo este de css a mi no me funciona, y yo habia pensado en
coger el evento click del div padre (data-type:video) y hacer algo asi:

[code]

Cuando tenga un rato libre, lo paso :P

saludos

[2014-01-15 10:51] aesedepece commented on #96
Para más info: #99

[2014-01-15 10:54] aesedepece commented on #228
Maybe some function changed with the last Coseme update (565da21c578c9a84f04d6a24765880e81c92cece) or we broke something somewhere else.

[2014-01-15 10:56] aesedepece commented on #229
El error "NoModificationAllowedError" quiere decir que ese archivo ya lo has descargado, luego el problema es que no se ha llegado a marcar como `downloaded=true` por la razón que sea.

[2014-01-15 13:51] Gioyik commented on #229
Sin embargo el archivo al descargarse muestra un null [null, undefined], y no un Object como deberia.

[2014-01-15 14:45] pravi commented on #184
@Gioyik is these some documentation on how to collect logs?

[2014-01-15 14:45] pravi opened #230 "[Kontalk] support proposal"
It is a natural choice for a Free Software messenger app like Loqui. See http://kontalk.org/

[2014-01-15 17:08] aesedepece commented on #230
They are moving to XMPP, right? → As soon as they do, it will be supported straight-away ;)

[2014-01-15 17:22] pravi commented on #230
you'll still need to implement their xmpp extension, see http://code.google.com/p/kontalk/wiki/XMPP

edit: only server side will need this extention

[2014-01-15 17:26] pravi commented on #230
The landing page could be different as we just need the phone number like whatsapp and server details could be auto-filled when they choose kontalk.

[2014-01-15 17:40] aesedepece commented on #230
Oh!!! They have drawed a good bunch of quite interesting extensions, as seen here → http://code.google.com/p/kontalk/wiki/XMPPExtensions

I think that, in example, the one the related to PUSH could be really useful... so they and we should join forces to turn that "non-standard" extensions into XEP documents.

[2014-01-15 17:44] aesedepece commented on #184
You have to enable "debug mode" from settings menu or run the following command from App Manager:
-  `App.settings.debug = true; App.smartupdate('settings')` for v0.2.4
-  `App.devsettings.debug = true; App.smartupdate('devsettings')` for v0.2.5 (master)

Then you can see logs in App Manager or by using the oldie `adb logcat | grep GeckoConsole`.

[2014-01-15 22:00] aarizkuren commented on #228
A mi esto no de da fallo, se reproduce bien, lo que si he visto que me ocurre, es que cuando te envian el audio a un grupo, lo trata como si te lo enviase 1 persona y te lo mete o crea un nuevo chat con esa persona

[2014-01-16 00:07] #213 closed, assigned to aesedepece

[2014-01-16 00:07] #229 closed, assigned to nobody

[2014-01-16 05:22] #212 closed, assigned to aarizkuren

[2014-01-16 06:45] pravi commented on #184
my usb ports are broken right now, so can't test on my ZTE Open. But I was trying it on fxos simulator and now I can't even open the profile page to delete the contact.

I go to contacts -> click on the contact I want to delete -> try to click on the top right icon

but nothing happens. I will try to collect the logs of this and post it.

[2014-01-16 08:01] pravi commented on #184
ok, now I got to reproduce the error. The log output is,

13:29:48.506 Expected ':' but found ']'.  Declaration dropped. index.html
13:30:27.919 TypeError: this.connection is undefined xmpp.js:202

[2014-01-16 11:18] aesedepece commented on #184
Is the contact of that chat in your roster?

[2014-01-16 14:40] daniele-athome commented on #230
Hello guys! It's nice to see interest building up around Kontalk. I really would like to make some custom extensions into XEPs (especially the push capability extension), but I lack some skills on other push notification systems (ie iOS, Blackberry, etc... a XEP like this would be useful if it'd support any kind of push notifications in a reasonable way). I've never drafted a XEP... would anyone b

[2014-01-16 16:50] JCVega opened #235 "Consola de Trazado"
Cuando ejecuto en mi telefono Loqui IM, no funciona de la misma manera que en el Simulador.
Hice una especie de consola, para visualizar las salidas de Tools.log(), con esto me ayuda en el trazado de la aplicacion. No se si a ustedes les seria util, esto para mejorar la programacion y la interfaz, para mi uso reo que no le cambiaria mucho.
Anexo algunas imagenes.
![screen shot 2014-01-15 at 6 24 3

[2014-01-16 16:55] aesedepece commented on #235
Explicación de por qué no funciona en el teléfono: has utilizado atributos `onclick` inline, que están prohibidos por la CSP que aplica el teléfono al tratarse de una aplicación de tipo "privileged".

En lugar de usar `onclick`, puedes asignar los eventos desde el archivo `bindings.js` y verás como no dan ningún problema.

[2014-01-16 17:11] willyaranda commented on #235
Y por qué usas esa consola en el simulador? Usa la que está en Firefox directamente ;)

[2014-01-16 17:41] JCVega commented on #235
Orale no creí que fuera privilegiado `onclick`, de echo estaba pensando en cambiarlos por los `tab` de tapquo, en unos momentos los agrego desde `bindings.js`

En el simulador utilizo el Firebug. Pero cuando ejecuto la aplicacion en mi telefono (Loqui IM 0.2.4 desde el MarcketPlace), funciona muy diferente que en el simulador, en el simulador me manda y recive mensajes sin problemas, si cierro la

[2014-01-16 18:37] Gioyik commented on #235
El Alcatel aun no recibe la v1.2 asi que no puede hacer uso del App Manager aun. Sin embargo puedes usar el simulador de siempre, que funciona sin problemas y usas la herramienta connect:

https://developer.mozilla.org/es/docs/Tools/Simulador_Firefox_OS#Activar_el_registro_de_consola

A mi me parece una buena funcion para el modo desarrollador, aveces tengo que probar algo o sale algun error y ten

[2014-01-16 18:53] Gioyik commented on #230
It's an interesting project, and I think that @aesedepece should be really interested to work on a draft related to XEP's (he has more experience on this). I think that now we need a different way to communicate us different to issues, something to discus with other developers (topics like this),could be a public mailing list. And other for us, sure. ¬¬ (non-public).

[2014-01-16 19:08] JCVega commented on #235
Lio que me he metido por tener una version diferente del simulador. voy a checar eso porque el Alfa no  lo incluye
Falta componerle mucho, incluso la legibilidad del codigo, si creen que les seria util lo voy a mejorar, no se si tengan alguna sugerencia más

[2014-01-16 19:08] #235 closed, assigned to Gioyik

[2014-01-16 19:13] Gioyik commented on #235
Como dije, como feature a mi me parece bien, incluso me parece bueno poder ver el log sin tener que conectar a un equipo. Puedes hacer un Pull Request con el codigo y vamos viendo que cambios hacerle y como te ayudamos. Aunque falta el voto de los demas, por mi ya tienes un :+1:

r -----> @aesedepece @aarizkuren

[2014-01-16 20:10] JCVega commented on #235
Pregunta, porque cambio de Waalt a Loqui.
Listo el Pull Request en `master`.

[2014-01-16 20:12] aesedepece commented on #235
La explicación está en la Política de Privacidad [https://marketplace.firefox.com/app/loqui/privacy] :

_Loqui IM es desarrollado por una comunidad de programadores de diversos países del mundo que aportan su granito de arena de forma desinteresada para crear una aplicación de chat totalmente libre, abierta y neutral._

_El papel de la empresa Waalt Communications (Waaltcom) es el de dotar al proy

[2014-01-16 20:38] pravi commented on #184
yes, I added it in my phone's loqui (actually I mis spelt the address so I wanted to remove). I could see it on emulator's loqui as well. So it is indeed present in the roster, I also checked it in empathy on the desktop.

[2014-01-16 21:15] JCVega commented on #235
Muchas gracias por la informacion, bastante interesante.

[2014-01-16 22:37] daniele-athome commented on #230
We could use the xmpp standards mailing list at standards@xmpp.org that is actually the place where xmpp discussions take place. But we should first be prepared for it... we should at least study a bit of APN and Windows Phone notification APIs, just to see what parameters and other stuff they need.
If you want Kontalk has also 2 Google groups: kontalk-devel and kontalk-users (a google account is

[2014-01-17 19:30] CodingFree opened #237 "Botón del menú."
Hola,

Cuando se pulsa el botón del menú, ese que es como tres rallitas horizontales, sufre un pequeño rebote (al menos en mi dispositivo) que hace que el botón crea que ha sido pulsado dos veces. Al ocurrir eso, se despliega el menú y se cierra rápidamente.

Para que funcione normalmente, por lo general tengo que pulsar el botón, esperar un segundo y soltar el botón.

[2014-01-17 21:23] JCVega commented on #237
Bastante curioso, seria bueno que proporcionaras el modelo de tu telefono, la versión de Loqui.

[2014-01-17 21:25] CodingFree commented on #237
Geeksphone Keon, usando B2G 1.4, latest release tanto de B2G como de Loqui.

[2014-01-17 21:42] Gioyik commented on #237
Esto me ha pasado algunas veces solo cuando he agregado alguna cuenta que tiene bastantes contactos a sincronizar por lo que la interfaz se queda un poco colgada y los toques reaccionan un poco despues. En que situaciones te pasa esto?

[2014-01-17 21:52] CodingFree commented on #237
Pensaba que ocurría cuando la aplicación estaba muy poco cargada, al contrario de lo que decías Gio, pero me parece que es justamente tal y como indicas. Voy a intentar colgar un poco la interfaz.

[2014-01-17 21:54] Gioyik commented on #237
Por lo general se cuelga un poco cuando son muchos los contactos que tiene que sincronizar. Prueba conectando una cuenta con muchos contactos.

[2014-01-18 01:35] aesedepece commented on #228
Esto es porque hay algún problema con `coseme.processAudio`. Las fotos y vídeos funcionan porque usan `coseme.processFile`. Creo que deberíamos unificar los tres en `coseme.processFile` para evitar problemas.

[2014-01-18 16:31] Gioyik opened #242 "Sonido infinito en Whatsapp"
Hay momentos en los que Whatsapp empieza hacer el sonido de Connected demasiadas veces, casi infinitas. Parece que es a causa de los cambios hechos en #203, la cuestion es que reproduce el sonido cada segundo y muestra la notificacion de Autenticacion fallida, lo cual es molesto, Whatsapp no conecta y el telefono suena como si fuese a explotar en cualquier momento. :P

[2014-01-18 17:23] Gioyik commented on #242
Cuando pasa esta situacion Loqui con Whatsapp queda desconectado y los mensajes que se envian pues nunca llegan o se reciben.

[2014-01-18 17:25] aesedepece commented on #242
A mí me ha ocurrido alguna vez también y hasta que no cierras y vuelves a abrir sigue en ese bucle perverso.

Quick fix: si recibe aviso de que el socket ha fallado tres veces seguidas (`connector.events.onDisconnected`), que reinicie la app.

[2014-01-18 17:30] Gioyik commented on #242
Va me pongo a ello. Como seria para decirle que a las 3 reinicie? Tengo la duda es en saber como hago para decirle que son 3 los intentos no mas.

[2014-01-18 18:07] Gioyik commented on #242
Me habia acordado como hacerlo y estaba apunto de enviar el commit :P Ahora veo que has hecho un PR con el fix. :+1:

[2014-01-18 20:24] aesedepece opened #249 "Picture in group profile is owner's one"
If you open a WhatsApp group profile, the picture shown is its owner's one instead of the one from the group itself.

[2014-01-18 20:28] aesedepece opened #250 "Infinite scroll in chats with media messages is a bit shitty"
We have yet to figure out a better infinite scroll algorithm. There must be thousands of snippets and libraries for this, so let's do some research.

[2014-01-18 20:30] aesedepece commented on #191
Duplicate of #181

[2014-01-18 20:30] #191 closed, assigned to nobody

[2014-01-18 21:03] Gioyik opened #251 "Group chats are not showed correctly"
Los mensajes son de distintas personas. A. Crespo me ha pasado la imagen.

![index](https://f.cloud.github.com/assets/1834718/1948213/f6572e40-8083-11e3-882b-7a0b7479c27f.png)

[2014-01-18 21:06] aesedepece commented on #251
Esto supongo que es con la 0.2.4, ¿verdad?
Si es así, ya quedó arreglado hace semanas.

[2014-01-18 21:09] Gioyik commented on #251
No estoy seguro, si mal no recuerdo que dia probe con la master y tenia este problema. Voy a revisarlo.

[2014-01-19 04:55] Gioyik commented on #251
Parce que si, es la version anterior porque en la ultima de master todo parece bien.

[2014-01-19 04:55] #251 closed, assigned to nobody

[2014-01-19 05:18] Gioyik opened #253 "Add feature to send Geolocation position"
We know how to receive it, now it's time to create a way to send it.

[2014-01-19 05:47] Gioyik opened #254 "Video and Audio not sent or displayed in chat list"

[2014-01-19 14:11] aesedepece commented on #253
:+1: I agree, we should support both receiving/sending.

BTW: audio and video sending is working for you? It never worked for me in B2G1.4.0 on GP Peak.

[2014-01-19 16:19] Gioyik commented on #253
It shows that upload the audio and video, but it never send it to the contact and it's not showed in the conversation as the images when you send one.

[2014-01-19 16:20] Gioyik commented on #254
The audio and video is not sent.

[2014-01-20 04:51] Gioyik commented on #242
Aun no esta resuelto esto, el problema continua. Llegue a contar 50 veces en las que se reprodujo el sonido y Loqui no se reinicio ni nada, como se supone deberia hacerlo.

[2014-01-20 08:02] iacchi commented on #185
I can confirm this, same version.

[2014-01-20 11:07] aesedepece commented on #242
Cierto, a mí me funciona el parche la mayoría de las veces pero sí que en una ocasión volvió a ocurrir el bucle loco. Voy a echarle un vistazo...

[2014-01-20 11:10] aesedepece commented on #185
By now, you have to add the contact in your phone address book and then press the "sync" button in the upper right side of the contacts list in Loqui. I know it's not convenient, we'll improve it asap.

[2014-01-20 11:46] iacchi commented on #185
That would have been easy, and I've tried it already. It still doesn't work.

[2014-01-20 14:32] Gioyik commented on #242
Hoy por primera vez me ha funcionado, pero tomo mas de 3 veces para se reiniciara, el resto de las veces anteriores nunca funciono. Lo que alcanzo a ver en la consola cuando pasa esto es:

CONNECTED
RECONNECTED
CONNECTED
RECONNECTED
CONNECTED
RECONNECTED
CONNECTED
RECONNECTED
CONNECTED
RECONNECTED

Ademas, ya se como reproducirlo en mi caso. Simplemente desactivo el WiFi, vuelvo y lo activo, Loqui

[2014-01-20 21:05] bdcomp opened #255 "[WhatsApp] refresh contacts button not works"
0.2.4 on GP Peak, B2G 1.1.1.0hd-GP (stable).

Whatsapp refresh contacts button looks like not been clickable (as there is no indication on/after click) or just not works (as the list still show many deleted on the phone contacts).

[2014-01-21 01:25] Gioyik commented on #255
Yes, this is solved, see #174. But I am going to test it again, because I was seeing that on production devices using the latest on master the button is not working, maybe, we have other CSP violation.

[2014-01-21 01:34] Gioyik commented on #242
Esto es lo que se ve por Logcat:

I/Gecko   ( 4179): TCPSocket: content process: true
I/Gecko   ( 4179):
I/Gecko   ( 4179): TCPSocket: window init: 4
I/Gecko   ( 4179): TCPSocket: startup called
I/Gecko   ( 4179):
I/Gecko   ( 4179): TCPSocket: Host info: c2.whatsapp.net:443
I/Gecko   ( 4179):
I/Gecko   ( 4179): TCPSocket: SSL: false
I/Gecko   ( 4179):
I/Gecko   (  140): TCPSocket: content process:

[2014-01-21 01:48] Gioyik commented on #255
I can't see any CSP violation in logcat, in the validator important violations are not showed.

https://marketplace.firefox.com/developers/upload/7dd7aa69f199447fb9d557d076511163

[2014-01-21 06:10] bdcomp commented on #255
If so, I will retest this issue on v0.2.5

[2014-01-21 10:06] daniele-athome commented on #230
I know this isn't the right place, but since no one subscribed to other lists... :P
http://mail.jabber.org/pipermail/standards/2014-January/028482.html

[2014-01-21 22:01] aarizkuren commented on #254
Los archivos se suben al servidor de whatsapp (imagino) pero por lo que sea no los envia al destinatario, y por supuesto no devuelve nada en el callback. No he mirado si devuelve algo en el callback de error, pero creo que no llega nada.

A ver si tengo esta semana algo de tiempo para dedicarle, pero a ojo, pienso que el problema esta en coseme.

saludos

[2014-01-22 00:51] aesedepece commented on #254
Yo estoy con este tema. No es problema de coseme, tan sólo nos hemos dejado algunas cosas por coser con vidUnblob y demás :wink: