[2014-01-22 02:45] aesedepece commented on #254
A ver, el problema es con las miniaturas. He hecho una función para extraer una miniatura del vídeo, pero de poco sirve porque al como la etiqueta <video> no soporta 3gp, con la mayoría de los vídeos no va a servir de nada.

Solución por ahora: usemos una miniatura predeterminada para vídeo y otra para audio. ¿Como lo veis?

[2014-01-22 02:51] Gioyik commented on #254
Podríamos hacer lo mismo que hice con el audio y localización, un fondo blanco y el icono en el centro, no?

[2014-01-22 02:53] aesedepece commented on #254
Sí, es exactamente lo mismo pero para los mensajes salientes en lugar de los entrantes.

[2014-01-22 02:54] aesedepece commented on #254
Mañana por la mañana lo termino y mando el PR.

[2014-01-22 02:57] Gioyik commented on #254
Si es así por mi :+1:. Otra pregunta, tenemos el mismo problema de los 3gp cuando se reciben?

[2014-01-22 03:37] aesedepece commented on #254
No, porque lo que hace es abrirlo con la app de vídeo que por razones que desconozco sí que es capaz de reproducirlos.

[2014-01-23 17:28] Gioyik commented on #176
Esto ya lo podemos discutir en la lista. :)

[2014-01-23 17:28] #176 closed, assigned to nobody

[2014-01-23 18:59] #254 closed, assigned to aesedepece

[2014-01-23 19:03] aesedepece commented on #228
Este error creo que ya no está presente, al menos para mí, ¿@Gioyik, cerramos?

Y el que menciona @aarizkuren del audio en los grupos ya quedó corregido por el commit d5db505a896407cbbabc691c5da4cc447047fead.

[2014-01-23 19:06] Gioyik commented on #228
Por ahora todo me va bien. Cerramos :+1:

[2014-01-23 19:11] #228 closed, assigned to nobody

[2014-01-23 20:45] aesedepece commented on #253
I am fixing this (nearly complete now), but I'll test it with a mock location provider, because I never got the GPS in my Peak to actually work.

[2014-01-24 04:30] bidaian opened #258 "No contacts imported (whatsapp)"
I'm runing FirefoxOS 1.3.0 on a Keon device. It is the original build. After I install LoquiIM v0.2.4 from the MarketPlace and create the Whatsapp account the list of contacts is empty. I tried to add a contact manually 59898xxxxxx@s.whatsapp.net but it does nothing, it just stays there at the same screen.

Could be a number formatting issue in Contacts? 598 is the country code for Uruguay and all

[2014-01-24 15:10] v3rlain3 opened #259 "Desconectado automatico"
en la version 0.2.5 de loqui gracias al modo desarrollador con la consola pude ver lo que pasaba, con la cuenta de facebook funcionando; pasado un tiempo (minutos) loqui se desconecta solo y no se vuelve a reconectar hasta que le das un reload.

-1000???????????@chat.facebook.com,@,-1
Disconnecting
-1000???????????@chat.facebook.com,@,-1
NEW
PUSHING,36,[object Object]
SAVING accountsCores
Disconne

[2014-01-24 23:29] aarizkuren commented on #255
Tested on 0.2.5 GP Keon, and works correctly, with B2G 1.4.0.0-prerelease
@bdcomp can you say us your testing results ? thx!

[2014-01-24 23:44] #249 closed, assigned to nobody

[2014-01-25 01:40] rafaelmr2 opened #262 "Can't login on whatsapp"
Hi,

When I try to login on whatsapp it shows 2 steps: "waiting for SMS" and "Sincronizando" quickly. And don't receive the SMS and show "0 contacts imported". I'm using Firefox OS 1.3 on Peak and the latest version from Loqui 2.5 (from github). I use the debug function from Firefox, follow:

XXX

[2014-01-25 03:59] aesedepece commented on #262
These are my conclussions from reading the logs:
- You have previously set up WhatsApp, so you don't need to receive another verification code over SMS because the your account's device ID matches the one stored in /sdcard/.coseme.id
- The login and auth processes are succesful
- Your contacts are not being imported because the https://github.com/andreasgal/PhoneNumber.js  fails to verify them as

[2014-01-25 04:05] aesedepece commented on #255
Maybe you denied "contacts" permission to Loqui and so now it can't sync to your address book.
Just in case: please check it under the "App permissions" menu in your phone's Settings app.

[2014-01-25 04:06] aesedepece commented on #259
Parece que el reconectado automático falle en el conector de XMPP.
Lo reviso, gracias.

[2014-01-25 04:10] Gioyik commented on #259
Lo sabia, la consola como feature es increible! o/

[2014-01-25 04:13] Gioyik commented on #255
I tested onnAlcatel phone and the same problem here. The thing is that the console doesn't shows nothing related to the error and the logcat doesn't shows CSP violation that could block the JavaScript.

[2014-01-25 04:14] aesedepece commented on #255
Maybe has something to do with the B2G version? We have seen API inconsistencies between versions before...

[2014-01-25 04:19] Gioyik commented on #255
Maybe, but the problem is on the reload icon button. The contacts are well synchronized but the button is the one that didn't work.

[2014-01-25 13:16] aesedepece commented on #255
Ok, so I think this is what's going on:
- _«there is no indication on/after click»_ → The "Syncing" notification is not being shown (in fact is shown and hidden after only a few milliseconds). I suppose we have to check the `Lungo.Notification.show()` is being called at the correct point.
- _«the list still show many deleted on the phone contacts»_ → The `.sync()` is very conservative at the momen

[2014-01-25 13:26] aesedepece commented on #258
Please check come of your contacts numbers against this test [1] and tell us if the national and international numbers are right. Thanks.

[1]  http://logofid.es/phonenumberjs_test/

[2014-01-25 14:27] #259 closed, assigned to nobody

[2014-01-25 14:27] aesedepece opened #265 "App crashes when trying to send big files"
This is happens because the file is stored temporally in the `Store` which, all in all, is a file.

It should be kept in volatile memory so that it can be read more quickly.

[2014-01-25 14:27] Gioyik commented on #259
@v3rlain3 Could you check if with the latest changes on master this is present?

[2014-01-25 14:28] Gioyik commented on #242
Voy a probar con los ultimos cambios.

[2014-01-25 14:32] #214 closed, assigned to aesedepece

[2014-01-25 14:33] #242 closed, assigned to aesedepece

[2014-01-25 14:54] v3rlain3 commented on #259
@Gioyik checking....

[2014-01-25 15:08] aarizkuren opened #267 "Error on adding new Facebook account"
Al añadir una cuenta de facebook, empieza a sincronizar los contactos, y ahí se queda, no pasa de ahi.

No me esta dejando ver los logs, cuando pueda mando, pero probar alguno para ver que no soy solo yo :S

[2014-01-25 15:15] aesedepece commented on #267
Todo OK por aquí, funciona con normalidad.

[2014-01-25 15:32] v3rlain3 commented on #259
@Gioyik hasta ahora todo ok; no ha habido más desconexiones. Gracias

[2014-01-25 15:48] Gioyik commented on #259
Que bueno! Si el problema persiste avisanos.

[2014-01-25 16:01] bdcomp commented on #255
@aarizkuren I am not sure how I can test the unreleased v0.2.5 ...

@aesedepece Under the "App permissions" it's allowed.

[2014-01-25 20:11] bidaian commented on #258
It looks good. Is there a way to debug what happens when Loqui tries to import the contacts?

Also, at the bottom of the (empty) list of contacts, my own number is shown without the country code, just the local part after a grey circle. Where does loqui get my phone number from?

Still, I guess it is connected to Whatsapp because I see the profile image I had set from Connecta2.

[2014-01-25 20:47] rafaelmr2 commented on #262
Thanks for help!

My numbers are valid, I made the test.

[2014-01-26 18:37] #265 closed, assigned to aesedepece

[2014-01-26 23:26] jorgeuve commented on #187
Hi all (HOLA A TODOS)
Whats app tests ON ZTE-OPEN from telefónica to iphone ios7 ios 7.0.4
:-) :-) -photos yes (receive a transmit)

:-) -videos zte not receiving tipical joke videos (after restat and quit usb debug begins to work ?¿?¿)

:-( -videos zte not sending a short video captured moments ago with the zte camera. Choosing file from gallery.  Appears video on chat whit "0% loading" endless m

[2014-01-26 23:32] #253 closed, assigned to aesedepece

[2014-01-26 23:38] Gioyik commented on #187
@jorgeuve Which version are you testing? the latest on master? we made some changes right now related to Geolocation and other fixes.

@aesedepece It's impossible to know if something is working or not, if on a ZTE phone something works, in an Alcatel doesn't. The best as we can do is release the v0.2.5 and let the users (and a few compromised Mozillians) test and report us whats happening on thei

[2014-01-26 23:38] Gioyik commented on #194
Related to #187, so close this.

[2014-01-26 23:38] #194 closed, assigned to Gioyik

[2014-01-26 23:40] aesedepece commented on #187
- For audio: there's no play button, just touch the message or the CD icon and it will play.
- We are not responsible of issues with video playing, they belong to the video player bundled with FirefoxOS.
- The location sending function wasn't merged to the master branch until some minutes ago.
- The message you receive when you send yourself a location could be a CSS issue, I tested it with a Geek

[2014-01-26 23:42] aesedepece commented on #187
@Gioyik :+1: to releasing right now. Let's upload it to the Marketplace. Any issue that may appear will be much smaller than the awful existing ones in 0.2.4.

[2014-01-26 23:49] Gioyik commented on #187
I will send a message to the mailing list related to this.

@jorgeuve We really appreciate the time you spend on comment this issue. We are going to release the v0.2.5. If you continue feeling any problem with Loqui, feel free to create an issue reporting it. Thanks.

I am going to close this one.

[2014-01-26 23:49] #187 closed, assigned to nobody

[2014-01-27 11:09] jorgeuve commented on #187
Ok, my tests were over 0.2.5 installed sunday afternoon from master branch. I think Im rigth but i will look again my github config.

[2014-01-27 18:32] sebasmagri commented on #161
Como comenté en https://github.com/vysheng/tg/issues/25#issuecomment-32672277 creo se que podría utilizar el código de tg y llevarlo a JS con emscripten. Sin embargo, este es un protocolo TCP, no HTTP, haría falta un puente a HTTP o WebSockets para hablarlo desde el cliente.

Saludos.

[2014-01-27 18:36] aesedepece commented on #161
Para eso está la TCPsockets API → https://developer.mozilla.org/en-US/docs/WebAPI/TCP_Socket

[2014-01-27 18:37] sebasmagri commented on #161
@aesedepece Gracias, hasta ahora lo ignoraba por completo.

[2014-01-27 19:02] bdcomp commented on #255
Well, just tested this on v0.2.5 and it's still exactly as described originally.

P.S. The console doesn't show anything after clicking the refresh button. Should it?

[2014-01-27 19:08] Gioyik commented on #255
It must show a notification per 3 seconds mentioning that the contact list is reloading.

[2014-01-27 19:09] aesedepece commented on #255
I explained what the bug is: the library we are using doesn't recognize numbers from Brazil, but we have yet to decide the change to another library.

[2014-01-27 19:17] bdcomp commented on #255
@Gioyik No notification at all, not in console, nor on the screen.

@aesedepece How Brazil related while I am from Israel? :)

[2014-01-27 19:24] aesedepece commented on #255
@bdcomp Sorry, mixed two different issues in my mind.

Anyway, are new contacts being imported at all?

[2014-01-27 19:28] bdcomp commented on #255
No, new contacts not imported.
Deleted on the phone contacts not removed as well.

[2014-01-27 19:31] aesedepece commented on #255
I insist: deleted numbers were not supposed to be removed upon sync. We could change this in the future if it's not convenient for most users.

[2014-01-27 19:46] bdcomp commented on #255
If "deleted numbers were not supposed to be removed upon sync" by design, let stick here to the import and update of contacts.
How I can help to debug this?

[2014-01-27 19:54] bdcomp opened #273 "Implement removal of deleted contacts"
According to:
https://github.com/loqui/im/issues/255#issuecomment-33411502
deleted numbers are not supposed to be removed upon sync, as of v0.2.5

Removal of deleted contacts should be implemented, as part of the sync button or separately.
If it will be separately, a clear message should explain it after a sync.

[2014-01-27 19:57] aesedepece opened #274 "Broken avatars"

[2014-01-27 20:06] aarizkuren commented on #274
Iba a poner justo este bug,

[2014-01-27 20:09] aesedepece commented on #274
Todo el problema es que ahora `Tools.picUnblob()` se llama `Tools.picThumb()`. Vaya despiste no haberlo cambiado en todos lados. Mea culpa.

[2014-01-27 20:19] woodymonk commented on #255
Updated to 0.2.5, tried the refresh contacts button, is that the one right of the search box? Firstly its pretty small for my fingers and it thinks I'm clicking the scroll bar. Secondly it doesn't do anything besides that. No new contacts are imported.
Using a ZTE Open with F.OS 1.2

[2014-01-27 20:19] #274 closed, assigned to aesedepece

[2014-01-28 08:41] iacchi commented on #185
Sync with address book is not working even in v.0.2.5

[2014-01-28 14:23] bdcomp opened #276 "v0.2.5b not offered to users of v0.2.5"
v0.2.5 on GP Peak, B2G 1.1.1.0hd-GP (stable).

v0.2.5b not offered to me as an update.
Just in case it's related - no update with Wi-Fi on and off; Loqui IM and Marketplace opened and closed.

Although this probably a Marketplace issue, Loqui IM should consider to avoid using letters in versions and upload v0.2.5b once again as v0.2.6

[2014-01-28 15:30] jorgeuve opened #277 "Whatsapp Instant audio recorded don´t arrives at all to zte open"
v0.2.5b instant audio record a sent  from iphone ios7 and from android 4.2.1 don´t arrives to zte open at all.

[2014-01-28 15:34] Gioyik commented on #276
The reason for the use of letter in the last version is because was just only one fast fix for one problem. We will increase the number as always to the v0.2.6 when more fixes will be included.

[2014-01-28 15:35] Gioyik commented on #277
It shows the audio icon on the message list? Could you see on the console what shows to you when someone sent you an audio message?

[2014-01-28 15:37] bdcomp commented on #276
@Gioyik The reason is fully reasonable and understandable, but it prevents from updating.

[2014-01-28 15:39] Gioyik commented on #276
So wire. I receive the update and no problems.

[2014-01-28 15:43] bdcomp commented on #276
Could you check for updates rate of v0.2.5b?
Just to be sure it's only me...

[2014-01-28 15:51] aesedepece commented on #276
Firefox Marketplace statistics have been out for weeks, so we can't check at the moment.

[2014-01-28 15:52] aesedepece commented on #276
And yesterday I was able to update successfully from 0.2.5 to 0.2.5b via OTA.

[2014-01-28 16:01] jorgeuve commented on #277
Yes it shows the audio icon both in direct message and in group chat. But no sound at all. looking for console in device now. (I ´v never been done)

[2014-01-28 16:03] aesedepece commented on #277
Nothing pops up when you touch the message or the CD icon?

[2014-01-28 16:12] jorgeuve commented on #277
No. Nothing pops up

[2014-01-28 16:13] aesedepece commented on #277
Can you maybe tell the format of the file you sent?

[2014-01-28 16:16] jorgeuve commented on #277
is the format that whatsapp use itself when recording and audio message from the icon near the input textbox
I have tested both from iphone and android

[2014-01-28 16:18] Gioyik commented on #277
The record is not saved? There's no way to see the file extension?

[2014-01-28 16:21] jorgeuve commented on #277
.aac format, quictime shows this file info
AAC, Mono, 22,050 kHz

[2014-01-28 16:29] aesedepece commented on #277
According to the Firefox page [1] on supported formats:
_Firefox OS supports the [AAC] format in some cases, but only when a third-party decoder is available, and the device hardware can handle the profile used to encode the MP4._

[1]  https://developer.mozilla.org/es/docs/HTML/Formatos_admitidos_de_audio_y_video_en_html5

[2014-01-28 16:35] jorgeuve commented on #277
Thanks for the help, :) I will look how to install aac support on this devices. Don´t work more for now on this issue
Best regards

[2014-01-28 16:37] Gioyik commented on #277
Well, now the thing is that we need a way to reproduce this, not?

[2014-01-28 21:31] JCVega opened #278 "No sale mensaje"
he probado la aplicacion sobre el simulador y sobre mi OT, el problema es que no salen los mensajes.
en el simulador al enviar me sale esto.-
![screen shot 2014-01-28 at 9 45 55 am](https://f.cloud.github.com/assets/6250173/2023973/4c01a1fe-8863-11e3-8db9-eb99cc5f7d77.png)

Pero en el OT, no me sale nada
![2014-01-28-09-48-53](https://f.cloud.github.com/assets/6250173/2023979/59a033e8-8863-11e3-8d

[2014-01-29 11:16] bdcomp commented on #80
WFM - received 3 notifications, Loqui IM opened after a click on the first notification.

0.2.5 on GP Peak, B2G 1.1.1.0hd-GP (stable).

[2014-01-29 11:52] jorgeuve commented on #277
ok firefox os can not reproduce acc raw format..
As I can understand this is only due to political reasons that nobody knows. read more at https://bugzilla.mozilla.org/show_bug.cgi?id=809186

But surprisingly if the raw acc is into a m4a container ... YES is firefox supported.
I have tested sucessfully whith MP4Box
apt-get install gpac
MP4Box -add prueba.aac#audio prueba.m4a

The result file it wo

[2014-01-29 12:18] woodymonk commented on #255
Same issue with 0.2.5b, no new contacts are loaded, after they are added to the F.OS contact list.

[2014-01-29 14:07] aesedepece commented on #258
I've reviewed your issue. I think you tried to add the contact directly from the app, which never worked for WhatsApp. Sorry for the inconveniences.

By now, the only way to add contacts to Loqui is adding them to your phone's address book and them taping the "sync" button in the Loqui contacts list.

[2014-01-29 14:17] aesedepece commented on #255
I'm quite sure the problem comes from the number validation process inside the `sync()` function.

Can you check if some of your contacts numbers pass against each one of this test?
[1]  http://logofid.es/phonenumberjs_test/
[2]  http://libphonenumber.googlecode.com/svn/trunk/javascript/i18n/phonenumbers/demo-compiled.html

Another question: what format do you usually store your contacts numbers i

[2014-01-29 14:30] woodymonk commented on #255
All my numbers are stored in one of the following formats:
- 0612345678
- +31612345678

Both being mobile NL numbers. They check out fine with both those tests. What's funny that the first time I installed LoquiIM it imported all contacts correctly. Then I added a few in the same way (using Google Accounts sync) to the F.OS contacts, and they don't show up when I click the refresh button. Actually

[2014-01-29 15:41] bdcomp commented on #255
Most of my contacts are in these formats:
052 123 4567
03 123 4567

[2014-01-29 15:54] v3rlain3 opened #281 "Recuperar mensajes nuevos en facebook"
Me ha pasado muchas veces que entro con loqui y tengo mensajes nuevos y tengo que entrar por el facebook; o en un momento de desconexión me entra alguno nuevo y tengo hacer la misma operación.

[2014-01-29 17:42] Dr-Fate commented on #258
Este muchacho Eduardo es Uruguayo (por el 598, ya pueden hablar todos en español jaja), yo tengo exactamente el mismo problema, no me importa casi ningún contacto de mi celular, sólo 3.... que son casualmente 1 amigo español y 2 argentinos, evidentemente el problema es con los números uruguayos.
He leido que Brasil tiene el mismo problema para sincronizar contactos.

[2014-01-30 03:16] aesedepece opened #288 ""caps.js" and "disco.js" can't manage multiple accounts"

[2014-01-30 11:59] bdcomp commented on #276
As I still not received the update, this bug just been opened:
https://bugzilla.mozilla.org/show_bug.cgi?id=965733

[2014-01-30 12:23] aesedepece commented on #276
Obvious question, just for discarding: have you tried with the "Check now" button under Settings app > Information > Software updates ?

[2014-01-30 12:29] bdcomp commented on #276
If you mean Settings > Device information > Software updates > Check now, then yes.
Although, doesn't it only about OS updates?

[2014-01-30 12:33] aesedepece commented on #276
It checks for installed app updates as well. :wink:

[2014-01-30 12:42] bdcomp commented on #276
@aesedepece Can you please provide a link confirming it?

As the output message of "Check now" is "This is already the latest version of B2G OS", I am still pretty sure it's only about OS.
Also, never received an app update after checking here, but after reloading Marketplace. Or close to other interaction with it.

[2014-01-30 12:47] aesedepece commented on #276
My experience is completely the opposite.

I always checked for app updates and received them by using the _"check now"_ button.
Then I realized that reloading Marketplace also checked for new updates just a few weeks ago.

In http://mzl.la/17nfVtn you can see that it mentions that the button checks for _"system and app updates"_.

[2014-01-30 16:34] jorgeuve commented on #276
There´s not much time as I can remember, ubuntu (  and debian I suppoused )  change the versión policy to avoid letters in versión numbers. I discover this making a old  port from a package whith letters in the versión last year.  As I can remember this is due to simplify administration scripts and to avoid dependencies mistakes.
I recomend  not to use letters to avoid future problems.
Maybe like

[2014-01-30 17:41] bdcomp commented on #80
While just yesterday I tried to reproduce the issue, just now, surprisingly something similar happened:
I received 7 Loqui IM notifications and after it a SMS notification.
All Loqui IM notifications were grey (like inactive) and clicking on all of them, even the last Loqui IM notification not opened Loqui IM.
Only the last received SMS notification opened SMS app.

[2014-01-30 17:55] #288 closed, assigned to aesedepece

[2014-01-30 18:03] #80 closed, assigned to nobody

[2014-01-30 18:46] aesedepece commented on #278
¿Qué versión de Loqui es la que estás probando? Me resulta muy inquietante. ¿Te ocurre siempre? ¿Sólo con Facebook o con otros proveedores también?

[2014-01-30 18:53] JCVega commented on #278
Es Loqui IM v0.2.5
Siempre me sucede.
Voy a tratar de hacer un Trazado mas continuo para poderle mandar mas info. para ampliar la info.
Tengo entendido que si lo han probado sobre ZTE y Alcatel, lo cual igual me intriga pues es la version descargada del Market Place, que tambien podria ser un caso aislado del telefono.
No lo he intentado con otra cuenta mas que con la de Facebook.

[2014-01-31 02:28] aesedepece opened #292 "Change WhatsApp profile image"
This should be easy after the changes in #291

[2014-01-31 03:20] pavi commented on #255
Is there support for international style , I am not sure if its a standard or not http://en.wikipedia.org/wiki/List_of_country_calling_codes#Alphabetical_listing_by_country_or_region

Anyways most of the phones I used had this +countrycode folowed by local number , sometimes the local no would have a zero before the no when used locally .

[2014-01-31 03:24] aesedepece commented on #255
@pavi The new library we are testing has succeeded validating every number and format we've seen so far, and it even takes into account the leading zeroes and repeated country codes :wink:

[2014-01-31 12:45] bdcomp commented on #276
I just received an update to v0.2.5c (from v0.2.5).

[2014-01-31 12:45] #276 closed, assigned to nobody

[2014-01-31 12:54] aesedepece commented on #276
@bdcomp Enjoy :)

[2014-01-31 13:54] aesedepece commented on #292
It was not so easy because I had to figure out what was the format for sending the picture and patch CoSeMe because failed to call the success handler.

Test it, it... simply... works!

[2014-01-31 14:55] #292 closed, assigned to aesedepece

[2014-01-31 14:56] Gioyik commented on #255
This is solved after PR merged.

[2014-02-01 23:59] CodingFree opened #294 "Cross-Origin Request Blocked"
E/GeckoConsole( 1155): [JavaScript Warning: "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://app.loqui.im/http-bind/. This can be fixed by moving the resource to the same domain or enabling CORS." {file: "https://app.loqui.im/http-bind/" line: 0}]

[2014-02-02 00:45] Gioyik commented on #294
Esto me salia en las ultimas builds the nightly pero no pense que en FirefoxOS apareciera tambien, supongo que sale en las ultimas builds ahora, no lo habia visto antes.

[2014-02-02 01:04] aesedepece commented on #294
Os cuento: al ir a cerrar / reiniciar la app, intenta cerrar la sesión de XMPP de la forma más digna posible, enviando un paquete por POST a https://app.loqui.im/http-bind/ con el siguiente contenido:

[code]

El tema está en que como la app se recarga, todas las conexiones se cortan, y por lo tanto jamás llega la respuesta a tal paquete; pues es en la respuesta donde va la cabecera que le indica

[2014-02-02 01:07] aesedepece commented on #277
I'll investigate if we can make the transcodification from the app itself. Thanks for all the info!

[2014-02-02 01:08] aesedepece opened #295 "WhatsApp status message change"

[2014-02-02 10:26] bdcomp opened #296 "Register Loqui IM on Transifex for translation"
Loqui IM should be listed on Mozilla Technical Evangelism list of apps on Transifex [1] for easy translation.

[1] https://www.transifex.com/organization/mozilla-tech-evangelism

[2014-02-02 13:57] aesedepece commented on #296
We already have a translation platform at http://translate.loqui.im
What are the advantages of Transifex over Crowdin?

Thanks!

[2014-02-02 14:42] bdcomp commented on #296
Mozilla currently promoting translation of apps on Transifex:
http://view.e.mozilla.org/?j=fec21075746d077a&m=fe9915707361037e75&ls=fe2b15767d67057d721d71&l=ff6e157075&s=fe5b10747c65057f731d&jb=ffca11&ju=fe9111767366067a77&r=0

So many potential translators (like me :) will check out Transifex and will not found Loqui IM.

[2014-02-02 14:46] bdcomp opened #297 "Add Hebrew language to localization platform"

[2014-02-02 14:48] aesedepece commented on #297
Done! → http://translate.loqui.im/project/loqui/he

[2014-02-02 14:48] #297 closed, assigned to nobody

[2014-02-02 16:16] JCVega commented on #278
Una duda Adán, los mensajes de 'NEW', 'PUSHING' y 'SAVING' ¿Los envia de manera asincrona?
Me parece que no esta entrando a esta parte.
¿Comó puedo comprovar que trabaje de manera asincrona?

[2014-02-02 16:53] bdcomp opened #298 "Remove or change the re-authentication of Whatsapp account message"
0.2.5c on GP Peak, B2G 1.1.1.0hd-GP (stable).

From time to time, the re-authentication of Whatsapp account message (The authentication of your account is no longer valid. Please, re enter your phone number to receive back a code (SMS) confirmation and a valid authentication to your account) appears.
There is no way to actually re-enter the phone number, no matter of clicking or not clicking this

[2014-02-02 16:57] ghost opened #299 "infinite restart loop when connected to HSDPA / 3.5G"
Loqui IM v0.2.5c
Firefox OS 1.1.0.0-prerelease

When Firefox OS is connected to HSDPA / 3.5G and Loqui IM is started, Loqui IM is stuck in an infinite restart loop, there is a small time frame of 9 to 20 seconds i could use Loqui IM but after some seconds Loqui IM is restarting itself (welcome screen is shown). Sometime a message appear that my authentication is invalid (whatsapp).

When connected

[2014-02-02 17:30] bdcomp commented on #299
Maybe related to https://github.com/loqui/im/issues/298 ?

@bobcanthelpyou What device it is?

[2014-02-02 17:33] aesedepece commented on #298
The "authentication of your account is no longer valid" made sense some releases ago, but it isn't accurate any more. It means instead that the authentication failed for an unknown reason.

[2014-02-02 17:35] ghost commented on #299
@bdcomp the device is an Alcatel One Touch Fire

the error message could be related to #298

[2014-02-02 17:38] bdcomp commented on #298
Still not clear, as a few seconds after this message everything works just fine...

@aesedepece Should I open a new issue about wrong message?

[2014-02-02 17:53] aesedepece commented on #298
@bdcomp Just rename this.

Further explanation: the error notification was binded to the `authfail` event a few releases ago, when we had no method to reconnecting after such socket errors. Nowadays, the app reconnects automatically after disconnections or socket errors, so no error notifications should be shown at all.

Anyway, I'm currently working on optimizing the connections so that the socke

[2014-02-02 21:10] bdcomp opened #304 "Implement RTL"
Now, after the Hebrew translation is almost done, it's time to check about the RTL UI.

Does LungoJS compatible with RTL interfaces?

[2014-02-02 21:14] bdcomp opened #305 "Implement language selection"

[2014-02-02 21:17] Gioyik commented on #304
Don't know about Lungo, but we use a library for localizations named l10n.js and it supports rtl. So, we can work with this and see how looks. Let me create a Pull Request with a fix for this.

[2014-02-02 21:17] Gioyik commented on #305
Nice feature for DevMode section.

[2014-02-02 21:24] bdcomp commented on #304
Great!

Also, please note that Hebrew messages should be always RTL (while currently it's just left or right aligned). This must be even on English UI.

[2014-02-02 21:46] bdcomp commented on #305
I think it's not only about the developers.

How about an additional "Advanced" tab?

[2014-02-03 20:47] ghost commented on #299
When connected to EDGE / 2G such problems do not appear, too.

[2014-02-03 22:12] bdcomp commented on #296
@aesedepece Please take a look (from this comment and forward):
https://github.com/Codexa/Firetext/issues/140#issuecomment-33847848

[2014-02-03 22:15] bdcomp commented on #305
Firetext just implemented this:
https://github.com/Codexa/Firetext/commit/12cfb79b6a18395a31880b8953bd477ffc71f655

Is it possible to reuse some code?

[2014-02-03 22:18] bdcomp commented on #304
I am not sure how to translate string with html tags (like MoreMessages), as it's garbled while RTL...

[2014-02-04 00:50] aesedepece commented on #305
@bdcomp Sure.

[2014-02-05 04:26] aesedepece opened #309 "WhatsApp contacts status message"

[2014-02-05 12:20] bdcomp opened #310 "Improve the quality of providers icons"
v0.2.5c on GP Peak, B2G 1.1.1.0hd-GP (stable).

Most small providers icons, for example on the "Add accounts" page, looks bad, not sharp.
Just to explain the issue - the icons looks like if we take some small jpg picture and try to scale it to a bigger size.

I am wondering if it's related to the svg files.
Won't it be better to use png files instead?

[2014-02-05 14:01] aesedepece commented on #310
The 1.1.1.0hd B2G release was the first one to support qHD screens like the GP Peak's one. But the way it did it was kind of patchy and not neutral.

This means it had some flaws like the one you are commenting. The SVG processor renders the icons for a 320x480 resolution and then they are scaled up to 540x960.

In later releases, the SVGs are rendered properly and look nifty, thus succeeding the

[2014-02-05 14:01] #310 closed, assigned to nobody

[2014-02-05 14:37] bdcomp commented on #310
OK. Great to hear an additional improvement of the next version of B2G.

@aesedepece As a follow up - for the purpose you mentioned, may it be possible to replace the png icons to svg?
Should a new issue be opened?

[2014-02-05 20:40] bdcomp opened #311 "Implement 1st time experience"
A little tutorial overlay to show users how to get started.

For example:
- Left panel (settings, reload...)
- Chats, contacts
- Account actions
- Sending picture/video...

[2014-02-05 20:45] Gioyik commented on #311
This sound good to implement for v0.3.0 with the new UI, if we do this on v0.2.x tree will be a waste of time. Pointed for v0.3.0.

Thanks

[2014-02-05 20:51] bdcomp opened #312 "Investigate bad Marketplace reviews"
Let's try to learn something from bad Marketplace reviews.

This will help to debug the app and to increase the average rating (that in turn will bring more users).

[2014-02-05 20:59] bdcomp opened #313 "Add to the app a link "Report an issue""
This will minimize bad rated, unhelpful reviews (like "Not work").

[2014-02-05 21:02] Gioyik commented on #312
It's more than hard than someone can imagine. There are different problems on every phone. One of the common problems when we develop Loqui is that on our phones everything works great, but on production devices the CSP levels are different, and probably if to a X person with an Alcatel phone has a problem, other person with other Alcatel doesn't. That's our main problem, the CSP levels on every p

[2014-02-05 21:07] Gioyik commented on #313
We have future plans for this on future versions. I was thinking on this too, but we need to reorganize our UI first.

[2014-02-05 21:07] bdcomp opened #314 "Add a changelog inside the app"
A small changelog, inside the app, will help users to discover new features and important fixes.

Also may be implemented as an overlay displayed after any update.

[2014-02-05 21:15] Gioyik commented on #314
We have a roadmap to be updated (this is a task for us), maybe for now is necessary just put a link to that roadmap.

[2014-02-05 21:21] bdcomp commented on #314
Where is the roadmap?

I think a roadmap and a changelogs are different by design.

Beside the description of the issue, a changelog may explain why updates are important (and many people don't like updates or just think they don't need it).

[2014-02-05 21:34] Gioyik commented on #314
https://github.com/loqui/im/wiki/Roadmap

[2014-02-06 03:36] #295 closed, assigned to aesedepece

[2014-02-06 20:46] willicab opened #316 "Implementar Telegram en loqui"
Se sugiere la implementación de Telegram en loqui
http://telegram.org/

[2014-02-06 20:52] Gioyik commented on #316
Deplicado #161.

[2014-02-06 20:52] #316 closed, assigned to nobody

[2014-02-09 15:40] rafaelmr2 opened #317 "Send file in XMPP"
The option to send files is available only on Whatsapp, correctly? Is there plans to support on free XMPP too?

[2014-02-09 15:49] Gioyik commented on #317
Yes, we have plans for this feature. See #11

[2014-02-09 15:49] #317 closed, assigned to nobody

[2014-02-10 07:06] eMBee commented on #147
why is the app not available in china?

[2014-02-10 17:51] jorgeuve commented on #161
Yo esta gente no se a que juega.. A que viene esto de reinventar la rueda? Porque no usan OTR en vez de hacerse pajas mentales con un sistema de cifrado evidentemente vulnerable. No hacen sino dar que pensar que su modelo de negocio se basará en vender el acceso a los chats secretos dejando su implementación  vulnerable.

[2014-02-11 02:03] aesedepece commented on #161
@jorgeuve :+1:

[2014-02-11 02:05] aesedepece commented on #147
@eMBee Following the Mozilla Marketplace terms, availability in China is subject of an special and separate review process. We'll make sure we check that option the next time we send a new update. Sorry for the inconveniences.

[2014-02-13 15:55] ActiveMeX commented on #96
Cómo puedo modificar el archivo /scripts/goles/countries.json ?, tengo un Alcatel OneTouch.

Saludos !!!

[2014-02-15 00:22] aesedepece commented on #48
The "favorite contacts" feature possibility will be explored later. Everything else is already done :)

[2014-02-15 00:22] #48 closed, assigned to nobody

[2014-02-15 00:56] aesedepece commented on #96
@ActiveMeX No va a hacer falta, hemos cambiado de librería de formateo de números y en la próxima versión 0.2.6 ya debería aceptar perfectamente los números de Mexico y otros países problemáticos.

[2014-02-15 01:12] #267 closed, assigned to nobody

[2014-02-15 01:14] #294 closed, assigned to nobody

[2014-02-15 13:49] #309 closed, assigned to aesedepece

[2014-02-15 13:49] #273 closed, assigned to nobody

[2014-02-15 14:38] #298 closed, assigned to nobody

[2014-02-15 14:42] pavi opened #323 "Whatsapp sign in stuck at validating code"
I am using ZTE Open 1.2 build and Loqui git build pushed through app-manager . I am unable to sign in to whatsapp . It always gives the error of memory card as if some process is holding it , I start with deleting the .cosemeid file and refresh with a restart and than start it .
 It says couldnot send SMS . I wait for some 30 minutes and luckily the SMS gets sent , I have recieved the SMS. Now I e

[2014-02-16 00:51] aesedepece opened #324 "Duplicated contacts"
I f*cked up the contact update function in the last commits, just need to recover it.

[2014-02-16 01:11] #324 closed, assigned to aesedepece

[2014-02-16 01:22] aesedepece opened #326 "Messages written while offline are never sent"
I suppose I broke the so-called _sendQ_ while implementing WhatsApp in November 2013.

[2014-02-16 02:13] #326 closed, assigned to aesedepece

[2014-02-16 12:03] aesedepece opened #327 ""show" status dots should be not shown at all while offline"

[2014-02-16 12:29] #327 closed, assigned to aesedepece

[2014-02-16 14:32] bdcomp commented on #305
@aesedepece As you just merged Hebrew, I am wondering how it would be available?
In other words, who will see the Hebrew interface?

[2014-02-16 15:54] willyaranda commented on #305
People who has Hebrew as a default locale in their FirefoxOS phone. (Unless @aesedepece has developed a locale picker in LoquiIM)

[2014-02-16 16:00] bdcomp commented on #305
Hebrew is not available on B2G 1.1.x as a local (only as keyboard language), so language selection will be welcome.

[2014-02-16 19:06] bdcomp commented on #305
Also, take a look at this Firetext commit https://github.com/Codexa/Firetext/commit/5b045d0f9e8320568fefbd65d86ecb138ac262b0

[2014-02-16 20:58] jorgeuve commented on #323
Hola
I have the same terminal with OPEN_FFOS_V1.1.0B01_TME
Please tell me exactly about your build to try to understand the problem, and tell me why are you using this rom.
As I read on http://www.desdefirefoxos.net/howto-instalar-firefoxos-1-2-en-el-zte-open-ebay-mediante-fastboot/
firefox 1.2 is only going to be a transition not ofiicial rom for alcatel and ZTE.
Is this has not been changed prob

[2014-02-17 18:18] TitanNano opened #334 "only import mobile phone numbers"
hey,
Is it possible that we only import mobile phone numbers in to WhatsApp contacts? At the moment I have some people two or more times in my contacts and the duplicates are absolutely useless because they are no mobile numbers.

A will make a pull-request as a possible fix...

[2014-02-17 18:23] aesedepece commented on #334
Tip: we can't rely on numbers being correctly tagged as "fixed-line" and "cellular" in the address book as people often mix them up.

[2014-02-17 19:10] aesedepece commented on #334
We have already adopted another approach: when the app starts, it requests presence of every contact to the WhatsApp server. If a contact has no presence information, it is marked as "not available" (na) so that you can hide them all by switching on the "hide unavailable contacts" option in the settings menu.

[2014-02-17 19:19] TitanNano commented on #334
but sometimes I want to write a message to a person which is not online at the moment. But would it be possible to hide contacts which never connected to WhatsApp before?

[2014-02-17 19:21] aesedepece commented on #334
Contacts that are not connected at the moment are marked as "away" ;)

[2014-02-17 19:25] TitanNano commented on #334
Two of my contacts are not marked as "away"... Is this a bug?

[2014-02-17 19:27] aesedepece commented on #334
Do they appear at all?

[2014-02-17 19:45] TitanNano commented on #334
yes, but their status is also not loaded....
![loqui2](https://f.cloud.github.com/assets/4500858/2188809/fbdbbb70-980b-11e3-98f9-132d58f43703.png)
![loqui1](https://f.cloud.github.com/assets/4500858/2188810/fe8d958c-980b-11e3-94c5-3ff581bea8ad.png)

[2014-02-17 20:03] aesedepece commented on #334
Ok, that's because at the moment we can't automatically tell contacts that are not registered to WhatsApp from those whose status message is "Hey there ! I am using whatsapp".

I'm thinking of a little fix, and will post later today.

[2014-02-17 20:07] TitanNano commented on #334
okay I will close the pull-request...

[2014-02-17 20:20] pavi commented on #323
Maybe yes its the problem of 1.3 being unstable on ZTE and it was released as dev test version by ZTE . I followed https://hacks.mozilla.org/2014/01/upgrading-your-zte-open-to-firefox-1-1-or-1-2-fastboot-enabled/ .

The main reason I went to 1.2 was the ability to push Git pulled apps into the device directly . App-manager 's prerequiste for trying out loqui git builds is 1.2 . And now whatsapp do

[2014-02-17 20:35] bdcomp commented on #313
@Gioyik How about if I will add it now, and once the new UI will be live, I will move/fix it?

I think that the advantage of adding this link now is bigger than holding it till the new UI, even if I will need to move these 1-2 lines of html.

[2014-02-17 20:50] pavi commented on #323
Here is the adb log from the latest git pull:

[code]

[2014-02-17 20:52] pavi commented on #323
Apologies for the mistaken click on 'close' button.

[2014-02-17 21:10] TitanNano commented on #334
Contacts which are using WhatsApp have a "last time" date/time. Could this be a possible indicator?

[2014-02-18 01:08] aesedepece commented on #323
@pavi everything seems ok in your logs.

[2014-02-18 01:55] #334 closed, assigned to nobody

[2014-02-18 19:50] bdcomp commented on #255
@Gioyik @aesedepece
I just retested this on v0.2.6 on GP Peak, B2G 1.1.1.0hd-GP (stable), and it still exactly as originally described - sync can't be clicked or do nothing.

Please reopen this issue.

[2014-02-18 20:00] aesedepece commented on #255
Misterious...

[2014-02-19 19:22] bdcomp opened #341 "Menu options not responsive"
v0.2.6 on GP Peak, B2G 1.1.1.0hd-GP (stable).

After a restart of my phone, Loqui behave very strange:
1. A few seconds after launch, the main screen looks OK, including profile pictures, without the blue dots.
But all the buttons (like menu, contacts) not clickable.
2. Few seconds later, profile pictures disappear, while the blue dots on the grey default image appear.
Now all buttons are clickabl

[2014-02-19 19:28] bdcomp opened #342 "CHATS title on the contacts page"
v0.2.6 on GP Peak, B2G 1.1.1.0hd-GP (stable).

From time to time, the contacts page title is "CHATS".

Please note that this issue is not new to v0.2.6, as it was so at least once earlier.

[2014-02-19 21:10] ghost opened #343 "Loqui gets stuck at "synchronizing" while signing in with an XMPP account"
Hello all,

while singing in with an XMPP account Loqui gets stuck at "sychronizing".

Version 0.2.6, Firefox OS 1.1.1.0 Stable.

If any logs are needed please mention how to extract them. Thank you all!

[2014-02-19 21:47] ghost opened #344 "The "x" in the filter bar does not do anything"
See title.

Further suggestion: Is it possible to have the ability to hide/unhide the filter bar?

[2014-02-19 21:57] uvox74 commented on #341
That's exactly what is happening with my ZTE OPEN FFOS 1.1. I didn't have any problems with v0.2.5c. This issue started with 0.2.6

[2014-02-20 07:12] bdcomp commented on #343
@baccu It's been reported already - #181.

Thanks for confirming :)

[2014-02-20 07:15] bdcomp commented on #344
@baccu Are you talking about the Contacts -> search bar and this sign ↺ ?

[2014-02-22 20:21] ghost commented on #344
I mean the "x" on the right side in the search bar above the contacts.

When you type a letter, the contacts starting with this letter are filtered. If you tap the "x" on the right, nothing happens.

[2014-02-22 20:24] bdcomp commented on #344
Confirmed, the x does not do anything.
v0.2.6 on GP Peak, B2G 1.1.1.0hd-GP (stable).

[2014-02-22 20:32] ghost commented on #343
Further info:

jabber.de has migrated few days ago from Openfire to Prosody 0.9.3.

The account from jabber.ccc.de is working fine.

[2014-02-23 01:14] aesedepece commented on #343
Let's track this at  #181.

[2014-02-23 01:14] #343 closed, assigned to nobody

[2014-02-23 01:20] aesedepece commented on #344
This is a symptom of any other bug causing a javascript error.
When javascript reaches an unhandled exception it halts and stop the execution of any further code, including bindings to tap events like the one behind the X button.
We need to figure out the scenarios under which this issue happens.

The button works for me (I try it at least twice a day just to make sure) with the following setup:
v

[2014-02-23 01:21] aesedepece commented on #342
I've seen this happen sometimes. It's the localization library failing for unknown reasons.

[2014-02-24 00:37] Dr-Fate commented on #258
Este problema quedó resuelto en la v.0.2.6!
Se puede cerrar el issue.

[2014-02-24 00:43] aesedepece commented on #258
@Dr-Fate Gracias por confirmarlo :)

[2014-02-24 00:43] #258 closed, assigned to nobody

[2014-02-24 05:31] bdcomp opened #347 "Changes to en.ini not available to translation"
I am wondering if some build/push needed, as the latest changes to en.ini not available on the translation site.

[2014-02-24 07:29] bdcomp opened #348 "Add additional languages to localization platform"
According to Mozilla [1], Firefox OS will expand this year to: Argentina, Costa Rica, Ecuador, El Salvador, Germany, Guatemala, Nicaragua, Panama, Croatia, Czech Republic, Macedonia and Montenegro.

To make sure we are ready to launch in this countries, please add the missing languages to localization platform: Croatian, Czech, Macedonian and Serbian.

[1] https://blog.mozilla.org/blog/2014/02/23/

[2014-02-24 12:06] aesedepece commented on #348
Done, thanks!

[2014-02-24 12:06] #348 closed, assigned to aesedepece

[2014-02-24 12:06] aesedepece commented on #347
Just uploaded ;)

[2014-02-24 12:06] #347 closed, assigned to aesedepece

[2014-02-24 12:14] bdcomp opened #349 "Comments in en.ini appears as [empty string]"
As I was last editing en.ini, it's maybe because of me, but comments (like "# WELCOME SCREEN") in en.ini appears as [empty string] for translation, while earlier were not visible at all.

@aesedepece Any thoughts what was garbled?

[2014-02-24 12:27] aesedepece commented on #349
The comments are not supposed to be translated, they are references that need to be present only in 'en.ini' because it's the only localization file that is edited manually and we need those references to quickly find a string if we need to modify it.

I've marked those lines as hidden to the translation system.

[2014-02-24 12:27] #349 closed, assigned to aesedepece

[2014-02-24 12:54] bdcomp commented on #349
@aesedepece I am familiar with code comments :)

These lines still visible as [empty string]...

[2014-02-24 15:43] jansegre commented on #341
I'm also experiencing this issue. I use an Alcatel OneTouch Fire with Firefox OS 1.1, it's really bothering me.

[2014-02-24 20:53] ghost commented on #181
.... so let's contintue tracking this issue here.

In the version 0.2.5c (and older) the problem was not occuring.

Do you need any logs? You can creat an account there if you want to test it by yourself:
http://www.jabber.de/register/

As I mentioned in the closed isse #343, jabber.de has migrated few days ago from Openfire to Prosody 0.9.3. Well this server has always been very stable and has a

[2014-02-24 23:09] aesedepece commented on #43
@garrettr What's the current status of your work on enabling OTR? What difficulties did you find? How can we help you to finish it?
Now that all the WhatsApp shit is over, we'd like to focus all our available resources on landing OTR in the upcoming 0.3.0 release!
THANKS!

[2014-02-24 23:21] unknowndevice commented on #43
TextSecure is now Federated so you might want to take a look at what they're doing https://whispersystems.org/blog/the-new-textsecure/

[2014-02-25 19:26] ghost commented on #181
Thanks a lot :)

[2014-02-25 20:38] mautematico opened #350 "Agregar una pantalla para elegir cuales cuentas conectar."
Es muy bueno que podamos usar Loqui IM para todas las cuentas de mensajería instantánea que querramos, pero en algunas ocasiones podría resultar inconveniente estar conectado
"en todas ⊕ a ninguna cuenta"

Sería buenísimo tener una pantalla en el apartado de configuración donde poder "activar o desactivar" cada una de las cuentas que tenemos configuradas.

Otra forma, quizás menos eficiente, sería

[2014-02-25 23:16] aesedepece commented on #350
Esto está pensado para la 0.3.0, con un nuevo intercambiador de cuentas. Estoy trabajando la forma de hacerlo lo más cómodo y sencillo posible, en unos días te muestro la propuesta a ver qué te parece.

[2014-02-25 23:31] mautematico commented on #350
Se me ha ocurrido otra forma:
En la barra lateral,
un toque en el icono de la cuenta para mostrar los contactos (como hace ahora)
otro toque para activar/desactivar.

Estaré encantado de ver la propuesta. =)

[2014-02-26 17:36] gps1mx commented on #96
@aesedepece pues parece que el cambio en la librería de formatéo de números no funcionó para México (al menos para mi). :(

Alguna alternativa?

[2014-02-27 11:25] uvox74 commented on #341
Update:
After uninstalling and reinstalling a couple of times v0.2.6 seems stable but:
1)
- No profile picture, neither contacts nor mine.
- No blue dots.
- No dots confirmating reception of the message (but I know they are delivered).

2) However, sometimes, If blue dots on grey default images appear, I experience again the issues metioned by bdcomp...... -> Uninstall and reinstall -> go to 1)
We

[2014-02-27 20:35] nukeador commented on #161
Quizá esto os sirva: https://github.com/zhukov/webogram/blob/master/app/js/lib/mtproto.js

[2014-02-27 23:36] octaviobernalquiroz commented on #96
Confirmo que el formateo de números no funcionó para México

[2014-03-02 02:21] eMBee commented on #147
managed to install it today, thank you!

[2014-03-02 03:06] eMBee opened #352 "can not read or send messages"
on the ZTE open with FFOS 1.1 i can receive jabber messages and add manually add contacts. i can see the list of chats with the first words of the latest message, but i can't select a chat to see the messages.

if i manually add a contact then i can tap and hold on a chat to get to the contact page.
i can clear the chat for registered contacts, but not delete the contact.

[2014-03-02 07:08] bdcomp commented on #352
@eMBee Are you on the current v0.2.6?

[2014-03-02 07:21] eMBee commented on #352
yes, info tab in settings says it's v0.2.6

[2014-03-03 02:20] pavi commented on #323
I agree with @jorgeuve . It is a problem with the unstable 1.2 version on ZTE open. I have upgraded to 1.3 using https://sites.google.com/site/zteopenfirmware/home/firmware-1-3-0 and loqui whatsapp works perfectly. Anyways thanks @aesedepece for checking the logs and keeping the issue open.

[2014-03-03 02:20] #323 closed, assigned to nobody

[2014-03-03 06:38] GordonLesti commented on #352
Hello,
I have the same issue on a Alcatel One touch Fire with Firefox OS 1.1.0.0-prerelease and Loqui IM v0.2.6 when I use XMPP/jabber. Jabber-server: jabber.de

[2014-03-04 10:14] pavi commented on #341
Its the same here on FF 1.3 unreleased build. The app goes un responsive but takes its sweet time to get stable after which it works. Sometimes for me a restart also doesnt fix much as the app goes to its old state but as mentioned before comes slowly to its normal state.

[2014-03-04 15:22] pravi opened #353 "[XMPP] chat requests are not shown"
When someone add you to their contacts lists no notification is shown to you. It means both persons have to add each other manually to be able to chat. It would be nice to show chat requests with option to accept or reject.

[2014-03-04 16:07] aesedepece commented on #353
Currently, subscription requests are automatically accepted and subscribed back.
Scheduled for 0.3.0: subscription confirmation dialog.
Thanks.

[2014-03-05 15:38] bdcomp opened #354 "Loqui IM hidden on the Marketplace"
GP Peak, B2G 1.1.1.0hd-GP (stable).

It looks like the Loqui IM is hidden on the Marketplace, as it's missing from:
- The "Popular" list
- "Social" category
- Search results, "Loqui" term

Although, it's available by browsing with Firefox to the direct url:
https://marketplace.firefox.com/app/loqui

[2014-03-05 15:57] aesedepece commented on #354
This is not a Loqui IM issue but a Marketplace one. It seems all privileged apps have disappeared mysteriously from the public listings (ConnectA2, Loqui IM, LINE, etc.)

We have reported the situation to them by many ways, and we are currently waiting for a formal explanation and solution.

[2014-03-05 16:00] bdcomp commented on #354
LINE is visible as usual.

[2014-03-05 16:05] aesedepece commented on #354
I can't see LINE and some other people reported the same. This is weird :S

[2014-03-05 16:13] bdcomp commented on #354
So maybe it's not about privileged apps?

[2014-03-05 16:21] bdcomp commented on #354
Just a thought - may it be related to ESRB?
https://bugzilla.mozilla.org/show_bug.cgi?id=929812

[2014-03-05 23:03] garrettr commented on #43
@aesedepece Didn't get very far, and it probably needs rebasing anyway. Would be happy to push to my fork if you think that would help.

I also agree with @unknowndevice that it might be better to pursue integration with TextSecure in the long run - their client has a lot of users on Android, their protocol makes security and privacy improvements on the original OTR, and their long-run goal is to

[2014-03-06 04:02] pavi commented on #353
I faced the same issue like @pravi  .The subscription had to be on both sides . If we both have to chat both have to authorise and both of us had to use desktop client like Pidgin for the authorisation.

[2014-03-06 04:02] pravi commented on #353
some xmpp contacts are shown not available

Even when we are chatting and the other person confirmed they are not using invisible mode. It is showing with a block icon in pidgin and shows subscription as 'From'. I have to re-request authorization via pidgin for it to show as available.

[2014-03-06 05:46] uvox74 commented on #354
If anyone else see this and want to reinstall Loqui the only thing you have to do to avoid this problem is: open your browser and Google "loqui im". Then, click on marketplace link. You will be able to download and install the app :)

[2014-03-06 16:28] DiegoErnesto opened #355 "Error de logado"
Hola, coincidiendo con la "desaparición" en el marketplace, en whatsapp, no me deja "trabajar", al cerra y volver a entrar me da error :
error de autenticación...

la des-instalé, y la volví a instalar pero después de recibir el sms y poner el código.. me sigue dando el mismo error. ¿es general o solo a mi?

v 0.2.6, y 111.0-GP

[2014-03-07 20:31] ghost commented on #181
Any news concerning this issue?

@aesedepece do you need some logs or any other infos?

Edit: How can I extract the logs of loqui?

I get nothing with: adb logcat | grep GeckoConsole, alothough Debug mode is activated.

[2014-03-09 18:05] nexus42 commented on #89
Any progress on this? I cannot connect still. I use ZTE Open with FFOS v1.1

[2014-03-10 09:47] uvox74 commented on #341
Hi pavi. How long does it take? I waited for one hour but it didn't work... still non responsive

[2014-03-14 05:11] soapdog opened #356 "We need per chat sound settings"
Hi,
Its pretty common when using whatsapp groups to have a lot of people talking all the time. Users from official Whatsapp client and some clones can mute/unmute the sound of each chat, which comes in handy in such cases.

Right now on Loqui we can only switch sound off in the whole app. I would like to see per chat settings for sound.

cheers

[2014-03-14 05:12] Gioyik commented on #356
Targeted for v0.3.0

[2014-03-14 05:21] Gioyik commented on #354
This was an error on the Marketplace and it's not present now.

[2014-03-14 05:21] #354 closed, assigned to nobody

[2014-03-14 09:32] autra commented on #89
Might be related : I wonder why loqui IM does authentication from a server in Germany (??) to log into my google account. I trust loqui IM, but isn't it possible to use my direct internet connection to do it?

I don't like a server I don't trust to connect to my accounts... Is it related to this bug, or should I open a new one?

[2014-03-14 11:51] aesedepece commented on #89
@autra Even nowadays that we have the TCPsockets API, the most reliable way of using XMPP in a mobile device is using a technique called [BOSH](http://en.wikipedia.org/wiki/BOSH). This implies that your connection is tunnelled through a high-grade [TLS](http://en.wikipedia.org/wiki/Transport_Layer_Security)-secured gateway hosted at https://bosh.loqui.im. This also hides your actual IP from your p

[2014-03-14 16:19] ghost commented on #181
Friendly reminder! @aesedepece @Gioyik

The Admin of jabber.de is ready to help, he asked for the logs of loqui. Can you please tell me how to extract them?

Thank you.

[2014-03-14 16:32] Gioyik commented on #181
I can't understand, when someone try to login with a jabber.de account it stuck on Synchronizing part?

[2014-03-14 19:33] ghost commented on #181
Yes it does. This happened after the update to 0.2.6.  But as i wrote in older posts, the admin has switched the server to prosody, so i can't tell wich update causes this problem, loqui: 0.2.5c -> 0.2.6, or jabber.de: openfire -> Prosody.

[2014-03-14 19:39] ghost commented on #181
That is why the logs are needed to clarify the root of the problem. can you please tell me how to get them?

[2014-03-15 18:55] ghost opened #358 "Can not start a conversation with the second contact in the contact list"
See title.

It works only with the first one in the list.

v.: 0.2.6, Peak 1.1.1.0

[2014-03-16 18:37] soapdog opened #359 "[WhatsApp] Loqui disconnects and doesn't know it"
Hi Folks,

Every now and then, loqui will lose the connection to whatsapp and not notice it. You will notice because msgs stop arriving and your outgoing msgs are not acknowledged by your friends. Closing loqui and restarting it fixes the problem and then you have all msgs arriving at once.

Loqui needs a better way to figure out when it loses connection. Or if the case is not a broken connection

[2014-03-18 10:20] hotzeplotz commented on #181
same issue here - Loqui 0.2.6, Firefox OS 1.1.0.0. connecting to my own (Prosody, Debian package version 0.8.2-4) XMPP server.
Loqui authenticates (if i try with an invalid password, i get an Authentication failed message straight away), and then gets stuck on the "Synchronizing" popup.

Prosody logs only show, eg.:
Mar 18 10:18:48 c2s1834ef0  info    Client connected
Mar 18 10:18:48 c2s1834ef0  i

[2014-03-19 09:28] uvox74 commented on #341
New update:
So far, this issue only happens when, at least,  a one-to-one chat is active. If only group chats are active this issue doesn't occur.

[2014-03-20 12:42] mcepl commented on #352
The same issue with Geeksphone Peak (and FxOS 1.1.1.0hd-GP and the latest LoquiIM from the Marketplace). My own server: prosody-0.8.2-6.el6.i686

[2014-03-21 20:19] soapdog opened #360 "Can't log in to Google Hangouts account"
Hey Folks,

I can't log in to Google Hangouts from a Google Apps account. My hangout account is under my own domain email. On loqui it keeps saying there is an authentication failure but it works fine on the desktop.

cheers

[2014-03-23 18:11] Gioyik commented on #360
Strophe uses PLAIN-AUTH for XMPP connections. So, it let connect only main domain accouns (gmail.com). We are working on a fix for this implementing OAuth.

Thanks for the report

[2014-03-25 18:51] ghost commented on #181
Could it be related to Prosody?

@Gioyik @aesedepece can you please tell us how to extract the logs?

Well Loqui is totaly unusable because of this issue and this #358

[2014-03-27 17:46] rafaelmr2 opened #363 "Can't open contact on XMPP"
Sometimes I can't open a contact listed on my XMPP account. I click and nothing happens. Sometimes I receive a message from a contact and I can't read. I tested the latest version of branch dev.

[2014-04-02 08:16] pravi opened #364 "[XMPP] implement xep 0198 for better reliability"
Here is a rationale for this xep http://fnanp.in-ulm.de/blog/2014/01/16/01-woes.html

Currently xmpp is less reliable compared to whatsapp. There is also need for keeping connections idle for a long time (not sure if there is an xep for that).

In whatsapp, whenever a new message comes there is a notification always, but with xmpp if loqui im dies (whch usually happens in resource hungry zte open)

[2014-04-02 10:13] pravi commented on #364
two more xeps important for mobile xep 0199 and xep 0280. already implemented in yaxim http://yaxim.org/yax.im/

[2014-04-02 10:24] pravi opened #365 "[XMPP] allow sign ups for account"
currently creating xmpp accounts does not work. It should be possible to register xmpp accounts using loqui.

[2014-04-03 16:23] KThand1 opened #366 "Connect jabber account"
Hello

Any idea why I am unable to connect to my jabber account - seems to hang after successful login on the 'synchronization' screen.

Thanks

[2014-04-06 06:17] webratte commented on #230
Hi Loqui developers,
what do you think?
Will you implement Kontalk into Loqui?
Of course Kontalk XMPP is in Alpha yet. But maybe you could in this state work together. So it will be possible to help each other.
OK, I'm only a user and not developer. Maybe I'm wrong.
But I hope, soon I can chat with Kontalkusers they use firefoxOS.

Thank you

[2014-04-09 16:04] netomx opened #369 "Abrir desde PC"
Yo sé que no es un problema de Loqui, no está hecho para PC. Hay alguna forma que pueda correrlo desde mi PC? Usaría mi número, claro está.

[2014-04-15 12:34] pravi opened #370 "mention xmpp/jabber/google talk in account screen"
google hangouts broke xmpp federation but they still have a federated xmpp service connecting via google talk.

google is forcing people to move to hangouts and loqui im can give an option to people who want to stick to google talk and enjoy federation.

most people don't know the difference and it there is some way this difference can be mentioned then that would be good too.

[2014-04-15 12:37] pravi commented on #363
when a contact has not accepted your request, loqui stops you from messaging them, only when they accept you can talk to them.

[2014-04-15 18:49] Pablo2m commented on #369
Estube haciendo alguna pruebas y algunas cosas no son comodas de usar, pero poder se puede.
Bajate el zip, descomprimilo y abri el index.html.

[2014-04-15 18:49] netomx commented on #369
Lo hice, pero se queda en "Bienvenido a Loqui"
On Apr 15, 2014 1:49 PM, "Pablo2m" notifications@github.com wrote:

[2014-04-15 18:59] Pablo2m commented on #369
¿Que versión de firefox usas? , a mi me tardo unos minutos la primera vez por que se estaba actualizando pero luego se abrió

[2014-04-15 19:14] netomx commented on #369
Use Firefox (el mas nuevo, no estoy en la PC ahorita) portable, Chrome, y
el IE. Solo el Chrome y el Firefox lo mostraban
On Apr 15, 2014 1:59 PM, "Pablo2m" notifications@github.com wrote:

[2014-04-15 22:34] rafaelmr2 commented on #363
I have a contact that I see as accepted in Pidgin and not in Loqui. I received a broadcast message from the server (in this case, riseup) and can't open it too.

[2014-04-15 22:53] Pablo2m commented on #369
Bueno tenes 3 opciones:
La mejor es usar el simulador, aca tenes un articulo http://elbinario.net/2014/04/12/el-simulador-de-firefoxos/.
Básicamente haces lo que dice salvo lo de instalar firefox , es medio trabajoso pero es lo que mejor anda

[2014-04-15 23:04] Albertobenz commented on #96
Hola, aunque ha pasado algo de tiempo desde el ultimo posteo, para reportar que al parecer aun no funciona el formateo de números para México, o tal vez me falte alguna actualizacion, tengo la version 0.2.6 de Loqui IM, si uso la solución temporal de poner un 1 antes del numero de mi contacto no puedo realizar llamadas normales. Saludos desde México

[2014-04-16 17:38] netomx commented on #369
Si lo he usado, pero queria algo mas portable. Gracias como sea :)

Por cierto, el firefox que he usado es el v28

Ernesto Villarreal

On Tue, Apr 15, 2014 at 5:53 PM, Pablo2m notifications@github.com wrote:

[2014-04-16 18:06] Pablo2m commented on #369
​¿Mas portable en que sentido?​
Si queres evitar firefox podes probar usar b2g
https://developer.mozilla.org/es/docs/Mozilla/Firefox_OS/usando_el_B2G_escritorio_cliente
Hay otras opciones pero solo funcionan algunas cosas por lo que no te las
recomiendo.

[2014-04-16 18:26] netomx commented on #369
Pues abrirlo desde cualquier dispositivo. Lo puse en un servidor mío.
On Apr 16, 2014 1:06 PM, "Pablo2m" notifications@github.com wrote:

[2014-04-16 18:36] Pablo2m commented on #369
Ya entiendo,  para usarlo desde cualquier navegador necesita modificaciones, por lo que leí en algún lado hacer esas modificaciones no es prioritario, al menos por ahora.

[2014-04-16 18:57] netomx commented on #369
Gracias!
On Apr 16, 2014 1:36 PM, "Pablo2m" notifications@github.com wrote:

[2014-04-17 12:13] aesedepece commented on #230
The supported services list is frozen by now as we are focused on improving overall performance of the app and XMPP support in the 0.3 branch. Nevertheless, we encourage every developer to take Loqui's source code and hack it to support any service they may find interesting.

On our side, we won't consider adding new service providers (Kontalk, Instagram, etc.) until working in the 0.4 branch by 2

[2014-04-29 16:19] bdcomp opened #371 "Separate html tags from language strings"
Maybe it's better to separate the text from html tags to several strings, as html garbled on RTL.

This is the last untranslated string in Hebrew, because of this issue:
http://translate.loqui.im/translate/loqui/1/en-he#112

[2014-04-29 17:14] aesedepece commented on #371
Sure, we shoul do for v0.3.1.

Can you explain the problem with RTL? I don't kind of understand it.

[2014-04-29 17:20] bdcomp commented on #371
@aesedepece The closing html tags, with "/" are garbled (at least visually) so the "/" is misplaced.

To reproduce, just open the link in the description and click on any closing html tag, like "strong" or "a" to copy without translating.

[2014-04-29 23:24] aesedepece commented on #356
Done in v0.3.0 ;)

[2014-04-29 23:24] #356 closed, assigned to nobody

[2014-04-29 23:25] aesedepece commented on #350
Hecho, en la v0.3.0 ya se pueden activar/desactivar las cuentas desde el panel lateral ;)

[2014-04-29 23:25] #350 closed, assigned to nobody

[2014-04-29 23:25] aesedepece commented on #344
The filter bar is to be replace by a global search function.

[2014-04-29 23:25] #344 closed, assigned to nobody

[2014-04-29 23:26] aesedepece commented on #342
Fixed.

[2014-04-29 23:26] #342 closed, assigned to nobody

[2014-04-30 05:24] bdcomp opened #374 "Broken UI"
v0.3.0 on GP Peak, B2G 1.1.1.0hd-GP (stable).

The top part of the app is totally broken.
Screenshot:
![2014-04-30-08-17-08](https://cloud.githubusercontent.com/assets/6454391/2837955/9dc7d1e6-d027-11e3-8eb9-0164c7dfc98f.png)

[2014-04-30 07:10] #374 closed, assigned to nobody

[2014-04-30 07:11] aesedepece commented on #374
The problem was that the Gecko version in FFOS 1.1 didn't recognize yet the new CSS units (vw, vh, vmin, vmax), so some elements were wrongly positioned.

[2014-04-30 07:13] bdcomp commented on #374
@aesedepece May I ask for a quick fix release of the app?

[2014-04-30 07:17] aesedepece commented on #374
@bdcomp It will arrive in the next hours, fixing this and a sync problem with Mexico numbers. Sorry for the inconvenience.

[2014-04-30 07:50] bdcomp commented on #374
Thanks!

[2014-04-30 09:55] aesedepece commented on #96
Esto queda totalmente arreglado no sólo para México sino para cualquier otro al añadir la función de sincronización nativa de WhatsApp (commit ce0e6cde6bb2dc9bcfe85d84e5d7ad39f21d3349).

[2014-04-30 09:55] #96 closed, assigned to nobody

[2014-05-01 11:29] liezie commented on #374
i'm having the same issue. i did a system update but there were no updates. how should i proceed to get this fix?

[2014-05-01 12:52] aesedepece commented on #374
@liezie The 0.3.0b update should be now available.

[2014-05-01 18:20] rafaelmr2 commented on #43
Why OTR in 0.3 needs geolocalization?

[2014-05-01 18:29] rafaelmr2 opened #376 "Can't see online contacts on XMPP"
Hi, I'm using the new Loqui IM 0.3. I can't see who is online anymore on XMPP, I see all contacts (even the offlines) and just on I open a contact I can see the status. I use Firefox 1.3 on GeeksPhone.

[2014-05-01 18:30] aesedepece commented on #43
@rafaelmr2 It doesn't. Maybe in your device the OTR button is too close to the Location one and you pressed it accidentally?

[2014-05-01 18:33] aesedepece commented on #43
BTW... OTR is already here. It needs yet to be improved (enabling/disabling message logging, SMP, etc.) but it just works :dancer: :dancer: :dancer:

[2014-05-01 18:33] #43 closed, assigned to nobody

[2014-05-01 18:39] aesedepece commented on #376
We disabled it for WhatsApp and probably it also broke XMPP. We'll recover it.

[2014-05-01 19:28] #376 closed, assigned to nobody

[2014-05-02 03:07] ghw opened #377 "unable to log on to Hangouts (Google Apps)"
The use of Google Apps(google.com/apps), unable to log on to Hangouts (show the password is wrong, but I can ensure that the password is not wrong, because this password can login XMPP version)

[2014-05-02 05:13] cargabsj175 commented on #355
Con whatsapp, en la versión 0.3.0b no termina de sincronizar, y regresa de nuevo a la pagina de registro

[2014-05-02 10:12] aesedepece commented on #355
@cargabsj175 Queda arreglado en la 0.3.0c, disculpad todo el terremoto de actualizaciones.

[2014-05-02 10:16] aesedepece commented on #360
Duplicate of #79. Let's track it there.

[2014-05-02 10:16] #360 closed, assigned to Gioyik

[2014-05-02 10:16] aesedepece commented on #377
Duplicate of #79. Let's track it there.

[2014-05-02 10:16] #377 closed, assigned to nobody

[2014-05-02 19:10] ghost opened #379 "[XMPP] Can neither receive nor send msgs"
hello all,

when tapping on the "Speech balloon" icon nothing happens. And tapping on "enter" creates a new line. So there is no possibility to send msgs.

On the other hand when receiving msgs, only the internet activity symbol in the upper bar reacts. the msgs are not shown in loqui.

Can you please check this behaviour?

Using ffxos 1.1 on Peak

Thank you very much.

[2014-05-02 19:12] ghost commented on #181
Any updates on this issue?

@aesedepece can you please tell us how to extract the logs? Is it a prosody issue?

[2014-05-02 19:13] ghost opened #380 "[XMPP] can not delete contacts"
see Title.

[2014-05-02 19:16] ghost opened #381 "[XMPP] Contact list does not show if contact is online"
.. the contacts are all shown offline. you have to tap on the contact to see if he / she is online or not.

[2014-05-03 01:38] aesedepece commented on #379
Thanks for reporting.

This issue happens because we sadly didn't take into account that FFOS 1.1 uses Gecko 18, which lacks of support for ECMA 6 and JS 1.7 functions such as `Array.prototype.find()` which we've been using extensively.

We are now moving back to `Lungo.Core.findByProperty` so that we keep backwards compatibility while there are still 1.1 phones out there.

[2014-05-03 01:57] #379 closed, assigned to nobody

[2014-05-03 02:29] aesedepece commented on #381
Maintaining updated status of tens or thousands of contacts in a XMPP roster is trivial in a PC but not very effective in a resource-limited cheap phone. That's why we decided to:
- Show presence only for already opened chats
- Remove the contacts list and use a "chat with" activity instead.

We know it's not obvious for XMPP users who comes from Pidgin and the other clients, but we consider this

[2014-05-03 17:30] bdcomp opened #382 "Minor versions not visible on Info page"
v0.3.0d on GP Peak, B2G 1.1.1.0hd-GP (stable).

On the just updated app (I suppose v0.3.0d), Info page say "Loqui IM v0.3.0".

It's important for bug reports and debug to be sure that is the version we are talking about.

[2014-05-04 12:16] destanyol opened #383 "Keyboard resize"
Why Loqui does that when there is a keyboard? This makes a lot of lag. Other apps are more smoother because doesn't have this resize and are more easy to read too.

Loqui
![ndesx](https://cloud.githubusercontent.com/assets/2753657/2872956/556d3fce-d385-11e3-955f-4c6b8ea67756.png)
![ndex](https://cloud.githubusercontent.com/assets/2753657/2872957/5571fc80-d385-11e3-9e54-831c52d81614.png)
ConnectA2

[2014-05-04 12:20] aesedepece commented on #383
We're still trying to figure out why. Thanks for filing the issue so that we can track any progress.

It happens only in certain devices (mostly those with 320x480 screens) and certain versions of FxOS.

[2014-05-04 12:22] aesedepece commented on #382
Thanks for you suggestion, it's really appreciated. We'll take it into account for future releases.

[2014-05-04 12:22] #382 closed, assigned to nobody

[2014-05-04 12:22] destanyol commented on #383
Ok, I will be looking out too in my free time, thanks!

[2014-05-04 12:29] aesedepece commented on #359
What's the current status of this issue? Have you experienced this in 0.3.0d? Thanks!

[2014-05-04 12:29] aesedepece commented on #358
What's the current status of this issue? Have you experienced this in 0.3.0d? Thanks!

[2014-05-04 12:30] aesedepece commented on #366
Duplicate of #181. Let's track it there. Thanks @kiethandi !

[2014-05-04 12:30] #366 closed, assigned to nobody

[2014-05-04 12:32] aesedepece commented on #355
Con la 0.3.0c/d debería funcionar correctamente. Corregidme si me equivoco ;)

Saludos y muchas gracias por aguantar el caos de las últimas versiones, @DiegoErnesto y @cargabsj175 .

[2014-05-04 12:32] #355 closed, assigned to nobody

[2014-05-04 12:38] aesedepece commented on #341
What's the current status of this issue? Have you experienced this in 0.3.0d? Thanks!

[2014-05-04 12:40] aesedepece commented on #262
What's the current status of this issue? Have you experienced this in 0.3.0d? Thanks!

[2014-05-04 13:06] KThand1 commented on #181
Dukgo.com and blah.im does not allow me to log in - jabber.me/jabber.org seem to be okay though. (On latest)

[2014-05-04 13:48] aesedepece commented on #181
Just tested and worked with both my existent dukgo.com account and a just-created blah.im account, so it's not about the providers but the account itself (probably something in the XMPP roster).

[2014-05-04 14:59] bdcomp opened #387 "Implement deletion of account avatar"
v0.3.0d on GP Peak, B2G 1.1.1.0hd-GP (stable).

After adding an avatar to my WhatsApp account, it looks like there is no option to revert the selection (or delete the custom avatar, in other words).

The only visible related option on "My account" is "Change".

[2014-05-04 16:47] rafaelmr2 commented on #262
I can login in new version :) Thanks

[2014-05-04 16:48] #262 closed, assigned to nobody

[2014-05-04 16:50] aesedepece commented on #387
Do you know if there is such an option in WhatsApp for Android/iOS? I'd like to see some screenshots to get ideas on how to better implement it ;)

[2014-05-04 17:11] bdcomp commented on #387
Yes, it's implemented in WhatsApp for Android/iOS:
https://www.whatsapp.com/faq/android/23741812
A screenshot:
http://www.themobileindian.com/images/nnews/2013/12/15103/Step-4.2.jpg.pagespeed.ce.gjWdyvPpsX.jpg

[2014-05-04 17:19] bdcomp commented on #371
@aesedepece I am not sure how to implement this (after creating new strings in en.ini), as in xmpp.js is supposed that only 1 notice string is exist:

[code]

Please advice.

[2014-05-04 17:48] #383 closed, assigned to nobody

[2014-05-04 18:58] ghost commented on #181
@aesedepece can you please create an account on http://www.jabber.de/register/ and try if it works?

[2014-05-04 19:00] ghost commented on #358
Problem not occuring anymore! Thank you very much.

[2014-05-04 19:00] #358 closed, assigned to nobody

[2014-05-04 19:06] ghost commented on #381
The presence shown in already opened chat is not the actual presence. Only when you open the chat with a specific contact, you get his/her actual presence.

[2014-05-04 19:17] bdcomp opened #388 "Avatar action string not translatable"
The "Change" string on the "My account" -> avatar, is hard coded in index.css:

[code]

[2014-05-04 20:00] aesedepece commented on #181
With jabber.de, It seems to halt in here:

Client → Server

[code]

Server → Client

[code]

According to xmpp.org/extensions/xep-0054.html (3.1 Example 3), the account doesn't have an associated vcard.

So the fix to this issue will need to:
- Catch the "item-not-found" error
- Stop waiting for an existent vcard
- Publish a new vcard
- Move on with the setting up process

I take personally the co

[2014-05-04 20:01] uvox74 commented on #341
No problem so far. Sometimes  (seldom) IT gets non responsive , but  after rebooting the app everything seems to work fine (FFOS1.1)

[2014-05-04 20:05] aesedepece commented on #181
PRO-TIP: if you want you accounts to work inmediately in Loqui, set them in Pidgin and change your profile image to will create a vcard for your account. (That's why my dukgo and blah accounts worked on the first go: they had been created in Pidgin)

[2014-05-04 20:06] #341 closed, assigned to nobody

[2014-05-04 20:08] #313 closed, assigned to nobody

[2014-05-04 20:21] ghost commented on #181
The Pro-Tip is working!! thank you very much!

[2014-05-04 20:23] ghost opened #389 "[XMPP] Can not receive msgs"
When receiving msgs, only the network activity symbol of ffos shows activity. The messages are not shown in the chat in loqui.

@aesedepece
Thank you for giving xmpp attention now, after the whatsapp avalanche in the last few months!

0.3.0d ffos 1.1 Peak

[2014-05-04 20:25] Gioyik commented on #314
@bdcomp do you think this is necessary to have in Loqui? Just to push code with a fix for this. :)

[2014-05-04 20:25] Gioyik commented on #312
I think we can close this issue. Let's see what are the comments with new v0.3.0

[2014-05-04 20:26] #312 closed, assigned to nobody

[2014-05-04 20:32] Gioyik commented on #237
La interfaz a cambiado en la v0.3.0 asi que no deberia seguir pasando.

[2014-05-04 20:32] #237 closed, assigned to nobody

[2014-05-04 20:33] Gioyik commented on #90
The UI is changed and nobody reports this problem anymore. If this happens again, comment this issue to reopen it.

[2014-05-04 20:33] #90 closed, assigned to Gioyik

[2014-05-04 20:35] Gioyik commented on #89
The solution is planned with this fix for #122. Discuss there. :)

[2014-05-04 20:35] #89 closed, assigned to nobody

[2014-05-04 20:36] Gioyik commented on #79
The fix for this is talked on #122. Lets discuss it there.

[2014-05-04 20:36] #79 closed, assigned to aesedepece

[2014-05-04 20:37] Gioyik commented on #69
Bolts are working on v0.3.0 :D Woooohhhhhhhooooooo!!!!!!!

[2014-05-04 20:37] #69 closed, assigned to aesedepece

[2014-05-04 20:44] Gioyik commented on #250
@aesedepece en la v0.3.0 no es que hay algo que muestra solo 25 mensajes y en la parte de arriba dice "mostrar mas"? Es asi o lo he imaginado?

[2014-05-04 20:49] Gioyik commented on #369
Hay planes de sacar un cliente web y posiblemente uno Desktop. Keep informed!

[2014-05-04 20:49] #369 closed, assigned to nobody

[2014-05-04 20:50] ghost commented on #389
Could the cause be the fact that the xmpp account somtimes  just goes offline because of a weak internet connection?

[2014-05-04 21:05] ghost opened #390 "[XMPP] Initiation of OTR"
How to initiate OTR?

After tapping on the "+" sign the key generation starts. After few seconds the window with the notification (Generating key) is gone. and then nothing happens!

Is the key generated now?

Is OTR active?

What about the verification of the fingerprint? (Check ChatSecure)

@aesedepece
Can you please give us more infos on how to handle otr on loqui?

[2014-05-04 21:09] Gioyik commented on #135
@8la sigues teniendo estos problemas con la nueva v0.3.0?

[2014-05-04 21:20] aesedepece commented on #250
Sí, corta cada 30 mensajes que es como están almacenados en los llamados "chunks". La longitud se puede regular en `App.defaults.Chat.chunksize`.

Ahora mismo una buena opción sería que en cuanto ese botón entre en el área visible empieze a cargarse el anterior chunk y en cuanto esté listo lo pinte.

[2014-05-04 21:27] aesedepece commented on #389
@baccu I absolutely agree with you: adding WhatsApp has delayed our plans to heighten the XMPP user experience. But now is the moment to keep showing our support for open standards :fist:

[2014-05-04 21:32] aesedepece commented on #390
The "Generating key" notification itself explains that the key is generated in background and you'll be notified when it's ready. It should take between 10s and 5m depending on your phone (GP Revolution vs. ZTE Open).

If after some minutes the key hasn't been generated, please tell me and I'll check if there's something wrong with FFOS 1.1 that I believe you are using. Maybe it lacks full WebWork

[2014-05-04 21:34] ghost opened #391 "[XMPP] Difference between diactivated account and closed Loqui concerning offline messages"
Step one: Deactivate xmpp on loqui (do not close loqui!)
Step two: Send a msg to the deactivated account from another account on pidgin (or any other client)
Step three: re-activate account on loqui

The offline message does not arrive.

But if you close Loqui first, send from pidgin a msg and then start loqui, the offline message arrives!

So it seems there is something different beween deactivat

[2014-05-04 21:40] ghost commented on #390
The "Generating key" notification disappears about 5-6 seconds, and then noting happens at all.

Is there any other notification when key generation succeeds?

loquiim 0.3.0d ffos 1.1 Peak

[2014-05-04 21:46] ghost commented on #389
@aesedepece  exactly ;-)

maybe implementing XEP-0280 & XEP-0198 ? This could increase the reliability of xmpp on mobile phones using loqui?

[2014-05-04 22:12] destanyol opened #392 "Facebook en catalán"
No entiendo porque, pero cuando pongo el móvil en catalán, los mensajes que me envían por Facebook no me llegan. Cuando lo tengo en castellano si.

[2014-05-04 22:24] aesedepece commented on #390
Yes, when the key generation succeeds another notification is fired and the fingerprint appears like you see in the picture:
![otr](https://cloud.githubusercontent.com/assets/1316439/2874186/e51d4a1a-d3da-11e3-83f2-2233bfebe28f.png)

[2014-05-05 05:50] ghost commented on #390
Key generation is not succeeding on 1.1 Peak

[2014-05-05 16:53] ghost commented on #364
@aesedepece @Gioyik
Reliability is really a big problem in the version 0.3.0. The older version 0.2.5 was much more reliable!

The notification "authentification failed"  pops up after unlocking the phone and checking loqui. It seems that it is not reconnecting.

Can you please check this issue?
Thank a lot!

[2014-05-05 17:14] destanyol commented on #392
#389 El problema ya estaba reportado.

[2014-05-05 17:14] #392 closed, assigned to nobody

[2014-05-06 00:29] Vitorbpt opened #393 "Erro de CSS"
Percebi que no "index.css" tem alguns erros. Não eatou conseguindo corrigir porque estou pelo celular! Mas onde era para ter ":" tem ";"! É só dá uma olhadinha que facilmente são encontrados... Nas ultimas linhas do "index.css" é encontrado um desses erros...

[2014-05-06 00:40] Vitorbpt commented on #393
Linha » 314
Linha » 487
Linha » 1523
Linha » 580

[2014-05-06 00:52] Vitorbpt opened #394 "Tradução Português"
Alterar "ContactsSync=Sincronização do telefone" para "ContactsSync=Sincronizar".

O texto esta muito grande e causando bug!

[2014-05-07 14:53] pravi opened #395 "add support for textsecure"
https://en.wikipedia.org/wiki/TextSecure It would be really awesome to connect with best Free Software text messaging software out there.

[2014-05-07 15:10] aesedepece commented on #395
@unknowndevice and @garrettr are also interested in this.

[2014-05-07 17:49] #394 closed, assigned to nobody

[2014-05-10 20:34] ghost commented on #364
@aesedepece

After the update to 0.3.0e loqui became faster. However nothing has changes concerning the reliability. The xmpp connection disconntects very often, and does not reconnect automaticly. Keeping an established connection alive is almost impossible. "Authentification failed" notification still pops very often, to get rid of it you have to close loqui and restart it.

Is anyone else havin

[2014-05-13 18:25] kastedo opened #396 "Loqui will stop displaying messages after having lost mobile data connection"
ZTE OPEN
OPEN_FFOS_V1.1.0B01_TME
Loqui IM v0.3.0e
Protocol: XMPP

Loqui will stop displaying messages from a contact in a conversation (already started or not) after having lost mobile data connection and having recovered it back. However, it seems the messages actually get to the phone (at least when the conversation had already started) because the data traffic icon still shows traffic movement

[2014-05-14 22:38] Gioyik commented on #393
I don't know what's the problem in line 314. Could you tell me what's wrong there?

Thanks

[2014-05-14 22:41] aesedepece commented on #393
[code]

Los 'vh' no están en FFOS 1.1, recuerda :smile_cat:

[2014-05-14 22:42] Gioyik commented on #396
Maybe its the same problem described on #391

[2014-05-14 22:48] Gioyik commented on #370
I am thinking on a Blog post related to this on loqui.im instead of put something on LoquiIM. What you think @aesedepece ?

[2014-05-14 22:51] Gioyik commented on #299
@bobcanthelpyou this continue happening in last versions?

[2014-05-14 22:54] Gioyik commented on #393
Juro que lo pense. Como has resuelto esto antes?

[2014-05-14 23:16] aesedepece commented on #393
100vh → 100%
Para la mayoría de los casos vale, pero no se puede aplicar la sustitución a la ligera porque no siempre vale.

[2014-05-15 20:46] soapdog opened #399 "No way to enter verification code for Whatsapp if Loqui is not on the verification screen"
Hey,

If loqui is closed when you receive the SMS message and you open it again there is no way to bypass the number verification screen and go directly to the enter code screen.

Now, I can't enter my SMS verification code because Loqui thinks it needs to send it again and thanks to Whatsapp horrible practices I will only be able to send a new SMS tomorrow.

There should be a button "Verify numbe

[2014-05-15 21:20] Zeriuno commented on #395
It would be really great.

[2014-05-16 17:41] pravi commented on #395
Currently whatsapp is the only option available on Firefox os to use data connection as a cheaper text messaging alternative. I don't want to lose my privacy using whatsapp. Jabber/xmpp is a good option, but unfortunately the convenience of identifying contacts with their phone number is missing here. Plus it cannot really work asynchronously like whatsapp. Being a free software community caring a

[2014-05-16 17:50] pravi commented on #395
I feel strongly about this feature, I'm willing to run a crowd funding campaign to get this feature built. I was part of savepoddery.com campaign.

If we can find someone to work on this feature and get an estimate of time and effort required, we can start raising money to fund someone full time.

[2014-05-16 20:19] ghost commented on #364
Same issue here according "Authentification failed" messages. Also problems to receive messages.
Made good experience with xep-0198/0280 Clients on Android (Conversations, Yaxim). Much more reliable.

[2014-05-16 20:26] ghost opened #400 "[XMPP] XEP-0333: Chat Markers"
I suggest the implementation of xep-0333 as opt-in feature.
http://xmpp.org/extensions/xep-0333.html
The chat experience is far away from being perfect (very unreliable) so chat markers should be a must have feature.

[2014-05-18 08:14] pravi opened #401 "xmpp contact list does not show status"
Before 0.3.0 contact list used to show status as well. It is missing now.

[2014-05-18 09:56] CodingFree opened #402 "Cross-Origin Request Blocked."
E/GeckoConsole( 2237): [JavaScript Warning: "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://bosh.loqui.im/. This can be fixed by moving the resource to the same domain or enabling CORS." {file: "https://bosh.loqui.im/" line: 0}]

[2014-05-18 10:26] willyaranda commented on #402
(quick comment to post this:
https://bugzilla.mozilla.org/show_bug.cgi?id=1012240
El 18/05/2014 11:56, "Adrian" notifications@github.com escribió:

[2014-05-18 10:27] CodingFree commented on #402
Oh, sorry then :)

[2014-05-19 01:59] rafaelmr2 commented on #389
@aesedepece Thanks. I'm using WhatsApp in FFOS because XMPP support is not OK. I can't receive messages too. I'm glad you are working on XMPP. :)

[2014-05-20 06:12] josegfff opened #403 "Error de autentificación en Google Hangouts."
Error authentication in Google Hangouts

Despite intorducir data can not connect well.
In google mail message "prevented an unauthorized connection attempt" appears.

[2014-05-20 14:15] aesedepece commented on #403
You can authorize your account by accessing the following site from your phone:
 http://www.google.com/accounts/DisplayUnlockCaptcha

We are still figuring out a better way to override this issue by using OAuth authentification.

[2014-05-20 14:18] aesedepece commented on #401
Duplicate of #381. It's explained there.

[2014-05-20 14:18] #401 closed, assigned to nobody

[2014-05-20 14:22] aesedepece commented on #399
We had this feature in the past but I'm not sure why now we don't.
Pinging @Gioyik ... he worked on this then.

[2014-05-20 14:27] aesedepece commented on #370
I have to raise one more point: starting yesterday, Google Talk S2S federation is definitively broken as it doesn't support TLS authentication, which is now mandatory for every XMPP deployment.

[2014-05-20 14:28] aesedepece commented on #396
Definitively it's the same issue than #391. I'll close this and explain there what's happening. Thanks!

[2014-05-20 14:28] #396 closed, assigned to nobody

[2014-05-20 14:32] aesedepece commented on #391
Ok, it seems that after disabling and re-enabling an account (or loosing connection and then reconnecting), the message stanza handlers are not being set any more.

I suppose it has something to do with the modifications I made to avoid duplicating handlers as often happened in 0.2.6.

I'll take a look at it asap. Thanks @baccu, @kastedo and @Gioyik !

[2014-05-20 17:02] pravi commented on #381
But unlike whatsapp, there is no functional push messaging everywhere, so it doesn't really help sending a message if the contact is offline, it is almost guaranteed they won't see it. It is practically useful only to send message to contacts who are available. Having to check every contact manually is a real pain. When we have push messaging working, I would agree, xmpp is not ready for that yet

[2014-05-20 22:51] deimidis opened #404 "Sounds should activate/desactivate with FirefoxOS sound"
I used to have my phone on «Vibrator» mode and with no sound, but Loqui didn't recognize that option and use it's option instead

[2014-05-20 23:28] aesedepece commented on #404
By default, any sounds played by an app will be played in the "normal" or "content" audio channel. This means that muting the media volume in your phone should completely squelch all apps.

What version of FirefoxOS are you using? Maybe there's something wrong with it :suspect:

[2014-05-24 19:31] #391 closed, assigned to nobody

[2014-05-24 19:34] #393 closed, assigned to nobody

[2014-05-24 19:36] aesedepece commented on #389
This is allegedly fixed by 6fcc6c2c6e7d08b2aefbbb5fc6b2efa85c3a0dcb. It was a silly fail when reattaching XMPP stanza handlers.

[2014-05-24 19:36] #389 closed, assigned to nobody

[2014-05-24 19:38] aesedepece commented on #352
We assume this issue is not present any more as of v0.3.0.
Let us know if it does.

[2014-05-24 19:38] #352 closed, assigned to nobody

[2014-05-24 20:39] #181 closed, assigned to nobody

[2014-05-25 09:41] aesedepece commented on #400
_XEP-0333: Chat Markers_ is still experimental.
We'll try _XEP-0184: Message Delivery Receipts_, which is in Standard Track and works in a more similar fashion to WhatsApp's _ack_ receipts.
Thanks for the suggestion! :+1:

[2014-05-25 16:25] aesedepece commented on #400
Commit 22a9a88e0f15c0e40864aa6a0e416b921c66840f introduces support for _XEP-0184: Message Delivery Receipts_ :wink:

[2014-05-25 17:42] ghost commented on #400
:+1:

[2014-05-25 19:51] ghost commented on #389
Great news! Thank you very much!

Can you please push an Update so we, the jabber users, can re-start using loqui?

[2014-05-25 19:58] ghost opened #405 "[XMPP] Feature request: Connecting directly to a user chosen jabber server"
It would be nice to be able to connect directly to a server the user choses. Like in Adium, Pidgin and all other clients.

This could be a feature for the future. I guess there are other priorities for xmpp on loqui right now.

[2014-05-25 19:59] aesedepece commented on #405
Duplicate of #365

[2014-05-25 19:59] #405 closed, assigned to nobody

[2014-05-25 20:01] aesedepece commented on #365
This needs _XEP-0077: In-Band Registration_.

[2014-05-25 20:08] ghost commented on #405
oh i did not realize that. My bad ;-)

[2014-05-29 09:24] ghost opened #406 "[UI] Suggestion / Discussion"
Hello all,

if you scroll a chat history with a person with a profil pic, you can see it in the small circle next to each msg received, and the pic of the sender too.

Isent the big circle with the profil pic in the upper right enough?

[2014-05-29 16:15] aesedepece commented on #406
Those small circles are put there just for consistency with group chats, in which those circles are quite useful for subconscious identification of each message's sender.

Do you think they are somewhat redundant in regular (one-to-one) chats?

[2014-05-29 18:04] ghost commented on #406
yes, i think that it is somehow redundant in one-to-one chat. what is your opinion? and the opinion of other users?

off-topic: will you push an update with the xmpp corrections soon? we would like to re-start using xmpp on loqui!

[2014-05-29 18:14] aesedepece commented on #406
Sure, as soon as XMPP MUC (chat rooms) are ready. Give us a week or so ;)

[2014-05-29 18:45] ghost commented on #406
Thanks!

well my suggestion is to use the small circle only in groups chats. what do you think about that?

[2014-05-29 22:59] aesedepece commented on #406
I'd like to hear other users' opinion before making any decision. Let's discuss it.
@Gioyik please have your say!

P.S.: Feel free to post any other usability issue or suggestion that you have. Sometimes we think something to be obvious but then users have the last word :wink:

[2014-05-30 01:45] opensas commented on #161
+1
aquí hay un cliente en html5 https://github.com/zhukov/webogram

[2014-05-30 01:51] opensas opened #407 "Use loqui im from desktop"
I was wondering if it's possible to use loqui im from a linux desktop (a web app)
Just like with http://webogr.am/#/

[2014-05-30 10:25] aesedepece commented on #407
Enjoy: https://demo.loqui.im

[2014-05-30 10:25] #407 closed, assigned to nobody

[2014-05-30 11:02] codedust commented on #395
A JavaScript implementation of Textsecure is currently being worked on (https://github.com/WhisperSystems/TextSecure-Browser). We should definitly wait until it gets more stable and is fully audited. Mainwhile I will do some testing on Firefox OS.

[2014-05-30 11:08] aesedepece commented on #395
:+1:

[2014-05-30 11:27] Kaor opened #408 "can't connect to dukgo.com service"
i have an account on dukgo.com xmpp services,
but i can't connect it on my phone,
nothing special on console,
it start synchronisation but come back to login.
It's stange because, i can see this account connected on my computer.
on pidgin or other no problem.
Thanks

[2014-05-30 11:29] aesedepece commented on #408
I think this is a duplicate of https://github.com/loqui/im/issues/181

[2014-05-30 11:53] Kaor commented on #408
it is !
thanks

[2014-05-30 11:53] #408 closed, assigned to nobody

[2014-05-30 14:56] Gioyik commented on #406
Mmmm I am not sure about this. I think is so early to take a choice, and I see those small circles in the right way. Maybe we need more feedback related to this and see if it's redundant. The v0.3.0 is so new. We could take a time to discuss and see the comments of more people.

[2014-05-31 09:43] movilla opened #409 "Google Hangouts doesn't receive messages sent."
Send messages perfectly, but does not receive all messages. Only a few received.

[2014-06-01 04:12] aesedepece commented on #409
This is likely a consequence of #391, which is already fixed.
Will update with 0.3.1 in the next two weeks.

[2014-06-01 04:12] #409 closed, assigned to nobody

[2014-06-01 15:45] movilla commented on #409
Great. Thanks! :]

[2014-06-03 19:27] Poorchop opened #410 "AIM support"
Are there any plans to add support for AIM? I know that it's quite an old service, but it feels like a little something is missing without the ability to add my AIM account. Otherwise, great application and thanks for the OTR support.

[2014-06-07 17:42] nito11 commented on #403
No funsiona

[2014-06-07 17:57] aesedepece commented on #403
@nito11 ¿Puedes ser un poco más específico? Gracias.

[2014-06-08 07:07] nileane commented on #161
This should definitely be implemented !

[2014-06-08 21:00] Poorchop opened #411 "[XMPP] Show contact avatars in buddy list"
Being able to see the avatars of our contacts would be a nice touch because it provides more information at a quick glance. I'm guessing that this might be a problem though because of what has already been mentioned in issue #381:

Perhaps this would be a lot less resource intensive though because the avatar check could be something that's only done once at log in, and then the avatars could be ca

[2014-06-11 19:25] jwhipp opened #413 "[Lync] Add Advanced Options"
Some Lync servers require advanced options such as adding the server manually when auto discovery doesn't work.  This is basically a request to allow the user add the server, port, etc. manually when adding an account.

Also might be useful to have the user agent as a configurable field (as described in Pidgin-Sipe wiki).

[2014-06-11 20:18] Gioyik commented on #413
Could you give us a server example to test and implement this feature?

Thanks

[2014-06-11 20:51] jwhipp commented on #413
My company is using a cloud provider for lync.  As of right now, the DNS service record for this only seems to work with official Lync clients (and even then, not really).

I've attached a screen shot of Pidgin's advanced account configuration for Lync/Office Communicator.

![pidgin-sipe-advanced-tab](https://cloud.githubusercontent.com/assets/556332/3250574/8681f998-f1a7-11e3-80a2-6240cf3bc24c.pn

[2014-06-11 20:58] Gioyik commented on #413
Thanks so much @jwhipp I will investigate about this. I hope this could be more easier than Google Apps Hangouts configuration. :)

[2014-06-12 04:25] Gioyik commented on #399
Please, check #415, is a PR for this. It SHOULD work, so, don't be bad with me after test it. :)

[2014-06-13 10:29] japerez opened #416 "Whatsapp messages not working on Firefox OS"
Whatsapp messages (sent and received)are not working on Firefox OS. On the other I had a fully functional Whatsapp on an iphone

[2014-06-13 13:47] rdlmda opened #417 "Links don't work on login screen (android)"
When clicking on "this link" or "this other link", nothing happens.

I'm using an unrooted Moto G runnning Android Kit Kat and I have Chrome, Firefox and Opera Mini installed, usually upon clicking a web link I am presented with a dialog to pick one of them.

Loqui IM v0.30e

![captura de tela de 2014-06-13 10 39 19](https://cloud.githubusercontent.com/assets/4602525/3270508/f3c4fdac-f300-11e3-8fc

[2014-06-13 20:59] Gioyik commented on #416
Which version are you using? And which FirefoxOS version?

[2014-06-13 22:56] vitalyster opened #418 "loqui on android, xmpp authentication failed"
After reading https://hacks.mozilla.org/2014/06/firefox-os-apps-run-on-android/ I have try to run loqui on Android device. It is installed and run correctly, but I can't add my XMPP account and always get "authentication failed", even when I triple-checked my password and loqui works on Firefox OS Simulator with the same credentials.

[2014-06-14 00:53] versae opened #419 "Adding WhatsApp account does not work"
When trying to add my Canadian number as a WhatsApp acount, I get an error saying that the SMS could not been sent. I opened the console and no much information is shown.

[code]

I regularly use the same number in a different phone with WhatsApp.

Loqui IM v0.3.0e
Firefox OS 18.1
Boot2Gecko 1.1.1.0-GP

[2014-06-14 08:25] Cabalo commented on #79
Currently I can connect as described in https://translate.google.es/translate?sl=es&tl=en&js=y&prev=_t&hl=es&ie=UTF-8&u=http%3A%2F%2Fwww.mabingenieros.com%2Fconversar-mediante-gtalk-o-hangouts-con-firefox-os.htm&edit-text=
but I wish I could do it without any configuration on my domain
How is the situation now?

[2014-06-14 09:10] Cabalo commented on #403
Entra en gmail por web, comprueba si tienes un correo con el asunto "Se ha evitado un inicio de sesión sospechoso" y en ese caso sigue las instrucciones que verás en el mensaje para autorizar esa actividad.
Yo estoy intentando conectar con Google Hangouts utilizando una cuenta de Google Apps (no usuario@gmail.com sino usuario@ejempo.com) y solo consigo hacerlo configurandola como XMPP/Jabber despu

[2014-06-14 17:22] aesedepece commented on #418
We'll try to confirm if XMPP has issues on Android.
Could you provide your Android and Firefox version?
Thanks!

[2014-06-14 19:45] vitalyster commented on #418
Firefox 28 (from google play) and android 4.4.3(cm11). I have access to android logs and can find any interesting info in.

[2014-06-14 21:18] willyaranda commented on #419
Whatsapp has blocked you. It happened to me in the past and I needed to wait for 3 days to be unblocked.

[2014-06-14 23:42] versae commented on #419
I see, but does it make sense that I can use the number in a different phone? Anyway, I'll try again in 3 days.

[2014-06-15 16:47] TitanNano opened #420 "Simple Push"
Hey,
Just want to check out what's your plans to implement/switch to Simple Push?
At the moment I use 3 accounts (Facebook, Google, WhatsApp) and the battery consumption is really high. You improved it a lot since the very first version but it would also be cool if the app must not always run to receive new messages.

[2014-06-15 16:53] aesedepece commented on #420
Simple Push is virtually impossible for Facebook, Google or WhatsApp accounts because they don't run SP servers yet.

The only feasible way would be to use a proxy server intercepting the messages between such providers' servers and Loqui. But we think of this option to be fairly abusive (we don't like the idea of hijacking anyone's accounts).

We can't use their "official" PUSH servers either bec

[2014-06-15 17:49] #277 closed, assigned to nobody

[2014-06-15 18:01] TitanNano commented on #420
How I understood the system, at the moment the app connects to this BOSH server and then the server connects to the various providers.
Why is it not possible that this server triggers the push when he receives a new message?

[2014-06-15 18:07] aesedepece commented on #420
The BOSH server just redirects the messages from HTTPS to UNIX sockets (actual XMPP) without looking what's inside.

Although it could be possible to create a PUSH-enabled BOSH server, it wouldn't comply with XEP-0206 any more.

[2014-06-16 08:48] japerez commented on #416
Loqui IM I'm 0.3.0 and Firefox OS 1.3

[2014-06-16 13:22] japerez commented on #416
The whatsapp account wasn't enabled on the app. I enabled it and everything began to work.

[2014-06-16 13:23] aesedepece commented on #416
Ok, pretty obvious xD

[2014-06-16 13:23] #416 closed, assigned to nobody

[2014-06-16 13:37] jorgeuve commented on #277
Thanks a lot, Your are great¡¡¡
:-)

[2014-06-16 17:20] Gioyik commented on #418
It works for me on Firefox Nightly Android.

[2014-06-16 17:29] Gioyik commented on #399
We have this feature on v0.3.1

[2014-06-16 17:29] #399 closed, assigned to nobody

[2014-06-16 17:53] vitalyster commented on #418
Well, I have successfully logged in when enter credentials with standard Android keyboard, so something wrong when using custom keyboard. I think it is not loqui, but firefox problem, so it should be closed.

[2014-06-16 17:54] #418 closed, assigned to nobody

[2014-06-16 18:51] aesedepece commented on #418
@vitalyster Thanks for all the feedback. Happy chatting!

[2014-06-17 07:31] bdcomp opened #421 "Implement fxosRate library"
fxosRate is a library to help the promotion of a Firefox Marketplace apps by encouraging application users to rate the application.

https://github.com/dcoloma/fxosRate

I suggest to enable this for only part of our users and see how it's valuable for us, if any.

[2014-06-18 09:57] ghost opened #422 "[XMPP] Loqui opens a group chat window when a message is received after connecting"
Hello all,

thank you for the last update.

Step 1: Close loqui
Step 2: Send a msg to your xmpp account from another client
Step 3: Open Loqui.

Issue: After connecting, the message sent from the other client (when loqui was closed) is not shown. Instead of that, a new empty group chat window openes.

@aesedepece @Gioyik @aarizkuren  Can you please check this issue?

Edit: And the whole UI breaks,

[2014-06-21 16:01] rafaelmr2 commented on #181
@aesedepece, not work for me. I set my profile image in Pidgin, but still in "Syncrhonizing" on my riseup account.

[2014-06-21 16:02] rafaelmr2 commented on #363
Doesn't occurs anymore in newer versions. Closing.

[2014-06-21 16:02] #363 closed, assigned to nobody

[2014-06-21 17:36] #422 closed, assigned to nobody

[2014-06-21 17:38] aesedepece commented on #422
Sorry for the delay on the fix. I'm moving to a new home so these weeks I have little time.
Thanks for reporting. I think we'll be pushing a v0.3.1b later this week.

[2014-06-22 10:18] ghost commented on #422
@aesedepece:  Thank you for fixing this issue!

It would be great if you can push the fix, because xmpp on loqui is unusable since 2.6.
With this update we will go back to the stable version of 2.5, wich was good enough for daily use.

[2014-06-22 12:04] airon90 opened #423 "Add esperanto (eo) language"
Hi, is it possible to add Esperanto in the translatable languages?
Thank you!

[2014-06-22 12:15] aesedepece commented on #423
Sure!
http://translate.loqui.im/project/loqui/eo

Thanks ;)

[2014-06-22 12:15] #423 closed, assigned to nobody

[2014-06-22 14:46] airon90 commented on #423
Thank you too!

[2014-06-22 15:52] airon90 opened #424 "Translating website"
Hi, why don't you start translating the website too?
You should also create a branch named "website", where to add bug/feature request and where to check the website code

[2014-06-22 15:59] ghost commented on #299
Loqui IM v0.3.1a
Firefox OS 1.2.0.0

The problem seems to be disappeared

[2014-06-22 15:59] #299 closed, assigned to nobody

[2014-06-22 16:08] ghost commented on #410
I suggest to use a XMPP account and an AIM transport to keep in touch with your AIM contacts
https://en.wikipedia.org/wiki/XMPP#Connecting_to_other_protocols

[2014-06-22 16:40] ghost commented on #380
I could confirm this problem with XMPP contacts (Loqui IM v0.3.1a / Firefox OS 1.2.0.0)

[2014-06-22 17:53] ghost opened #425 "[XMPP] Can't access several contact profiles"
I can't access several XMPP contact profiles, this affects only some profiles with open chat conversations. It is not possible for me to access the profile and e.g. remove the conversation.

[code]

Loqui IM v0.3.1a / Firefox OS 1.2.0.0 / hamachi

[2014-06-22 18:29] ghost opened #426 "Can't close Loqui"
I can't close Loqui. The message "Closing the app will be closed in a few seconds" appears but Loqui does not close.

[code]

Loqui IM v0.3.1a / Firefox OS 1.2.0.0 / hamachi

[2014-06-22 19:14] ghost opened #427 "XMPP account stuck in yellow mode"
One of my XMPP account is stuck in "yellow mode" it is not shown as green connected and not grey as disconnected.

When pressing the switch the following message appears in the debug window:

[code]

I wrote some messages to the contact `oneofmycontacts@ajabberserver.com`, when he was (shown) as offline.

And now there are also several groups available (under the Groups tab, "`oneofmycontacts@ajab

[2014-06-22 19:18] ghost commented on #425
Maybe this is related to the issue that there are groups created for the some contacts, mentioned here: #427

[2014-06-22 20:09] aesedepece commented on #425
This is for sure a consequence of #422, which has already been solved and will be shipped soon.

[2014-06-22 20:10] aesedepece commented on #427
This is as well a consequence of #422.

[2014-06-22 21:24] ghost commented on #426
After removing the XMPP account with the problems of #427 and #426 Loqui is shutting down normally

[2014-06-23 22:15] Henricoptero opened #428 "Reconexión con Whatsapp"
Cuando la conexión a internet se pierde, aunque sea un solo instante, se deja de estar conectado con whatsapp.Además esto se hace sin aviso alguno por lo que no sabes cuando estas offline hasta que miras el icono switch y compruebas que esta de color naranja.
La verdad es que es bastante molesto.
El terminal que tengo es un zte open c con la version 1.3 de Firefox OS.
P.D.: también se echa de meno

[2014-06-23 22:17] Henricoptero commented on #428
La reconexión la tengo activada en ajustes

[2014-06-27 08:49] djaniketster opened #430 "Adding Marathi Language to Loui IM"
I am also Localizing Firefox OS and other Firefox products. Loqui IM is a fantastic app and Localizing will make it more amazing. I want to localize this for Marathi language from India (mr). This is the link for my contribution (http://mozilla.locamotion.org/mr/). my handle is same that of github.
Thanks.

[2014-06-29 09:46] gusrub opened #431 "Lags and hangs randomly on FFOS 1.1.1 for jabber accounts"
Hello, just got me one of those mexican movistar huawei devices. Pitty, they only have FFOS 1.1 and as far as I researched there are no updates available soon unless Huawei or movistar releases new roms which seems almost imposible given the poor interest they really have besides selling the thing...

That being said, I noticed lag and random hangs of the app, I'm using the latest version from the

[2014-06-29 18:24] aesedepece commented on #430
Hi @djaniketster. This is the link for translating Loqui IM to Marathi:
http://translate.loqui.im/project/loqui/mr

Thanks a lot!

[2014-06-29 18:24] #430 closed, assigned to nobody

[2014-06-29 18:28] aesedepece commented on #431
This was fixed by the commit 786728a.
We'll push an upgrade in the following days. Please try then and confirm if we can close the issue.

Sorry for the inconveniences and thanks for your report.

[2014-06-30 03:35] djaniketster commented on #430
Thank you! @aesedepece

[2014-06-30 07:43] gusrub commented on #431
Sure will do. Looking forward for the update to hit the marketplace. Gracias!

[2014-07-01 09:57] kramer65 opened #432 "[WhatsApp] Implement scrolling through multiple received images"
I'm using Loqui on Firefox OS 1.3 with my Whatsapp account. In one chat I often get multiple images. When I click one image I see it, but I then want to scroll through all images in that chat by swiping left and right. Unfortunately this doesn't work.

Is there any plan of supporting this?

[2014-07-01 16:36] radare opened #433 "Add support for Telegram network"

[2014-07-01 17:48] aesedepece commented on #433
Duplicate of #161
Thanks!

[2014-07-01 17:48] #433 closed, assigned to nobody

[2014-07-02 08:49] kramer65 opened #434 "Loqui port to Ubuntu Touch"
I love Loqui on my firefox OS device, but I would rather use it on Ubuntu touch. Are there any plans to port Loqui to Ubuntu Touch?

Although I don't have experience with writing apps for Ubuntu Touch, I could definitely help out..

[2014-07-02 14:44] R2D221 opened #435 "[Google] Hangouts is connected but won't send/receive message"
I logged in using Google Hangouts, and it seemed to work. I can see my profile picture and all my contacts are there. However, any message I send is not received, and any message someone else sends to me is not shown.

I'm using Firefox OS Simulator 1.3 under Firefox 30 on Windows 8.1. I don't know if the simalution may be causing this issue.

Also, I get random “Authentication failed” alerts. (Sh

[2014-07-03 18:44] aesedepece commented on #435
This was fixed by the commit 786728a.
We'll push an upgrade in the following days. Please try then and confirm if we can close the issue.

Sorry for the inconveniences and thanks for your report.

[2014-07-05 11:34] schmerten opened #438 "[Facebook] unable to connect"
When I insert my Facebook username and my password then the connecting and synchronising symbol appears. After this nothing happens. I hope you can help me. (sorry for my bad english)

[2014-07-05 18:18] schmerten commented on #438
I'm using the zte open c with firefox os 1.3.0.0

[2014-07-06 10:35] airon90 opened #439 "Make the app less phone-centric"
Loqui must be device independent: e.g. there are some strings saying that the app is running on a phone. [Some tablets](https://en.wikipedia.org/wiki/List_of_Firefox_OS_devices) running Firefox OS have been created and some boards (like [Raspberry Pi](http://www.raspberrypi.org/firefox-os-for-raspberry-pi/)) can run FFOS.

[2014-07-06 12:09] aesedepece commented on #439
We started using the "phone" word because the Mozilla style guidelines encouraged so at the time (June 2013).

I'm completely aware that Firefox OS is no longer a phone-only OS, and we'll see it arriving to plenty different devices and platforms in the following months and years. Nevertheless, we still haven't found any recent statement or recommendation from the UI/UX team on what term should be

[2014-07-06 13:43] bdcomp commented on #439
It looks like "device" used on the recent versions of Firefox OS.
Just take a look here (DNT screenshot):
http://www.xperiablog.net/2014/07/04/firefox-os-demoed-on-the-xperia-sp/

So, if it's agreed, I can take it.

[2014-07-06 16:55] airon90 commented on #439
I'm sorry. As I'm not a dev, I never read any doc from UI/UX team.
@aesedepece just consider my suggest, if the reccomendations changed

[2014-07-07 17:58] timkuijsten opened #440 "support otr ratcheting (async optimized otr)"
Would it be possible to support otr ratcheting for xmpp, if otr.js would support[1] it?

[1] filed an issue about ratcheting with otr.js: https://github.com/arlolra/otr/issues/54

[2014-07-07 18:46] bdcomp commented on #359
In fact, it's still here, on v0.3.1a B2G 1.3 GP Peak.
Sometimes, even the WhatsApp connection status is green, only after restarting Loqui new messages appear.

[2014-07-07 18:52] bdcomp opened #441 "WhatsApp label inconsistency"
WhatsApp is written as "WHATSAAP" and "WhatsApp" at different screens.

Let's remove the inconsistency and make it only "WhatsApp".

[2014-07-07 19:03] bdcomp opened #442 "Welcome screen text blink"
0.3.1a on GP Peak, B2G 1.3.0.

While Loqui starts, it looks like some text appear for a very short time before the "Welcome to Loqui!".

There should be a longer delay before the welcome text, or the former text should be just removed.

[2014-07-07 20:24] ghost commented on #427
using Loqui from Github the problems "stuck in yellow mode" and "created groups" are gone

[2014-07-07 20:24] #427 closed, assigned to nobody

[2014-07-07 20:34] aesedepece commented on #441
Can you pose some examples? Thanks! :smile:

[2014-07-07 20:44] bdcomp commented on #441
WHATSAAP:
- On the main conversation screen, left top corner
- Accounts screen

WhatsApp:
- Add accounts screen

I think I just realized how WHATSAAP issue born - "accounts" title is also full capitalized, so probably some css just applied.

[2014-07-07 20:49] aesedepece commented on #441
Yep, it is CSS `text-transform: uppercase;`.

Do you think it is too inconsistent?

[2014-07-07 20:53] bdcomp commented on #441
Yes, because:
- "WhatsApp" is a word about 2 parts, combined
- It's how it's originally written

I can take a look on it.

[2014-07-07 20:59] bdcomp commented on #105
@aesedepece It looks like this issue been fixed months ago...

[2014-07-07 20:59] #105 closed, assigned to aesedepece

[2014-07-07 21:04] bdcomp commented on #131
As #96 and #99 are closed, this issue need to be tested on the recent version.

@Reston Can you please take a look?

[2014-07-07 21:06] bdcomp commented on #159
@aesedepece It looks like this issue been fixed months ago...

[2014-07-07 21:06] #159 closed, assigned to nobody

[2014-07-07 21:19] ghost opened #443 "[XMPP] problems receiving and sending (Otr) messages"
I am using a Github version of loqui and Firefox OS 1.2 (Alcatel one touch)

The opposite side is a pidgin 2.10.9 client with pidgin-otr 4.0.0

When sending messages, sometimes these messages are delayed, not sure if this is a problem of the wws or anywhere else, i already receive new messages from the opposite but my messages are not yet delivered

Sometimes i don't receive some messages, i could

[2014-07-07 21:57] ghost opened #444 "Problem using Whatsapp and XMPP (otr) at the same time"
Loqui IM Github version on Firefox OS 1.2 (Alcatel one touch)

I am using a Whatsapp account and a XMPP account at the same time within Loqui IM

I accessed the Whatsapp account, and someone tries to opens a Otr XMPP conversation with me

Loqui asks me if i want to create an Otr certificate (i aleady have one for XMPP, but not for Whatsapp), i cancel that request.

But now there is a chat with the

[2014-07-08 01:24] Gioyik commented on #442
We need and screenshot or know which text appears.

[2014-07-08 04:23] bdcomp commented on #442
As it's appear for less than a second, I only see that the text is longer than "Welcome to Loqui!".

Maybe it just "Welcome to Loqui!" before some css/js applied?

[2014-07-08 04:28] Gioyik commented on #442
Maybe is just only a retard when l10n.js renders the strings. It's common.

[2014-07-08 04:33] bdcomp commented on #442
My Loqui in English.
And in fact there is no such blink elsewhere.

Maybe someone with a very low-end device could see that actually displayed on startup?

[2014-07-08 08:11] ghost commented on #426
I can't shutdown Loqui IM, and it seems to be problem with the accounts again, after removing my Whatsapp account, it is possible to shutdown Loqui IM again

[code]

Loqui IM v0.3.1 (Github) / Firefox OS 1.2.0.0 / hamachi

[2014-07-08 08:50] ghost commented on #442
I could confirm that behavior. Using Loqui IM with an English UI, too.

"Welcome to Loqui IM" (appear for less than a second)

![welcome loqui im](https://cloud.githubusercontent.com/assets/4523264/3507243/4f8ac106-067c-11e4-91d7-de2c9fde096a.png)

[2014-07-08 09:17] ghost commented on #425
When i receive a message from an unknown contact (not in my contact list) i can't access the profile, too

[code]

Edit: Also a Group with the unknown contact name is created

Loqui IM v0.3.1 (Github) / Firefox OS 1.2.0.0 / hamachi

[2014-07-08 09:23] ghost commented on #419
It should not be possible to use Whatsapp at different devices at the same time.

[2014-07-08 16:19] ghost opened #445 "[XMPP] no Autoreconnect"
Sometimes the XMPP account switches from connected (green) to disconnected (yellow)

[code]

Autoreconnect is enabled under Settings but the account will not automatic reconnected.

If i close Loqui IM and start it again, the account switches to connected, again. I also could use the connect button to connect the account manually.

[2014-07-08 18:14] ghost commented on #445
Same behaviour with loqui 0.3.1 on peak 1.1.1

[2014-07-08 18:17] ghost commented on #438
Is there your Facebook account under accounts when you start Loqui IM? Or is it empty like before?

[2014-07-09 10:33] bdcomp opened #446 "Hide content until the L10n 'localized' event happens"
While investigating #442, I found that in general, flickering happen when the app display non-localized strings and then update the strings.
We should hide content until the L10n 'localized' event happens (or just synchronously load L10n resources, if it's possible for Loqui).

Just to clarify - this issue relevant to all languages, even the English, as all the strings loads twice (non-localized a

[2014-07-09 11:04] bdcomp opened #447 "Emoji icons not visible on Firefox OS notifications"
0.3.1a on GP Peak, B2G 1.3.0 (build ID 20140705061248).

All the emoji icons displayed as gray square on Firefox OS notifications.

[2014-07-09 11:33] aesedepece commented on #447
This is a system issue in old Firefox OS versions which didn't support special unicode characters.
As of Firefox OS 2.1, most of them are perfectly rendered.

[2014-07-09 11:40] bdcomp commented on #447
OK.

Pretty strange to think about (the unreleased) B2G v2.0 as an old version :)

[2014-07-09 18:26] #439 closed, assigned to bdcomp

[2014-07-09 18:29] #388 closed, assigned to bdcomp

[2014-07-09 18:48] bdcomp commented on #442
I am wondering if it's worth to fix only this issue, as the app is probably flickering on every string, on every language other than English, because of #446.

[2014-07-10 09:36] #441 closed, assigned to bdcomp

[2014-07-10 11:37] TitanNano opened #452 "What does the green line means?"
Hey,
What exactly does the green line in the message log mean?
Does it mean the message was sent or that it is arrived or that it was read?

[2014-07-10 12:46] ghost commented on #387
Is this feature implemented, yet?

There is a cross/x under the settings button within the My account screen, but it seems to be without functionality.

[2014-07-10 15:07] aesedepece commented on #387
The X button deletes the chat background image, not the avatar one.

[2014-07-10 15:08] aesedepece commented on #452
The green line is equivalent to the double-tick in WhatsApp. It means "delivered to recipient".

[2014-07-10 15:17] TitanNano commented on #452
okay, thank you.

2014-07-10 17:08 GMT+02:00 Adán Sánchez de Pedro Crespo <
notifications@github.com>:

[2014-07-10 15:20] bdcomp commented on #388
I just realized (#387) that the 2 icons on the "My account" are about the background, not the avatar...

Should this issue need to be reopened and my commit to be reversed?
The avatar still may be changed, just there is no "Change" hint...

[2014-07-10 16:49] liezie commented on #374
@aesedepece : thanks, that solved the issue.
(srr for late reply)

[2014-07-10 20:03] #452 closed, assigned to nobody

[2014-07-10 20:10] bdcomp opened #453 "[WhatsApp] messages received twice"
0.3.1a on GP Peak, B2G 1.3.0 (build ID 20140710061317).

Sometimes WhatsApp messages received twice.
It looks like after the first time the message received, Loqui lost connection. Later, after reconnect, the same message appears again.

[2014-07-10 21:50] ghost commented on #453
I could confirm that behavior

[2014-07-11 11:15] aesedepece commented on #453
The only reason for receiving the same message twice is because the ACK (acknowledged) answer couldn't be delivered to the server. This happens when connection is lost right after a message is received because the TCP socket is closed/broken in the very moment the ACK is sent.

[2014-07-11 14:00] ghost commented on #422
I am using Loqui IM v0.3.1 from Github (2014-07-05) and i noticed that problem together with unknown contacts again #425

And at the moment it happend again (groups created, contactprofile not accessable) with a contact out of my contactlist

[2014-07-11 14:10] bdcomp commented on #453
@aesedepece Please take an additional look at the relevant code, as this issue happens a lot and only on the last version of Loqui.

[2014-07-11 14:29] #442 closed, assigned to nobody

[2014-07-11 15:46] #314 closed, assigned to nobody

[2014-07-11 16:04] TitanNano opened #456 "In-line Emojis"
At the moment if you select a emoji from the list, it will be instantly send as a separate message. I don't know how other users use emojis, but I use them mostly inside my messages so in Loqui they are hardly useful.
Would it be possible to just add the selected emoji to the new message and not instantly send them and also let the user select emojis even after typing some text?

[2014-07-11 17:17] schmerten commented on #438
Its empty like before

[2014-07-11 18:24] Gioyik commented on #434
I am working on that, but the main issue is the less docs for HTML5 apps.

[2014-07-11 19:15] kramer65 commented on #434
@Gioyik - Awesome that you're working on that! Seeing that you're in need of documentation I just posted a question on the [Ubuntu Touch App Developers Google+ page](https://plus.google.com/communities/111350780270925540549).

Do you have an open repository here on github where I can checkout your work in progress?

[2014-07-11 19:35] Gioyik commented on #434
I will open a new Github repo in the LoquiIM organization.

Thanks

[2014-07-11 22:07] ghost commented on #438
Which Loqui IM version do you use? And does this problem affect other protocols/accounts, too?

[2014-07-12 10:26] TitanNano opened #457 ""typing" label does not disappear"
When the chat partner starts typing the "typing" label appears, if he pauses it disappears but when the "typing" label is visible and the partner sends his message, it wont disappear until you leave the chat and come back.
I think there is no "ContactPaused" message when the contact immediately sends the message, so you probably have to also hide the label when a new message arrives...

EDIT: only

[2014-07-12 10:44] ghost opened #458 "AGPL license text (Settings Info) not visible/access able"
I noticed after the additional changelog link #455 is the text of the AGPL not access able at all. It is not possible to scroll down to the license text.

![info](https://cloud.githubusercontent.com/assets/4523264/3561226/b6b68e32-09b0-11e4-9a8a-9998b2f8b419.png)

No AGPL license text visible
![info_no_agpl_text](https://cloud.githubusercontent.com/assets/4523264/3561227/b6bf574c-09b0-11e4-8ef5-2d

[2014-07-12 15:41] ghost opened #459 "[XMPP] account import fails if the account has no vCard"
I created a new account for testing and attempted to add it to Loqui. I see "syncing" and then the toast disappears. I logged in to the test account using a different client, added a contact, then clicked Login again in Loqui. This time I see a success screen and "imported 1 contact."

This is using Loqui IM 0.3.1a in FirefoxOS simulator 1.3 prerelease.

[2014-07-13 04:11] Gioyik commented on #458
@bdcomp Do you know what could happen?

[2014-07-13 08:18] bdcomp commented on #458
No, and in fact, I am curious how a simple html line of code could do this.

Although, while the Info screen is of "scroll" css class, there is no such class in the index.css

[2014-07-13 09:25] ghost commented on #458
i am not sure why but adding a `<p>`-tag fix this problem

[code]

And this problem is not caused by adding a html line, it only gets visible through it, as i couldn't reach the text before if the screen is toppled

[2014-07-13 09:40] bdcomp commented on #458
Done!

@aesedepece I am still wondering about the "scroll" css class.
Shouldn't this be exist?

[2014-07-13 14:36] ghost commented on #458
@bdcomp

The fix #460 does not fix the problem with a toppled screen. I can't access the text at all.

The scroll-class is already added but something within the simple-class might be the problem

[code]

[2014-07-13 14:44] bdcomp commented on #458
@bobcanthelpyou What do you mean by "toppled screen"?

[2014-07-13 14:47] ghost commented on #459
I created a brand new contact on my server and re-tested, again the message disappeared after "Synchronizing." Prosody log confirms that authentication was successful. This is just a default configuration without any customization from me.

Here's a pastebin of the tcpdump of the roster with zero contacts and the roster with one contact.

http://pastebin.com/0i00MkLN

[2014-07-13 14:55] ghost commented on #458
that screen:
![info_no_agpl_text](https://cloud.githubusercontent.com/assets/4523264/3561227/b6bf574c-09b0-11e4-8ef5-2d439fa09769.png)

[2014-07-13 14:57] aesedepece commented on #458
The `scroll` class is defined in `/style/loqui/chungo.css` as follows:

[code]

[2014-07-13 14:57] #458 closed, assigned to nobody

[2014-07-13 16:13] ghost commented on #459
Open registration is disabled. There is no user "mad" which is why you can't connect. I can create an account for you if you like.

I'm using Trillian without issue.

[2014-07-13 22:47] suoko commented on #161
Implement appear.in and thus enable video chat

[2014-07-14 01:06] Gioyik commented on #434
Well, we decide to create a branch instead of a new Github repo. See the work here:

https://github.com/loqui/im/tree/ubuntu-touch

Also, I created an ubuntu-touch tag to difference specific issues for ubuntu-touch. Feel free to fill issues or create pull request to help us got Loqui IM running on Ubuntu Touch.

Now the main problem is that we build LoquiIM having Gecko (Firefox render) as P1. So,

[2014-07-14 01:09] Gioyik opened #461 "CSS rules go to the fuck!"
Sorry for the bad words, but we start to see how CSS standards goes to the fuck on different browsers. We need some webkit love.

CC'ing #434

[2014-07-14 10:23] TitanNano opened #462 "App.killAll causes a CSP violation"
When `App.killAll` is called it calls `XMPP.disconnect > Storphe.Connection.prototype.disconnect > Strophe.Bosh.prototype._disconnect > Strope.Bosh.prototype._sendTerminate` and `_sendTerminate` creates a new xhr request without `mozSystem : true`. So the termination request just gets blocked...

[2014-07-14 11:03] TitanNano commented on #446
I experienced a similar bug in Add-on development, so I decided to have no default strings inside the HTML. That minimized the issue to a minimum and you only have to wait a short moment sometimes until the string appears. I think it looks better than flickering from one language to a other, but I don't know if that would satisfy you...

[2014-07-14 11:13] bdcomp commented on #446
@aesedepece @Gioyik What do you think?

The delay not sounds promising, although it's better than flickering...

[2014-07-14 11:39] schmerten commented on #438
0.3.1

[2014-07-14 15:49] airon90 opened #463 "URL must not be altered by emoticons"
One of my friends sent me a YouTube link on Facebook (https://www.youtube.com/watch?v=XXXXXXXXXXX) and Loqui changed the ":/" of the protocol in a emoticon, making the link unopenable by just tapping it.

[2014-07-14 16:13] IndieBits commented on #122
Any news on adding support to Google Apps accounts?

[2014-07-14 19:45] Gioyik commented on #462
Thanks we are going to check it out.

[2014-07-14 20:15] kastedo opened #464 "[XMPP] Conversations interrupted after changing from mobile data connection to WiFi"
Model: ZTE OPEN
Software: OPEN_EU_DEV_FFOS_V1.1.0B02
Loqui IM v0.3.1a
Protocol: XMPP

Followed these steps to reproduce the issue:
- Start a conversation over a mobile data connection
- Change to WiFi
- Start writing a message from the interlocutor's client (Pidgin in this case)
- Loqui inmediately will show the typing notification (Typing...) but will never get the message, and from then on no re

[2014-07-15 12:54] airon90 commented on #463
![blob](https://cloud.githubusercontent.com/assets/139841/3584841/0ec01d80-0c1f-11e4-9808-18c88aa6afc7.png)
I cutted the screenshot

[2014-07-15 13:23] bdcomp commented on #463
The relevant code is in xmpp.js, line 694.

Is it OK to disable the conversion of ':/' to emoji, or should we resolve this smarter (by some js check if ':/' is not part of the url)?

[2014-07-15 14:15] airon90 commented on #463
IMHO the :/ emoji must not be disabled. It must not part of a protocol in order to be displayed

[2014-07-15 16:35] aesedepece commented on #462
I think this is the reason:
When you disconnect from the server on purpose, the session in closed and thus the BOSH server stops running CORS, so the last closing XMPP stanza comes without the `Access-Control-Allow-Origin: *` in the HTTP header wrapping it.

[2014-07-15 16:38] aesedepece commented on #446
The main reason for having a welcome screen is precisely avoiding the flickering to happen while the main interface is shown; which would be much worse.

[2014-07-16 00:21] ghost commented on #463
I am not sure how emoticons are used at all

Are emoticons which should be displayed always surrounded by whitespaces (space, new line, ..)? Or are they used between or near words/numbers/letters/.. without spaces?

I think that it should always not be interpreted as an emoticon when there are non-space characters on both sides (before and after the emoji code)

[2014-07-16 10:18] airon90 commented on #463
Instead I think that it should always be interpreted as an emoticon when there is a space character on the left side because sometimes the emoji is inserted at the end of the sentence ;)

[2014-07-16 11:58] ghost opened #465 "[WhatsApp] Loqui IM crash cause of group and/or group pictures"
I was added to a new Whatsapp group, now Loqui IM crashes after trying to get the profile pictures. I am not sure if the pictures are causing the crash.

[2014-07-16 12:11] ghost commented on #465
Loqui IM v0.3.1a (dev 20140711) / Firefox OS 1.2 / Alcatel one touch

can't reproduce this issue with
Loqui IM v0.3.1a (marketplace) / Firefox OS 1.3 / Simulator 7.0pre9.20140401
(group picture is loaded normally)

[2014-07-17 19:47] IndieBits commented on #464
I could check that this only happens sometimes, so I'm not exactly sure what the problem is. It seems there are issues with messages reception after a connection type change (HDSPA - 3G - 2G - WiFi) in the middle of a conversation, and I think it has something to do with #396, reported back in May, because sometimes I can see how the data traffic icon is moving when a message is supposed to have b

[2014-07-18 19:58] pravi opened #466 "sending files does not work"
I can select an image from gallery and choose loqui im from share options. But when I choose a contact, it says only xmpp/jabber can share files, even when my account is xmpp/jabber.

[2014-07-18 23:19] ghost commented on #466
Which Loqui IM and Firefox OS version and hardware do you use? Actually i can't select any images with a XMPP/Jabber account with Loqui IM v0.3.1a. It is only Emoji, Bolt and OTR available.

[2014-07-19 02:29] pravi commented on #466
Loqui im 0.3.1a, Firefox OS 1.3.0 and ZTE Open C.

Open Gallery, choose an image and click on share button.

From loqui chat window only emoji, bolt and otr is visible when + button is pressed.

[2014-07-19 10:47] aesedepece commented on #466
Loqui IM still doesn't support sending files via XMPP indeed, so the notification text should be something like "Only WhatsApp accounts can do this".

[2014-07-21 20:07] bdcomp opened #471 "Additional error message"
As per issue #466, we need an additional error message for features supported only by WhatsApp.

[2014-07-22 05:58] #446 closed, assigned to nobody

[2014-07-22 07:23] #85 closed, assigned to Gioyik

[2014-07-22 07:24] #456 closed, assigned to nobody

[2014-07-22 12:34] lenod commented on #181
Anyway this is not a fix.
I am affected by this bug too.

[2014-07-22 12:38] lenod commented on #181
For information, I run a prosody server too, and here is my log :

Jul 22 14:37:41 c2s1198de0  info    Client connected
Jul 22 14:37:42 c2s1198de0  info    Authenticated as foo@bar.com
Jul 22 14:37:42 c2sf3e4b0   info    c2s stream for foo@bar.com/Loqui closed: Replaced by new connection
Jul 22 14:37:42 c2sf3e4b0   info    Client disconnected: connection closed

[2014-07-23 14:50] pavi opened #474 "Crashing on 2.1.0 ZTE Open and sending sig Kill"
Loqui IM doesn't work at all in 2.1.0 prerelease on ZTE Open . It is crashing on start killing the OS with it. It leads to a freeze for a second and then the entire distribution is restarted.

I have checked with the market place version as well as the latest (23 july) git pull. Its crashing for both.
<code>I/Gecko   ( 5625): ###!!! [Parent][MessageChannel] Error: Channel error: cannot send/recv
I

[2014-07-26 09:31] linkmauve opened #475 "[XMPP] Flood of disco#info at reconnect"
Hi,

A contact using LoquiIM just bombarded me of disco#info queries on the caps node of my client, it seems each time he gets disconnected/reconnected he sends one more (the last one I saw was from 3017 to 3071, so 54 different iqs, but it’s increasing):

<iq from="somecontact@hisserver/Loqui" to="me@myserver/poezio" type="get" id="3017:sendIQ"><query xmlns="http://jabber.org/protocol/disco#info"

[2014-07-26 09:33] linkmauve opened #476 "Support jabber:iq:version"
As defined in XEP-0092 (http://xmpp.org/extensions/xep-0092.html), it would make it much easier for people to debug issues, and not report bugs already fixed in a later version.

[2014-07-26 15:25] #476 closed, assigned to nobody

[2014-07-26 15:26] aesedepece commented on #426
Sorry, accidentally closed the issue. We are still looking for a fix for this.

[2014-07-26 19:34] #471 closed, assigned to bdcomp

[2014-07-28 14:58] pravi opened #477 "many empty group chats are created"
There are many emty group chats in my list and there is no way to clear them up.

I have only a jabber account and I'm on 0.3.1a. My phone is ZTE open C. I think it is created when a new message arrives.

[2014-07-28 15:01] pravi commented on #477
When you try to remove them it shows, there are no chats with this contact.

If you type a message, then the title changes to null and then you can clear chat with null. But you will have to repeat it for each instance.

[2014-07-28 15:05] pravi commented on #477
And if you go to the groups view you can see a lot of null groups.

[2014-07-28 15:09] pravi commented on #477
Screenshot http://bayimg.com/HApoGaaFH

[2014-07-29 06:14] TonyStark opened #479 "WhatsAPP: Send/Verify code not working."
Hi
i hosted loqui IM in ubuntu/localhost.
i setup with `grunt`
but i can not able to get code into my mobile.
and your verification code page is not working after received code.
nothin happen after entering every detail...

[2014-07-29 10:36] versae commented on #419
I am closing the issue, never worked again, though.

[2014-07-29 10:36] #419 closed, assigned to nobody

[2014-07-29 12:33] aesedepece commented on #479
What platform are you testing it in? (Firefox for desktop / B2G Emulator / Firefox OS phone / Android)
You have to know WhatsApp doesn't work on desktop browsers because they don't support the TCP Sockets API yet.

[2014-07-29 13:32] TitanNano opened #480 "chat background per contact"
Yesterday I tried the background feature and have to say that I really like it.
But I realized that I would prefer not to use the same background for every contact... Maybe it could be changed so the background gets associated with a specific contact and not with the entire account?

[2014-07-29 15:54] TonyStark commented on #479
Firefox for Desktop.
(Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:30.0) Gecko/20100101 Firefox/30.0)
Is this possible to make config with username and password in whatsapp?
i have my account id and password.

[2014-07-29 16:54] aesedepece commented on #479
I'm afraid not. Every connection to WhatsApp's servers need to be made through TCP sockets, and desktop browsers won't be able to connect until they support such API.

I'm closing this issue hoping Firefox for desktop implements the TCP API as soon as possible.
Thanks for your interest, please tell me if you have any other question regarding this issue or any else.

Best regards,
Adán

[2014-07-29 16:54] #479 closed, assigned to nobody

[2014-07-29 16:59] aesedepece commented on #480
Discussion: :thought_balloon:
Do other messaging app allow to do so? Does the official WA app for Android/iOS?

I'm pretty sure this feature would be nice for many users. The bad point is that storing and loading full-screen background pictures for every contact (or even a few) would be too heavy for the IndexedDB backend. :hammer:

[2014-07-29 17:03] aesedepece commented on #477
I think this was reported in #422 and fixed by 786728a0b4f9ec8aefa4277f521f767241e40311.
Closing, let me know if I'm wrong!!! :facepunch:

[2014-07-29 17:03] #477 closed, assigned to nobody

[2014-07-29 17:15] TitanNano commented on #480
Are there limits in indexedDB? [MDN](https://developer.mozilla.org/de/docs/IndexedDB) says that there are no limits for the size of a DB in Gecko.

[2014-07-29 20:35] ghost opened #481 "Update to 0.3.2"

[2014-07-30 04:49] bdcomp commented on #481
I think that as long there are several bugs fixed per week, we should release on a timely basis.
About every 6 weeks, like Firefox, sounds great.

[2014-07-30 18:58] Gioyik commented on #480
@aesedepece I don't think so. The way we do it it's the common in most of chat accounts.

Maybe we need more user stories (feedback) and see if this could be an appropriated change.

[2014-07-30 19:22] Gioyik commented on #481
Hi,

LoquiIM is developed by many people that contribute in his own way. We start to organize LoquiIM development, time ago because It was crazy the release number management. Two fixes, an incremental release, then, one fix, an incremental release and that happens for a long time. I am concerned about organization is important.

I know that LoquiIM has some problems related to XMPP and will be in

[2014-07-30 19:26] pzwart opened #482 ""Synchronise phone" is misaligned in non-English languages."
(The example is in Dutch)
The button to synchronize the contacts is misaligned in normal orientation and in Dutch language. The button does not work either. When switching to to landscape mode the button has more room and is aligned okay and it works.
![2014-07-30-21-14-54](https://cloud.githubusercontent.com/assets/2669647/3754879/609b2044-181f-11e4-9830-2bf5e541e51f.png)
![2014-07-30-21-14-45](h

[2014-07-30 19:37] Gioyik commented on #481
I don't think this should be closed, there's some people that maybe could say something related to this or express their opinion about it. Maybe with this issue we can find the better way for a fast and a good work flow to important issues :)

[2014-07-31 13:15] aesedepece commented on #481
I agree we should release 0.3.2 as soon as possible as 0.3.1 renders XMPP unusable. Any objection? @aarizkuren @bdcomp

We could also release a weekly-updated "Loqui DEV" app in the Marketplace so that most avid users can test new features more often and we can get early feedback for the sake of better stable releases.

Those users and developers who want to have more influence on future decisions

[2014-07-31 14:11] bdcomp commented on #481
No objections :)

[2014-07-31 14:58] aesedepece commented on #482
Ok, we have to trim that label.
Which of these options do you think is the best?
- Telefoon sync
- Synchroniseren
- (Any other suggestion)

Thanks in advance for your feedback, @pzwart !

[2014-07-31 15:00] aesedepece commented on #480
:+1: for waiting for more user stories.

[2014-08-01 18:41] pzwart commented on #482
I think "synchroniseren" would be fine. And I like the app so I love to help :-)

[2014-08-02 13:51] p91paul opened #483 "Allow loqui to be used on desktop firefox"
I'd like to try loqui on the desktop, but I can't since it is not installable from the marketplace. What is exactly the reason to keep it on mobile only?
i know there are native IM clients for desktop, but maybe it's a zero effort to allow it to be installed on any platform!

[2014-08-03 04:03] Gioyik commented on #481
Hola,

Pensando en lo que se habia comentado aquí hace unos días sobre el desarrollo de LoquiIM y demás, se me ha ocurrido ingeniarme alguna forma de tener un medio para crear los paquetes en donde LoquiIM va a estar disponible. Por si no se sabia, ando trabajando en el port de LoquiIM a Ubuntu Touch, y en el cliente desktop (linux, mac y windows) el cual está hecho con node-webkit. Como LoquiIM e

[2014-08-03 05:19] bdcomp commented on #481
@Gioyik I will appreciate English...

[2014-08-03 06:07] bdcomp opened #485 "Implement theme color for status bar"
Theme color feature is now ON by default in Firefox OS 2.1

https://imgur.com/Io1DaEZ

[2014-08-03 09:04] louisdem commented on #481
[Translated text]
<quote>
"Hi,
Thinking about what has been commented here for some days about the development [process] of LoquiIM and others, it occured to me to find a way of obtaining a medium for the creation of packages where LoquiIM would be available. Even though it wasn't yet known, I'm currently working on LoquiIM's port to Ubuntu Touch, and on the desktop version (linux, mac and windows

[2014-08-03 10:47] aesedepece commented on #481
@Gioyik I need to test it, but at a first glance it sounds amazing.

Integrating Travis.ci or any other automated testing tool seems pretty appropriate and necessary at this time as it could spare us many regressions caused by new PRs.

Regarding v0.3.2, I'm synchronizing the locales in the repository with the ones in the translating platform (http://translate.loqui.im). Let's update the manifest

[2014-08-03 10:50] #485 closed, assigned to bdcomp

[2014-08-04 03:29] sheisxn opened #487 "big Icons"
I think that the sound icons are big. if you do an small icon it will look better and ocupe less screen. Sorry for my english

[2014-08-04 19:59] aarizkuren commented on #481
Hi, and sorry for my english.

+1 to integrate automated testing tools, i think its necessary too, to avoid stupid bugs. But i think we have to recode a lot of loquis code to easy test it, im not testing expert, but i think the code is not optimized to it.

I like too the early-release option.

agur

[2014-08-04 21:16] pzwart commented on #404
I can confirm this bug for v0.3.1a If the phone is muted (dialed down by the volume buttons on my Firefox Flame) and I receive a WhatsApp message (my only used protocol), the phone vibrates and gives a "pring" sound.

[2014-08-04 21:29] pzwart opened #488 "Certain emoticons are rendered with extra characters."
Check the screenshot. With this certain emoticon extra  ", / and > characters are rendered.
Tested on v0.3.1a and a Firefox Flame.
![2014-08-03-17-11-02](https://cloud.githubusercontent.com/assets/2669647/3803786/74fc04d8-1c1e-11e4-97f0-d1e6d3ed97c6.png)

[2014-08-04 22:11] pzwart opened #489 "Attachments in one-on-one chats are received multiple times as separate messages"
When I receive attachments through the Whatsapp account I receive them more then once. I attached an example where you can see the attachments are received at different times. This happens with pictures and sounds. I think it only happens in one-on-one chats and not in groups. Tested on v0.3.1a and a Firefox Flame.
![voorbeeld](https://cloud.githubusercontent.com/assets/2669647/3804316/52122a8c-1c

[2014-08-05 01:39] aesedepece commented on #489
This was fixed by commit 3e45a6dd5c98d592ee05a9264ce6c15d1550da4b. Thanks for noticing.
You should be able to update to Loqui IM v0.3.2, which is available since yesterday. Sorry for the inconveniences.

[2014-08-05 01:39] #489 closed, assigned to nobody

[2014-08-05 03:41] Gioyik commented on #483
We are working on a desktop client. We will keep everybody update.

[2014-08-05 05:06] ghost opened #490 "[XMPP] Groups created with offline contacts"
Sometimes (not always) a group with the name of the contact is created when i send a message to a single offline contact.

Always a group with the name of the contact is created when i receive a message from an offline contact

Loqui IM / Firefox OS 1.2 / Alcatel one touch

[2014-08-05 05:12] ghost commented on #490
I can't remove the groups, cause i can't access the profile picture. Nothing happens when clicking on the profile picture.

When i write a message in those groups the message is not delivered to the contact, i receive my message myself.

[2014-08-05 05:14] ghost commented on #490
Loqui IM v0.3.2a

[2014-08-05 05:46] bdcomp commented on #404
@deimidis @pzwart What version of Firefox OS are you using?

[2014-08-05 15:33] uvox74 opened #491 "Loqui v0.3.2 gets frozen"
After updating to v3.2 the app is painfully slow, gets stuck or even crash. It becomes totally unusable.
It happens using Whatsapp on a ZTE OPEN with FFOS 1.1.

Reminds me a lot an issue that happened to me with v0.2.6

[2014-08-05 15:49] unor opened #492 "Meaning of the setting for hiding unavailable contacts?"
If I understand #381 correctly, the contact list is not supposed to show who is online, and there will be no roster with this functionality; so you’d have to open a chat with a specific contact to check if this contact is online. Correct?

If so, what exactly does the setting "Hide unavailable contacts" do? (I don’t know the actual English string for this setting; in German it’s "Verstecke nicht v

[2014-08-05 16:28] unor opened #493 "[XMPP] Can’t have an empty status message?"
Loqui IM comes with a default status message (something similar to "Using Loqui IM on Firefox OS").

Changing it to something else works.

But changing it to the empty string doesn’t seem to work. It always falls back to the last non-empty status message.

How can I remove/disable the status message?

(I’m using v0.3.2a)

[2014-08-05 19:51] aesedepece commented on #493
Ok, we'll remove the "empty string" check or include a "X" button to empty the field.

[2014-08-05 19:52] aesedepece commented on #492
You are right, that option is pointless now. Let's remove it.

[2014-08-05 19:57] aesedepece commented on #491
I think we implemented presence indicators for WhatsApp in v0.2.6, then dropped them in v0.3.0 and recovered again with v0.3.2. It seems to me that the ZTE Open isn't powerful enough to handle so many changes to the DOM along time, which could be causing this issue.

We need to test how it responses under different devices and make up a final decision on keeping or dropping this feature.

[2014-08-05 19:59] aesedepece commented on #483
Until then, you have https://demo.loqui.im (open with Firefox for desktop).
The version showed in this online simulator is v0.3.0, but we'll update it soon.
Notice that you can't use WhatsApp from desktop because normal web browsers don't support the TCP Sockets API yet.

[2014-08-05 20:00] aesedepece commented on #490
I take this issue.

[2014-08-06 08:21] pzwart commented on #404
I'm using the 'standard' release channel for the Flame. The current OS version is 1.3.0.0-prerelease.

[2014-08-06 12:30] unor commented on #376
It [seems](https://github.com/loqui/im/issues/381#issuecomment-42094032) that this feature won’t come back for XMPP.

[2014-08-06 15:39] 0b10011 commented on #483
:+1:

[2014-08-06 19:58] TitanNano opened #495 "close notifications after viewing the relevant conversation"
At the moment notifications never get closed and the user has to manually remove them from the notification tray.
I think it would be useful if the app would close them after the user viewed the relevant chat log.

[2014-08-06 20:02] bdcomp commented on #495
Well, I also noticed that.

[2014-08-06 20:12] TitanNano commented on #432
+1 :+1:

[2014-08-06 20:14] TitanNano commented on #488
:+1: I'm experiencing that too

[2014-08-06 20:17] TitanNano commented on #491
No problems on Geeksphone Peak with FxOS 2.0

[2014-08-07 01:22] aesedepece commented on #495
At the moment notifications should be automatically removed after accessing Loqui through them.

But you are right, that's not enough because if you access chats by opening the app from the homescreen, notifications aren't automatically closed.

This behaviour has been like this so far because the `navigator.mozNotification.createNotification()` API didn't implement any closing method.

Neverthele

[2014-08-07 01:26] aesedepece commented on #491
No issues on Geeksphone Revolution with FirefoxOS 1.3 either.
I'll try to get a ZTE Open so that I can test this issue more accurately.

[2014-08-07 09:50] TitanNano commented on #495
That doesn't match notifications which are created through `new Notification()`. They stay in tray until they get removed by the user or through `notification.close()`. I don't know if this is intended, but it's how they behave at the moment (I'm on FxOS 2.0).

[2014-08-07 12:28] aarizkuren commented on #491
It happens too with Geeksphone Keon with FOS 2.1

[2014-08-07 13:48] aarizkuren commented on #432
I think that it cant be implemented using fos webapis like now. The API to open image only let you to open in one to one (https://developer.mozilla.org/en-US/docs/Web/API/Web_Activities , "open" activity)

[2014-08-07 14:14] TitanNano commented on #432
@aarizkuren why do we have to use the system UI? The images could be displayed inside of loqui....creating a own UI.

[2014-08-07 14:29] bdcomp opened #496 "[WhatsApp] Authentication failed since Loqui installed on second device"
0.3.1a on GP Peak, B2G 2.0.0.0-pre, 31/7/2014 build.
0.3.2a on GP Peak, B2G 2.0.0.0-pre, 5/8/2014 build.

Since I activated Loqui on my just received Flatfish (yay!), Loqui can't connect on my phone, with "Authentication failed" error.

Even if WhatsApp account disabled on tablet, Loqui can't connect on the phone.

[2014-08-07 15:31] aesedepece commented on #496
WhatsApp accounts can only be configured in one device at the same time because every time you set it up it has to be linked to a device ID.

When you configured WhatsApp in Flatfish, Loqui sent the tablet's device ID to WhatsApp servers, so the Peak's ID is now unauthorized to access.

[2014-08-07 15:40] bdcomp commented on #496
No workaround can't be applied here to?

If one device is in disabled mode, why the other device still can't connect, as it's not like using in the same time?

P.S. "Authentication failed" error should be updated to include this additional error cause.

P.P.S. How I can test Loqui on both my devices?

[2014-08-07 15:55] aesedepece commented on #496
Although you disable your account in device B, the device ID for A is unauthorized, so you can't log in until you generate a new device ID for A (this only happens during the SMS validating process).

Nevertheless, I believe there's a trick you can use to test Loqui in both devices with the same WhatsApp account. I'll tell you later as I have test it first! :wink:

[2014-08-09 10:30] ghost commented on #445
Same issue with 0.3.2a.

After few minutes running in the background, loqui loses connection and does not autom. reconnects.

The "close" button does not react either, so the only remaining option is to restart again.

[2014-08-10 19:57] pravi opened #499 "add option to start otr as default for a contact"
Add this option when visiting their profile page.

[2014-08-10 20:01] aesedepece commented on #499
:+1:
Once this feature is available, the OTR option in the "Plus" menu should be removed.

[2014-08-10 20:47] bdcomp commented on #496
@aesedepece Any news regarding testing more than one device?

[2014-08-11 13:12] dondy opened #500 "Moto E, Android 4.4.4 and Loqui IM"
Facebook Chat doesn't work (can't connect to account with email or account name)

WhatsApp doesn't show contacts and/or allow creating messages
also can't send Pictures/Video/Sound
authentication failure doesn't name which account failed (It's WhatsApp though)
Duplicate Messages on WhatsApp
No Background Process?

Emoji in Emoji Menu (low res versions of the Android ones) look different from the T

[2014-08-11 13:17] dondy commented on #500
actually used the wrong password for facebook chat, my bad :)

[2014-08-11 13:19] #500 closed, assigned to nobody

[2014-08-11 18:46] pravi opened #501 "[XMPP] jabber is inconsistent when otr is enabled and chating with xabber"
I can see a contact online and I was able to chat once but now it is not working. No message is coming to me. I can see my contact is typing but no message. I suspect it is caused by otr. Because non otr chat with a contact using im+ on windows works. Now going to try without otr. But there is no option to disable otr once it is enabled. I will open another issue for that.

[2014-08-11 18:51] pravi opened #502 "no option to disable otr once enabled"
I have to remove the account to disable otr.

[2014-08-11 19:15] pravi commented on #501
loqui im: 0.3.2a
firefox os: 1.3.0
device: zte open c

[2014-08-12 00:39] ghost opened #503 "See if others have read messages in WhatsApp"
I have a suggestion, what about allowing the user to see if the other person have already seen the messages?
Thanks for the app

[2014-08-12 00:49] ghost opened #504 "Problem when generating OTR keys"
In LG Fireweb (D300) which has Firefox 1.1, I left him trying to generate by 2 days and nothing, the device doesn't even get hotter. Seems the same problem webogram had, and they've fixed it:
https://github.com/zhukov/webogram/pull/320
https://github.com/zhukov/webogram/issues/18
https://github.com/zhukov/webogram/issues/351

[2014-08-15 21:53] pravi opened #505 "otr session error when resuming"
I get encrypted text when closing loqui and opening it again during an otr session. At the other end it is xabber which shows otr error.

[2014-08-15 21:54] pravi commented on #505
![blob](https://cloud.githubusercontent.com/assets/708222/3939409/ab50a948-24c6-11e4-8568-10d4f877bd4d.png)

loqui 0.3.2 on firefox os 1.3
zte open c

[2014-08-15 21:57] pravi commented on #505
Xabber had to be restarted to get it working again.

[2014-08-18 18:29] bdcomp opened #506 "[WhatsApp] No option to reactivate"
As a follow-up of #496:
Once WhatsApp activated on device B, it can't be used anymore on device A, even if the app been uninstalled on device B.

I think that some solution must be implemented to ensure use of WhatsApp on device A (even if "WhatsApp accounts can only be configured in one device at the same time").

[2014-08-19 11:41] aesedepece commented on #496
The only way is to move your accounts from device B to device A.

Run this on device B to export your accounts:

[code]

This will result in a huge JSON string with all your accounts, chats, avatars and messages inside.
Copy that string and use it to replace the `/* HERE */` comment in the code below, to be ran on device A:

[code]

[2014-08-19 11:56] bdcomp commented on #496
1. I am not sure how to run any code on the devices.
2. The backup data will replace the existed data or just be merged/added?
3. How about only reactivation, without any backup and restore,  #506 ?
4. The above code is in fact the "developer -> import, export" options?
   If it's not similar, it looks like we are ready to implement backup and restore options to Loqui.

[2014-08-19 12:02] aesedepece commented on #496
1. Via App Manager: https://developer.mozilla.org/en/Firefox_OS/Using_the_App_Manager
2. They completely replace existing data
3. Reactivation is theoretically possible but we can't tell a deauthorized account from an invalid account.
4. Yes, we should bind those menu options to these portions of code, but they need to be modified in order to encrypt the data before writing into the device storage

[2014-08-19 12:08] aesedepece commented on #496
Manual reactivation implies copying `/.coseme.id` file from the microSD card in device B to the one in device A and then running:

On B:

[code]

(This will result in a short random string you have to use to replace the `/* HERE */` comment below)

On A:

[code]

[2014-08-19 12:09] aesedepece commented on #502
OTR is disabled and enabled in a chat using the same button.
We are changing this for a switch button in the chat options.

[2014-08-19 12:11] aesedepece commented on #503
In the chat window, the messages received by the other person appear above a green line marking which the last received one.

[2014-08-19 12:11] #503 closed, assigned to nobody

[2014-08-19 12:40] bdcomp opened #507 "Implement import and export (backup and restore) options"
As per https://github.com/loqui/im/issues/496#issuecomment-52623490, the import and export options should be implemented.

WIP code: https://github.com/loqui/im/issues/496#issuecomment-52621539

[2014-08-19 13:17] pravi commented on #502
I was looking at disabling otr for an account. Now if we are disconnected during an otr session, other person gets an ots error and either I see no messages (I can see them typing, or i get encrypted text #505). I was hoping to disable otr support and fall back to plain text, but couldn't find such an option.

[2014-08-20 11:37] bdcomp commented on #496
@aesedepece Manual reactivation didn't work.

On the phone there is still "Authentication failed" error.

[2014-08-20 17:40] airon90 opened #508 "Allow URL sharing"
Is it possible to add URL sharing?

https://github.com/loqui/im/blob/dev/manifest.webapp#L67

Adding URL sharing it will be possible to send url to someone or to create a message with a url already inserted

Here is why I made this request: http://tracker.user1.be/SimpleRSS/64/#127

[2014-08-20 20:55] brainstein opened #509 "Verification Code for whatsapp"
Good evening,

I downloaded Loqui IM and tried to use whatsapp for the first time. I receive the SMS without a problem but when I type the verification code (with hyphen) the code disappears. I can type my phone number and choose my country without problems.

I'm using a Firefox Flame with FFOS 1.3 pre.

Can you help me? (already redownloaded and restarted the phone.

[2014-08-21 18:53] brainstein commented on #509
I managed to use the code in the screen after receiving the sms instead of clicking the I Have a Code.

The problem on that page was that the code dissapeared from the box if I used the hyphen and the button didn't work if I only typed in the numbers.

Thanks

[2014-08-21 18:53] #509 closed, assigned to nobody

[2014-08-21 19:03] aesedepece commented on #508
:+1:

[2014-08-21 19:04] aesedepece commented on #507
:+1:

[2014-08-23 13:39] pravi opened #510 "[XMPP] allow ssl certificate exceptions"
currently we cannot connect to a server if it is using a self signed certificate (You can test this on sechat.org). On clients like pidgin, it asks if you want to add an exceptions and we can connect to the server after adding an exception.

Please add such an option to loqui so I can start using sechat.org as my xmpp server.

[2014-08-23 13:48] pravi commented on #510
sechat.org is still a work in progress (integrating vines xmpp server with diaspora). But I think it would be a good test case for loqui to handle exceptions properly.

[2014-08-23 13:51] pravi commented on #510
I can send messages to that account from loqui, but loqui does not show any replies. It could also be that yax.im server (my xmpp service provider) is refusing the messages because it cannot authenticate sechat.org via ssl certificate.

[2014-08-23 13:58] sergioad opened #511 "loqui notifications"
Hello friends I want request native FirefoxOS notifications and better in background work.

Also I want report what I have some problems sometimes when I use loqui IM the app restarts with not reason

[2014-08-23 22:47] unor commented on #381
Is this a final decision? I think it would be a pity. It would mean that Loqui IM can’t be used by people looking for a "usual" XMPP client where you can see at a glance who is online.

Or am I missing a way? AFAIK the only way currently possible would be to open a chat for each contact manually, right?

In case this decision is final, would it be possible to get an alternative way? Like, I don’t

[2014-08-29 13:02] Maxxie opened #512 "unable to change whatsapp nickname"
Sorry if this was already posted but couldn't find track of it. As I was told it should be possible to change whatsapp's nick to something different from the number it was registered to.

[2014-08-29 18:38] cmeerw commented on #359
Sending group chat messages in such a state results in the messages being silently dropped (they don't get sent to the group and there is no indication that they weren't sent). To me this is a very critical bug (btw, in OpenWapp I get an indication that the message couldn't be sent and I can resend it)

[2014-08-30 10:43] Thalyn- opened #513 "unable to send a sms - whatsapp"
Hello,

good job for this app :)
my smartphone is reinitialized, i installed loqui im and at the time to add my whatsapp account, i have an error message.
The debug mode says:
sms isn't sent, reason:,old_version...

I have a ZTE OPEN C with FFOX 1.3
Yesterday i had no trouble with loqui im/whatsapp (before this morning:hard reboot).

Thanks and good day!
:)

[2014-08-30 10:48] Thalyn- commented on #513
Oops sorry...
I'm talking about the sms send by whatsapp for the verification of the n° (code)

[2014-08-31 12:13] aarizkuren commented on #359
+1

[2014-08-31 18:28] aesedepece commented on #513
Many users are reporting verification SMS sending problems lately.
We'll investigate if WhatsApp changed something in their verification protocol.

[2014-08-31 18:50] aesedepece commented on #513
I've reached out Yowsup devs in order to cooperate in solving this as they are affected by this issue as well.

[2014-09-02 11:12] aarizkuren commented on #481
We are going to do something with this?

[2014-09-02 14:06] Pablo2m commented on #483
:+1:

[2014-09-02 17:48] aesedepece commented on #481
I haven't been able to make much progress with the `x-facebook-platform` branch, so I'd agree to release 0.3.2 asap and leave FB OAuth and #484 for 0.3.3 as the XMPP fixes are urgent.
Any :+1:?

[2014-09-02 17:56] bdcomp commented on #481
I think #513 is pretty urgent and it should be fixed before any release.

[2014-09-02 17:56] aarizkuren commented on #481
:+1:

[2014-09-02 17:59] aesedepece commented on #513
@aarizkuren Can you explain what's left to consider #514 a fix? Gracias Asier!!!

[2014-09-02 18:09] #488 closed, assigned to aesedepece

[2014-09-02 18:15] aarizkuren commented on #513
@aesedepece i have been reading yowsup and whatsapi repos, and they say that is only that token was old (see: https://github.com/venomous0x/WhatsAPI/issues/915#issuecomment-53914130)
I change it, no more.
I test it and it works for me, maybe others can test it before

de nada

[2014-09-02 18:19] #444 closed, assigned to aesedepece

[2014-09-02 18:20] aesedepece commented on #444
Thanks @bobcanthelpyou

[2014-09-02 18:24] aesedepece commented on #513
I'll try to test it later today and merge then. Let's react :wink:

[2014-09-02 18:48] aesedepece commented on #481
btw I meant let's update to v0.3.3 as v0.3.2 has been in the marketplace for weeks :laughing:

[2014-09-03 21:35] aarizkuren commented on #513
@aesedepece have you tested it? I think this issue is so important for the new users of loqui

[2014-09-04 08:26] #513 closed, assigned to nobody

[2014-09-06 08:53] ghost commented on #505
Maybe related to #443

[2014-09-06 09:13] pravi commented on #505
@bobcanthelpyou yes, I also think it is the same problem. I have xabber on the other end but I can confirm the behaviour mentioned in #443

[2014-09-07 19:16] pravi opened #516 "[XMPP] loqui doesn't keep jabber account online"
Even when autoreconnect option is selected, loqui can't keep me online.

Account status is yellow and only after I restart loqui I can go online.

Server is yax.im (i think they run prosody)
0.3.2a on zte open c, fxos 1.3

[2014-09-08 03:51] sergioad opened #517 "[WhatsApp] unable to change group photo"
We can not change our group images on Loqui can you fix it please?

[2014-09-08 04:53] bdcomp commented on #517
@sergioad Maybe just the group owner can change the photo?

[2014-09-08 05:43] sergioad commented on #517
@bdcomp I am the owner of the group

[2014-09-08 21:31] aesedepece commented on #513
Forgot to say: THANKS @mgp25 and @aarizkuren :100:

[2014-09-08 21:32] aesedepece commented on #517
This isn't supported yet, let's schedule it for v0.3.4 :wink:

[2014-09-08 22:42] sergioad commented on #517
OK thank you so much; if you do it the Loqui's whatsapp protocol will be ready

[2014-09-09 12:50] ghost opened #518 "[XMPP] can't receive Bolts"
I could send bolts from Loqui IM to a Pidgin client but i can't receive Bolts from a Pidgin client to Loqui IM

Is that a Loqui IM or a Pidgin issue?

Loqui IM v0.3.3a
Pidgin v2.10.9

[2014-09-10 10:54] pravi opened #519 "[Google] unable to use hangouts or talk"
it just gets stuck at synchronizing. I do have a huge addressbook with more than 1000 contacts. I tried both hangouts and xmpp/jabber options. It connects but it does not go ahead with synchronizing. After sometime I don't see any data activity. My connection is a bit flaky, but there is no timeouts as well.

zte open c, firefox 1.3, loqui 0.3.3

[2014-09-10 11:16] bdcomp commented on #519
My guess, it's related to Firefox OS trying prevent long scripts.

[2014-09-10 11:24] pravi commented on #519
can we have an option to skip synchronizing or continue it in the background?

[2014-09-11 08:46] ghost commented on #505
@pravi could you reproduce this problem with Loqui IM 0.3.3a?

[2014-09-11 08:54] pravi commented on #505
@bobcanthelpyou , I will try to reproduce and update here.

[2014-09-11 09:20] Thalyn- commented on #513
Good job guys... Hope I could use it soon with the next update :)

[2014-09-11 09:37] ghost opened #520 "XMPP: invitation to a conference room"
When i get a invitation for a conference it looks like the following:

A new chat with the following message is opened:

user@jabberdomain.tld invites you to the room example@conference.jabberdomain.tld (invitation message)

Within that chat i only could talk to myself. And i need to access the conference room manually.

I would expect a button to enter the conference room easily. Maybe a question

[2014-09-11 10:10] ghost opened #521 "[XMPP] conference rooms/groups and several Jabber accounts"
I have more that one XMPP accounts added to Loqui IM, e.g.:
Userid1@jabberdomain1.tld
Userid2@jabberdomain2.tld

When i join a public group with Userid2 everything is fine.

Now i want to join a public group with Userid1, when i access the Groups and "Join public group" the group search from the Userid2 is still open. If i choose a group (from that previous search) it is added to account with User

[2014-09-11 10:20] ghost commented on #502
@pravi The button to enable and disable Otr is available with the "+" button next to the text input field. With that "+" button you could access Emoji, Bolt and OTR.

[2014-09-12 13:37] MarkTr commented on #426
Is that related to #73 and #75?

[2014-09-12 15:19] ghost commented on #426
@MarkTr I think this issue is not related to these old issues, did it happened to you?

It didn't happened to me since some time, maybe it is fixed

[2014-09-12 23:18] TitanNano commented on #507
just a question: Would it be possible to implement the import and export of WhatsApp chat logs? Compatible with the official WhatsApp backup files so users are able to transfer their existing conversations from a phone with the official app?

[2014-09-12 23:46] TitanNano opened #522 "WhatsApp auto reconnect problems"
Actually this consists of two things:
1. this isn't really a bug rather than a UX problem. Whenever the app is in the background or the screen is turned off and the app has to reconnect, the "connected sound" should be played. However every time an app is in the background and tries to play a sound, the system will queue the playback until the user returns to the app. So for along time I thought t

[2014-09-13 00:09] ghost commented on #222
@drasojem does this problem still exists with the latest Loqui IM release (v0.3.3a)?

I am running a icq transport together with ejabberd, too. The nicknames are shown in Pidgin and Loqui IM correctly. If i add a new icq contact to my XMPP account with Pidgin the nickname is shown "empty" (icqnr@domain-of-icqtransport) within Pidgin and Loqui IM. With Pidgin it is possible to set an alias and afte

[2014-09-13 00:51] ghost commented on #516
I have similar issues, sometimes restart Loqui IM does help

Sometimes i have to reconnect my mobile or wifi connection, other apps are offline, too (could be an Firefox OS issue or just an issue with the connection at all)

Maybe an error message during connection problems would be better than an yellow connection button

[2014-09-13 08:47] ghost opened #523 "Authentication failed message does not disappear"
At the moment Loqui IM is stuck in a problem, the "Authentication failed" message does not disappear, i could move it away/up but it always appears again, immediately.

It does not help to close/restart Loqui IM, or to restart Firefox OS, the Jabber account was working before and i could connect to it with my desktop jabber client.

![failed](https://cloud.githubusercontent.com/assets/4523264/4259

[2014-09-13 09:01] ghost commented on #523
I managed to remove the xmpp account (using the short time frame before the message appears again) but now i am unable to add it again

[code]

[2014-09-13 10:18] aesedepece commented on #523
I have experienced this when trying to access the same XMPP account from two different instances of Loqui IM. As the resource is always the same, they fight each other for connecting. We could add a random string at the end of the resource to avoid this.

[2014-09-13 10:22] aesedepece commented on #426
This still happens every time an unhandled error occurs, because it stops the JavaScript interpreter.

[2014-09-13 10:23] aesedepece commented on #502
As @bobcanthelpyou saidm you can enable and disable OTR with the same button.

[2014-09-13 10:23] #502 closed, assigned to nobody

[2014-09-13 10:27] aesedepece commented on #518
You are right, Pidgin was never able to send Bolts to Loqui IM despite of being an advertised feature in Loqui's XMPP capabilities.

[2014-09-13 11:22] pravi commented on #502
@aesedepece I was looking at an option to disable otr for the account, not just for a particular chat session.

[2014-09-13 11:22] ghost commented on #523
I am only using one instance of Loqui IM at one device. I added my XMPP account with a resource like this: userid@jabberdomain.tld/resource (my added resource is "ffos" and it is shown as ffos/Loqui at my desktop client). Maybe Loqui or a random string should not be added when the user set the resource manually. (Also the input field when adding a XMPP account should not marked red/invalid when ad

[2014-09-13 11:31] ghost commented on #426
And suddenly:

[code]

[2014-09-13 11:37] ghost commented on #426
The last error only happens when a Whatsapp account was added. If i remove the account again, i could close Loqui IM without problems.

[2014-09-13 11:52] ghost opened #525 "Background empty at "Welcome to Loqui"-screen during first start"
After installing Loqui on a device or simulator the background image is not shown at the "Welcome to Loqui" screen when Loqui IM is started for the first time.

[2014-09-13 11:57] ghost commented on #523
Is it maybe possible to prevent such loop situations and turn an account offline after several connection tries (may 10 times)

[2014-09-13 12:21] ghost commented on #438
I run in the same situation with version 0.3.3a of Loqui IM. There are several timeouts and undefined messages on the debugging console. But it seems that the login is working, i could see some usernames of facebook contacts on the debugging console, too. And there is still some traffic to facebook shown on the console after cancel the facebook account creation, but no account under accounts was c

[2014-09-13 14:00] ghost opened #526 "[XMPP] group subjects are annoying"
If i have some groups add to a XMPP account, everytime Loqui reconnects the subject message of the group is shown "user has set the subject to: subject description". These messages are repeated again and again. Is it possible to show these messages only once? When i access a group for the first time or the subject was changed.

[2014-09-13 16:08] aesedepece commented on #523
Ok, this was caused by a misconfiguration in the BOSH gateway and is fixed now.
Sorry for the inconveniences :wink:

[2014-09-13 16:08] #523 closed, assigned to nobody

[2014-09-13 20:50] ghost opened #527 "[XMPP] messages retain html tags"
Today i chatted with a Adium client user (Otr enabled) every message was surrounded by <FONT>-tags

[code]

Maybe these tags should be removed

[2014-09-14 00:47] aesedepece commented on #502
@pravi Why would you want to do so?

[2014-09-14 00:49] aesedepece commented on #525
I think it takes more time to load the image than loading the full app UI, so it's never shown.
When runned for the second time, the image is cached so it appears quickly.

[2014-09-15 16:34] nicholascamp opened #529 "New message (pencil) don't open"
[...] contacts screen/view sometimes, remaining in the chats view.

[2014-09-15 16:38] #529 closed, assigned to nobody

[2014-09-15 16:41] nicholascamp commented on #529
I noticed that this happens when Loqui IM delays to show new messages, so maybe isn't possible to write new messages while this don't happen. Would be good if when the sync message appear, indicate when really update.

[2014-09-16 09:30] ghost commented on #443
I can't reproduce this behavior with version v0.3.3a at all

Pidgin recognizes that a message could not delivered over Otr and resent the last message.
And Loqui recognize when a Otr connection is closed by the other chat client.

But when i close Loqui (the Otr session is not closed by Loqui) and a contact still sends messages over this open Otr session, i will not receive all messages from the c

[2014-09-16 15:56] ghost commented on #520
Would it be useful to add a question function to chungo.js "Lungo.Notification.question" for this? Or is there an other place to handle questions and user interactions? Maybe i could write some code for this, but at the moment i am not sure where the code should be added.

[2014-09-21 23:15] ghost commented on #443
I would suggest something like the following, but unfortunately the SEND command is sent after the account is disconnected. Any suggestion how to wait for the SENT command before disconnecting?

[code]

The debug output, endOtr() is called before "Disconnecting"

[code]

[2014-09-22 00:48] ghost commented on #458
This problem appears again and is caused by **height: calc(100% - 6rem)!important;** within index.css. If i disable the height, everything is fine on the Info page

Why is the height calculated in that way?

[code]

[2014-09-22 10:36] ghost commented on #482
I am not sure but that affect other languages, too
![photo192797414471608238](https://cloud.githubusercontent.com/assets/4523264/4354560/5a1b7dc8-423f-11e4-8d8a-c5cee39056a9.jpg)

And other places are affected, too
![photo192797414471608239](https://cloud.githubusercontent.com/assets/4523264/4354564/5d3a3d00-423f-11e4-898b-87ee6a520505.jpg)

Is there no useful fix for this with Css?

1) Maybe just

[2014-09-22 12:08] gargsms opened #530 "Visibly empty messages should not be sent"
If I type spaces '                            ' in the text box and send the message, it is delivered as is.
This should not happen.

[2014-09-22 12:11] bdcomp commented on #530
@gargsms What is the behavior for this on over apps?

P.S. Space is not exactly empty message...

[2014-09-22 12:28] gargsms commented on #530
@bdcomp Fixed the issue title.
AFAIK, WhatsApp, Facebook Messenger, GTalk do not allow only spaces to be sent.

[2014-09-22 18:23] pzwart opened #532 "Last message in chat overview screen is not the last message in the chat."
Sometimes the message which is shown with a chat in the overview window is not the last message in the actual chat. As shown in the example, the 'hehe' message was sent at 08:46 and is shown in the overview but the last message was  'Poe, thanks!' at 09:47.

I think it was caused when i turned the phone on in the morning and somehow the messages were received out of order because I noticed that th

[2014-09-22 22:13] ghost commented on #530
What exactly is the problem to send only spaces to a chat? Why do other applications disallow that? And why should Loqui disallow that, too?

[2014-09-23 01:33] gargsms commented on #530
@bobcanthelpyou I guess sending message with only spaces classify as spam.

[2014-09-23 04:56] sergioad commented on #530
This can be used as add conversation function to add the contact to the recent conversations, I have used it on other IM clients like LINE or OpenWapp @Gamarus this is a good form to do that

[2014-09-23 08:55] pravi opened #533 "show otr key fingerprint for contacts"
Contact's profile should show key fingerprint of contact if otr is activated at least once by the contact. There should be an option to verify its authenticity. Start with manual authentication and then add socialist millionnaire protocol (shared secret verification similar to pidgin otr implementation)

[2014-09-23 09:08] pravi opened #534 "support sharing links from browser via loqui"
Currently it can only share via email app.

[2014-09-23 09:42] pravi commented on #505
I got the same problem today on 0.3.3. I think loqui should cache otr session on file unless it is manually closed or when resuming it should send a reset request (close otr + open otr again). This is really irritating and makes loqui unusable with otr.

[2014-09-24 20:24] TitanNano commented on #522
just wanted to bring this up again. This is a real problem, just now I had to determine that I missed a important message by about 1h 45min (thats the last time my contact was online in WhatsApp) cause Loqui didn't recognized that it wasn't connected any more. First entering a conversation made it aware of the disconnection.

[2014-09-24 20:29] TitanNano commented on #359
I think that's the same as what I reported in the second part of #522

[2014-09-25 23:45] TitanNano opened #535 "don't render the "lastACK" line multiple times"
Every time an additional chunk is rendered, an additional lastACK line gets rendered at the end of the new chunk too. This leads to multiple green lines in the chat log.

[2014-09-26 01:12] TitanNano commented on #522
I just did some tests and analyzed the data log in the console. I found two problems.
1. if there is no user interaction and the app is in the background the stream breaks (WhatsApp drops the connection?)  and no new data arrives. Only when a new stream write attempt (mostly the status change from unavailable to available) from Loqui results in a write error, the app does a reconnect.
   So, two s

[2014-09-28 00:33] TitanNano commented on #525
Why is the image not stored in the app package?

[2014-09-28 10:50] aesedepece commented on #525
The image is loaded remotely because we use it to get statistics and demographics about the app's usage.

[2014-09-28 10:53] aesedepece commented on #522
Part 2 still remains unsolved

[2014-09-28 10:54] aesedepece commented on #522
Let's track this at #359

[2014-09-28 10:54] #522 closed, assigned to nobody

[2014-09-28 10:56] aesedepece commented on #530
Fixed by 995da0391d2e816914e513b70ae97f9e805f7814

[2014-09-28 10:56] #530 closed, assigned to nobody

[2014-09-28 10:59] aesedepece commented on #520
Duplicate of #353. Thanks!

[2014-09-28 10:59] #520 closed, assigned to nobody

[2014-09-28 11:23] TitanNano commented on #359
Okay, since we track this here, I copy my observations:

[2014-09-28 11:32] TitanNano commented on #535
Since my pull-request is merged I think we can close this.

[2014-09-28 11:32] #535 closed, assigned to nobody

[2014-09-28 11:59] ghost commented on #530
@gargsms Is it really spam if someone what to impress himself with an 'empty' message?

[2014-09-28 15:04] gargsms commented on #530
@bobcanthelpyou , I didn't get you properly.
If you meant to express yourself with a blank message, or maybe add a new person in the recent conversations, we can do that by sending just a simple '.'

The whole point of me putting this issue was because I slept over my phone and sent someone about 7 lines of gibberish, 3 of which were empty. :stuck_out_tongue:

[2014-09-28 16:37] TitanNano commented on #522
@bdcomp maybe you should add #359 to the milestone...

[2014-09-28 16:39] bdcomp commented on #512
@Maxxie Is it possible on other apps?

[2014-09-29 00:53] gargsms commented on #463
https://github.com/loqui/im/pull/537 solves this and a lot of others.

[2014-09-29 04:41] #463 closed, assigned to nobody

[2014-09-29 05:19] bdcomp commented on #505
@aesedepece Is this fixed by your https://github.com/loqui/im/commit/e89c575ead408bef6e4544a97e9e6c192e6f9efb

[2014-09-29 05:20] bdcomp commented on #443
@aesedepece Is this fixed by your https://github.com/loqui/im/commit/e89c575ead408bef6e4544a97e9e6c192e6f9efb

[2014-09-29 07:51] aesedepece commented on #505
@bdcomp Yes, I'm not able to reproduce this issue any more :smiley_cat:

[2014-09-29 07:51] #505 closed, assigned to nobody

[2014-09-29 07:53] aesedepece commented on #443
@bdcomp It needs some more work.
Now you can receive the messages but you don't get the first one (I'm still trying to figure out why).

[2014-09-29 08:13] #403 closed, assigned to nobody

[2014-09-29 08:18] josegfff opened #538 "[WhatsApp] Firefox OS v2.0+ does not send images, videos (peak)"
It occurs in both wifi and data network.
The error that appears says Could not get network connection.
It may be related to problems wassap off.

[2014-09-29 09:20] ghost commented on #443
@aesedepece I tested the latest dev version of LoquiIM from Github, i receive all messages, also when a contact is offline or i am offline and still sending messages with the open otr session. :+1:

What do you mean with the "you don't get the first one"? Is that already fixed? I don't miss any messages.

[2014-09-29 09:44] ghost commented on #443
And i am not sure if that is caused by your commit to fix this issue or if this is an older problem.

I added a new account and i am asked to create an otr key (cause my chat partner, try to start an otr session), i choose create.
I am leaving the chat
And everytime i access the chat, again, i am ask to create an otr key (but the otr key creation is already running)

Expected behavior: Don't ask a

[2014-09-30 03:53] ghost commented on #443
I did some more tests, when i tested the behavior before https://github.com/loqui/im/issues/443#issuecomment-57135644 my phone was connected to my computer, loading the battery and in a kind of "always online" mode, also i disconnected and connected the accounts manually

but when my phone is not connected via usb and i am chatting over an otr session, when the display of my phone is turning off a

[2014-09-30 07:51] ghost opened #539 "XMPP: input field for custom server does not appear at mucCreateForm"
The input-tag for a custom server is at the wrong place and does not appear when i choose custom in the mucCreateForm

[2014-09-30 07:53] bdcomp commented on #539
@bobcanthelpyou A screenshot will be appreciated.

[2014-09-30 08:39] ghost commented on #539
@bdcomp

choose 'custom' as server the input field is missing

![custom](https://cloud.githubusercontent.com/assets/4523264/4455243/c1c1122e-487c-11e4-987d-16ad212cec09.png)

should be fixed with #540

![custom_fix](https://cloud.githubusercontent.com/assets/4523264/4455276/36983c94-487d-11e4-8e31-e152cb8494e2.png)

[2014-09-30 08:44] #539 closed, assigned to nobody

[2014-09-30 08:45] bdcomp commented on #539
@bobcanthelpyou Thanks!

[2014-09-30 09:39] ghost commented on #508
Is this a duplicate of #534 ?

[2014-09-30 10:05] ghost commented on #534
I tried that share function, i could choose Loqui IM within the share menu of the browser, but i can't use Loqui IM:

First an empty window
![addurl1](https://cloud.githubusercontent.com/assets/4523264/4456298/e3b0c74c-4888-11e4-9326-83b35aa32ac0.png)

Then i could choose an account:
![addurl2](https://cloud.githubusercontent.com/assets/4523264/4456299/e5052016-4888-11e4-99a4-f1a4075ceb4c.png)

Ag

[2014-09-30 10:08] bdcomp commented on #534
Looks like something missing on the Loqui side.

@aesedepece Any idea?

[2014-09-30 12:05] aesedepece commented on #443
The OTR button has been replaced by a switch inside the contact's options.
As long as that switch is turned on, every time you enter the chat, Loqui negotiates an OTR session, accepts only ciphered messages and discards plain messages.

[2014-10-01 04:06] ghost opened #541 "How to keep /src/index.html and /ubuntu-touch/www/index.html in sync?"
There where some changes to the /src/index.html file lately

But these changes where not applied for /ubuntu-touch/www/index.html

What should be different in the index.html for Ubuntu Touch?

[2014-10-01 07:15] plop3 commented on #181
@lenod same problem for me (prosody server)

[2014-10-02 04:56] gargsms opened #542 "[WhatsApp] Loading previous chats takes very long"
A few hundred of previous chats can be loaded without any significant delay, but when the chat count reaches above 1200 or so, delays of as much as 5 seconds can be seen. For chat count of 2500, I found the delay to load 30 more chats was about 15 seconds.

Since all the chats are stored in the device itself, is it the retrieval of chats that takes this much time, or is it the creation and mainten

[2014-10-02 16:49] suoko commented on #538
That applies to flame and 2.2 fxos too.
I switched to loqui because it's the only app on fxos to allow sharing a pic or a video from the gallery !

[2014-10-03 10:36] josegfff commented on #538
Telegram can also send pictures and videos directly from the gallery

[2014-10-04 07:27] gargsms commented on #507
https://github.com/loqui/im/issues/496#issuecomment-52621539

It so happens that my JSON.stringify(backup) string is too long to be logged properly. Also, I have no idea why window.print() does not work in the App Manager console. :disappointed:

Anyway, I would like to implement the export and import features (I cannot lose my chats :p)

@aesedepece Will indexedDB be a good approach for the same?

[2014-10-05 05:01] jfabiomr opened #543 "Facebook y Nimbuzz"
No puedo ingresar a las cuentas de facebook y nimbuzz, se queda conectando pero no conecta y ya rectifique mis cuentas de usuario.
Agradesco una pronta solucion gracias

[2014-10-05 21:18] TitanNano opened #544 "81cdc39 mutes every chat"
The chat settings change in 81cdc39 causes all chats to get muted, since the check if a chat is set as muted was not adjusted.
`chat.core.settings.muted` is always true, since it is an array now.

[2014-10-07 20:47] aesedepece commented on #544
Closed by 987b8f3

[2014-10-07 20:47] #544 closed, assigned to nobody

[2014-10-07 20:50] aesedepece commented on #541
Ping @Gioyik

[2014-10-08 06:23] gargsms opened #546 "Allow for quickly sending multiple emoji"
Even in the latest version of Loqui, only one emoji can be selected at once. This makes it troublesome to put multiple emoji quickly.

[2014-10-08 06:39] gargsms commented on #546
https://github.com/loqui/im/pull/547 was the best I could do. It works, though.

[2014-10-08 16:01] toth-attila opened #548 "Add Hungarian language to localization platform"

[2014-10-08 18:47] aesedepece commented on #548
Done and thanks! :+1:

[2014-10-08 18:47] #548 closed, assigned to nobody

[2014-10-10 16:50] TitanNano commented on #546
:+1:

[2014-10-10 18:04] gargsms opened #549 "What happened to the search through contacts feature?"
I can see that #111 and #95 address the issue, but they are completely absent in the current version.
Is there any progress in that area?

I am thinking of implementing the search myself, so just asking if I could get some head start. :question:

[2014-10-10 18:35] gargsms commented on #496
So, I tried recovering some of my chats using the steps @aesedepece described above.

The steps above somehow did not work well in my case, they need a little tweaking and reordering. @bdcomp try this if you want.

On the new version, I activated WhatsApp using the SMS activation. Copied the output of `App.accounts[0].core.data.pw` to some place (this will be used later [1]).

When I was unpacking

[2014-10-13 11:07] kramer65 opened #551 "how does Loqui get messages?"
Seeing that I'm interested in having Whatsapp on Ubuntu Touch, I was just wondering how Loqui gets whatsapp messages? Does the app poll the whatsapp servers (= slow and inefficient) or does Loqui employ its own server which polls the whatsapp servers for its users, after which it sends a push to the Loqui users?

Any information on this would be welcome!

[2014-10-13 11:11] aesedepece commented on #551
Loqui IM connects directly from the user phone to the WhatsApp servers via TCP sockets and listen for incoming messages. There's no need to poll :wink:

BTW there's already an effort to port Loqui IM to Ubuntu Touch, as you can see in our sourcecode:
https://github.com/loqui/im/tree/dev/platform/ubuntu-touch

[2014-10-13 11:11] #551 closed, assigned to nobody

[2014-10-13 11:38] kramer65 commented on #551
Awesome! I thought the port to Ubuntu was developed here: https://github.com/loqui/im/tree/ubuntu-touch , and since nothing was really happening there I figured that the Loqui2UTouch-effort was kinda dead..

I didn't know Ubuntu Touch was being implemented in the main source thouch. Would you have any information on how far the UTouch efforts are? Can it already be run on Ubuntu Touch, or is it st

[2014-10-13 16:27] kit-ty-kate opened #552 "[Facebook] Messages are lost when connexion is bad"
If the connexion is bad (like on 2G) I don't receive new messages. Moreover, when I've again a good connexion, the messages are not fetched. It happens also with messages sent from another device.

Account type: Facebook
OS: Firefox OS 2.1
App status: up-to-date

[2014-10-15 15:14] kit-ty-kate commented on #552
Is there someone who can confirm this ?

[2014-10-16 04:46] uvox74 commented on #552
I do. ZTE OPEN FFOS1.1

[2014-10-16 04:47] uvox74 commented on #552
I forgot to mention that The issue happens to me when using whatsapp

[2014-10-17 07:34] nicokant commented on #538
Having the same problem with Flame and b2g 2.2, image is loaded but then the app gives me a connection problem loading the file (to whatsapp server).

[2014-10-20 17:39] pravi commented on #505
When ChatSecure is at the other end, often I get "I could not decrypt the message you send". It happens when I resume the conversation after a long time. It could be a bug at ChatSecure end. When the chat is closed, it should signal OTR session is ended. Can there be an option to check if OTR session is active after a timeout and restart the OTR session?

[2014-10-21 04:46] pravi opened #553 "otr messages should be distinguishable in the log"
please mark the otr session logs differently. So when on OTR session starts and end, it should be marked in the log.

[2014-10-22 14:43] pravi opened #554 "[XMPP] group chat doesn't always show names of participants"
name is shown in participants list correctly but in chat window it is not shown sometimes.

[2014-10-22 20:44] TitanNano commented on #538
I have this problem on my Peak with 2.1 too. Somehow the Socket get's closed while the file is still uploading...

[2014-10-23 07:17] pravi opened #556 "[XMPP] group chat participants list is inconsistent"
Even when two people were in the room and were chatting only one participant was shown in participants list. It took a lot of time before correct number was shown again.

[2014-10-23 22:16] barraponto commented on #519
Same issue here.

[2014-10-24 16:54] cmeerw opened #557 "Show nick and tel-number in Whatsapp group chat"
In a Whatsapp group chat, loqui currently shows the sender either as the name from the address book, the nick/pushName or the tel-number. It would be good to show both the nick/pushName and tel-number if the contact isn't found in the address book.

[2014-10-24 16:57] cmeerw commented on #557
I was thinking of something like this as a fix (untested):

[code]

[2014-10-27 18:27] cmeerw commented on #512
There appears to be some support for it in OpenWapp, although I am not sure it's entirely correct/working there. I think it's essentially the name attribute in the presence stanza that needs to be set.

[2014-10-27 20:00] cmeerw commented on #512
As a proof of concept I made the following modifications:

[code]

And this seems to set the nickname to 'nick' (hardcoded) - maybe someone else is able to update the GUI to make it configurable...

[2014-10-30 07:19] pravi opened #558 "support offline messages for group chat"
Conversations show logs of previous conversations when joining a room. Loqui should also do the same.

[2014-10-30 07:34] pravi commented on #556
I think loqui is not processing join/leave updates in the room. It should update the participant list when someone joins/leaves the room.

[2014-10-30 13:46] pravi opened #559 "[XMPP] group invitation confuses loqui"
When someone invites you to a group there is no option to accept and join. We have to manually add the group. Also the invitation is shown as separate chat in the chats list and loqui is confused.

[2014-10-30 13:49] pravi commented on #559
You have to remove the invitation and group and join the group again to start chatting in group.

[2014-10-31 09:17] pravi opened #560 "[XMPP] group creation does not work"
I can't see the group when I search for public groups. Also I can't see or access participants list from group chat view.

[2014-10-31 09:34] pravi commented on #560
I had to use conversejs.org to create the room.

[2014-10-31 11:05] gargsms commented on #549
#547 fixes this, too.

GitHub mixed all the non-merged commits into one.

[2014-10-31 11:18] gargsms commented on #549
There is one shortcoming with the search, though.

If you have to search for some John Doe, you can do that using either 'john' or 'doe', but not 'john d'.
The latter just turns up blank.

Not a big fallacy I guess, but if someone is willing, please fix it.

[2014-10-31 11:18] #549 closed, assigned to nobody

[2014-10-31 11:18] #546 closed, assigned to nobody

[2014-10-31 14:30] ghost opened #561 "Can't scroll down countrySelect list"
I am using the Loqui IM dev branch (last commit 0d3efda9c5d86b2f9923b990fc2181ac618fe20d) on Firefox OS 1.3 and i can't scroll down to the bottom of country list of the Whatsapp countrySelect form. Cause of that i can't select a country from the bottom of the list.

[2014-10-31 15:04] ghost commented on #561
After a restart of Firefox OS this issue is gone.

[2014-10-31 15:04] #561 closed, assigned to nobody

[2014-11-01 09:22] pravi commented on #554
If more than one person responds after I say something, only first person's name is shown.

[2014-11-01 11:32] pravi commented on #558
It shows some messages. Can there be an option to request more messages?

[2014-11-02 20:17] gargsms opened #562 "[WhatsApp] Some emoji are rendered badly"
Few that I have found to be rendering improperly:
![1f601](https://cloud.githubusercontent.com/assets/5238955/4876641/0a3271dc-62cd-11e4-99ab-65ad5224a028.png)
![1f52b](https://cloud.githubusercontent.com/assets/5238955/4876642/1813d228-62cd-11e4-8cd5-0b2f61240d49.png)

Here is a screenshot:
![index](https://cloud.githubusercontent.com/assets/5238955/4876645/28eb5530-62cd-11e4-9bfa-892fb95099b2.pn

[2014-11-06 17:08] asutherland commented on #538
I helped look into this from the TCPSocket API side of things on https://bugzil.la/1088273 with @TitanNano and it appears the server does not like the request, possibly because the POST line is missing the HTTP version.  (Or maybe for some other reason.)  But from a Firefox OS/Gecko perspective, it's very clear TCPSocket is working correctly and the isssue is that the server does not like the requ

[2014-11-06 18:09] TitanNano commented on #562
Which version of the app are you using? as far as I know, this should be fixed already.