[2014-11-06 18:12] gargsms commented on #562
0.3.4a

I am using the latest pull from this repo, with #547 applied.

[2014-11-06 18:15] TitanNano commented on #562
okay, then this is a new issues, I just know that a similar problem already got fixed. I assume that the fix only applies to a part of the broken emojis.

[2014-11-06 18:17] gargsms commented on #562
@TitanNano Fix issue number?

[2014-11-06 18:20] TitanNano commented on #538
Thank you @asutherland for taking your time to look at this issue. I hope we can fix this here, but unfortunately it seams that @aesedepece wasn't here since 6 October. I'm going to test what happens if I correct the HTTP header.

[2014-11-06 18:25] TitanNano commented on #562
this was commit cad1832 for #488

[2014-11-06 18:33] gargsms commented on #562
I guess a similar patch follows. The entries to be modified are:

https://github.com/loqui/im/blob/dev/src/scripts/loqui/connectors/coseme.js#L1250
https://github.com/loqui/im/blob/dev/src/scripts/loqui/connectors/coseme.js#L1308

1f52b is the gun. :stuck_out_tongue:
Anyway, why is this repo inactive for about a month now? Where did everyone go?

[2014-11-06 18:36] TitanNano commented on #562
that's a good question. @aesedepece is the repo owner and he hasn't be here since 6 October I think...

[2014-11-07 08:01] aesedepece commented on #562
I'm sorry I've been out for a long time for personal reasons. Let's make up for lost time!

@TitanNano is right, this is duplicate of #488

[2014-11-07 08:01] #562 closed, assigned to nobody

[2014-11-07 08:04] aesedepece commented on #538
On the basis of recent reports, this could be also causing inability to request confirmation SMS, as that feature is performed via HTTP as well.

[2014-11-07 08:12] aesedepece commented on #558
Ok, we could easily retrieve last X messages when joining a room for the first time.

[2014-11-07 08:13] aesedepece commented on #554
I'll take a look into it.

[2014-11-07 08:59] pravi commented on #558
It would be good to have an option to load more messages too.

[2014-11-07 18:07] niutech commented on #122
Any updates? My attempt to log in using Google account is still blocked unless I enable [access for less secure apps](https://www.google.com/settings/security/lesssecureapps), which is a security risk. Please implement OAuth.

[2014-11-08 18:12] TitanNano commented on #538
I added the HTTP version to the post line, it looks now like this:

[code]

But the request still gets rejected...

[2014-11-09 03:36] ghost opened #563 ""Message received" symbol / messages not send when wonky connection"
It would be nice to have some sign that shows, if the message got actually send (official whatsapp does have such a feature), although i'm talking here for all kind of services.

It would be obsolete if messages would be sent ASAP instead of 'now or never'.
Because if you have a wonky or no connection at all and try to send a message, it won't give you an error or a 'not sent' symbol. This will le

[2014-11-09 03:47] ghost opened #564 "[WhatsApp] status not available"
I noticed, that you cannot view the status of your contacts until you have sent them a message and restarted the app. For all contacts that you haven't send a message to since you are using Loqui, the status will be "status not available".

Whatsapp - ZTE Open C FFOS 1.3

[2014-11-09 03:49] ghost commented on #552
Have the same when using loqui with whatsapp on my zte open c ffos 1.3

[2014-11-09 14:00] TitanNano commented on #563
:+1: yes, it would be really nice to have such a feature.

[2014-11-09 14:05] TitanNano commented on #538
There is an update for CoSeMe. I think it would be a good to apply it to loqui, this could maybe solve this problem or a least improve the app. I tried to replace the old coseme.js in /src/scripts/anonymous with the new one from https://github.com/mozillahispano/coseme/blob/master/dist/coseme.js but loqui does not work with it anymore. It does not connect properly... maybe someone can take a look

[2014-11-11 03:31] gargsms commented on #564
It is because the status and pictures for contacts that you have not had any chats with are lazily loaded.
Supposing someone has over 200 contacts, and has been chatting with only a few 40, it is just a wastage of bandwidth to load all the other data which is not needed.

I have noticed similar issues. Sometimes it will fetch the status and picture right away, sometimes you need to exchange few ch

[2014-11-11 03:37] gargsms commented on #563
AFAIK, the lastAck line below the chats tell us if the message was delivered or not. But it is buggy. Also, there is not very clear distinction between the line that marks a bunch of 30 messages and the lastAck line.

It would be nice to have an indication of delivery. Maybe the same as the WhatsApp ticks, or some other form.
Also, WhatsApp now has the blue ticks which mark a message as read.

Any

[2014-11-11 11:25] ghost commented on #526
+1

[2014-11-11 11:28] ghost commented on #554
I confirm the error, the name in a xmpp group chat only appears in the first message. Then whe I write, appears the first message again for other contact.

[2014-11-11 17:37] 03927e9c opened #565 "[WhatsApp] Could not sent SMS (I had it working before)"
Hello, I started using Loqui several months ago and everything worked quite well -I only used WhatsApp- and in the same day I was chating perfectly I get an error, something like "authentication error". Tried disconnecting and reconnecting, but nothing, waited a couple of days to see if the problems gets fixed... nothing. Then I tried registering the account again, and that's when I get this messa

[2014-11-11 18:05] gargsms commented on #565
Did you use WhatsApp with the same number on some other device?
It can be an error in case you are trying to use more than one device at a time.

I would suggest you install a fresh version of Loqui and try again and see if it is resolved.

[2014-11-11 18:24] sergioad commented on #565
I had this issue too, I do ot have the same number in other device, I have upgraded my Firefox OS rom

[2014-11-11 22:10] 03927e9c commented on #565
Thanks for the replies. No, I do not have the same number in any other device and I forgot to mention that I also uninstalled and re-installed Loqui when I was trying to find a solution, but that didn't work neither.

[2014-11-13 13:56] anii2001 opened #566 "Messenger"
Jhcgdduf

[2014-11-13 14:32] anii2001 opened #567 "Whatsapp"
No se agregan mis contactos y no puedo conktarme con ellos ni comunikarme

[2014-11-16 02:27] Shyamacharan opened #568 "Adding Whatsapp account could not send SMS"
When trying to add my Indian number as a WhatsApp acount, I get an error saying that the SMS could not been sent. I opened the console and no much information is shown.

I regularly use the same number in a different phone with WhatsApp.

[2014-11-16 15:47] 03927e9c commented on #565
Nobody? Please I really need to fix this up!

[2014-11-16 23:49] sergioad commented on #565
Same here, upgraded to FirefoxOS 2.1

[2014-11-17 06:54] gargsms commented on #565
Seems like things have broken in the unstable builds of Firefox OS, 2.1 and 2.2
I will see if there are some leads into this.

For now, you can try using FxOS 2.0 It is stable.

[2014-11-17 07:54] gargsms commented on #565
:grinning: Use my fork https://github.com/gargsms/im/tree/New-Version
Everything works with it. Plus you will get a few additional features that aren't merged yet.
It was due to the new WhatsApp version being rolled in. I am still not very sure why that was not a problem with older Firefox OS versions.
Tested on Firefox OS v2.0+

Source of fix: https://github.com/perezdidac/WhatsAPINet/pull/226

[2014-11-17 07:55] gargsms commented on #568
https://github.com/loqui/im/issues/565#issuecomment-63270371

Here, fixed it. :smile:

[2014-11-17 12:59] #566 closed, assigned to nobody

[2014-11-17 16:27] aesedepece commented on #565
Hey @gargsms can you PR? Thanks.

[2014-11-17 16:37] gargsms commented on #565
Yes, I will do that once I have verified that it works.
I tried in the emulators since I don't have Firefox OS 2.0 installed. I got the SMS sent message, but never received any SMS.
I need to try on a device.

[2014-11-17 16:49] gargsms commented on #565
It works. Apparently not from an emulator but from a physical device.

Sadly I have multiple versions of Loqui installed now each having many chats to backup.
I will try to implement the backup and restore option at this weekend.

Sending a PR ASAP.

[2014-11-17 17:30] aarizkuren opened #574 "Refactoring"
[Here](https://github.com/mozillahispano/coseme) they are maintaining the coseme lib updated, and they put it in bower too.
We can refactor loqui and use bower with all the libraries.  Most libraries already support bower, and if it not support, we can create a git mirror with it and use too with bower.
What you think?

[2014-11-18 00:12] 03927e9c commented on #565
Ok, sorry I don't get it. I have Firefox OS 2.0 simulator on my PC and I have this problem, are you saying your fork will solve it?

[2014-11-18 02:48] gargsms commented on #565
I tried from simulators, both 2.0 and 2.1 but did not get any SMS even when I got the SMS sent popup.

I then installed it on a device and it worked. It simply did something in the background and I could use WhatsApp. No SMS, though.

@03927e9c try and see if this solves the issue completely. Worked for me (partially). We may need to apply some other fixes if it still persists.
Also, you can just

[2014-11-18 03:48] 03927e9c commented on #565
Thanks for the help, but I'm a noob on this GitHub thing so I have two questions: how do I know your code is safe? And why people from Loqui haven't fixed this officially?

[2014-11-18 18:15] TitanNano commented on #565
@03927e9c well this is how things get officially fixed here. @gargsms is a participant of this project and created the fix on his account. After he tested it, he created a pull request and @aesedepece merged the patch into the official code. Now the current code gets future tested and if everything works fine, a new package will be uploaded to the marketplace.

[2014-11-19 15:32] 03927e9c commented on #565
I don't know how to intall it if it's not on MarketPlace, I tried reading the FAQ and Readme, but it doesn't say, I have the zip file but I don't know what to do with it?

[2014-11-19 15:49] TitanNano commented on #565
@03927e9c at first you have to clone this repo. then you need to install grunt and run `grunt` in the repo root directory. After that, you can add (loqui repo dir)/dist/firefoxos as a packaged app to either the AppManager (< Firefox 35) or the new Web IDE (>= Firefox 35) and flash it to your device. To connect your device with the AppManager or WebIDE you need to enable USB debugging in the Develo

[2014-11-19 16:14] TitanNano commented on #447
this is nothing that depends on loqui... maybe we can close this?
There are so many open issues that aren't relevant, already fixed, etc...

[2014-11-19 16:16] aesedepece commented on #447
I agree.

[2014-11-19 16:16] #447 closed, assigned to nobody

[2014-11-19 16:19] TitanNano commented on #255
The button works for me perfectly fine on 2.1 and also did on 2.0 and 1.4. Is this still relevant?

[2014-11-19 16:20] TitanNano commented on #185
duplicate of #255

[2014-11-19 16:22] TitanNano commented on #100
I can't understand this, but from the title I would say that this already got fixed...

[2014-11-19 16:38] TitanNano opened #575 "hide conversations from chats list"
In the past I experienced that I have conversations in my chat list I don't want to show up anymore, but don't want to delete the messages I have sent to that contact or received from them.
I don't know if other Clients implement such a feature, but I know it from other messaging platforms.
### exact UX
#### hiding a Conversation

the user navigates to the contact page of the chat partner he wants

[2014-11-19 16:45] TitanNano commented on #568
this can be closed, it's a duplicate of #565 anyway.

[2014-11-19 17:06] TitanNano commented on #557
@cmeerw looks good to me.... can you create a pull request?

[2014-11-20 11:49] gargsms commented on #575
@TitanNano I was thinking of implementing the delete messages feature over this weekend because I need it. Maybe we can implement this as well. It shouldn't be that hard after all.
Anyway, what does the mute conversation feature do? Is it not the same?

Also the Import and Export features are missing. Got a lot to do this weekend. :smile:

[2014-11-20 12:53] TitanNano commented on #575
@gargsms no, the mute feature mutes notifications. This would just hide them from the chats list, you still receive notifications for the conversation. If you have many conversations but barely talk with some of you contacts, this could be useful to clean up your conversations list.

You mean to delete a single message from a conversation? That would be nice.

I would be glad to implement this fea

[2014-11-20 14:53] gargsms commented on #575
Oh, I never used the Mute feature.

Yes, I meant the ability to select messages that you want and delete them. It is there in almost all client AFAIK. I just don't know how Loqui missed it.

The UI that I am thinking of will consist of a tasks button that once tapped will display a list of common options that can be applied to a chat.
![loquiim-tasks](https://cloud.githubusercontent.com/assets/523

[2014-11-20 16:49] TitanNano commented on #575
:+1: I think that are great improvements. But I think Mute Conversation, block contact and the new hide conversation could remain in the contact info. Instead we could move the file sharing (video, audio, image, location) To your new tasks menu, remove the plus menu and add an emoji button on the left side of the text box... What do you think of that?

[2014-11-20 16:52] shokoshokoshoko commented on #552
same here (flame, ffos 2.0). I lose xmpp messages too!

[2014-11-20 17:01] shokoshokoshoko commented on #102
Why is this app restricted in some countries?

[2014-11-20 18:38] gargsms commented on #575
Seems reasonable.
Let's see what others suggest over time.

@aesedepece @bdcomp Any suggestions?

[2014-11-20 20:40] TitanNano commented on #465
I'm experiencing no problems and no one else seems to either... maybe we can close this?

[2014-11-20 20:47] bdcomp commented on #465
In fact, Loqui crashed several times last weeks, although I am not sure why.

0.3.3a on GP Peak, B2G 2.0.0.0-pre, 14/11/2014 build.

[2014-11-20 20:53] TitanNano commented on #465
I have no crashes on my Peak B2G 2.1 with 0.3.4a and my group pictures are downloaded and displayed properly... What do these crashes look like? the app just gets closed?

[2014-11-20 21:00] bdcomp commented on #465
I think it's group related, as per original issue report.
My app crashed several times while I was reading/loading old messages of some group.

[2014-11-21 22:17] 03927e9c commented on #565
Any info on when the next version of Loqui will be released?

[2014-11-22 12:17] cmeerw opened #580 "WhatsApp: group chat participants is never updated"
Notifications about added/removed participants in a group chat are currently completely ignored and the list of group chat participants is never updated.

[2014-11-22 17:51] #495 closed, assigned to nobody

[2014-11-22 18:01] #568 closed, assigned to nobody

[2014-11-22 20:52] #580 closed, assigned to nobody

[2014-11-22 20:53] #557 closed, assigned to nobody

[2014-11-22 20:55] #512 closed, assigned to nobody

[2014-11-22 21:00] TitanNano commented on #511
Loqui does support native Notifications. What exactly are you looking for?
Restarts are mostly connected to connection problems or because the system killed the app.
I close this issue, if you can provide more accurate informations we can reopen it...

[2014-11-22 21:00] #511 closed, assigned to nobody

[2014-11-22 21:08] TitanNano commented on #100
this got fixed with https://github.com/loqui/im/commit/aef0ef507c7d248730e7aa449b991393033ca168 and https://github.com/loqui/im/commit/886f8c5462cac50553309d9cabc6996c79007fcc

[2014-11-22 21:08] #100 closed, assigned to nobody

[2014-11-24 13:38] #508 closed, assigned to nobody

[2014-11-24 13:49] aesedepece commented on #534
That's what appears when you try to share something while Loqui is closed, so when the share activity inside Loqui is executed, the accounts haven't been loaded yet.

[2014-11-24 13:52] TitanNano commented on #534
I experienced that too, could we just create a promise for the account loading to wait until we register the listener?

[2014-11-24 14:21] TitanNano commented on #538
@asutherland do you know about any changes in Gecko from 2.0 to 2.1 that could cause this problem? I think it's still mysterious that it works on 2.0 but not on 2.1 and higher.

[2014-11-24 17:31] #534 closed, assigned to aesedepece

[2014-11-24 18:12] asutherland commented on #538
v2.0 is Gecko 32.  v2.1 is Gecko 34, so you're also getting the changes for Gecko 33.  The release notes are https://developer.mozilla.org/en-US/Firefox/Releases/33 and https://developer.mozilla.org/en-US/Firefox/Releases/34.  Gecko 34 disables SSLv3 by default per the notes.  I suppose it's possible that or some other change in SSL behaviour could cause the connection to become sad.  It's unlikel

[2014-11-24 19:19] tucker-m commented on #574
Disclaimer: I haven't contributed any code to Loqui, so I'm not sure what that's like right now. That being said, I'm starting to believe that many modern web development tools (like Bower) only create one more obstacle for new contributors, without providing much benefit. What would be better if Loqui used Bower?

[2014-11-24 19:34] TitanNano commented on #538
@asutherland  when I run `openssl s_client -connect mmi211.whatsapp.net:443` then I get

[code]

I have absolutley no experience with this, but I think this means that the server supports TLSv1 and SSLv3, right? So there is no problem when Gecko does not support SSLv3 any more...
I also took an additional look at the whireshark log and turned checksum validation on. Almost every sent package has a

[2014-11-24 20:31] #492 closed, assigned to bdcomp

[2014-11-24 20:36] #466 closed, assigned to nobody

[2014-11-24 23:59] asutherland commented on #538
Hm, yeah, that looks fine and doesn't raise any red flags.

Invalid checksums are usually an artifact of the network interface being responsible for computing/updating the checksum and not actually a problem.  (That is, tcpdump gets the packet before the checksum has been computed, so it looks incorrect.  But if you were to actually sniff what goes on the wire, you'd find it's fine.)

Is it possib

[2014-11-25 00:06] TitanNano commented on #538
yes, I'll do that in the next days. It will take me some time because I have to backup and down grade my phone...

[2014-11-25 00:23] TitanNano commented on #563
#588 implements an message sent indicator:
- yellow message => trying to send the message
- red (default color) => message successfully sent
- gray with red border => failed to send the message

Note: If the message gets successfully sent but Loqui disconnects right after that and does not recive the sent ACK from WhatsApp, then the message still gets marked as failed. Eventually the message th
en

[2014-11-25 00:24] #563 closed, assigned to TitanNano

[2014-11-25 00:54] Gioyik commented on #542
Which device?

[2014-11-25 00:55] Gioyik commented on #553
On which log this should be marked different?

[2014-11-25 00:56] Gioyik commented on #541
I am thinking on way to keep those sync. I need to think a good way to develop for future platforms.

[2014-11-25 00:57] Gioyik commented on #567
Que version de Loqui IM usas, que pais, cuantos contactos tienes, y que dispositivo tienes con Loqui instalado?

[2014-11-25 01:06] Gioyik commented on #575
Hi,

I am agree with the feature of select messages and delete it from list. But not sure if the icon position is the best in terms of UX, on the plus button can be positioned correctly. If the list of features that opens the plus button is large vertically, we can set a vertical scroll and get a nice UX for that list of features.

If is posible to have images or something that show more clear the

[2014-11-25 01:14] Gioyik commented on #574
We think that Loqui IM could be available on different platforms, so It's a must have use web tools that help us improve the development of Loqui IM. So, the use of Bower can help us to have the latest versions of libraries that we use like coseme and other, avoiding fails thanks to not updated libraries with their fixes.

It's best to create a documentation for beginners, so, they will be not con

[2014-11-25 04:33] gargsms commented on #542
Device - Flame.

I guess this has something to do with the large number of reflows that happen when we open multiple chats. I will do some experiments about this in the coming days and see if that makes any difference.

[2014-11-25 05:04] gargsms commented on #575
Hey @Gioyik

I thought of this earlier.
![loquiim-tasks-new](https://cloud.githubusercontent.com/assets/5238955/5178210/ceef9cda-748d-11e4-85e1-502fb3cdf53a.png)
But now I feel that the menu seems orphaned and hanging at a random place.

Also, I am not very sure what options I should keep in the menu. @TitanNano suggested to have an emoji button separately, which I guess will be awesome as people

[2014-11-25 05:55] pravi commented on #553
When you look at a chat, you should be able to distinguish when otr started and otr ended. This should be visually recognizable even after you turn off otr.

[2014-11-25 09:29] TitanNano opened #590 "use JSHint and CSSLint"
I think it would be better if everyone would use JSHint and CSSLint. I use them by default and they throw many many errors. If we also use Travis CI we can add a JSHint and a CSSLint test. With that we probably could get better code and also faster CSS rules...

[2014-11-25 14:16] moritzbuhl opened #591 "[XMPP] Can't use jabber"
I type in username and password and press the login button and after logging in and synchronizing I am not logged in anymore. The account is not listed.
![2014-11-25-15-04-21](https://cloud.githubusercontent.com/assets/5376102/5184136/1208bc5a-74b5-11e4-8f47-ac6a832a3306.png)
![2014-11-25-15-04-26](https://cloud.githubusercontent.com/assets/5376102/5184138/14bb5386-74b5-11e4-9260-42e8d9534c54.png)

[2014-11-25 17:16] TitanNano commented on #532
I can confirm that, I think it happens when messages arrive out of order. Loqui automatically sorts them but the last arrived message is not the latest one.

[2014-11-30 18:06] gargsms commented on #565
I used #594 with an emulator (FxOS v2.2) 4 days ago and I got an SMS. But, when I installed the same code on the device, I did not get any SMS.
Today I flashed a new build to my Flame and installed the same code. It showed 'SMS sent', but no SMS till now.
There is WhatsApp v2.11.453 out now https://github.com/mgp25/WhatsAPI-Official/blob/master/src/token.php , and I cannot test if it is a problem

[2014-11-30 18:11] aesedepece commented on #565
I get the same issue with 2.11.452 (message sent, but never recieved) in both simulator and actual device.
Let's try 2.11.453 and see what happens...

[2014-11-30 18:23] gargsms commented on #565
I happened to receive a SMS when I sent it from emulator. Weird enough.

What if I try to cURL all 1,000,000 possible codes using the API? :stuck_out_tongue:

[2014-11-30 18:36] aesedepece commented on #565
@gargsms Your deviceID will be banned after a few failed attempts :stuck_out_tongue_closed_eyes:

[2014-11-30 18:57] aesedepece commented on #565
Ok, I got the SMS with both 2.11.452 and 2.11.453 from actual device but only for one of my testing lines from Pepephone carrier, but never received it on another one from Movistar.

[2014-11-30 19:09] gargsms opened #596 "[WhatsApp] Implement Voice call activation"
There have been multiple issues regarding the activation code not being received.

Someone, please implement this. PLEASE.

[2014-11-30 20:49] moritzbuhl opened #598 "[WhatsApp] Messages from Android not working"
Hi, I am using the newest version of Loqui IM (I just downloaded it from the repo) with Boot2Gecko 2.0.0.0-prerelease on a ZTE Open C. And I am having Issues with receiving messages from Android clients. I can receive pictures and sounds. And I can receive group messages. I can receive messages sent by an Iphone.
![4Android](https://cloud.githubusercontent.com/assets/5376102/5239220/5a1a9008-78da-

[2014-11-30 20:52] aesedepece commented on #598
It could be related to Android's offical WhatsApp starting to encrypt messages. Let's investigate what's happening...

[2014-11-30 20:57] gargsms commented on #598
There is this whole big discussion going on over the WhatsAPI official repo.

https://github.com/mgp25/WhatsAPI-Official/issues/109

Time to leave WhatsApp now. :frowning:

[2014-11-30 20:59] moritzbuhl commented on #598
How are the devices talking to IOS then? Can't we tell Coseme to be an Iphone?

[2014-11-30 21:00] gargsms commented on #598
iPhone clients are not encrypting the messages. The Android ones are.

CoSeMe can be anything. It is awesome.

[2014-11-30 21:03] moritzbuhl commented on #598
Is it possible to imitate an Iphone client? And if it is, how?

[2014-11-30 21:08] gargsms commented on #598
@GorgonzolaPasta The problem is in **receiving** the messages. Since the messages are encrypted, the library can't decipher it and you receive something that you can't read.

The messages you **send** are delivered just fine (because they are unencrypted) as I can see from the pictures above.
This problem is only with the newer WhatsApp clients, after 2.11.432 I guess.
The iPhone clients haven't g

[2014-11-30 21:17] moritzbuhl commented on #598
Ok. But if it is the TextSecure encryption, can't you take parts of it from the TextSecure Chromium Implementation?

[2014-12-01 08:43] mgp25 commented on #598
For now only Android clients is using encryption, other platforms will join that encryption soon. There is already a lib in c and python, so it will be easier for you to implement that. The hard part for us is to implement that library in php, that's why is taking us more time.

During the registration you should send 200 preKeys and 1 secretKey to WA Server, from then on you will receive encrypte

[2014-12-01 08:58] gargsms commented on #598
@mgp25 Link to the library? I could find the Java implementation of TextSecure on GitHub.

What do you mean not registered with WhatsApp client? Does registering with the API qualify as registering with client? Or can we make CoSeMe to emulate iPhone client behaviour thereby receiving plain text messages?

[2014-12-01 09:07] mgp25 commented on #598
@gargsms search for curve25519 and ed25519. I mean that the number is not registered in the WhatsApp client before, if you are using your number with loqui or any API and that number was registered before in the WhatsApp client then you will receive encrypted messages, if not was previously registered, then you will receive messages in plain text.

[2014-12-01 09:22] gargsms commented on #598
@mgp25 What about emulating iPhone client like @GorgonzolaPasta suggested?

It seems likely that iPhone clients receive plain-text messages because they can't send encrypted ones. It can be a temporary solution for the time being.
We will see into the two libraries you suggested. :disappointed: I have exams this week.

[2014-12-01 09:24] aesedepece commented on #598
Python Axolotl → https://github.com/rxcomm/pyaxo
Curve25519 + Ed25519 → http://www.flownet.com/ron/code/fast-djbec.js
Let's take a look at them and try to port/adapt them to client javascript.

[2014-12-01 09:28] mgp25 commented on #598
Emulate iPhone its just the same only you need to change user agent and version, i dont recommend that as its not a solution to this and soon will receive encrypted messages. It will be easier to you to implement that here as there is more support for low level languages, we have to do our own lib. But we got it working using the client data!

Don't worry i also have exams in university xd

[2014-12-01 11:29] blaazetech commented on #598
@mgp25 i can help you with PHP coding, let me know.

[2014-12-01 12:48] mgp25 commented on #598
@blaazetech if you know about crypto feel free to contact with me.

[2014-12-01 16:01] CharlesOkwuagwu commented on #598
@mgp25 Could you start from here? https://github.com/lt/PHP-Curve25519

[2014-12-01 22:19] TitanNano commented on #538
@asutherland I downgraded to 2.0 and had to discover that it isn't working either. So I downgraded future down to 1.4 and now I'm able to send picture...

this is the app log:

[code]

I have to mention that the sent next 1024 bytes lines always get repeated about 14 times, you can't see that here...

tcpdump log follows

[2014-12-01 22:33] TitanNano commented on #538
@asutherland tcpdump is attached on [the bug on bugzilla](https://bugzil.la/1088273)

[2014-12-02 05:57] SikiFn commented on #598
@CharlesOkwuagwu we already know about this..  But it is not enough at all.. Still many many code to be written..

[2014-12-02 12:28] CharlesOkwuagwu commented on #598
@SikiFn there are some "complete" .net libs for curve25519

If you (or @mgp25) could give us a little heads up on what you have successfully done/are doing so far concerning the <enc>,,,</enc> messages (in PHP), we could all at least begin tying things out with WhatsAPINet and some variant of curve25519 for .Net

The collective effort might help speed things along ... just a thought.

Regards.
Cha

[2014-12-02 12:31] CharlesOkwuagwu commented on #598
@SikiFn  just saw your other reply.
https://github.com/mgp25/WhatsAPI-Official/issues/109#issuecomment-65223082

Thanks.

[2014-12-02 17:37] #596 closed, assigned to aesedepece

[2014-12-02 18:21] TitanNano opened #600 "[WhatsApp] can't keep connected"
I wasn't in WhatsApp all day and now I just had to detect that i wasn't connected any more. I reconnected but Loqui is unable to keep the connection. It connects but already drops the connection really quickly just to reconnect. I don't know thats going on. everything worked fine when I went to bed last night.

I put a logcat output here: https://etherpad.mozilla.org/d8l5cFsNn8

Does anyone else e

[2014-12-02 18:42] cmeerw commented on #600
Seeing the same thing here...

[2014-12-02 18:50] gargsms commented on #600
I did encounter the same a long time earlier. Now, I don't have WhatsApp anymore because my number seems to be blocked. :stuck_out_tongue_closed_eyes:

Restarting my data, or Wi-Fi, and the phone worked fine for me.

[2014-12-02 18:59] TitanNano commented on #600
I restarted my phone multiple times and switched from Wifi to mobile data and back. Does not work

[2014-12-02 19:36] cmeerw commented on #600
Strangely enough, it appears to be fine again for me... Nothing has changed (just left the app stopped for the past hour).

[2014-12-02 19:41] TitanNano commented on #600
okay unfortunately I uninstalled the app and tried to re auth at whatsapp
what didn't work either... I'll see if I get it back to work now...

2014-12-02 20:37 GMT+01:00 Christof Meerwald notifications@github.com:

[2014-12-02 19:53] TitanNano opened #602 "[WhatsApp] "I have a code" verify button does not work"
I already got a new code, but if I select I have a code and enter my phone number and code nothing happens. It seems like there is no event listener for this button anymore...

[2014-12-02 20:11] moritzbuhl commented on #602
Had the same Problem. Just resent the code.

[2014-12-02 20:23] TitanNano commented on #602
the problem is I don't receive any new codes :-/

[2014-12-02 23:23] #600 closed, assigned to nobody

[2014-12-03 14:39] #402 closed, assigned to nobody

[2014-12-03 14:41] #431 closed, assigned to nobody

[2014-12-03 19:26] TitanNano opened #603 "[XMPP] can't connect to websockets.loqui.im or bosh.loqui.im"
Today I set up a XMPP account at duckgo.com and tired to login with Loqui. But when ever I try to add my account I get either `GET https://websockets.loqui.im/         [HTTP/1.1 101 Switching Protocols 462ms]` or when I change the host to https://bosh.loqui.im I get an `<body xmlns="http://jabber.org/protocol/httpbind" condition="bad-request" message="Invalid XML" type="terminate"/>`

[2014-12-04 10:54] aesedepece commented on #603
I changed the BOSH/WS server yesterday, so this could happen because of lazy DNS propagation.
Please check if the issue still remains and if so I'll take a further look into it.

[2014-12-05 07:00] achintangal commented on #565
Same error here as well. Unless, I am wrong it looks like its the same case with other whatsapp clients too, like openwapp and connecta2

[2014-12-05 07:13] 03927e9c commented on #565
Yeah I tried also ConnectA2 and I get something like "you are having a BLOCKED status, contact us at...."

[2014-12-06 00:56] TitanNano commented on #603
I still can't connect to the websocket :-/. Still getting the same message...

[2014-12-06 19:13] TitanNano commented on #538
@asutherland can you say anything about this?

[2014-12-08 21:01] ou-li commented on #516
I have the same problem. Running a prosody server.
ffos 2.0

[2014-12-09 23:37] ghost commented on #534
With the last fix i could share a link from the browser to Loqui correctly.

But if a account is deactivated i can't activate it within the account selection (not sure if that is a problem)

[2014-12-10 18:08] codedust commented on #591
I can confirm that I have the same issue on Firefox OS 2.1 using Loqui 0.3.4a.

[2014-12-12 20:57] #603 closed, assigned to nobody

[2014-12-12 20:58] TitanNano opened #606 "[XMPP] account setup fails without vCard"
If a XMPP/Jabber accounts has no vCard, the account setup fails silently.

[2014-12-12 21:26] TitanNano commented on #516
I just setup a jabber account and I'm experiencing that too. I couldn't investigate it very much but it seems to me that the websocket server gets overloaded, drops the connection and loqui tries to reconnect. But the reconnect fails with a http 500 error and loqui does no further connection attempts.

[2014-12-13 03:50] FabianOvrWrt opened #607 "Better "welcome" screen."
The welcome screen looks really bad, so I took the new icon (also made by me) and made a better version.

![background](https://cloud.githubusercontent.com/assets/6712155/5087374/650b582c-6eed-11e4-902d-31c6c70e5333.jpg)

It's qHD and looks really better imo.

Also, to the index.css you should remove the transparent background [line 87, background-color from rgba(0, 0, 0, .7) to transparent].

[2014-12-13 10:43] Giammy86 opened #608 "[WhatsApp] Messages not displayed"
While I receive perfectly messages from whatsapp groups when someone sends me messages privately on whatsapp i receive sound notification and and new messages green dot notification but no message can be read.

[2014-12-13 13:28] TitanNano commented on #608
This sounds like a duplicate of #598. Do you receive this messages from an android client?

[2014-12-13 13:38] TitanNano commented on #607
You can create a pull request if you like to commit your work

[2014-12-13 13:55] TitanNano commented on #591
This is a duplicate of #606 and that seems more descriptive to me. I'll close this bug, look at #606 for future discussing.

[2014-12-13 16:38] codedust commented on #591
Creating a vCard in Pidgin solved it for me (although this should obviously not be the "patch").
Thanks!

[2014-12-13 17:04] TitanNano commented on #591
Yes I did the same. We really need a fix for this.

[2014-12-13 17:37] Giammy86 commented on #608
Yes haven't tried from iOS client.

[2014-12-13 17:37] TitanNano commented on #608
okay, then it is a duplicate of #598

[2014-12-13 17:38] #608 closed, assigned to nobody

[2014-12-14 10:13] FabianOvrWrt commented on #607
Yes, I will. But I have one question.
Do I need to put my image inside the pull request or somebody will overwrite the old image (http://loqui.im/img/background.jpg) with this new one?

[2014-12-14 11:37] aesedepece commented on #607
I will replace the file soon. Thanks @FabianOvrWrt !

[2014-12-15 03:30] 03927e9c commented on #565
Okay so I just installed the latest version from Marketplace (v0.3.4) and I get exactly the same error. Was this supposed to be fixed?

[2014-12-15 11:57] fredericmohr commented on #122
I actually have insecure apps enabled, but I get a block from google because the login attempt is from an IP in spain. I'm sitting in Munich, Germany and my IP is not the same as the one from the blocked login attempt. Could this have something to do with this ticket or is this another problem?

BTW, this should be fixed soon because it sure looks like malicous activity on the part of Loqui. (Not

[2014-12-17 22:29] 03927e9c commented on #565
Hello? Anybody there? Why am I not getting any response? This bug hasn't' been fixed ¬¬

[2014-12-17 22:45] TitanNano commented on #565
I tried it about two weeks ago after it got fixed and it worked for me.

Did you do something about this? you're probably still blocked.

[2014-12-18 01:07] 03927e9c commented on #565
Thanks for the reply, well I haven't done anything to get blocked, just random chatting with friends, not even sending videos or stuff, so I figured it would be another problem, not just me being blocked even more considering someone said he gets the same error that I get even in the other apps.

I'll contact people from ConnectA2, just to rule it out, but I don't think I'm blocked, at all.

[2014-12-18 01:10] TitanNano commented on #565
Well I ca't tell either if you are blocked or not. But I received the SMS successfully multiple times.

[2014-12-18 18:36] gargsms commented on #565
The thing is that no numbers get blocked by WhatsApp. I could not receive any messages from any WhatsApp distributions (not even the official ones) for about two days. The error never gave any try after time. So, I waited for a few days (around 4 I guess,) and then I could receive the SMS from https://wha.tools as well as from WhatsApp for Android.
I have to use WhatsApp from an Android VM for now

[2014-12-24 11:27] Milarespa commented on #413
Hi,
My company has on-premises lync server and requires domain\user as login information.
For us, that's the only additional info to give, as server autodiscovery works fine with other clients (ipad, ...), email address domain is used and we provide a standard subdomain (lync.domain.tld)
I think that's a similar request.
Thanks

[2014-12-24 19:40] gargsms commented on #565
Works for me.
I used the most recent version from the Marketplace. Should we close this bug?

The Private Messages don't work, though. Any updates on the encryption thing?

[2014-12-28 03:41] 03927e9c commented on #565
Still doesn't work for me here. Same as usual.

[2014-12-28 19:09] gargsms commented on #565
It worked just one day. Repeating the same errors now. :(

[2014-12-29 07:58] subham75 opened #612 "need help"
I am unable to get individual chats in watsapp plzz help me

[2014-12-29 14:09] TitanNano commented on #612
this is a know issue. Take a look at #598.

[2014-12-29 21:32] cmeerw commented on #538
I am having (actually had) the same problem that I can't send images on my Open C (with a Firefox OS 2.1 build). I tried fixing the POST request (adding the HTTP version and stripping the https://mmi228.whatsapp.net from the POST request), but no luck.

Anyway, I then just rewrote the upload function in coseme.js to use XMLHTTPRequest instead of using the raw TCP socket API and that seems to have

[2014-12-29 21:35] TitanNano commented on #538
@cmeerw thank you so much. I thought about this too, since my tests showed that this is a system problem, but hadn't the time to do it. Is there a branch I can test?

[2014-12-29 22:00] cmeerw commented on #538
Code is now available in branch fix-for-issue-538 in cmeerw/im - please test and review

[2014-12-29 22:18] willyaranda commented on #538
Please, could you send the PR to the coseme repo con mozillahispano user?

[2014-12-29 23:24] TitanNano commented on #538
amazing, works for me :D. Can you create a PR for this repo too? I would like to merge this as soon as possible.

[2014-12-30 14:09] #612 closed, assigned to nobody

[2014-12-30 16:27] TitanNano commented on #538
I'm experiencing that if you try to upload bigger files like videos, loqui most of the time crashes.

[2014-12-30 17:08] cmeerw commented on #538
@TitanNano What Firefox OS version are you testing it on? What are the file sizes of the videos you have tried?

[2014-12-30 17:20] TitanNano commented on #538
@cmeerw FxOS 2.1, file size 6.8 MB
I tried to send the video to a empty test group and to an actual contact:

**Group:** I was able to upload the video two times, but the app freezes for some time before the upload starts.
**Single Contact:** the app freezes too but crashes before the upload starts.

[2014-12-30 18:51] aesedepece commented on #538
Random crashes while uploading big files have been there from the very beginning and I believe they are caused by device RAM shortage while running the 'Tools.blobToBase64' function we use in order to keep the file inside IndexedDB while we wait for WhatsApp servers to respond our 'media_uploadRequest' call with a valid URL.

[2014-12-30 18:52] cmeerw commented on #538
I have so far tested with a 7.7 MB file both in a group chat and a one-to-one chat and haven't seen any crashes on my FxOS 2.1 build. There is some delay/freeze before the upload starts, but I am not sure how that compares to the previous version of the code (it might be caused by the MD5 calculation which hasn't changed).

[2014-12-30 19:02] TitanNano commented on #538
I see. I guess the crashes are caused by a memory shortage of my Peak as said by @aesedepece.

[2014-12-31 03:38] pravi opened #615 "[XMPP] send message even when contact is offline"
Currently messages are sent only if the contact is online (messages are shown below the green line). If the contact's server supports offline messages, loqui should send the messages so even if I'm offline when the contact comes online again they will see the messages sooner. Some servers may (if not, it should) even push the messages even when offline using websockets.

[2014-12-31 03:55] TitanNano commented on #615
hmmm no, I already sent messages to offline jabber accounts and they arrived when they went online...

[2014-12-31 03:59] TitanNano commented on #615
just tested it again. Works perfectly fine for me.

[2014-12-31 05:59] pravi commented on #615
@TitanNano so is it a notification issue? Did you try to be offline after you sent the message to offline contacts? Can some other visual notification be used in case we have sent the message already? Currently it shows the messages below the green line. May be add another color line for messages we have sent but not read/acked by the contact.

[2014-12-31 12:50] TitanNano commented on #615
Actually as far as I know we don't have any acks for XMPP. Messages I sent are always displayed below the green line until we receive a message from the contact. #610 adds visual feedback if it was possible to send the message, but that still does not indicate that the contact also received the message.
I just did an other test, seems like strophe automatically resends message as soon as the user

[2014-12-31 13:06] pravi commented on #615
http://xmpp.org/extensions/xep-0184.html implements message delivery receipts. I think loqui should implement this for better reliability of message delivery.

[2014-12-31 13:09] TitanNano commented on #615
yes, we definitely should do this.

[2014-12-31 13:25] aesedepece commented on #615
Loqui supports XEP-0184 since https://github.com/loqui/im/commit/22a9a88e0f15c0e40864aa6a0e416b921c66840f (May 25)

[2014-12-31 13:28] TitanNano commented on #615
Okay, sorry for that confusion. then just my jabber client on my Laptop does not send the acks...

[2014-12-31 13:56] TitanNano commented on #615
@aesedepece btw, does XMPP and loqui support a sent / "received by the server" ack? I couldn't find anything in the connector, but I'm not sure if I'm overlooked something....

[2014-12-31 15:23] ghost commented on #459
I have the same error with a fresh account at dukgo.com and with an own prosody server too.
The weird thing is, if i send a message to this account after trying to login (after sync and connection message is disapeared), the OTR screen appears and i can click to generate a code. After clicking that the empty contact list is shown and no account is at the menu.

[2014-12-31 15:32] TitanNano commented on #615
So can we close this then?

[2014-12-31 15:50] TitanNano opened #616 "[WhatsApp] remove "presence" from features"
Actually WhatsApp does not support an always up to date presence information.

We get the presence of the active chats when we connect to the wapp server. We only get presence updates if we send in a subscription for a specific contact, but this subscriptions are only sent if we enter a chat with a contact. Also this subscriptions seem to expire after some time and at least when we disconnect.

So

[2014-12-31 15:57] #538 closed, assigned to nobody

[2014-12-31 20:06] petzichen commented on #565
Yes... I can't get the sms, too. I flashed my flame again to ffos 2.0 and cant't log in to whatsapp :-/

[2014-12-31 20:37] sergioad commented on #565
wee are banned because WhatsApp does not permit flashing nor cellphone change, they are so restrictive

[2014-12-31 20:55] petzichen commented on #565
Whaa.... -.- But why it doesn't work on Alcatel One Touch Fire, too? It isn't flashed (only offical update to ffos 1.3 from Alcatel)..? O.o

[2015-01-02 01:39] sergioad commented on #565
if you miss the files this is the ressult, also if you unninstall your WhatsApp client and re-install it, they does not care about that, they will block you

[2015-01-02 06:12] 03927e9c commented on #565
Hmm, what does "flashed" stand for? What does it means?

Besides... I was using it with out a problem and all of a sudden stopped working, I never re-installed nothing, then I started re-installing to try it out.

[2015-01-04 10:22] petzichen commented on #565
@03927e9c The 'Mozilla Flame' needs to be flashed...
https://developer.mozilla.org/en-US/Firefox_OS/Developer_phone_guide/Flame

I was using it without problems, too until 29 Dec... But now I can't get the sms (in all whatsapp-clients on ffos 2.0)... :-1:
Other services are working perfect... (Jongla, Telegram, ...)
And the Alcatel OneTouch Fire isn't flashed... :o

[2015-01-04 10:57] aesedepece commented on #565
All unofficial APIs and clients have broken registration at the moment as they changed something in the registering protocol on the server side.
We all are still trying to figure out how to solve it.

[2015-01-07 02:20] asutherland commented on #538
So, for closure on what the TCPSocket problem was, it was https://bugzil.la/1057556.  All the writes of the HTTP POST payload were not getting sent to the server.  The file upload, however, was getting sent.  The server of course wanted to see the HTTP POST stuff, which is why it didn't work.

So, to summarize, if you want to go back to TCPSocket, you can, just make sure to use the 3-arg form of s

[2015-01-08 20:51] cmeerw commented on #565
BTW, just tried registering in a simulator (with the loqui dev version) - got the SMS, but it didn't validate. Went back to the registration screen and selected verify via phone call - didn't get a phone call, but was successfully logged in...

[2015-01-11 10:25] nicokant commented on #395
Hi, are there some news about this issue?

[2015-01-15 22:16] aesedepece commented on #607
Done! Thanks again @FabianOvrWrt !

[2015-01-15 22:16] #607 closed, assigned to nobody

[2015-01-17 06:07] ghost opened #622 "[Whatsapp] registration fails"
Registration instantly gives an error-message.
Sms-registration: "Could not send SMS"
Phone-call-registration: "could not call your number"
tested with wifi & celldata.
Bug still persistent after reinstall of app an phone reboot.
German number (+49).
ZTE Open C [1.3].
Loqui.im 0.3.4a

had loqui working 2 months ago on same device, with same number. Used other whatsappclient (and still do) in the m

[2015-01-17 13:51] TitanNano commented on #622
you can't use more than one client at the same time.

[2015-01-17 18:29] ghost commented on #622
I am aware of this. But usually, the currently used client would just stop working.

[2015-01-17 19:07] TitanNano commented on #622
Okay. I never tired it. There are currently problems with the registration,
but you could connect your device with the webIDE and take a look at the
http request that is sent for requesting the SMS or phone call.

2015-01-17 19:29 GMT+01:00 JayVii notifications@github.com:

[2015-01-18 01:07] ghost commented on #622
not too sure on how to do that. But I just took a look at the console-output in the app which says:
[object Object]
Could not sent phone call,Reason:,no_routes,with DID,kk0zuqe5jh

Not sure of that might help.

[2015-01-18 09:03] gargsms commented on #622
The registration process fails on Loqui except for a few surprising times.
However, I was able to receive the registration code with OpenWapp on every try. OpenWapp doesn't work after the registration, though.

Tested on Flame with Gaia 2.0 production build.

[2015-01-18 16:04] aesedepece commented on #622
I'll push this incoming week a new v0.4 branch where registration is working at last.

[2015-01-18 16:07] aesedepece commented on #395
The Yowsup project already have it working. We will use it as reference, but there are a few required libraries that need to be ported yet to Javascript.

[2015-01-18 16:18] gargsms commented on #622
The CoSeMe used in OpenWapp is using 2.11.453 as the version. I guess the no_routes error is related to us passing 000 as MCC and MNC.

OpenWapp uses MozMobileNetworkInfo and MozMobileConnectionInfo APIs to find the correct MCC and MNCs. Weirdly enough, the MDN pages for these APIs say that they are available only to Internal apps (which OpenWapp certainly is not), but OpenWapp uses them somehow.

[2015-01-18 16:19] TitanNano commented on #622
maybe we should update our coseme too, the official repo has a some new updates.

[2015-01-18 16:19] codedust commented on #395
The guys building the Textsecure browser extension have separated the crypto part of the extension from the UI stuff last week. The best stating point for an implementation would probably be [WhisperSystems/TextSecure-Browser/libtextsecure](https://github.com/WhisperSystems/TextSecure-Browser/tree/master/libtextsecure).

[2015-01-18 16:30] aesedepece commented on #622
I'll try to push the new branch later today. It makes use of the last CoSeMe version with updated tokens and S40 registration params.

[2015-01-18 17:21] ghost commented on #622
For me, registration in all 3 clients (Loqui IM, OpenWapp, Connect A2) isn't working at all.
FireFox OS 1.3

[2015-01-18 17:40] cmeerw commented on #622
Just for the record, registration didn't work for me at all yesterday (Loqui and OpenWapp - got no_routes error), but is working fine for me today (Loqui and OpenWapp). So not sure if mcc/mnc settings have anything to do with it...

[2015-01-18 17:43] ghost commented on #622
Hm, did you change anything else? Rebooting the phone or something? Are you running FFOS 1.3 or a dev-version?

[2015-01-18 17:59] cmeerw commented on #622
@JayVii I have actually done the Loqui registration test in a Firefox OS 2.1 simulator on my laptop (I have restarted that one, but nothing else has changed between yesterday and today).

@aesedepece I was actually working on syncing to the latest coseme version myself, there is a branch sync-coseme-with-upstream in cmeerw/im - testing it yesterday didn't seem to work, but it is working now... Are

[2015-01-18 18:27] cmeerw commented on #622
@gargsms There is a mobilenetwork permission (Obtain mobile network information (MCC, MNC, etc.)) that can be requested by privileged apps according to https://developer.mozilla.org/en-US/Apps/Build/App_permissions - but looks like the MDN pages are a bit inconsistent as the paged linked to then says "internal apps only"...

[2015-01-19 11:41] ghost commented on #622
Seems to 'kind of' work in connect a2 again. Still no luck with loqui. ('i already have a code' does not work, nor does sending a sms).
Do they use the same coseme-version?

[2015-01-19 11:52] aesedepece commented on #622
Here it is, branch 0.4 with working registration → https://github.com/loqui/im/tree/v4

[2015-01-19 11:53] aesedepece commented on #622
Warning: it's quite buggy by now. Please test it and report any issues! Thanks in advance.

[2015-01-19 15:40] ghost commented on #622
When will this version be pushed to the market place? Can you already give an aproximate point of time?

[2015-01-19 20:16] cmeerw commented on #622
@aesedepece just tried registering with the 0.4 branch and it failed with a "no_routes" error...

[2015-01-19 20:31] aesedepece commented on #622
@JayVii I can guess it could be ready later this week.

@cmeerw I am really sorry to bring this news to you, but WhatsApp has started banning registration for some accounts and from some IPs. For example:
-  Account A, IP A: "no_routes"
-  Account B, IP A: "no_routes"
-  Account A, IP B: "no_routes"
-  Account B: IP B: "success"

In this example, account A is registration-blocked\* and IP A is ban

[2015-01-19 21:01] cmeerw commented on #622
@aesedepece no worries, that's just a test number anyway. But it also means that the 0.4 branch doesn't really fix any registration issues then. (btw, I tend to get my IP address assigned from 2 very different IP blocks - so looks like IP addresses from one of them work for WhatsApp registrations and the other doesn't)

[2015-01-20 00:25] #615 closed, assigned to nobody

[2015-01-20 00:29] aesedepece commented on #602
This is fixed in v4 branch to be merged soon. Thanks for the feedback.

[2015-01-20 00:29] #602 closed, assigned to nobody

[2015-01-20 00:30] #567 closed, assigned to nobody

[2015-01-20 00:34] #525 closed, assigned to nobody

[2015-01-20 00:35] #543 closed, assigned to nobody

[2015-01-20 00:36] #564 closed, assigned to nobody

[2015-01-20 00:36] aesedepece commented on #622
Duplicate of #565, let's move there! :wink:

[2015-01-20 00:36] #622 closed, assigned to nobody

[2015-01-21 16:06] #121 closed, assigned to nobody

[2015-01-21 16:11] #185 closed, assigned to nobody

[2015-01-21 16:31] vitalyster commented on #559
Same problem. https://www.dropbox.com/s/ol516iu3ihogv2b/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202015-01-21%2019.29.14.png?dl=0 - these are invites, how to accept them?

[2015-01-21 17:18] #457 closed, assigned to nobody

[2015-01-21 17:19] #499 closed, assigned to nobody

[2015-01-21 19:03] #616 closed, assigned to nobody

[2015-01-28 18:03] petzichen commented on #565
ConnectA2 and OpenWapp is working now again. I hope Loqui IM get an update in next time, too... :-/ It is my featured social app... :o

[2015-01-28 18:05] TitanNano commented on #565
@petzichen the upcoming v4 branch will fix this issue.

[2015-02-01 23:10] TitanNano opened #632 "don't use __defineGetter__ / __defineSetter__"
why are we using **defineGetter** and **defineSetter**? It's not a standard and probably gets removed in the future. We should use Object.defineProperty().

[2015-02-01 23:34] aesedepece commented on #632
Good point, let's move the three **define*etter** to Object.defineProperty().

[2015-02-02 01:50] TitanNano commented on #590
If everyone agrees, I would lint all the js files and then set up a pre-commit hook based on [this](http://stackoverflow.com/questions/15703065/github-setup-pre-commit-hook-jshint/26557272#26557272). So we would have some cleaner JavaScript.

[2015-02-02 02:14] Gioyik commented on #590
Me parece bien. Sin embargo hay que tomar en cuenta para el caso de JSHint agregar las excepciones que sean necesarias en algunos warnings y errores. No todo lo que detecte JSHint significa que este mal. :)

[2015-02-02 02:16] TitanNano commented on #590
@Gioyik would it be possible to provide an English translation? :)

[2015-02-02 02:20] Gioyik commented on #590
Sorry, I was thinking on Spanish while I write the answer.

It's ok for me (I think is a must have and it will avoid future issues). However remember to add exceptions for JSHint warnings and errors in Javascript code. Not all the things that JSHint points as bad or bad-formed are true cases of issues. :)

[2015-02-02 02:21] TitanNano commented on #590
yes of course. We will have a .jshintrc file where we can disable any rule we don't like :)

[2015-02-02 02:26] Gioyik commented on #590
great, feel free to ping if you need help.

[2015-02-04 16:26] agnez opened #637 "account status"
Hi
I did not find a way to set my account status or to stop the app in general.
I use jabber accounts on various machines, and some conversations get split up between loqui/im on phone and other chat clients on other devices, turned on at the same time.

Changing my account status on loqui migt solve this?
Or maybe a switch off function could help.

At the moment I had to uninstall loqui, the situ

[2015-02-04 17:36] TitanNano commented on #637
On the main sheet, tap the upper right button. there you can enable and disable accounts. If you want to quit Loqui you can do that there too.

[2015-02-05 15:13] agnez commented on #637
thanks, found it.

[2015-02-05 15:13] #637 closed, assigned to nobody

[2015-02-08 03:34] LeTanque opened #639 "Hangout for non-gmail address"
I have successfully enabled hangouts for my gmail address but cannot authenticate my business domain's address.

My hangouts account works with Google Chrome's hangouts extension and through gmail, of course.

I do not have 2fa enabled with the business domain so I should be able to simply use my password.
EDIT I do have 2fa enabled. Created an application password and that, too, didn't work.

CPU

[2015-02-08 03:39] LeTanque opened #640 "Text is not visible in the settings page"
The first time I used the demo, text was visible and everything looked as it should.

After enabling developer options once, the text in the settings menu is no longer visible.

This is the output from the dev console.

[code]
##### Update

Did an `apt-get update && apt-get upgrade` for other reasons, restarted firefox, and the problem is no longer present.
###### My Setup

![2015-02-07 19 17 06](

[2015-02-08 03:39] LeTanque commented on #639
Added firefox version info

[2015-02-08 09:20] LeTanque opened #641 "Google hangouts doesn't show SMS messages"
Not sure if this is a feature request or an actual bug. Hangouts within gmail, through the Chrome app, and through the hangouts firefox extension all show the SMS messages associated with my gmail account.

Loqui, unfortunately, doesn't show those messages. I never noticed just how many messages I receive are actually SMS because after running for a day, I hadn't received a single message. At firs

[2015-02-08 13:49] aesedepece commented on #575
This was fixed long time ago thanks to @TitanNano . Closing now :smile:

[2015-02-08 13:49] #575 closed, assigned to nobody

[2015-02-08 13:50] aesedepece commented on #565
Fixed in 8b2f79aa2c6374743c49c1ffff024145c334b638

[2015-02-08 13:50] #565 closed, assigned to nobody

[2015-02-08 13:52] #491 closed, assigned to nobody

[2015-02-08 13:54] #481 closed, assigned to nobody

[2015-02-08 13:55] aesedepece commented on #606
Duplicate of #459

[2015-02-08 13:55] #606 closed, assigned to nobody

[2015-02-08 13:55] aesedepece commented on #591
Duplicate of #459

[2015-02-08 13:56] #591 closed, assigned to nobody

[2015-02-08 13:56] #475 closed, assigned to nobody

[2015-02-08 14:00] aesedepece commented on #639
This is a duplicate of #79. In that issue's discussion you can find tips to get it working, though it will be really fixed when #122 eventually lands.

[2015-02-08 14:00] #639 closed, assigned to nobody

[2015-02-08 14:10] linkmauve commented on #475
Has this bug been fixed?  I had to block the presences from that contact, so maybe if he updated I wouldn’t have to anymore.

[2015-02-08 14:11] aesedepece commented on #641
I've just updated the demo to v0.4.0, can you try now? Thanks!

[2015-02-08 14:26] aesedepece commented on #475
Yes, I believe this to be fixed by v0.4.0 to be released on FF Marketplace this week.
If you detect this behavior keeps on going, please tell me.

[2015-02-08 14:30] linkmauve commented on #475
Thanks. :)

[2015-02-08 16:27] #101 closed, assigned to nobody

[2015-02-08 16:29] #255 closed, assigned to Gioyik

[2015-02-09 09:55] gargsms opened #643 "[User Story][v4][WhatsApp] Socket Write error"
The connections are made and the auth is duly finished, but the account never shows up.

The console logs:
"Can not write. Socket state: closed ~ BinaryWriter.prototype.flushBuffer@app://5452d126-c653-4edc-b2e4-429542c6cde3/scripts/mozillahispano/coseme.js:5012:9 [BinaryWriter]" and
"Error writing! socket-non-ready ~ self._onErrorSendDisconnected@app://5452d126-c653-4edc-b2e4-429542c6cde3/scripts/

[2015-02-09 18:37] amjadm61 opened #644 "could not register by using flame device"
I can't register on loqui im by using my flame device, the app showing couldnot send message and call.
In my device, I didn't installed any other whatsapp client and also I didn't used my account in any other device at that moment. But later I tried with connect A2 and open wapp and I can use whatsapp with these 2 apps.
I tried with fxOS 2.0, 2.2,3.0

[2015-02-09 18:55] gargsms commented on #644
This issue is fixed with v4 AFAIK.
WFM.

[2015-02-09 19:41] TitanNano commented on #643
Could you just try to connect again?
It's working perfectly fine for me and this looks like WhatsApp is closing the connection. I experienced something similar a while ago and it went back to normal after some hours....

[2015-02-09 19:41] ghost commented on #644
Does anyone know, when the v0.4 branch will be pushed to the marketplace? Seems like it's almost finished, as everything got merged from v4 to dev.
Can we hope for a release this week? :)

[2015-02-10 03:22] amjadm61 commented on #644
@gargsms that is really cool...
When will you upload the new version to marketplace?
Or can I install the app from somewhere else? I mean by downloading the source code? If so, plaza guide me for that...

-thanks

[2015-02-10 14:05] TitanNano commented on #507
this is a duplicate of #190

[2015-02-10 14:05] #507 closed, assigned to nobody

[2015-02-11 15:41] amjadm61 commented on #644
@gargsms any update on my query?

[2015-02-11 15:54] gargsms commented on #644
@amjadm61 Sorry man, almost forgot to reply.
I am not the owner of the app, so I won't be updating anything on the Marketplace.

However, @aesedepece said that this version will be updated by the next week. Let's see.

You can use the latest app by downloading this repository, and building it.
Or if you don't want to build it - just download, then make a new folder, let's say 'Loqui IM', and copy

[2015-02-11 15:54] #644 closed, assigned to nobody

[2015-02-14 09:00] petzichen opened #645 "[v4] [WhatsApp] Unable to access the memory card. [...]"
Whenever I click on "Verify via SMS"/"Verify via phone call" I get this error-message:
"Unable to access the memory card. Check that this is not being used as a USB storage medium." - But my Flame isn't connected to my computer via USB... I'm using a normal microSD-Card [32GB] and ffos 2.0.

[2015-02-14 13:18] TitanNano commented on #645
did you grant the SD Card permission to loqui? I'd suggest to got the
settings app and check it.

2015-02-14 10:00 GMT+01:00 Kevin Hartmann notifications@github.com:

[2015-02-14 20:48] petzichen commented on #645
Oh.. Thata right. There was an bug in the first installation. Now it works very well. Good job :-)

[2015-02-14 20:55] #645 closed, assigned to nobody

[2015-02-14 21:27] singpolyma commented on #483
What are the blockers to this?  It looks like TCPSocket is available to desktop runtime apps.  What APIs are not available in the desktop runtime that loqui needs?

[2015-02-14 22:09] singpolyma commented on #483
I decided to try the app on the desktop runtime.  I couldn't actually figure out how to do it... but just dropping the distribution index.html for firefoxos on my browser actually seems to work pretty well.  So I think it might just work... if I can figure out how to get my firefox to install/run the package.

[2015-02-16 12:06] vlnsnewton commented on #598
Hi All.. Please help

I am using https://github.com/mgp25/WhatsAPI-Official in php

and for receiving messages i am using following code:

$w = new WhatsProt($userPhone, $userIdentity, $userName, true);
$w->eventManager()->bind("onGetMessage", "onMessage");
$w->Connect();
$w->LoginWithPassword($password);
while($w->PollMessage());

But i am getting following encrypted message in browser:

tx  stre

[2015-02-16 13:03] mgp25 commented on #598
@vlnsnewton Please ask it in its proper repository: https://github.com/mgp25/WhatsAPI-Official

[2015-02-16 19:43] ghost commented on #598
This doesn't seem to be an issue anymore. Working perfectly fine with the new v0.4 :)
ZTE Open C FFOS 1.3

[2015-02-16 19:58] aesedepece commented on #598
Yes, it should be working as the UA we are using now is from Nokia S40 and thus encryption is not featured and incoming messages should be sent in plain text.

[2015-02-16 19:58] #598 closed, assigned to nobody

[2015-02-17 01:16] ghost opened #646 "[v4][XMPP] Chat history overwritten by an other chat"
Today i tested Loqui IM v0.4.0a with XMPP and the following problem occurs

I (bob(at)...) was chatting with a contact (ca...(at)...) and had an other test conversation with a different XMPP account (some...(at)...) of myself, where i just enabled/disabled Otr and sent some messages

The chats where in this order:
1. test account (some...(at)...)
2. chat contact (ca...(at)...)

Then the chat conta

[2015-02-17 01:23] TitanNano commented on #646
wow, this looks bad. would it be possible for you to connect your device
with the WebIDE and provide some logs? You did take the marketplace version
or your own dev branch build?

2015-02-17 2:16 GMT+01:00 bobcanthelpyou notifications@github.com:

[2015-02-18 00:50] ghost commented on #646
I am using the marketplace version of Loqui on FirefoxOS 1.3. I tried to reproduce the problems with the the FirefoxOS simulator 1.3.

**my own account is showing up**
on the last screenshot of my first comment, my own account is showing up in the chat list and i don't know why. I could reproduce that with one of my XMPP accounts (out of three)
1. start Loqui
2. add your XMPP account to Loqui
3. s

[2015-02-18 00:57] ghost commented on #643
@gargsms does that affect only Loqui or are other app also affected? If yes maybe a FirefoxOS restart could fix that issue ..

[2015-02-18 01:32] ghost commented on #640
I also have seen the settings screen showing up like this (maybe two times since i use Loqui) on my FirefoxOS 1.3 device. Not sure what could be the reason for it.

[2015-02-18 18:37] ghost opened #648 "[Whatsapp] Status not available"
So, I noticed, that in the new LoquiIM version (0.4), statuses of other people are not visible anymore "Not available".
In older versions of the app, there used to be a bug, where it was only visible, once you already chatted with the contact for a bit. Now, it isn't there whatever I do.

[2015-02-18 18:58] TitanNano commented on #648
statuses are only downloaded at the connection setup, means every time you reconnect to whatsapp. did you reconnect since you started to chat with a contact?

[2015-02-18 19:02] TitanNano commented on #646
okay from your screen shots and the first log snippet it looks like this chat is handled as a group chat. I guess it's not a group chat?

[2015-02-18 19:12] TitanNano commented on #483
You can't. at the moment there is no way to install privileged desktop apps
that are not distributed through the marketplace.

2015-02-14 23:09 GMT+01:00 Stephen Paul Weber notifications@github.com:

[2015-02-18 20:34] ghost commented on #648
yes, multiple times. I even had a full phone-reboot (because empty battery :D) and the issue persisted.

[2015-02-18 21:45] TitanNano commented on #648
okay. would it be possible for you to provide me the console output from the webIDE? I'd need the log from the connection time. simply connect your device, open the devtools, disable whatsapp and enable it again. then provide me the log.

[2015-02-19 17:15] singpolyma commented on #483
@TitanNano yeah, I just found that on the bugzilla... crazy oversight!  Hope that gets into a future firefox release so development on the desktop runtime becomes possible.

[2015-02-22 14:10] gargsms commented on #643
So I flashed my Flame with the latest FxOS nightly release today. Tried to use WhatsApp on Loqui but couldn't.

The registration SMS arrives without any problems. Then the validation is also done properly. But after the 'Synchronizing' notification appears, the screen is not taken to the 'main' section like it is with every other account (Facebook, XMPP etc.) The screen just remains on the verific

[2015-02-22 15:51] ghost commented on #646
I started only normal chats, no group chats

What log information do you need? Do you need everything until the Issue occurs?

[2015-02-22 15:56] TitanNano commented on #646
could you provide me a log of all the steps you described? Remove all chats and reproduce the bug, logging everything.

[2015-02-22 16:01] TitanNano commented on #643
yes, the missing transition to the main section is connected to the not working connection to whatsapp. I can't tell whats the problem right now. Did you reinstall the Application or just update it? I can connect to WhatsApp with the latest master, so it's not a general problem

[2015-02-22 16:08] gargsms commented on #643
I tried both the Marketplace and the latest master build.

I can, however, see the connection made to WhatsApp because the app keeps on sending pong to the WhatsApp servers. Also, I need to reverify on an Android test device after I have registered with Loqui.

For a time or two, I got CORS errors in the WebIDE. But now I don't.

When the app resumes after screen unlock, I could see "Accounts.curr

[2015-02-22 16:15] TitanNano commented on #643
thats related to the fact that Loqui tried to establish a connection, but even when the tcp stream got disconnected as you described, Loqui keeps trying to send the pong.

CORS erros can only occur on connections to bosh.loqui.im.

I can just guess but I assume that this is related to the fact that the whatsapp account couldn't get setup properly.

[2015-02-22 16:18] TitanNano commented on #643
Do you get any other errors before the write error? make sure you enabled the debug mode for advanced logging.

[2015-02-22 16:31] ghost commented on #459
created a new account at lightwitch.org and can't login:

[code]

Login with Pidgin but login with Loqui still not possible:

[code]

[2015-02-22 16:35] TitanNano commented on #459
your provider answers with an item-not-found error to Loqui's get sendIQ
request. Strophe does not expect that what leads to an error.

2015-02-22 17:31 GMT+01:00 bobcanthelpyou notifications@github.com:

[2015-02-22 17:43] ghost commented on #459
@TitanNano Is there a reason why the provide sends these item-not-found errors?

I have no luck with other providers, too :(

[code]

[2015-02-22 17:52] ghost commented on #459
After added an account-image to the account with Pidgin. I could login with Loqui. Maybe this bug is  a duplicate of #181

[code]

[2015-02-22 19:20] ghost commented on #646
add account and chatting with two other accounts
http://pastebin.com/M6hPmw2j
one of the other chat account is offline now and the chat was overwritten by the other online account
http://pastebin.com/J3sPYK2a
i still could access the contact profile and could clear the chat
http://pastebin.com/HSfyRzS2

[2015-02-23 17:16] TitanNano commented on #646
Okay, thank you. I can't see any errors in the log. This only happens when you switch to OTR right?

[2015-02-25 15:11] ossguy opened #649 "Unable to login to yax.im XMPP from Firefox OS 1.3"
When I try to login to my @yax.im XMPP account on my ZTE Open C running Firefox OS 1.3 using the Loqui IM app installed from the Marketplace on 2015-02-24, I see it "Connecting" for a few seconds, then "Synchronizing" for a few seconds, then it returns to the login screen and does not indicate any type of error.  If I click "Log in" again, I get the same result.

I also tried logging in to another

[2015-02-25 15:30] TitanNano commented on #649
Do these accounts have a vCard? Loqui is unable to setup accounts without a vCard.

[2015-02-25 22:11] ghost opened #650 "GUI broken"
After updating Loqui IM on my Zte Open (v1.1) today, almost everything renders badly, the settings menu isn't showing (only the shadow), the font size is way smaller than the preview and it randomly stops to retrieve messages.
Is FFOSv1.1 still supported by this app?
With the previous version everything worked fine.

[2015-02-26 06:26] gargsms commented on #650
The new version got a big overhaul. I guess v1.1 is not properly supported now.

NI @aesedepece

Anyway, you should consider upgrading to at least v2. Mozilla itself recommends so.

[2015-02-26 17:43] ghost commented on #650
I see... The things that worked (whatsapp registration and receiving messages) looked really good :+1: .
Sadly, since I have the ZTE Open TME (it doesn't have fastboot) I don't thing I'm able to upgrade it to v2 though.

[2015-02-27 12:17] airon90 opened #652 "[Facebook] Synchronize messages"
Hi,
I just reinstalled Loqui after reinstalling Firefox OS and I set up my Facebook account.
I don't know if it is a bug, a feature request or is an intended behaviour but I found out that Loqui doesn't synchronize with Facebook to get old messages.

[2015-02-27 18:48] gargsms commented on #652
Well, none of the apps I know of do so.
@TitanNano any ideas?

[2015-02-27 18:53] TitanNano commented on #652
This is not supported.
I thinks it lays in the nature of XMPP? As far as I know XMPP does not intend to send old messages, since XMPP servers do not save messages. So it's not possible to retrive old messages from Facebook when we connect via XMPP. You also miss messages from Facebook if you're not online.

[2015-02-28 18:32] aesedepece commented on #652
- XMPP does support message archiving with XEP-0136 http://xmpp.org/extensions/xep-0136.html
- Facebook doesn't because the only XEPs supported are XEP-0054 (vCard) and XEP-0085 (CSN)
- Facebook never provided any method or API for message history retrieval.
- More info about FB Chat API, to be deprecated on April 30: https://developers.facebook.com/docs/chat/

(Yes, on April 30 Loqui IM will stop

[2015-02-28 18:32] #652 closed, assigned to nobody

[2015-03-01 02:27] kingcraig commented on #648
WhatsApp hack tool download <a href="http://whatsapphacktool.wix.com/whatsapphacktool">Whats App Hack Tool Download 2015</a>

[2015-03-03 18:48] gargsms commented on #643
I know this will sound funny, but this is what happened exactly, and I did not get any chance to log anything.

I have always hated OpenWapp, partly because I can't close it once I start it and partly because it is not as awesome as Loqui IM. But then I could not use WhatsApp on Loqui.
So I installed OpenWapp, started it, verified my number, didn't like it a wee bit.
Then I downloaded a fresh copy

[2015-03-03 18:48] #643 closed, assigned to nobody

[2015-03-03 23:58] hferee opened #653 "Less than character handling with OTR"
When I send some special characters from a pidgin client to a loqui client (both using OTR), some unexpected behaviour happen:

When sending a message containing "<", loqui does not decipher it.

Less problematic: some characters like double quotes are replaced by the word "quotes" or by their html encoding.
I don't know if it is an issue due to pidgin or loqui, but the thing is it does not happen

[2015-03-05 18:05] airon90 commented on #652
Why?

[2015-03-05 18:25] aesedepece commented on #652
Facebook will drop XMPP support in that very date and every unofficial Facebook Chat app will die. :crying_cat_face:

[2015-03-06 14:47] airon90 commented on #652
I didn't know that! Thank you very much!

[2015-03-06 18:34] bhartendra opened #654 "MADE FOR EACH OTHERS"
Very nice technology

[2015-03-06 18:35] bhartendra commented on #654
More aap

[2015-03-09 22:59] #654 closed, assigned to nobody

[2015-03-20 13:31] cmeerw opened #656 "TypeError: avatars is undefined"
seeing some strange behaviour with group avatars - might be down to the following JS exception:

JavaScript Error: "TypeError: avatars is undefined" {file: "app://750a5242-8bff-4e0d-a050-3684fd86ed3d/scripts/loqui/connectors/coseme.js" line: 580}

Probably caused by "var avatars= this.avatars;" in line 574 - maybe this should be "var avatars= App.avatars;" instead (similar to line 448)?

I'll have

[2015-03-21 16:53] shukriya opened #658 "I purches whatsaap loqui im"
I purches whatsaap but no tranjecsion credit card but i pay our github paypal account no.

[2015-03-21 16:55] #658 closed, assigned to nobody

[2015-03-21 17:01] shukriya commented on #658
My name anil tamrakar,india-sagar (m.p.)
emai id aniltamrakar1967@gmail.com

[2015-03-22 15:38] pravi opened #659 "implement axolotl support"
There is a similar proposal for google summer code for conversations android app. http://wiki.xmpp.org/web/Summer_of_Code_2015#axolotl_support_for_Conversations

There is already a javascript implementation of the protocol https://github.com/joebandenburg/libaxolotl-javascript

Without this support xmpp is not usable in an unreliable network, like we have in India or most developing countries that

[2015-03-22 20:52] nephilim1973 opened #660 "How to install loqui on UbuntuTouch ?"
Hi folks,

like to install loqui on BQ Aquaris 4.5, but its unclear, where to place the www folder.
Could you provide a short 'howto' for me ?

Many thanks!
Nephilim

[2015-03-22 21:31] aesedepece commented on #659
:+1: , this is a must have.
Meanwhile, we have OTR which is a widely adopted solution in the XMPP ecosystem.

[2015-03-22 23:21] nephilim1973 commented on #660
While testing "loqui" as a local desktop installation on Ubuntu 14.04 with Firefox, the account registration does not work... (for all services... WhatApp, Faceboot, Google, etc.)

Calling URL    file://home/user/Dokumente/loqui/index.html

shows the messenger logo and than the account list.
Trying to register fails.

Please provide me with a little cookbook help.
Thanks!

[2015-03-22 23:44] gargsms commented on #660
@nephilim1973  You should build the client to install it on Ubuntu Touch.
I am assuming you have nodejs, npm and grunt-cli installed.
Navigate to your git repository in the terminal and run

This should install the necessary node modules and build the app for you. You can then install the correct app from the **package** directory.

And regarding testing from desktop installation, some APIs that a

[2015-03-22 23:44] #660 closed, assigned to nobody

[2015-03-23 03:06] pravi commented on #659
OTR does not work well when connection breaks often, which is the case most of the time where I live. Also it needs both to be online to start. Most people use WhatsApp as a cheaper alternative to SMS. We don't have any reliable Free Software that does asynchronous end to end encrypted messages for Firefox OS. TextSecure or XMPP with axolotl would be a big boost to Firefox OS.

[2015-03-23 09:19] nephilim1973 commented on #660
Many thanks for fast reply. I will test it and will give a short success story (hopefuly :-)

[2015-03-23 10:23] nephilim1973 commented on #660
Unfortunatelly, I am running into problems...

What I did:

# sudo apt-get install make nodejs-legacy

# cd Downloads

# wget https://github.com/npm/npm/archive/master.zip

# unzip master.zip

# cd npm-master

# ./configure

# sudo make install

--> SUCCESS !

# cd ..

# wget https://github.com/loqui/im/archive/dev.zip

# unzip dev.zip

# cd im-dev

# sudo npm install

npm WARN deprecated deflate-

[2015-03-23 10:33] TitanNano commented on #660
as the error log says, you need to install python.

[2015-03-23 10:40] nephilim1973 commented on #660
Thanks, I am a noob in app-devel   :-)

Ok, I have managed to build my "LoquiIM-v0.4.1-ubuntutouch.zip"

For all beginners, here is what I did:

[code]

Unfortunatelly, after starting LOQUI, just a black screen appears.   :-(

[2015-03-23 13:09] tt123456 opened #661 "Support OpenPGP (or something else) for for offline messages"
At the moment there is no way to send end-to-end encrypted offline messages. So it would be nice if loqui would fall back to a method for offline end-to-end encryption when the recipient is not online.

At the moment OpenPGP seems to be the best option (although it was obsoleted by the XMPP Council) because it supports offline messages and multiple resources(necessary if the recipient goes offline

[2015-03-23 15:28] nephilim1973 commented on #660
[code]

[2015-03-23 21:52] nephilim1973 opened #662 "[UbuntuTouch] installation fails in cause of version string"
Hi...

Because of a wrong version string in manifest.json, the click-installer/pkcon does not install the click-package.

Ubuntu needs at first a number in version string, but there comes a "v" at first.
Maybe "loqui.json" is involved, too.

[code]

-->

[code]

[2015-03-23 22:01] gargsms commented on #662
It would be great if you try to test it with the 'v' removed from the version number.
If it works, you can send a pull request. :smile:

[2015-03-23 22:34] nephilim1973 opened #663 "[UbuntuTouch] click-package shows only HTML page, no application."
UbuntuTouch BQ Aquaris 4.5

[code]

This is my click-package:
http://wefl.io/xN55a
(expires in 30 days)

This is a screenshot from my mobile:
http://img288.imagevenue.com/img.php?image=714050424_loqui_issue_122_154lo.jpg

Something is wrong here. Any idea ?

[2015-03-23 22:38] nephilim1973 commented on #662
Hi gargsms...
I have tried this at first...
Have removed the 'v' in manifest.json version string.
Installation succeeded, but I am not sure, if application is working as expected:

https://github.com/loqui/im/issues/663

On my desktop, loqui is looking great. But on UbuntuTouch I only get "black screens" or HTML pages.
Regards.

[2015-03-24 00:55] Gioyik commented on #662
Hi, I tried to port LoquiIM time ago to Ubuntu Touch but it was hard due the emulator was not really useful and the sdk only works on Ubuntu (I think this is a big fail), so now I am sure there are outdated configurations. I migrated from Ubuntu to another Linux system so will be hard to update it but I will help on whatever I can.

[2015-03-24 02:36] Gioyik commented on #663
This was an error I had during the time I tried the Port to Ubuntu touch and seems to be a problem with relative paths for the CSS and Javascript.

[2015-03-24 18:28] nephilim1973 commented on #663
Ok, I see... Could you give me detailed description of the missing informations ? I will provide you with all details, concerning real UbuntuPhone (BQ Aquaris).

[2015-03-25 10:21] nephilim1973 commented on #662
Hi... could you please explain "outdated configurations" in detail ? So I could gather all missing informations for you... Regards.

[2015-03-25 11:27] TitanNano opened #664 "Implement Contact Info Receiving (vCards)"
I think we should support contact info receiving. Currently when someone sends a contact to Loqui via WhatsApp just nothing happens, we don't even display the information as a normal message. I don't know if XMPP does support contact sharing but I guess so?

There is a add function in the contacts API for Fx OS
https://developer.mozilla.org/en-US/docs/Web/API/Contacts_API#Adding_a_contact
as also

[2015-03-25 11:39] #650 closed, assigned to nobody

[2015-03-25 11:47] TitanNano commented on #640
Anyone who still experiences this??

[2015-03-25 11:49] #649 closed, assigned to nobody

[2015-03-25 11:49] #656 closed, assigned to nobody

[2015-03-25 11:50] TitanNano commented on #661
kind of a duplicate of #659

[2015-03-25 11:50] #661 closed, assigned to nobody

[2015-03-25 11:57] #662 closed, assigned to nobody

[2015-03-26 09:28] nephilim1973 commented on #662
Many thanks. I will test it soon.

[2015-03-26 15:07] pravi opened #665 "what does color codes mean?"
I think settings-> info should mention these. What does red box around text means? I think it means ack recieved, but not sure.

[2015-03-26 15:12] TitanNano commented on #665
what exactly do you mean with "red box around text"?

[2015-03-26 15:44] pravi commented on #665
![2015-03-26-21-05-02](https://cloud.githubusercontent.com/assets/708222/6850055/bf12e2d0-d3fc-11e4-8fb9-51381a46aa90.png)

in attachment you can see green tick marks before some messages I sent and red box and grey background for some other text. Sometimes I see yellow background.

[2015-03-26 15:45] gargsms commented on #665
That means the message did not get pushed to the server.

[2015-03-26 15:47] TitanNano commented on #665
yellow background => message has been sent but no acknowledgment from the server yet.
gray message with border => we either couldn't send the message to the server or we didn't get any acknowledgment in the set time frame (I thinks it's 30 seconds). So that means the server didn't receive our message.

[2015-03-26 15:47] pravi commented on #665
In that conversation 'Hey' is red background, green tick mark and 'Great' is grey background and red nic around. What does both indicate?

[2015-03-26 15:50] TitanNano commented on #665
red background means the message is okay (properly sent). The tick means we only know that the server received your message. Two ticks mean we also know that you're partner received the message on his device. (not every provider supports that)

[2015-03-26 15:52] pravi commented on #665
This need to be documented and users should be able to see the explanation easily. I get replies even when there is red border around gray background.

[2015-03-26 15:52] TitanNano commented on #665
which provider do you use?

[2015-03-26 15:54] TitanNano commented on #665
I experience this also sometimes. The problem is, when we don't receive the acknowledgment from the server for what reason ever (weak / wonky connection) we can't tell if the message really arrived at the server.

[2015-03-26 15:54] TitanNano commented on #665
I guess we need some kind of FAQ like whatsapp and other providers have one :/

[2015-03-26 16:48] pravi commented on #665
i use autistici.org

we definitely need to collect xeps required for proper mobile operation and call it 'xmpp mobile' and create mobile.xmpp.net with checkmark against these for apps and services. i think mobile app developrs should take initiative on this. can loqui team propose this?

[2015-03-26 17:03] pravi commented on #665
Also timeout should be adjusted with connection speed dynamically.

[2015-03-26 17:45] gargsms commented on #665
I believe the issue is not with the duration of the timeout. A message may get sent properly but then the connection is lost causing the ACK to never arrive. In this case, no matter how long the timeout be, there is no use of listening for the ACK. The packet is lost completely.

Also, determining the connection speed is a tricky business. There are no reliant methods, except for keeping an averag

[2015-03-26 17:49] TitanNano commented on #665
@gargsms right :+1:

[2015-03-26 18:20] pravi commented on #665
That is why we need #659 desperately.

[2015-03-26 19:17] nephilim1973 commented on #662
Solved ! Thanks a lot.

[2015-03-26 19:24] nephilim1973 commented on #663
This is my /home/phablet/.cache/upstart/unity8.log with all informations during LOQUI-start.

[code]

and my
/home/phablet/.cache/upstart/application-click-com.ubuntu.loqui.im.loqui_loqui_0.4.1a.log

[code]

Probably this helps ??

[2015-03-26 19:38] nephilim1973 commented on #663
Rows that appear suspicious to me:

[code]

It seems, that the startup options in *.desktop file are wrong.

[code]

[code]

Which QML API extensions do you use ?
Should it be installed via 'sudo npm install' ???
Could you please deliver the files via your github repo ?

[code]

See --> http://stackoverflow.com/questions/26897801/ubuntu-touch-app-error-opening-shm

[code]

No idea...

[code]

App

[2015-03-26 19:51] TitanNano commented on #665
I still don't quite understand how this new encryption protocol and wonky connections are related. Could you explain that?

[2015-03-26 19:54] TitanNano commented on #662
no problem 😉

[2015-03-26 20:30] nephilim1973 commented on #663
By the way... the last logs are from emulator.

This is output from BQ Aquaris 4.5 (loqui start):

application-click-com.ubuntu.loqui.log

[code]

[2015-03-27 00:54] pravi commented on #665
This new protocol does not assume a continuous connection. So it will have additional checks for reliable delivery. It is designed for a mobile environment with frequent connection loses.

[2015-03-27 08:51] nephilim1973 commented on #551
We are 6 people, who bought a BQ Aquarius Ubuntu Phone. Very interested in getting LOQUI running on this device !
:-)

[2015-03-27 10:55] gargsms commented on #665
https://github.com/loqui/im/wiki/FAQ#conversation-colour-codes

Fixed.

[2015-03-27 10:55] #665 closed, assigned to nobody

[2015-03-27 12:30] kramer65 commented on #551
@nephilim1973 - That is awesome to hear! I'm desperately waiting for Whatsapp support on Ubuntu Touch.
Note that [CODeRUS](https://github.com/CODeRUS) is also working on a Whatsapp client for Ubuntu Touch (a native Qt-version) for which he made a couple libraries:
- https://github.com/CODeRUS/libaxolotl
- https://github.com/CODeRUS/libwa

Maybe you can make use of them or learn from them.. :-)

Go

[2015-03-27 12:31] tt123456 commented on #646
I can confirm this, i have the same issue:
1. Chat logs with contact A+B visible(both with otr enabled).
2. Wrote a message to contact B(offline, so no otr), checked back later on, then i had chatlog of contact A twice(no new messages from A), and chatlog with contact B disappeared.

It happened before that i had a chatlog twice but i thought it might have been because the contact was online with

[2015-03-27 16:01] shukriya opened #666 "open my loqui im"
Please support my loqui im aap

[2015-03-27 16:02] shukriya commented on #666
My aap not support my device

[2015-03-27 16:03] shukriya commented on #666
I want qtr and all support

[2015-03-27 16:05] shukriya commented on #666
Please support my devise.
Thanks

[2015-03-27 16:05] #666 closed, assigned to nobody

[2015-03-27 16:40] ghost commented on #666
@shukriya what kind of device do you use?

[2015-03-27 16:46] ghost commented on #658
@shukriya what is your problem here? What did you do? What do you want to do? What paypal account do you mean?

[2015-03-27 17:08] ghost commented on #652
@aesedepece should the Loqui IM users be informed about that soon missing feature, somehow?

[2015-03-27 17:46] pravi opened #667 "[XMPP] never get a double green tick with conversations"
I think conversations and yax.im has the required xeps implemented but I only get one green tick indicating only successful sending. What could be the issue with acks?

[2015-03-27 18:04] gargsms commented on #666
@shukriya Can you please describe in detail and not increase the thread count by using GitHub like Twitter?

[2015-03-27 18:11] TitanNano commented on #667
~~@aesedepece implemented this for XMPP and looking at the XMPP connector shows that we only record "received" stanzas, which we receive only once when a message has been sent to the server...~~

[2015-03-27 18:12] TitanNano commented on #659
this is XMPP only, right?

[2015-03-27 18:18] aesedepece commented on #659
@TitanNano Axolotl is used in WhatsApp as well.

[2015-03-27 18:56] pravi commented on #646
I experienced this issue as well.

[2015-03-28 17:07] pravi opened #669 "otr does not work when contact change their app"
I think its because liquid is caching key for a contact. Can't we alert the user if key is changed and offer to do key exchange again? Can't we detect a change in key fingerprint?

Also can we have an option like clear chats for clearing cached public keys?

[2015-03-29 04:53] pravi opened #670 "welcome message for new account misses 'she'"
Now when a new account is setup, the chat windows shows,

There are no chats yet
Why don't you ask a friend how he is doing.

This assumes only men contacts will be present. In cases like this neutral plural forms are used. It can be changed to,

Why don't you ask a friend how they are doing?

He/she or (s)he are also used sometimes. I feel the plural form is better.

[2015-03-29 10:21] webratte commented on #230
Hi Loquidevelopers,
Kontalk XMPP Version is already released to public:
 https://github.com/kontalk/androidclient/releases

What do you think about to start implementing it in Loqui now?

I think it's a great idea ;-)

[2015-03-29 12:02] pravi commented on #230
@aesedepece I think kontalk use client certificate based authentication http://blog.casaricci.it/2014/02/49/how-to-use-kontalk-30-with-a-desktop-xmpp-client

and also sms verification during registration. These two things needs to be added to loqui to support kontalk. Can we expect this soon? This would be a great addition as we have no other fully free software based asynchronous encrypted chat o

[2015-03-29 21:31] daniele-athome commented on #230
What Loqui would need:
- SASL EXTERNAL authentication with SSL certificate on either STARTTLS or direct SSL (the latter still has problems with Tigase though)
- phone number based registration (a small extension to jabber:iq:register which I will document soon on the project's wiki) or importing an existing key from an Android device (which requires the jabber:iq:register process anyway)
- a built

[2015-03-29 22:45] #88 closed, assigned to nobody

[2015-03-29 22:48] #131 closed, assigned to nobody

[2015-03-29 22:55] TitanNano commented on #161
I think Telegram support is really unnecessary, the [Webogram](http://github.com/zhukov/webogram) has created a fine port of the telegram Application for Firefox OS. We would just waste time and resources on this. I'll close this since this issue didn't get any update for a while.

[2015-03-29 22:55] #161 closed, assigned to nobody

[2015-03-29 22:57] TitanNano commented on #184
Is this still relevant?

[2015-03-29 22:58] TitanNano commented on #278
Is this still relevant?

[2015-03-29 23:01] TitanNano commented on #311
I think this proposal is obsolete. The v4 UI is well designed and self-explaining. Anyone who still wants this?

[2015-03-29 23:13] TitanNano commented on #670
I agree let's change the string.

[2015-03-29 23:18] TitanNano commented on #670
fixed

[2015-03-29 23:18] #670 closed, assigned to nobody

[2015-03-30 03:12] #311 closed, assigned to Gioyik

[2015-03-30 04:41] pravi commented on #184
Yes, I still can't remove contacts. V0.4.0a

[2015-03-30 19:19] gargsms opened #671 "[General] Issues with asyncStorage"
Background:
I am using v4 latest from the repo. I had multiple accounts set up. One WhatsApp, one Jabber and one other XMPP. I was added to some shitty group by some stranger on WhatsApp and I obviously wanted to remove myself from that. And then this happens.

Steps to reproduce:
1. Open the 'shitty' group (or any other chat).
2. Swipe right twice to move to the chat roster and then to the accoun

[2015-03-30 20:08] TitanNano commented on #671
Okay I'll see if I can take a look at this on the weekend.
For the individual message deletion create a new issue and I can provide you any information you need about the Storage Object there 😊

[2015-03-30 21:45] TitanNano commented on #671
okay so I think I can fix this tomorrow. This is just some UI tweaking.

@gargsms I think I can recover your chats (similar thing happened to me) but no promisses. I have to fix #190 to make it save, afterwards I can provide some recovery code ;)

[2015-03-31 07:38] gargsms commented on #671
@TitanNano The UI tweaking would be a dirty fix, but it will solve the reproduction. See if you can fix it to the core.

And I will try if the backup using WebIDE works.

[2015-03-31 08:50] TitanNano commented on #671
@gargsms well the problem is that you can still access the chat through the gesture even when you switched the account. So I'll set the chat section hidden as soon as you switch the account 😀

[2015-03-31 09:38] gargsms commented on #671
Yes, that's what I meant. That is a quick fix. Put this for the time being.

[2015-03-31 11:29] TitanNano commented on #671
yea, but do you have any other suggestions to fix this?

[2015-03-31 17:54] pravi opened #672 "otr breaks after reinstall"
after reinstalling loqui im, I can't start otr session with conversations. I assume its because conversations is ancrypting with older key. Can loqui inform conversations that its key has changed? I don't if otr protocol has option to renegotiate keys. Or should it be an option in conversations to renegotiate keys?

[2015-03-31 17:57] pravi opened #673 "[XMPP] list of implemented XEPs like conversations"
does Loqui implement all the XEPs implemented by conversations? https://github.com/siacs/Conversations

[2015-03-31 18:06] pravi opened #674 "[xmpp] autoreconnect is not working"
I have to manually disconnect and reconnect all the time. I think there should be a time based reconnect for really bad connections. Every 5 minutes its should try, if 3 tries fail, it should try every half an hour and if 3 such tries fail, then after every two hours. For me once it is offline, it never econnects by itself.

[2015-03-31 18:17] gargsms commented on #673
@pravi The supported XEPs can be easily found here.
https://github.com/loqui/im/blob/dev/src/scripts/loqui/connectors/xmpp.js#L125-L132

[2015-03-31 18:23] pravi commented on #673
It would be better if it is in README or in wiki for easy reference.

[2015-03-31 18:25] pravi commented on #673
that means many of the important XEPs implemented by Conversations is not yet available in Loqui. XEP 0198, XEP 0313 are critical for a bad network like I have.

[2015-03-31 18:32] pravi opened #675 "[xmpp] support sharing of photos and files"
#466 was fixed by adding proper error message. But we need a way to share files using xmpp. This is a significant missing feature in xmpp.

[2015-03-31 19:21] #671 closed, assigned to TitanNano

[2015-03-31 19:23] TitanNano commented on #674
duplicate of #516

[2015-03-31 19:23] #674 closed, assigned to nobody

[2015-03-31 19:28] TitanNano commented on #675
duplicate of #11

[2015-03-31 19:28] #675 closed, assigned to nobody

[2015-03-31 21:40] TitanNano commented on #667
Okay so I investigated a little and I realized, I was wrong. We actually do support the double ticks / message delivered acks, but at the moment we have a bug in the message marking process for xmpp messages. I hope we can fix this soon.

[2015-03-31 22:09] TitanNano commented on #667
fixed 😉

[2015-03-31 22:27] #667 closed, assigned to nobody

[2015-04-01 06:23] balasankarc commented on #230
Does the "rejected" label mean that Kontalk support will be never added for Loqui? Please clarify.

[2015-04-01 07:54] pravi opened #679 "source option is invalid for gem"
You passed :source as an option for gem 'rails-assets-diaspora_jsxc', but it is
invalid. Valid options are: group, groups, git, path, name, branch, ref, tag,
require, submodules, platform, platforms, type

This is ruby 2.1.0.1
$ gem --version
2.2.2

Is it a newly introduced option?

[2015-04-01 11:10] TitanNano commented on #230
yes see https://github.com/loqui/im/issues/230#issuecomment-40707366

[2015-04-01 11:18] pravi commented on #230
@TitanNano , @aesedepece said "until working in the 0.4 branch by 2014Q3.", which is already over. I think this needs a reconsideration as XMPP is not a very good replacement for WhatsApp for unreliable connections.

[2015-04-01 12:14] ghost commented on #230
@pravi maybe 'On our side, we won't consider adding new service providers' is meant as the supported service providers and the maintains of Loqui IM is taking 100% of the developers time, feel free to add additional services by yourself.

[2015-04-01 12:15] TitanNano commented on #230
well we already finished the work for v4. I don't know if the status for additional providers changed, but right now I don't know anyone who works on any new providers. If we will add it in the future we can remove the label.

[2015-04-01 12:16] TitanNano commented on #230
@bobcanthelpyou right :+1:

[2015-04-01 20:49] TitanNano commented on #679
this project does not use any ruby.

[2015-04-01 20:49] #679 closed, assigned to nobody

[2015-04-02 03:36] pravi commented on #679
Oops! Sorry, autocomplete brought the wrong project.

[2015-04-02 15:19] pravi opened #681 "[xmpp] even when account is offline loqui shows red border with grey background"
It should keep them as yellow and should attempt when account comes online. There is no way loqui will recieve an acknowledgement if offline. Timeout is meaningful only when the account is online.

[2015-04-02 15:24] pravi commented on #681
So I have to manually check if the account is online and then manually reconnect when I don't see any replies for some time.

[2015-04-02 15:25] TitanNano commented on #681
We decided to do it this way. I'll change the behavior in the future when I'm going to improve the message re-send functionality.
Right now messages do get re-send when the account is not connected at the time you send your message.

The red border is absolutely valid, please read the [FAQ](https://github.com/loqui/im/wiki/FAQ), the red border means we were unable to send your message to your prov

[2015-04-02 15:25] #681 closed, assigned to nobody

[2015-04-02 15:27] TitanNano commented on #681
your message will be marked as sent after we resent it 😉

[2015-04-03 10:23] pravi opened #682 "[xmpp][otr] loqui wrongly shows otr is active"
When conversations on the other side clearly shows 'plain text message'. When trying to activate otr at conversations side, it says message delivery failed.

[2015-04-03 10:24] pravi commented on #682
This happens after a loqui reinstall and I think conversations still have an old key.

[2015-04-04 14:12] nephilim1973 commented on #663
It seems, that nobody is interested in this issue. I offer my help as best I can to get this running. Are there any missing informations ?
Regards

[2015-04-04 22:54] TitanNano commented on #663
the ubuntu touch target was @Gioyik project and since he already commented on this issue I think he is aware of it. We all work on this project in our free time and don't always have time to look into a issue. As soon as someone has the time to work on this they will.

[2015-04-04 23:42] Gioyik commented on #663
@nephilim1973 I am not sure why you say nobody has interest on this, we want the port at the same level you want it. But take in mind that it's really hard to work on port for a device you don't have. I tried to run the emulator but it's really slow and not friendly for fast development process (maybe this is thanks to my old machine, maybe). Added to it, Ubuntu SDK is only available for Ubuntu, s

[2015-04-05 11:05] acidicX opened #683 "[XMPP] contacts are never marked as online (breaks OTR too!)"
With loqui v0.4, all my XMPP contacts are always offline on app start (even if they are not). The online state does not even change when they are sending me messages or OTR becomes active. They only appear online if they reconnect their XMPP account while my loqui app is online.

I did not have this problem with 0.3.4.

[2015-04-06 23:50] TitanNano commented on #671
@gargsms okay so to recover your chats. when you delete a chat loqui only removes the Chat object for that chat, not the chunks storing the messages for that chunk.
If you run the following code in the console, it will go though all the chunks stored on your device and sort the chat message chunks by your various chat partners jids.
At the end you'll get the public Object Chats where you can find

[2015-04-09 07:41] ghost opened #686 "Stuck at Whatsapp validate code? [Firefox OS 2.0]"
Hi,

So I received an SMS for the validation code, but every time I enter it, it just pops up a 'Validating Code' for 10 seconds, and then nothing happens. I tried switching off my mobile internet and restarting my phone. Still didn't help.

[2015-04-09 07:49] #686 closed, assigned to nobody

[2015-04-09 09:28] ghost commented on #686
@anweshm4 How did you fixed this issue?

[2015-04-09 12:48] gargsms commented on #686
Similar thing happens for me.The way I work around is by requesting for code once, killing the app, and then using the "I have a code" option.

[2015-04-09 13:06] aesedepece commented on #686
This is fixed in v0.4.1, yet to be published to Marketplace.

[2015-04-13 01:42] githubtefo opened #687 "Emojis and Thunder bar hide all workspace."
Is it any way to hide this bar? Because in my device fills all the available space for chatting.
Thanks!
st.-

[2015-04-13 09:50] TitanNano commented on #687
yes, tap the plus button or unfocus the message text box.

2015-04-13 3:43 GMT+02:00, githubtefo notifications@github.com:

##

-- Jovan

[2015-04-13 12:51] kentux opened #688 "[XMPP] Replaced by new connection"
Hello,

I have a problem when I try to initiate connection to a prosody XMPP server, I can see connection and synchronization screen and after... Nothing.

Here the server log for my connection :

[code]

Have you an idea about this problem ?

Thanks,

[2015-04-13 13:21] githubtefo commented on #687
Thanks for your answer @TitanNano
I tap the plus button and the bar disappears. But when I start to write the bar returns and I cant see what I'm typing. It's very annoying. Is anything that I can do to disable always this bar?

[2015-04-13 13:24] TitanNano commented on #687
no, right now you can't disable it. what device do you use?

[2015-04-13 13:38] gargsms commented on #687
The problem was quite evident in earlier version of Loqui when used in landscape mode.With lock orientation enabled, it disappeared for me.
Anyway, I am assuming you use a device with 480px high screen. In that case, about 210px goes to the Keyboard, which is actually sad (the keyboard should have been adjusting). It is not ATM.

[2015-04-13 16:50] shukriya opened #689 "support my divise"
I want use for loqui IM Aap please connecting my phone for all supporting feature.
Thank's

[2015-04-13 16:51] #689 closed, assigned to nobody

[2015-04-13 18:09] gargsms commented on #689
@shukriya Would you please tell us your device model, name, anything?
Opening and closing an issue doesn't really help us.

[2015-04-14 17:23] githubtefo commented on #687
I'm using the ZTE Open II, with Firefox OS 1.3 and lock orientation enabled. I've got a jabber account.
More on, when I try tap the plus button in presence of the keyboard, Loqui crashes.

[2015-04-15 14:21] pravi opened #690 "can ideas from mosh project be used to keep live sessions for xmpp?"
As a remote shell it works beautfully http://mosh.mit.edu/ even when the connection drops for long time. Can same ideas be reused to keep sessions alive?

From their faq,

Q: Are the mosh principles relevant to other network applications?

[code]

[2015-04-15 15:25] gargsms commented on #690
While mosh is a great thing, I cannot derive any analogy between XMPP and Mosh.If by keeping sessions alive you meant maintaining online status, then I think it contradicts the whole IM principle. You need to be at the receiving end to be online.XMPP and Shell are quite different IMO. In shell, there are sessions and states. A single user can be logged into multiple sessions at the same time, acce

[2015-04-15 18:35] pravi commented on #690
I feel these ideas can be used for better offline messages. I thought it would be useful to share it here. mosh can easily keep me online even when the connection breaks for a long time, but loqui can't keep me online once connection drops, it does not reconnect automatically. I thought we may need to rethink on our approach to this problem, I found mosh has an innovative approach.

[2015-04-15 21:41] kentux commented on #688
Hi,

If it can help, I just lauch the firefox debugger and I can see this error from bindings.js:

[code]

Now I run the 0.4.1 version but I have same problem with Marketplace version.

I can make new test when you want !

[2015-04-15 21:51] TitanNano commented on #688
could you please turn on developer mode in Loqui and then get an other log 😁

[2015-04-15 22:13] kentux commented on #688
Where can I turn on developer mode ?

With the app manager on desktop ? In the manifest.webapp ?

On application I have only access to the welcome page (https://lut.im/SbSttQFs/XJU2EX57), accout choice (https://lut.im/XH9HcFTy/35P0DssO) and account configuration (https://lut.im/PSEgtvSC/meE1PB2U).

Sorry I'm a begginner on firefox OS :-)

[2015-04-15 23:58] TitanNano commented on #688
ah I see thats a problem. try to type `Lungo.Router.section('settings')`
into the console. hopefully then the app settings should show up on your
device :)

2015-04-16 0:13 GMT+02:00 Quentin notifications@github.com:

[2015-04-16 06:40] kentux commented on #688
Thanks !

Bellow debug log :

[code]

[2015-04-16 10:26] TitanNano commented on #688
Okay, as I thought. Your account is missing a vCard. So this is a duplicate
of #459, we are aware of this problem.

2015-04-16 8:40 GMT+02:00 Quentin notifications@github.com:

[2015-04-16 10:26] #688 closed, assigned to nobody

[2015-04-17 07:53] kentux commented on #688
Thanks !
I've create a vcard with another xmpp client and now I can establish connection !

[2015-04-18 20:36] githubtefo opened #691 "I can't connect with a XMPP/Jabber account."
Hi!
since yesterday I can not connect to my XMPP/Jabber account using Loqui IM trough my ZTE Open II. The account works well when I use Pidgin.
I reinstall Loqui and now I can't even configure the account.
Any ideas? Someone has the same problem?
Thanks!

[2015-04-18 20:38] TitanNano commented on #691
yes, same problem here. probably BOSH server issues.

[2015-04-18 20:55] aesedepece commented on #691
Ooops...

bosh.loqui.im uses an invalid security certificate.
The certificate expired on 17/04/15 07:32. The current time is 18/04/15 22:53.
(Error code: sec_error_expired_certificate)

I'll issue a new cert asap.

[2015-04-19 22:49] ossguy commented on #649
I confirmed that the login succeeded when a vCard was added.  Still, it seems that I should have at least been presented with an error message indicating the login failed (better yet, a message that told me why).  As it is, it's very unclear if a login was even attempted, or if Loqui is buggy, or if there's some other unrelated issue affecting the login, since no error messages is printed when it

[2015-04-19 22:54] TitanNano commented on #649
As I said we are aware of this issue. This is not an intended behavior and we will provide a patch as soon as someone has time for it :)

[2015-04-19 23:00] TitanNano commented on #649
We're tracking this issue here #459.

[2015-04-20 11:15] githubtefo commented on #691
I see that you corrected the BOSH problem, @aesedepece. Thanks!
Should I wait the update of the marketplace's package?
Is there any other alternative easier than manual compiling? I might don't have any problem to do it, but some people which I currently talk over XMPP/Loqui perhaps yes.

[2015-04-20 11:29] TitanNano commented on #691
@githubtefo no the only way to get a copy of loqui beside downloading it from the marketplace is downloading it.

[2015-04-20 11:34] TitanNano opened #692 "Provide unstable builds?"
So many users here ask to get a unstable build from master (dev) because it would contain important bug fixes we didn't publish on the marketplace yet.
These users often are not advanced enough to build it on their own, so I though it might be useful to add the dist directory to the repo, so users can directly install a recent build of Loqui.

Opinions?

[2015-04-20 12:28] aesedepece commented on #691
v0.4.1 is awaiting for approval in Firefox Marketplace :wink:

[2015-04-20 14:50] githubtefo commented on #691
ok, thanks guys.
v0.4.1 includes the last recent changes, doesnt it?
In that case we should wait for the approval at Marketplace to use Jabber again.

[2015-04-21 21:11] ghost commented on #691
Hi! Still does not work even with bugfix.

Provider: xmpp.jp Fxos: 2.2.0-pre

[2015-04-21 23:11] vandys commented on #691
I can confirm that as of April 21st, Firefox OS 2.0 on my Revolution got a new download, and the app still didn't work.  I removed and reinstalled and verified that the current bits from Firefox OS marketplace do not address the issue.

Update 4/22: the part of the CDN I reached must have finally updated or something.  After
waiting another day, reinstall got me working again.

[2015-04-22 11:03] hectogram opened #693 "creating OTR keys fails silenty"
XMPP : Generate OTR key fails silently

[2015-04-22 11:06] hectogram opened #694 "Lock screen downs data connection, all versions"
As soon as the screen locks data connection/ wifi  drops. This is a major showstopper for people who want to be allways reachable, e.g. sysadmins interfacing to their servers through xmpp.

Would it be possible to include a wake lock for data connection in the app ?

[2015-04-22 11:10] gargsms commented on #694
I don't think that is a Loqui problem. Anyway, are you sure you haven't kept the 'Wi-Fi sleep' feature in FxOS on?I have been constantly using my data connection on locked screen by tethering.Also, Loqui keeps receiving messages just fine regardless of the screen state.

[2015-04-22 12:23] ghost commented on #693
Welcome back NSA, we've missed ya! ;D

[2015-04-22 13:51] githubtefo commented on #691
In my case I uninstalled the v0.4.0 and add from the marketplace the last (v0.4.1) and now I can add again my Jabber account (with @suchat.org domain; OS 1.3; ZTE Open II). Thanks to the developers for solve the issue so quickly!

[2015-04-23 09:36] ghost commented on #691
Hey! New developments: After unknown 1.3mb update that was crippled, I've finally received this 2.0mb big 0.4.1a & Jabber came back from ashes. (=

Huge congratz to the dev team.

Shitty geo region marketplace skew.

[2015-04-23 10:17] aesedepece commented on #691
Cool. Have XMPP fun, bros!

[2015-04-23 10:17] #691 closed, assigned to nobody

[2015-04-24 17:53] githubtefo commented on #694
Yes, Ive got the same problem. And I also think the reason is the wifi is turning off when the screen blocks. How can we change this setting?

[2015-04-24 18:05] gargsms commented on #694
You can change the Wi-Fi sleep setting from the Firefox OS Settings app. It is there under Wi-Fi menu.

[2015-04-24 18:11] githubtefo commented on #694
@gargsms, in my case (ZTE Open II; Firefox OS 1.3) on the Wifi menu Ive just got turn on/off Wifi, Available networks, search again, and network management (where I can only drop known networks or join to a hidden one).

[2015-04-24 18:45] gargsms commented on #694
@githubtefo Oh. That option is not available before FxOS v2.2 AFAIK. For your case, I am not sure about it.I will need to search places.

[2015-04-29 12:47] TitanNano commented on #694
this is in no way related to loqui. If wifi is disabled, you always have to possibility to fall back on mobile data connection and we try to reconnect as soon as the connections is switched.

[2015-04-29 12:47] #694 closed, assigned to nobody

[2015-04-29 12:48] TitanNano commented on #693
thank you for filing this. I'll take a look at it.

[2015-04-29 15:56] #693 closed, assigned to nobody

[2015-04-29 16:11] TitanNano commented on #673
@gargsms created a wiki entry

[2015-04-29 16:11] #673 closed, assigned to nobody

[2015-04-29 16:28] pravi commented on #673
please share the wiki link

[2015-04-29 16:31] #648 closed, assigned to nobody

[2015-04-29 16:32] TitanNano commented on #641
is this still relevant?

[2015-04-29 16:32] TitanNano commented on #673
https://github.com/loqui/im/wiki/FAQ

[2015-04-29 18:16] #443 closed, assigned to aesedepece

[2015-04-29 18:19] #428 closed, assigned to nobody

[2015-04-29 18:47] TitanNano commented on #404
this is not a loqui issue. We can't control the audio volume set by the user.

[2015-04-29 18:47] #404 closed, assigned to nobody

[2015-05-01 06:30] cmeerw opened #698 "WhatsApp: authentication failed on login, registration fails with reason old_version"
just noticed that it doesn't let me login to WhatsApp any more.

Tried to register and that fails as well with reason "old_version".

[2015-05-01 09:17] TitanNano commented on #698
@cmeerw I'm looking into this issue right now. I can't authenticate either. where do you see that "old_version" reason? I can't find it in my log...

[2015-05-01 09:19] aesedepece commented on #698
I have no time to fix it in Loqui right now, but for reference here you have the Pull Request fixing it in Yowsup: tgalal/yowsup#748

[2015-05-01 09:24] TitanNano commented on #698
oh well I already fixed it  😊 I just had to update the version from 2.12.60 to 2.12.67

[2015-05-01 09:51] #698 closed, assigned to nobody

[2015-05-01 09:58] aesedepece commented on #698
Thanks a lot, @TitanNano.
We should push 0.4.2 as soon as possible, right?
Is there some other urgent issues we should deal with or can we make the release?

[2015-05-01 10:01] TitanNano commented on #698
@aesedepece no as far as I know we don't have any other open urgent issue at the moment.

[2015-05-01 10:05] bdcomp commented on #698
@aesedepece Hi!
Just wondering if WhatsApp group creation not possible is a known issue (I found only #560 , an old and not related to WhatsApp)?

I think it's should be high priority.

[2015-05-01 10:10] TitanNano commented on #698
@bdcomp well creating a whatsapp group is quite buggy but it works for me, I just tired it. I don't think this is a urgent issue we need to be fixed along with the essential new WhatsApp version. But maybe you could file a bug for that?

[2015-05-01 10:14] bdcomp commented on #698
If so, I will wait for the new version of Loqui.
I will try to create a group and file a new bug if it's still not working.

[2015-05-01 10:15] TitanNano commented on #698
it's working for me :)

[2015-05-01 13:20] ghost opened #700 "Facebook XMPP Chat API dropped – should Facebook support be remove?"
Facebook dropped the support for their XMPP Chat API after April 30th, 2015

https://developers.facebook.com/docs/chat

What does that mean for the Facebook support of Loqui IM?

[2015-05-01 13:45] gargsms commented on #700
I guess we need to be done with it.Also, in the new API, there isn't any endpoint to access chat. I believe chat.facebook.com is dead now.

[2015-05-01 15:08] ghost commented on #700
Should the Facebook support be removed from the Loqui IM website (Home, F.A.Q., About, ..) and from the Firefox Marketplace description first? And than from the Loqui code?

Should there be an announcement for that? Blog, Twitter, Changelog, ..

[2015-05-01 15:17] TitanNano commented on #700
yes, we should remove it in the next release. If you like you can do that :) at least here in the repo wiki and code.

[2015-05-01 17:12] airon90 opened #701 "Can't receive SMS or phone call to use Whatsapp"
Hi, I have just installed Loqui IM in rder to use Whatsapp but when I press the "Verify via SMS" button, "Waiting for SMS..." is shown and an error appears: "Could not send SMS!".

Same situation if I press "Verify via phone call": "Waiting for  phone call..." and then "Could not call your number!".

I'm using latest Firefox OS (3.0) with latest Loqui (0.4.1).

I don't know what to do. Please help

[2015-05-01 17:42] ghost commented on #701
Maybe the problem is related to #698

[2015-05-01 18:33] Zash commented on #72
Which was later accepted: http://xmpp.org/extensions/xep-0156.html#http

[2015-05-01 21:26] 03927e9c commented on #701
I have the same problem... it's https://github.com/loqui/im/issues/565 all over again.

[2015-05-01 21:46] dogcalas opened #702 "v.whatsapp.net respond Bad Token when I try to verify via sms the whatsapp account."
I debug the code and I found that the coseme.js library from mozillahispano was an old version. Then I copy the last version and now always return bad token. With the old version the connection always return fail:oldversion.
![1](https://cloud.githubusercontent.com/assets/2521769/7437881/2fe657dc-f05c-11e4-97ae-c6fe197f6550.png)
![2](https://cloud.githubusercontent.com/assets/2521769/7437882/2ff20

[2015-05-01 22:16] ghost commented on #698
@aesedepece now there is an issue with Whatsapp and the confirm SMS, again #701 #702

[2015-05-01 22:19] ghost commented on #702
Duplicate of #701

[2015-05-02 09:29] holztest08 commented on #698
It's not working for me, using 4.2a, on FOS 2.2 (Flame).

[2015-05-02 11:02] ghost commented on #698
Not working for me either. Loqui 0.4.2a, FxOS1.3
(on a sidenote: openwapp doesn't work either, same problem?)

[2015-05-02 11:17] holztest08 commented on #698
Yes, same problem with openwapp.
https://github.com/mozillahispano/openwapp/issues/118

[2015-05-02 13:34] TitanNano commented on #698
hello @JayVii  and @holztest08 are you talking of the registration process or the simple authentication with an excising account? My phone here is properly connected to WhatsApp using the latest build.
If you still can't connect to whatsapp, I'd like to ask you to provide me logs from the failing authentication so we can try to figure out why it isn't working for you.

[2015-05-02 13:45] acidicX commented on #692
Yes please! I'd love to push it to the Device easily via WebIDE without having to compile myself. I think that would also help improve the build _before_ you push it to the marketplace. Maybe a week to test the beta before it is released?

[2015-05-02 13:46] acidicX commented on #683
With 0.4.1a und 0.4, they will not show online anymore even if the contacts reconnect after loqui is online. This also means that OTR cannot be initialized!

[2015-05-02 13:46] TitanNano commented on #692
@acidicX I'm glad for your feedback. Would you know how to push the build to the device with the webIDE?

[2015-05-02 13:47] TitanNano commented on #683
Thank you for the report. I will take a look at it as soon as possible!

[2015-05-02 13:54] TitanNano commented on #702
right, I'll close this.

[2015-05-02 13:54] #702 closed, assigned to nobody

[2015-05-02 13:56] TitanNano commented on #701
we are working on this as fast as possible!

[2015-05-02 14:07] acidicX opened #703 "[XMPP] authentication of new contacts is not handled"
When you add a new contact, there is no handling of authentication. New contacts just stay unauthenticated until you do it on another XMPP client (e.g. Pidgin)
Loqui v0.4.2 (no regression though, I think it never worked in loqui)

[2015-05-02 14:09] acidicX commented on #692
@TitanNano yes, that is no problem. I would also be able to compile it though, but providing beta-builds is just a bit more hassle-free.

[2015-05-02 14:10] TitanNano commented on #692
@acidicX alright, I'm glad for your feedback. Let's see what others think about it.

[2015-05-02 14:21] TitanNano commented on #701
wasn't intended to get closed, we need tests first. every one how experiences this, please flash a new build and retry. thanks ~ 

[2015-05-02 14:45] gargsms commented on #701
Works for me.

[2015-05-02 14:46] TitanNano commented on #701
thanks +1 I'm glad this is fixed.

2015-05-02 16:45 GMT+02:00 Sukant Garg notifications@github.com:

[2015-05-02 14:47] #701 closed, assigned to nobody

[2015-05-02 15:01] airon90 commented on #701
I can receive a new code from Whatsapp but now I can't log in because it says "Validating code" and then nothing happens.

[2015-05-02 15:09] ghost commented on #701
It works for my Firefox OS 2.0 device.

[2015-05-02 15:15] gargsms commented on #701
@Airon90 If that happens for you, note down the code that you have received and use 'I have a Code' option. You would need to kill the app first, though.

[2015-05-02 15:15] airon90 commented on #701
PS: I own a Flame with latest Firefox OS (3.0 Nightly)

[2015-05-02 15:18] airon90 commented on #701
I tried with "I have a code" but nothing works. Then I tried the same code with OpenWapp but it didn't work. So I uninstalled Loqui and reinstalled it, I granted manually all permissions, and tried again "I have a code" with the last code I received but nothing happened.

I set up XMPP and all worked well and tried again to set up Whatsapp but nothing happened again.

[2015-05-02 15:20] gargsms commented on #701
@Airon90 For me this happens when I am on Wi-Fi network. Since the Wi-Fi is firewalled, I believe for me this has to do with the network itself. (The official WhatsApp clients work just fine on the network, though.)
When I switch to mobile data, everything just works. Do you happen to have a similar issue?

[2015-05-02 15:20] TitanNano commented on #701
Would it possible for you to provide us some logs?

2015-05-02 17:18 GMT+02:00 Michael Moroni notifications@github.com:

[2015-05-02 15:22] airon90 commented on #701
I would be glad to do it if you tell me what to do because I never provided logs from Firefox OS apps! ^^'

[2015-05-02 15:30] airon90 commented on #701
@gargsms I can't test it on mobile connection because it is not included in my phone tariff plan. I always used WA on my wifi connection and never had problems

[2015-05-02 15:33] ghost commented on #701
@Airon90 enable Developer mode under Settings / Features and Debug mode under Settings / Developer

Open Loqui on your phone and open the console of WebIDE (F12)

[2015-05-02 15:35] TitanNano commented on #701
sure. Go into your firefox OS device. select the settings app, go into
device info, more info and enable the developer menu at the bottom. Go back
to the main menu of the settings app and select the developer menu. there
you have to enable ADB and DevTools debugging.

Now you are ready to connect your device with your computer and start your
firefox. where you can select the webIDE from the menu o

[2015-05-02 15:36] gargsms commented on #701
@Airon90 I had it working properly till v3.4 of Loqui. Then something weird happened and I can't use it.
@bobcanthelpyou WebIDE will be opened by Shift + F8, though.

[2015-05-02 15:47] airon90 commented on #701
It seems that I tried many times (WTF):

[code]

I will try again tomorrow.
I don't know why Loqui doesn't tell me that I guessed the code many times and I have to wait 24 hours...

[2015-05-02 15:49] TitanNano commented on #701
hmm I'm sorry. It should tell you :/

2015-05-02 17:47 GMT+02:00 Michael Moroni notifications@github.com:

[2015-05-02 15:57] airon90 commented on #701
Uh! There is an error, when it finish to send the code, too:

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://bosh.loqui.im/. (Reason: CORS header 'Access-Control-Allow-Origin' missing).`

[2015-05-02 15:59] TitanNano commented on #701
ah, no thats not related to whatsapp :) it's a issue that sometimes occurs
while using XMPP, but nothing to worry about.

2015-05-02 17:57 GMT+02:00 Michael Moroni notifications@github.com:

[2015-05-02 16:02] airon90 commented on #701
Ah, ok!
See you tomorrow on the issue #701! :D

[2015-05-03 07:20] 03927e9c opened #705 "WhatsApp activation hasn't been fixed"
As described in https://github.com/loqui/im/issues/701 the problem still persits in latest version of Loqui dated (01/05/2015). It shouldn't be closed.

[2015-05-03 10:39] TitanNano commented on #705
thats not right. The new token string I patched yesterday fixed the problem that you couldn't  receive a code by SMS or phone call. If there are additional issues, let me know.

[2015-05-03 12:14] gargsms commented on #705
I believe what @03927e9c means is that the Marketplace version is not fixed yet. @TitanNano can you push the latest one to Marketplace?

[2015-05-03 12:24] TitanNano commented on #705
I'm sorry, I don't have access.

[2015-05-03 12:25] gargsms commented on #705
@aesedepece To the rescue.

[2015-05-03 20:41] 03927e9c commented on #705
@gargsms exactly, that's what I meant.

[2015-05-03 21:15] TitanNano commented on #705
@03927e9c well we close issues when they are patched, not when a new package is published on the marketplace.

[2015-05-03 21:30] aesedepece commented on #705
I'll publish 0.4.2b to the Marketplace asap.

[2015-05-03 21:31] TitanNano commented on #705
:+1:

[2015-05-03 21:48] aesedepece commented on #705
Done. It should be available in the Marketplace soon.

[2015-05-03 21:48] #705 closed, assigned to nobody

[2015-05-05 00:37] TitanNano commented on #700
@aesedepece the website needs an update 😉

@bobcanthelpyou I'll remove the Facebook bits from the source soon.

[2015-05-05 00:38] #123 closed, assigned to Gioyik

[2015-05-05 00:38] #281 closed, assigned to nobody

[2015-05-05 00:38] #438 closed, assigned to nobody

[2015-05-05 00:38] #552 closed, assigned to nobody

[2015-05-05 00:43] TitanNano commented on #700
@aesedepece when I remove the facebook support I'll implement a little info pop up telling the users that facebook isn't supported anymore. Should we delete the Facebook accounts from the device?

[2015-05-05 16:15] tibtab opened #706 "[WhatsApp] false image reception"
When somebody sent an image or an audio file in a whatsapp group, I recieve it every tenth minute again.

[2015-05-05 16:17] TitanNano commented on #706
did you restart your loqui application? it never stops?

2015-05-05 18:15 GMT+02:00 tibtab notifications@github.com:

[2015-05-05 16:25] tibtab commented on #706
yes, I also restarted the phone. Nothing helps
could, belong to another problem I have. When the app is opened and the screen wents out, whatsapp stops the connection so the check is turnig yellow.

[2015-05-05 16:27] TitanNano commented on #706
do you use mobile data connection or just wifi?

2015-05-05 18:25 GMT+02:00 tibtab notifications@github.com:

[2015-05-05 16:31] tibtab commented on #706
just wifi

[2015-05-05 16:34] TitanNano commented on #706
which os version are you on? until v2.2 there is wifi sleep which is always
on. your phone turns off the wifi when it goes into stand-by.

2015-05-05 18:31 GMT+02:00 tibtab notifications@github.com:

[2015-05-05 16:35] tibtab commented on #706
i'm using v1.3

[2015-05-05 16:37] TitanNano commented on #706
I'm sorry. we can't fix that. I still wonder why you receive the files over
and over again.... when did this issue occur the first time?

2015-05-05 18:35 GMT+02:00 tibtab notifications@github.com:

[2015-05-05 16:40] tibtab commented on #706
it is there since I'm using v0.4.2b

[2015-05-05 16:45] TitanNano commented on #706
hmm okay I will see if I can reproduce it when I receive a pic in a group
again... how about single user chat? same problem?

2015-05-05 18:40 GMT+02:00 tibtab notifications@github.com:

[2015-05-05 20:57] danielePala opened #707 "can't start new chat"
When I try to start a chat with a new contact, the chat page is not shown, instead I see the main page, with the list of previous chats. Using version 0.42

[2015-05-05 21:31] gargsms commented on #707
Not very sure if this will work because I haven't tried yet, but try swiping to the left. This should open the chat.

[2015-05-05 21:52] ghost commented on #706
When on wifi, i also receive pictures everytime loqui reconnects. FxOS1.3

[2015-05-05 21:56] TitanNano commented on #706
I see. is any one able to provide me logs around the time you receive a
picture?

2015-05-05 23:52 GMT+02:00 JayVii notifications@github.com:

[2015-05-06 07:05] danielePala commented on #707
Ah ok! this works. Thanks a lot!

Daniele

[2015-05-06 12:12] ghost commented on #706
I also could repeat that behavior on Firefox OS v2.0 within a group but not within single chats.

But i have no luck to record some logs maybe because there is not sleep mode of the wifi connection when connected to WebIDE.

e.g. I received a picture 6 times

[2015-05-06 12:17] TitanNano commented on #706
@bdcomp yes thats right. there is no sleep while you're phone is plugged. So it's related to wifi sleep?

[2015-05-06 12:53] ghost commented on #706
@TitanNano I am not sure, it try to do some more tests to reproduce the issue, maybe i could log something relevant

[2015-05-06 13:44] ghost opened #708 "[WhatsApp] latest message preview in chat list is different to the actual latest message"
Sometimes messages are shown in the last chats list as a preview of the last / newest message but when i access the chat the last message is not displayed / not the same.

I am not sure if i can't access the newest message at all and they disappears (i only see the preview snippet in the last chats list), especially when i write / answer to the contact before the message is displayed in the chat w

[2015-05-06 14:13] gargsms commented on #706
@TitanNano @bdcomp As far as I have observed, the issue is only with group chats, right.
And it is not just for Wi-Fi sleep. When I drop connection and reconnect on mobile data, I receive attachments again.
AFAIK this only happens when the attachment is not downloaded on the device. If you download the attachment, this corrects (mostly). So I believe it is related to the way ACK are handled in Loq

[2015-05-06 14:14] gargsms commented on #708
I can confirm that.

[2015-05-06 14:48] TitanNano commented on #706
ah I see. so to reproduce it, we need to get a pic in group chat, check
which ack is send, disconnect, reconnect check if the image will be
received again, download the image, reconnect again and see if we still
receive the file.

Is anyone able to do this and provide a log?

2015-05-06 16:13 GMT+02:00 Sukant Garg notifications@github.com:

[2015-05-06 14:50] TitanNano commented on #708
yes I know and I know why. thanks for reporting. don't we have a issue for this already? I'll fix it soon ;-)

[2015-05-06 15:23] TitanNano commented on #708
duplicate of #532

[2015-05-06 15:23] #708 closed, assigned to nobody

[2015-05-06 17:02] ghost opened #710 "can't access and no automatic remove of Firefox OS notifications"
When i receive a new message it is shown at the Firefox OS notifications
- It is not possible to access the chat over the Firefox OS notifications
- The notification is not removed when i access the chat manually

Is it possible to make the notifications of Loqui IM somehow like the notifications for short messages?

Firefox OS v2.0 / Loqui IM v0.4.2b

[2015-05-06 17:07] TitanNano commented on #710
notifications are implemented to work like other notifications. They should close and lead you to the particular chat.

One problem still exists though. If any App gets closed or killed, the event listeners for the messages get lost and we can't handle your interaction anymore.
Is it possible that this applies to your notifications?

[2015-05-06 18:12] ghost commented on #706
I could reproduce it again. Connected to Wifi and WebIDE. Just received 4 picture in a group. Disconnect Loqui and connect it again. On every connect i receive the 4 pictures again.

Is there a easy way to anonymize the log file? I don't want to publish all my contacts to the net.

Or which part of the log could be interesting for that issue?

[2015-05-06 18:16] TitanNano commented on #706
first save the unanonymized log. then you can try to replace the from attribute from the message nodes. Use any text editor that supports search & replace.

[2015-05-06 18:18] TitanNano commented on #706
well interesting are the parts around the receiving of the message, sending of the corresponding ack and the image download and every other ack...

[2015-05-06 18:57] ghost commented on #706
I removed everything that maybe should not be public, if there is something else that should be removed please let me know. Also if i removed to much.

[code]

http://pastebin.com/22gfLmnt

[2015-05-06 19:17] ghost commented on #710
I receive notifications e.g. when i am not using my phone and when i unlock my phone Loqui is not running anymore / can't access the messages with the help of the notifications. But a second before i got the notifications.

[2015-05-06 19:24] TitanNano commented on #706
where can I get the other parts? ^^

[2015-05-06 19:27] TitanNano commented on #710
yes this is a platform issue. notifications do not restart their app and you also can't reregister a event listener to them. As far as I know, there are two bugs for that on Bugzilla.

[2015-05-06 19:30] ghost commented on #706
I think they show the same. The Log should show everything from connect to disconnect and the other logs, too

[2015-05-06 19:46] TitanNano commented on #706
oh yes my fault.
So, your log shows that you receive the pictures and loqui sends the acknowledgments. Afterwards you disconnect. This is how it should be....

[2015-05-06 21:14] tibtab commented on #706
This also happend, when i dowloaded the files.

[2015-05-07 06:14] keerthana1997 commented on #698
I am not able to register watsapp through old version..i am pissed off using dis..

[2015-05-07 07:06] ghost commented on #698
@keerthana1997 which Loqui IM version do you use?

[2015-05-07 08:49] TitanNano commented on #710
okay I finally found the right solution for this.

[2015-05-07 16:43] #710 closed, assigned to nobody

[2015-05-08 14:30] 03927e9c commented on #706
I have the same problem, so I tried several things. First I exited from two of the groups that keep sending me over and over the files, so then I could ask the admin to invite me again and see if that fixes the problem.... well no. I re-join the group and I keep recieving files. Also, when I was out of the group, it kept sending me files, here's a screenshot:
![pantallazo-ventana sin titulo-2](htt

[2015-05-08 17:55] TitanNano commented on #706
I'm also getting some pictures now... but still don't know what WhatsApp
expects from us....

2015-05-08 16:30 GMT+02:00 03927e9c notifications@github.com:

[2015-05-08 18:43] gargsms commented on #707
I can confirm this.

[2015-05-08 18:55] gargsms commented on #706
I am not very sure if that is the correct behaviour of XMPP servers, but shouldn't WhatsApp servers just delete any files after they are pushed on the device?

That aside, I can think of a brute-force approach to solve this.
As I understood from the logs, every incoming file SHOULD have an unique filehash with it. We can try to store the filehash'es received for the chat, and whenever the server t

[2015-05-08 20:20] ghost commented on #707
@gargsms how to reproduce it?

[2015-05-08 20:55] TitanNano commented on #706
well the thing about storing the file hashes, if we get a lot of
filehashes our message receiving process will become slow...

what I saw was that the message nodes for the media messages had some
retries and offline attributes. have these been there before?

2015-05-08 20:55 GMT+02:00 Sukant Garg notifications@github.com:

[2015-05-08 21:33] TitanNano commented on #707
@gargsms yes, how can we reproduce it? works fine for me :-/

[2015-05-08 21:36] #8 closed, assigned to nobody

[2015-05-08 21:39] #190 closed, assigned to TitanNano

[2015-05-08 21:40] #359 closed, assigned to nobody

[2015-05-08 21:43] TitanNano commented on #380
duplicate of #184

[2015-05-08 21:43] #380 closed, assigned to nobody

[2015-05-08 21:45] #390 closed, assigned to nobody

[2015-05-08 21:46] #400 closed, assigned to nobody

[2015-05-08 21:49] #462 closed, assigned to nobody

[2015-05-08 22:24] #640 closed, assigned to nobody

[2015-05-09 15:40] ghost opened #712 "[WhatsApp] problems with creating groups"
If i create a Whatsapp group with Loqui, a group with the name 'null'
![png-grafik 320 x 510 pixel - skaliert 78](https://cloud.githubusercontent.com/assets/4523264/7550830/242b3686-f671-11e4-8d70-2a18a4cac494.png)
is created and i can't access the group settings

[code]

There seems to be also the possibility to invite contacts during group creation, but it does not work, too

[code]

After a res

[2015-05-09 17:01] gargsms commented on #707
@bdcomp @TitanNano I haven't checked if it is there in the latest version but I guess it was there at least one release earlier. When you start a new chat, instead of the chat window opening, you were redirected to your chat list. If you swiped left (to access your previous chat) it would show the chat window.
It only occurs when starting a new chat. I haven't checked it now. I will later today.

[2015-05-09 17:02] TitanNano commented on #712
yes I experience the same. But I could remove the null group.

[2015-05-09 17:04] TitanNano commented on #707
I went to my roster in whatsapp and xmpp to select a contact I'm not chatting with... each time I was directed to the chat, not the main section....

[2015-05-09 17:06] TitanNano commented on #365
@aesedepece Do we want to support this? if so how? we just need XEP-0077 or also other things to implement?

[2015-05-09 17:13] gargsms commented on #712
Is there already an issue for deleting members from a group? The groups are missing a lot of functionality in Loqui.
I have not used WhatsApp for the last 3 months now but now that my college is over, I will head straight into debugging Loqui. Hopefully.

[2015-05-09 17:14] TitanNano commented on #712
@gargsms I don't thinks so. but I'll go into group enhancement soon!

[2015-05-09 17:17] #482 closed, assigned to nobody

[2015-05-09 17:24] ghost commented on #365
We only should supporting XMPP account creation within Loqui if Loqui is possible to add / create that needed vcard stuff otherwise created accounts do might not work.

[2015-05-09 17:25] TitanNano commented on #365
@bobcanthelpyou oh haha yes absolutely right :+1:

[2015-05-09 19:13] gargsms commented on #707
@danielePala Is this applicable to you anymore?

[2015-05-09 21:41] danielePala commented on #707
Yes, I can confirm that this is applicable to me...using version 0.4.2b, on a flame with ffos version 3...

[2015-05-09 21:44] danielePala commented on #707
Might be an OS issue?

[2015-05-09 21:45] TitanNano commented on #707
No, I don't think thats possible. would you be able to provide some logs?

[2015-05-09 21:59] danielePala commented on #707
I can try...just need to enable debug mode in loqui right?

[2015-05-09 22:09] TitanNano commented on #707
yes and also make sure Firefox OS dev mode is enabled too. Then connect your device with the webIDE.

[2015-05-10 06:11] ghost commented on #712
@TitanNano Your right the null group could be removed, i didn't try it from the chat list before.

[2015-05-10 07:40] ghost commented on #700
Maybe it is still possible to login to Facebook (but it doesn't work at all, i am stuck at the sign-in screen), but an session (from the bosh server) is opened successfully and i also see my Facebook contact names in the WebIDE logs.
![bildschirmfoto vom 2015-05-10 09 21 24](https://cloud.githubusercontent.com/assets/4523264/7553392/ae801c22-f6f6-11e4-9899-d490c3647804.png)

[2015-05-10 07:47] ghost commented on #519
@pravi @barraponto does this issue still exists in the latest Loqui release? Is it possible for you to use Google Hangouts with Loqui IM?

[2015-05-10 07:50] ghost commented on #435
@R2D221 Is is possible for you to use the latest Loqui release with Google Hangouts?

[2015-05-10 08:50] ghost opened #713 "Is Skype for Business (formaly Lync) supported?"
I read some articles about Microsoft Lync is Skype for Business now.

https://technet.microsoft.com/en-us/library/dn913785.aspx
https://en.wikipedia.org/wiki/Microsoft_Lync

Does anyone knows if Skype for Business supports XMPP connections like Lync does?

[2015-05-10 11:52] #690 closed, assigned to nobody

[2015-05-10 22:32] ghost commented on #700
Not sure why, but facebook still works for me. Both on Loqui (Phone) & Pidgin (on my desktop PC)

[2015-05-11 06:50] gargsms commented on #700
As per the facebook documentation, these APIs will be removed anytime after April 30. That means some of them will remain functional for not sure how long. It has been just 11 days past the deadline. But yes, they will be removed soon.

[2015-05-11 07:51] TitanNano commented on #700
I think we should remove Faceook support and not wait until it stops
working. Users will be confused if it just stops working.

2015-05-11 8:50 GMT+02:00 Sukant Garg notifications@github.com:

[2015-05-11 22:55] 03927e9c commented on #706
Any updates on this?

[2015-05-12 08:38] TitanNano commented on #706
no sorry. I need to receive new pictures. But this issue has our attention.

[2015-05-12 19:32] MarkTr opened #714 "Can't create new chat"
Installed loqui on may 11. Can't write to contact. I can click on the pen symbol and chose a contact but no window for writing opens. Device is Mozilla Flame

[2015-05-12 19:38] TitanNano commented on #714
Which provider are you using? what happens? just nothing? do you get directed back to the main view?

[2015-05-12 20:06] MarkTr commented on #714
I tried with whatsapp and Google hangouts.I can reply to existing chats. Yes it gets me to the providers main view

[2015-05-12 20:07] TitanNano commented on #714
okay this is a duplicate of #707 you can find a workaround over there.

[2015-05-12 20:07] #714 closed, assigned to nobody

[2015-05-12 21:42] danielePala commented on #707
Sorry for the late reply, I really don't have much time in these days...I've just started playing a bit with webIDE, a first obvious thing I see is:
- when I select a contact with an existing chat, the <section> with id='chat' gets class='fix head show forth'
- when I select a contact without existing chat, the <section> with id='chat' gets class='fix head prev back'

from this, I can tell:
-the o

[2015-05-12 21:45] TitanNano commented on #707
hmm I still don't know how this is happening. It's working for me and I have no idea what's going on

[2015-05-14 12:38] siyaskp commented on #645
@ TitanNano,i have the same problem.i didnt give permission to grant SD card.and i using Loqui in windows Xp pc

[2015-05-14 13:18] gargsms commented on #645
@siyaskp Do you mean you are using it in a Firefox OS Simulator on Windows XP?

In any case, you should grant the permission to access SD card or Loqui will not work properly.

[2015-05-14 16:04] TitanNano commented on #645
you don't have SD card simulation in the FxOS simulator. They only support the different media storages.

[2015-05-14 16:21] gargsms commented on #645
AFAIK, I have had no such problems with a simulator as absence of SD card. I use Linux and my simulator will use my hard drive folders as the SD Card.
@siyaskp explicitly said that the permission was not granted. You should do that first.

[2015-05-14 18:08] ghost opened #715 "Wrong account selected in the account select header after new account added"
Only one account is added to Loqui IM, e.g. WhatsApp (1XXXXXXXXXXX)

I add a second account, e.g. XMPP (bob@XXXXXXXXXXX)

if want switch back to the other account it is not possible, the XMPP account is not selected in the select account header, the Whatsapp account is still selected in the select account header. But i am in the XMPP account.

![account](https://cloud.githubusercontent.com/assets/

[2015-05-15 10:05] pravi opened #716 "otr is broken on 0.4.2b"
tried with conversation on the other side. It just says sending message and never completes.

[2015-05-15 21:13] danielePala commented on #707
ok the problem for me is located in the function presenceRender (loqui/account.js). In particular, at the end of the function there is a for loop (line 399):

for (var [key, val] in this.core.chats) {
          if(!val.muc){
            contactPresenceRender(val.jid);
          }
        }

however I can see that in this loop val is undefined. I changed the code to:

this.core.chats.forEach( funct

[2015-05-17 07:04] tt123456 commented on #646
Could you please take a look at this issue? It makes XMPP quite unusable if chat logs are overwritten all the time.
What i know about this issue:
-Duplicated chats show the same name/date/text, which means that either both logs are updated or they point to the same log.
-Sometimes it's fine, but after restarting loqui, duplicate shows up. But duplicates also show up without restart
-Chats can be d

[2015-05-17 16:46] ghost commented on #465
Maybe this issue is related to my low-end Firefox OS device, maybe out-of-memory problems

This issues hit me again, lately (cause of the 'false image reception bug'), i try to have a look at that issue again and provide some logs.

[2015-05-18 04:40] 03927e9c commented on #706
It seems that after a while it stops... until someone sends another file.

[2015-05-18 07:25] TitanNano commented on #706
yes. I'm not sure yet. But as far as I know, group participants now send their acknowledgment to the sender of the group message. For the files it seems that there are 3 or 4 tries before whatsapp stops sending the picture.

[2015-05-18 19:34] ghost commented on #716
I also can't start a OTR session between Loqui v0.4.2b and Pidgin v2.10.11 (OTR Plugin 4.0.1)

When trying to start a OTR session an error is thrown:

[code]

[2015-05-18 19:37] TitanNano commented on #716
yes for the new account import / export I had to kick out the CryptoJS that came with the ORT lib and include the "original" CryptoJS. What we need to do here is to find the missing module and include it.

[2015-05-18 19:41] TitanNano commented on #646
okay I hooked my phone to the debugger now. If anyone is online right now, send me messages at titannano@jabber.de and I will see if I can reproduce this bug.

[2015-05-18 20:49] #646 closed, assigned to nobody

[2015-05-18 20:50] TitanNano commented on #646
I don't know if this actually solves the problem. I couldn't reproduce the bug. Reopen if the issue still exists.

[2015-05-18 21:24] #716 closed, assigned to nobody

[2015-05-18 21:32] ghost commented on #716
Thx @TitanNano that fixed it for me

[2015-05-18 21:46] #474 closed, assigned to nobody

[2015-05-19 16:03] gargsms commented on #706
I have reportedly received the same set of 6 images more than 20 times when I dropped connections over mobile data.

Since I was fed up of all the bugging, I muted the chat. That still bugged, so I cleared the chats. After clearing, I had to restart Loqui otherwise the chats just remain there. I got the same images about 3 - 4 times again. I cleared the chat maybe 2 more times and now I am living

[2015-05-19 16:40] TitanNano commented on #706
Today I talked with some whatsapp for android users:
I the latest version of WhatsApp group participants send their receive acknowledgment to the sender of the message and the sender also receives all the acknowledgments. This way whatsapp now marks group messages when every participant has received the message. I will try to implement this as soon as possible.

[2015-05-19 20:06] tibtab opened #719 "messages only displayed in the preview"
sometimes, when I log in Whatsapp and the new messeges are loaded, there is displayed that I recieved i.e. two new messeges in one chat, and also the beginning of the messege is shown, but when I open the chat, there is no knew messege.
I had this problem by now only with whatsapp, but it also could be a problem in general, i don't know, i rarely use xmpp or other.

[2015-05-19 20:14] TitanNano commented on #719
hmm okay this is strange. does it happen a lot?

2015-05-19 22:06 GMT+02:00 tibtab notifications@github.com:

[2015-05-19 20:30] tibtab commented on #719
no it happens not often

[2015-05-19 20:32] TitanNano commented on #719
I see. I assume it is some kind of problem while saving the message. maybe
the app restarts right while writing to the indexedDB or something.

2015-05-19 22:30 GMT+02:00 tibtab notifications@github.com:

[2015-05-19 20:46] argon-radio opened #720 "how to install loqui on ubuntu touch?"
i want to install loqui on my ubuntu phone, but i dont know how and i cant find anything about app installation without the software center. how can i install it?

[2015-05-20 16:33] ghost commented on #708
I am not sure if it is the same like #532 there are the messages out of order but within the chat history

My issue is that some messages don't appear within the chat history, i only see them as the last message in the list of the chats as a teaser / preview, but these messages are lost somehow

[2015-05-20 16:35] ghost commented on #719
could that issue be related to #708 or #532?

[2015-05-20 16:46] TitanNano commented on #708
no they are different.

[2015-05-20 16:48] TitanNano commented on #719
not related to both of them but they are duplicates

[2015-05-21 16:49] ghost opened #721 "common web app running: "asyncStorage: can't open database:" "InvalidStateError""
Hi,

I put the loqui application in a web server, and I'm opening it with the Firefox (iceweasel) of my laptop (is not working with Chromium). [src/index.html]. I'm using a custom XMPP server (Prosody) that I have configured in a private network.

XMPP providers.js part (where test.org is a fake /etc/hosts domain in client and server):

[code]

I can connect to the server and load the two test con

[2015-05-21 17:50] TitanNano commented on #721
may I ask which Gecko version you are using?

[2015-05-21 18:10] ghost commented on #721
I expect this is the gecko version, if not let me know: Mozilla/5.0 (X11; Linux x86_64; rv:31.0) Gecko/20100101 Firefox/31.0 Iceweasel/31.7.0

[2015-05-21 18:27] TitanNano commented on #721
well yes your Gecko version is 31.0. The latest stable gecko version
released for desktop systems is 36.0. You should update before you do any
future tests.

2015-05-21 20:10 GMT+02:00 pedro-nonfree notifications@github.com:

[2015-05-21 18:31] bdcomp commented on #721
38.0.1, in fact:
https://www.mozilla.org/en-US/firefox/38.0.1/releasenotes/

[2015-05-21 18:41] TitanNano commented on #721
yes you are right! I didn't download the latest update.

2015-05-21 20:31 GMT+02:00 Boaz Dodin notifications@github.com:

[2015-05-23 15:03] TitanNano commented on #465
App crashes on Firefox OS are always related to memory pressure. Because apps can't crash, actually they get killed.
The thing is, there is no difference between 1-on-1 chats and muc chats from a memory point of view.

@bdcomp well I don't know how old this messages were but it might be possible that you loaded that many messages chunks that your device ran out of memory.

[2015-05-23 16:01] #278 closed, assigned to nobody

[2015-05-23 16:24] tt123456 opened #726 "[XMPP] Add option to set fixed Resource Priority"
If you are online with multiple xmpp clients and want to receive messages on all clients you have to set all clients to the same resource priority. (Also depends on the xmpp server though, but i think most should support this)
Loqui sets different priorities when status changes, so could you please add an option to set a fixed priority that doesn't change? (Maybe hidden in the developer options)

[2015-05-23 18:28] ghost commented on #721
I tried with last version and happened the same. I also think that there is a problem with connectivity with bosh, prosody... I would like to try with websockets, but I don't have more time. I will reopen the issue later.

[2015-05-23 18:28] #721 closed, assigned to nobody

[2015-05-24 11:04] pavithrashankar opened #727 "while using loqui im its showing authentication failed"

[2015-05-24 11:08] TitanNano commented on #727
well if your account credentials are correct and this still happens we're sorry. Due connection issues it's possible that sometimes the authentication fails.

[2015-05-24 11:11] pavithrashankar commented on #727
How to fix it

[2015-05-24 11:13] TitanNano commented on #727
you can't fix it. As I said, sometimes there are connection issues and the
application is unable to authenticate. Usually it reconnects as soon as
possible.

2015-05-24 13:11 GMT+02:00 pavithrashankar notifications@github.com:

[2015-05-24 11:20] tibtab commented on #727
This issue happens quite often to me. It's really annoying, when you're writing a message and the app suddenly sais "authenfication failed" and restarts and all you've written is lost.
Is there a way that at least the app doesn't restart?

[2015-05-24 11:22] TitanNano commented on #727
okay as far as I know this happens when the bosh server is really busy. so maybe @aesedepece can do something about this, but I don't know.

[2015-05-24 16:01] pravi opened #728 "[xmpp] unable to add new accounts"
I could not add a third xmpp account. The account is working fine when logged in with conversejs.org. It gives up after 'Synchronizing' step and does not proceed. This is a brand new account with no contacts.

[2015-05-24 16:02] pravi commented on #728
0.4.2b version

[2015-05-24 17:25] tibtab commented on #728
i think it's a duplicate of  #591  and #459
you have to add a VCard to the account

[2015-05-24 17:25] argon-radio commented on #720
i think this issue is related or even the same as this one: https://github.com/loqui/im/issues/660
but it got closed with no verification, that loqui finally worked

[2015-05-24 19:39] TitanNano commented on #728
yes probably

[2015-05-24 19:39] #728 closed, assigned to nobody

[2015-05-24 19:54] pavithrashankar opened #729 "iam using connecta2 app these days iam not receiving messages"

[2015-05-24 19:55] TitanNano commented on #729
would it possible to provide some more detailed informations about your issue?

[2015-05-24 19:59] pavithrashankar commented on #729
Yes i was using the messaging app connecta2. all went good but some days after i didnt receive any messages sent to me and its shows unable to purse can you fix it

[2015-05-24 20:00] TitanNano commented on #729
This is the repository and bug tracker for the mobile application Loqui IM. We are not related to connecta2 in any way.

[2015-05-24 20:01] pavithrashankar commented on #729
How can i contact them could u help me

[2015-05-24 20:05] TitanNano commented on #729
Please use their contact form. http://www.justapps4all.com/contact.html You can also find it on the ConnectA2 marketplace page.

[2015-05-24 20:05] #729 closed, assigned to nobody

[2015-05-25 18:14] cmeerw commented on #719
Unfortunately, commit 936d16131edcfc4c275a585ce6866bd9a6dfc9bb has completely broken XMPP - getting a TypeError in message.js, line 138 when receiving a message.

[2015-05-25 18:35] ghost opened #730 "Possible to integrate IRC?"
I know, it's not that kind of chat-systems, that are currently available in Loqui, however I'd love to see IRC on the list as well.
The enable/disable buttons would make it possible to connect on demand, so that could work :)

There are some IRC-clients for FxOS (for example: FoxkehChat) and it's also possible to use the web-client KIWI. An integration in Loqui is not urgent, but would definitely

[2015-05-25 19:24] TitanNano commented on #719
oh oh oh yes I see the problem. I'll fix this as soon as possible.

[2015-05-25 20:45] ghost commented on #730
At the moment Loqui seems to support XMPP 'networks' only.

Could you try to use a XMPP transport for IRC?

[2015-05-26 11:35] mcepl commented on #730
I think the better way is to install some IRC transport on your Jabber server. Some ([ejabberd](https://www.process-one.net/docs/ejabberd/guide_en.html#htoc48)) have such transport built-in, [some](http://prosody.im/) have the [third-party modules](https://github.com/hashbang/mod_muc_irc), some need to use some [external transports](http://spectrum.im/). Generally, in the XMPP world, what can be s

[2015-05-26 11:49] mcepl commented on #720
This is duplicate of #434, isn't it?

[2015-05-26 12:25] mcepl opened #732 "Cannot connect to my jabberd2"
Hi,

this is most likely a support question (is there some support channel for loqui? Jabber MUC, perhaps?), but I don’t know where else to ask:
I have a `jabberd2` XMPP server on domain ceplovi.cz:

[code]

and I would like to connect to it with Loqui. It works perfectly well with pidgin, bitlbee, empathy, displays well on [IM Observatory](https://xmpp.net/result.php?domain=ceplovi.cz&type=client

[2015-05-26 12:41] cmeerw commented on #732
By default, loqui connects via bosh.loqui.im to your jabber server (which also is problematic from a privacy point of view).

Anyway, I think the main problem is that jabberd2 implements an old version of XEP-198 which doesn't work together with bosh.loqui.im (or loqui itself). As a workaround you could try commenting out line 780 in c2s/main.c ("sx_env_plugin(c2s->sx_env, sx_ack_init);") of your

[2015-05-26 12:55] mcepl commented on #732
I am hesitant to patch my own server. I could add such patch to Fedora/RHEL packages, but I won’t do it without reviewing of such by jabberd2 people. Could I ask you for a favor by filing a ticket to https://github.com/jabberd2/jabberd2/issues, please?

[2015-05-26 13:04] cmeerw commented on #732
A ticket for jabberd2 is likely to be rejected as I don't think there is anything wrong with jabberd2 - that's why I said "as a workaround". It's just that loqui doesn't work together with that old version of XEP 198.

[2015-05-26 13:09] TitanNano commented on #720
yes I guess.

[2015-05-26 13:09] #720 closed, assigned to nobody

[2015-05-26 14:19] mcepl commented on #732
And couldn’t we go other way and persuade Loqui to work with the old XEP 198?

Anyway, I’ll ask for help `jabberd2` maintainers, at least they have some support channels.

[2015-05-26 15:02] argon-radio commented on #720
there wasn't really an answer to my question. the instructions in the other issues aren't good explained for a noob like me and the instrucions finally didn't work right.
isnt it possible to make the app available at the ubuntu app store?

[2015-05-26 21:08] TitanNano commented on #720
The work for ubuntu touch support was stopped a while ago. Ubuntu Touch is
not supported by Loqui IM, so we can't submit it at the ubuntu app store.

2015-05-26 17:02 GMT+02:00 argon-radio notifications@github.com:

[2015-05-26 21:38] nephilim1973 commented on #720
I think, there are plenty of interested users in UbuntuTouch and a functional LOQUI app.
What would it take to reopen the support for this device from your side ?

Please do not bash the SDK... There must be more serious reasons against Ubuntu.

I could provide you with a AQUARIS E4.5 device.

[2015-05-26 21:41] TitanNano commented on #720
The work was stopped basically because of missing testing resources. No one
of the Team does have a Ubuntu Touch device.

2015-05-26 23:38 GMT+02:00 nephilim1973 notifications@github.com:

[2015-05-26 21:42] nephilim1973 commented on #720
Please read my comment again:
"I could provide you with a AQUARIS E4.5 device."

[2015-05-26 21:48] TitanNano commented on #720
The thing is we are a decentralized team, so you could send the device to someone, but this would be the only person how would be able to work on ubuntu touch. Maybe @Gioyik is interested since he did the work in this last year...

[2015-05-26 21:58] nephilim1973 commented on #720
I will support you with 3 devices. My money, my risk. Deal ?

[2015-05-26 22:04] TitanNano commented on #720
oh well maybe let @aesedepece and @Gioyik comment on this before we decide anything. This would be a huge support for the project and I'm sure everyone of the team would appreciate it. But as you say, it's a risk. I can not tell you that actually someone has the time to work on this. We are all working on this application in our free time and I fear that you maybe provide devices that are barely t

[2015-05-26 22:13] nephilim1973 commented on #720
Sounds like... "Hey man, nice try... but actually I wanna say, that it's senseless..."
But maybe I am wrong. So please contact me... Regards.

[2015-05-27 05:17] cmeerw commented on #720
Does anyone actually know how much work needs to be done to get it working on Ubuntu Touch?

I am assuming there are at least 3 areas that need attention:
- packaging
- CSS/layout for Webkit
- Firefox-specific Javascript APIs (i.e. mozTCPSocket - is there even anything similar available on Ubuntu Touch?)

[2015-05-27 06:35] Gioyik commented on #720
Hi,

@nephilim1973 First of all, thanks for having the initiative to send us devices to complete the port to Ubuntu Touch.

A few things to make clear as I did in other issue about this topic.

I started the port to Ubuntu Touch time ago but I had a lot of problems. I am going to mention a few of them:
- SDK was not complete
- Poor HTML5 app debugging
- Cordova not ported at all, very limited supp

[2015-05-27 07:21] mcepl commented on #732
More discussion is http://thread.gmane.org/gmane.network.jabber.jabberd2/2092 and perhaps related http://thread.gmane.org/gmane.network.jabber.jabberd2/1454/focus=1458.

The last answer (by Peter Saint-Andre, I guess he knows a little bit about the protocols) seems to suggest that jabberd2 is here really right. If this is the case.

[2015-05-28 04:34] cmeerw commented on #719
Is it just me or did this even break WhatsApp as I am seeing a TypeError in coseme.js, line 425

[code]

(because "this" is not what the code expects it to be)

[2015-05-28 20:03] aesedepece commented on #459
Fixed!

[2015-05-28 20:03] #459 closed, assigned to nobody

[2015-05-29 11:56] pravi opened #734 "[xmpp] delivery acknowledgement broken for group chats"
It always show red border, grey background. On both my server and conference server individual chats show green tick marks.

[2015-05-29 12:38] TitanNano commented on #734
yes I'm aware of this. It's some issue in the muc plug-in for Strope.

[2015-05-30 01:16] githubtefo opened #735 "Can't connect to my XMPP account."
Hi guys.
Since this morning I can't loggin to my XMPP account with Loqui (0.4.2b in ZTE II FxOS 1.3 and also in LG FireWeb FxOS 1.2).
I tried to log in with pidgin and the account is working without problems.
Any idea?
Thanks!

[2015-05-30 07:40] TitanNano commented on #735
probably bosh server issues.

2015-05-30 3:16 GMT+02:00 githubtefo notifications@github.com:

[2015-05-30 12:15] pravi commented on #716
Can there be a new release as this is a regression and affects users' privacy?

Anyway I have given up on loqui finally and ordered an android phone. firefox is not ready for daily use. Thanks for all the support.

[2015-05-30 18:41] githubtefo commented on #735
Now I can!
I re-open in case it repeats.
Have a good weekend.

[2015-05-31 09:29] xanderjara commented on #434
helfen mir   ich möchte loqui im für ubuntu phone
nesecito ayuda para usar loqui im en ubuntu  phone

gracias
danke
#660

[2015-06-01 09:33] kramer65 commented on #434
@xanderjara  - I think that the development for the Loqui IM port to Ubuntu Touch as more or less stopped. Or are you or is anybody else still working on it @Gioyik ?

[2015-06-03 10:47] ghost commented on #715
Did a short test #737 fixed it. Thx

[2015-06-03 10:47] #715 closed, assigned to TitanNano

[2015-06-04 06:23] rhasan516 opened #739 "Port Loqui for Tizen"
Hi Loqui community,
I am new to Javascript and web programming in general. I want to know what would it take to port Loqui for Tizen which uses Webkit.
Has anyone tried to make Loqui work on Chrome? (as it uses webkit too).
When I load the firefoxos version in Chrome none of the javascript seems to work until I remove the version (1.7) from script tags (in index.html). But then I run into a bunch

[2015-06-04 06:35] TitanNano commented on #739
yes, because we use a lot of destructive assignments. you need to replace these with some old ES 5 syntax.

[2015-06-04 06:47] rhasan516 commented on #739
can you please give me some example? Thanks TitanNano.

[2015-06-04 06:52] TitanNano commented on #739
well, you get the syntax errors in the browser console? they also tell you the line in the source file 😉

[2015-06-04 07:02] TitanNano commented on #719
I think this is finally fixed now.

[2015-06-04 07:17] #707 closed, assigned to nobody

[2015-06-04 07:17] TitanNano commented on #683
accounts should show online again.

[2015-06-04 07:18] TitanNano commented on #730
I close this because of the mentioned server-side solutions

[2015-06-04 07:18] #730 closed, assigned to nobody

[2015-06-04 07:21] TitanNano commented on #687
can you provide us screen shoots?

[2015-06-04 07:22] TitanNano commented on #713
well I would just give it a try?

[2015-06-04 07:39] TitanNano commented on #659
Do we want to replace OTR with axolotl or do we want to support both?

[2015-06-04 08:36] pravi commented on #659
I think axolotl is not yet widely available in other clients. So providing both until other clients catch up would be good.

[2015-06-04 10:38] argon-radio commented on #659
I dont use loqui so far (ubuntu touch), but it would be better to support both OTR and axolotl, as pravi said, but keep them even if axolotl is more popular.

[2015-06-04 21:11] lemonsquash commented on #692
I share the opinion of @acidicX. I would love to see beta-builds but I think you should give it more time from beta to public release (4 weeks?). It would give more (potential) users a chance to test the beta and give feedback.

[2015-06-07 16:23] tibtab opened #741 "[WhatsApp] media buttons disappear"
Sometimes, when I'm logged in with Whatsapp and XMPP, the media buttons disappear in Whatsapp. Instead the XMPP flash appears. When I close the connection to XMPP, everything is normal again.

[2015-06-07 16:26] tibtab commented on #706
Any news on this?

[2015-06-07 16:28] TitanNano commented on #741
as a work around, go to the side menu and select your WhatsApp account again.

[2015-06-07 16:29] TitanNano commented on #706
yes, do you still experience it?

[2015-06-07 16:37] tibtab commented on #706
yes, every few minutes

[2015-06-07 16:42] TitanNano commented on #706
okay, I think I have a fix for this then. I tried around a little and it is fine for me now.

[2015-06-07 16:42] tibtab commented on #741
ok, that works

[2015-06-07 19:05] tibtab commented on #692
beta builds would be nice, maybe that also would prevent buggy releases published on the marketplace.
Alternatively you could write a short instruction how to compile the app. I would love to compile it myself but i have no idea how to do this.

[2015-06-07 20:39] ghost commented on #692
@tibtab use WebIDE push the dev-branch version of Loqui IM to a Firefox OS device or to the Firefox OS simulator.

[2015-06-07 20:45] tibtab commented on #692
WebIDE asks me then where the manifest.webapp is so I copied it to src and
then i could install loqui on a simulator, but it always said
"Authentication failed" when I tried to connect to my xmpp account.
----- Original Message -----
From: "bobcanthelpyou" notifications@github.com
To: "loqui/im" im@noreply.github.com
Cc: "tibtab" tibtab98@web.de
Sent: Sunday, June 07, 2015 10:39 PM
Subject: Re: [i

[2015-06-07 20:59] TitanNano commented on #692
@tibtab here is a short guide on how to build and install loqui https://github.com/loqui/im/wiki/Build-Loqui

[2015-06-07 21:09] tibtab commented on #692
Thanks

[2015-06-08 09:02] acidicX commented on #683
I just pushed the newest git to my device, contacts are still offline - they only appear online when they reconnect after loqui is online :(

[2015-06-08 09:13] acidicX commented on #683
I just noticed that OTR works again now, even if the contacts are marked offline. So loqui must recognize that the contact is online..? Maybe that helps..

[2015-06-08 10:27] TitanNano commented on #683
I did some tests, I can not confirm this. I used two instances of loqui and as soon as the response for the disco#info request arrives the  contact is marked as away or available.

[2015-06-08 10:54] githubtefo commented on #687
Yes, off course @TitanNano
![2015-06-08-07-43-59](https://cloud.githubusercontent.com/assets/11220103/8033306/8579816e-0db3-11e5-982f-385c65663dca.png)
![2015-06-08-07-47-12](https://cloud.githubusercontent.com/assets/11220103/8033307/857f48d8-0db3-11e5-956c-a5ac5bad1ff5.png)
Thanks!

[2015-06-08 11:44] acidicX commented on #683
Not for me. Are you on the 3.0 nightly as well? Maybe this is a bug in gecko/gaia - but the communication layer works, so it is more likely an issue with loqui.
I haven't checked this on a 2.1 device yet, but when I first reported the bug it appeared there as well. I can see from the console that loqui receives disco#info events. This is the console output for the jabber client I am looking for:

[2015-06-08 12:10] TitanNano commented on #683
I'm on v2.2.

I see and where is the disco#info response?

2015-06-08 13:44 GMT+02:00 Carsten notifications@github.com:

[2015-06-08 16:18] acidicX commented on #683
This is from the response? (the console output was prefixed "RECV" - so it should be the response?)
Here is the entry prefixed by "SENT":

[code]

[2015-06-08 16:56] TitanNano commented on #683
RECV just means that is was an incoming message. The message you posted
first actually was a disco#info request form one of your contacts. The
second message is your response to a disco#info request.

2015-06-08 18:18 GMT+02:00 Carsten notifications@github.com:

[2015-06-08 17:57] sergioad opened #742 "Loqui IM not scroll in conversations FirefoxOS 2.1"
Hello, well; there is not more to say, I can not scroll in the  Loqui IM conversations

[2015-06-08 18:00] TitanNano commented on #742
go to your devices developer settings and turn off async zoom and hardware-composer, then reboot. The issue should be gone.

[2015-06-08 18:52] acidicX commented on #683
Ah ok. So what does a response look like? Could you give me a template or keyword so I can filter the console output for the disco#info response? I don't really know what to look for... Thanks!

[2015-06-08 19:05] TitanNano commented on #683
Well your disco#info request should look like the one your got, but sent form Loqui, not received.

[code]

For the response you can just search for the Id of your request because the response should have the same id.

[2015-06-08 19:30] acidicX commented on #683
Ok, well, there are none. Loqui just answers incoming requests from clients, but never requests disco#info itself. The only two logs including

[code]

are "SENT" entries and answers to previous requests from my contacts account.

// edit:
If the other client (contact account) reconnects, loqui requests disco#info fine and also displays it correctly after getting a response.

[code]

[2015-06-09 00:18] sergioad commented on #742
But hardware composition is better for the device, this will not affect it's efficiency?

[2015-06-09 06:56] TitanNano commented on #742
yes it is better, but on my deivce I couldn't tell any difference. It's a system bug, I experienced the same issue with Loqui and other messaging apps.

[2015-06-09 10:48] #706 closed, assigned to TitanNano

[2015-06-09 16:44] tibtab commented on #692
the "npm install" step failed, maybe you could help me?
cmd displayed me this:
![npmfehler](https://cloud.githubusercontent.com/assets/11966750/8063879/7f10ec16-0ed7-11e5-9a27-4115bc89eed9.JPG)

[2015-06-09 16:48] ghost commented on #692
@tibtab do you have Python installed?

[2015-06-09 16:52] tibtab commented on #692
no, i wondered if I should when I read it, but it wasn't listed here: https://github.com/loqui/im/wiki/Build-Loqui
should I install it?

[2015-06-09 17:17] sergioad commented on #742
I  see

[2015-06-09 19:17] TitanNano commented on #692
yes, sorry. I didn't know we have a dependency that relies on python. Most Linux distributions and OS X already come with Python pre-installed.

[2015-06-09 19:40] tibtab commented on #692
I installed Python, same problem

[2015-06-09 19:49] acidicX commented on #692
You need to include it in your PATH after install. Did you do that?
http://stackoverflow.com/questions/6318156/adding-python-path-on-windows-7

[2015-06-09 19:57] tibtab commented on #692
How to do this? reiinstall and set a tick at the right place?

[2015-06-09 20:08] acidicX commented on #692
Please see the StackOverflow link (it got a bit garbled by the mail response, I fixed it now) - the answer to the question there explains it. You obviously need to adjust it to the path where you installed python to. Might be good to read the second answer as well if you are not familiar with the procedure.

[2015-06-11 15:21] acidicX commented on #739
Chrome has it's own engine called Blink - it is _not_ webkit anymore. This means that even if loqui would run with Chrome, it does not necessarily need to run on Safari or other webkit-derived browsers.
I think you can enable some ES6 features ("Experimental JavaScript") in Chrome Flags. Maybe that will already make it work?

Also, you could try and compile loqui as a Cordova App for tizen:
https:

[2015-06-11 15:27] acidicX commented on #659
Supporting both should definitely be good, OTR has auto-discovery for clients that support it. Is that the case with axolotl over XMPP? That should make things easier in the UI.

[2015-06-11 15:30] acidicX commented on #653
I can confirm this. "<" arrives as `&lt;` with pidgin/loqui and OTR.

[2015-06-11 15:31] TitanNano commented on #739
I don't think you will need to make any usage of Cordova. There are just a few destructing assignments and let statements. simply replace them and it should work.

[2015-06-11 15:32] TitanNano commented on #659
yes that's actually what I have in mind. try to go with axolotl and if the other client doesn't support it, try to fall back on OTR.

[2015-06-11 22:31] acidicX opened #744 "make landscape mode usable"
I noticed that the change from 0.3 to 0.4 disabled landscape mode. Is there any specific reason for that? Any issue blocking re-enabling landscape mode?

A big keyboard area is often essential for communicating via text... :-)

[2015-06-12 08:30] TitanNano commented on #744
go to your App settings and enable it ^^

[2015-06-12 09:35] acidicX commented on #744
lol right, I seem to have overlooked that.
Is this a new default setting? Why?

[2015-06-12 10:39] TitanNano commented on #744
yes it is. because it is annoying to use loqui in landscape mode. And often when you use the Application in a laying position the UI switches. If you don't agree feel free to disable it.

[2015-06-12 10:55] acidicX commented on #744
I rarely have a problem with "wrong" UI switching. Maybe this is a phone-specific issue?
On a Flame it works fine for me.

I agree with the issues in landscape mode though. It's far from ideal - because the keyboard is too high (this is a gaia issue though). What do you think about two improvements:

1) For new users: display a notification the first time loqui is put in landscape mode ("you can e

[2015-06-12 11:12] TitanNano commented on #744
1) we disable landscape mode, so you can not show a message when you enter it. Maybe we could show it at first launch, but we don't have anything like this yet.

2) we already have a ticket for this. #687 feel free to work on it. I can assign you.

[2015-06-12 11:18] acidicX commented on #744
Sure! I'll give it a try.
to 1)
You can still read the accelerometer data and detect if the device is held in a certain position. Of course, for performance reasons, this detection should only run as long as the message has not been displayed.

[2015-06-12 15:47] TitanNano commented on #744
yea I don't know. sounds a little over the top.

[2015-06-12 15:51] TitanNano commented on #687
@acidicX wants to work on this. He is not a team member yet so we can't assign him, but it's his bug now.

Solution for the problem is:
hide the features bar if the available screen height is to small.

[2015-06-13 10:26] tibtab commented on #719
I still have this problem

[2015-06-13 10:27] tibtab commented on #692
thanks, it works :)

[2015-06-13 10:28] TitanNano commented on #719
can you tell when it occurs?

[2015-06-13 10:39] tibtab commented on #719
before updating I had it when a message was written to me while I wasn't available. Now loqui was running in background. I don't know if it's still a problem when im not online and receive the message afterwards.

[2015-06-13 10:42] TitanNano commented on #719
hmmm I really can't tell why this is happening. we wait until the message is saved before we send a acknowledgment to the server :-/ so even if the message wouldn't be saved for any reason, you should receive it again.

[2015-06-13 10:52] tibtab commented on #719
two messages were sent to me but I only received the second
![2015-06-13-12-19-18](https://cloud.githubusercontent.com/assets/11966750/8144068/02404244-11cb-11e5-9d1d-3d420d81bc1d.png)

[2015-06-13 12:05] tibtab opened #745 "[WhatsApp] media always displayed with grey background"
sent media is always displayed with a grey background and maximum with one green tick, although I know it was recieved.

by the way: could you use a smaller icon for audio messages, i think it's a little bit oversized?

[2015-06-13 12:23] tibtab opened #746 "[WhatsApp] all chats disappeared"
I had really strange problem this morning. Loqui was running in background, and when I reenterd it all WhatsApp chats and groupchats were disappeared:
![2015-06-13-11-20-31](https://cloud.githubusercontent.com/assets/11966750/8144269/f78806ce-11d5-11e5-9f8d-4daa0ae61fe3.png)
I restarted loqui, restarted the phone, nothing helped. Nevertheless I received new messages:
![2015-06-13-11-23-58](https:/

[2015-06-13 12:35] acidicX commented on #687
I tested it with the fixes applied on my Flame, works like a charm!

[2015-06-13 12:42] ghost commented on #719
Same here "message7" was sent, too but not received.
![png image 320 x 510 pixels](https://cloud.githubusercontent.com/assets/4523264/8144331/b53ab5ce-11d9-11e5-91af-da19a740283c.png)
Clients: Firefox OS Simulator 1.4 (receiver) and Firefox OS Simulator 2.0 (sender) both with Loqui IM dev-branch

[2015-06-13 12:54] ghost commented on #719
Steps i could reproduce it several times with Firefox OS Simulator (1.4 as receiver and 2.0 as sender):

Receiver:
1. write a message to sender
2. turn off internet connection (i used the wifi switch of my laptop)
3. quit Loqui IM

Sender:
1. write 3 messages to receiver

Receiver:
1. turn on internet connection
2. start Loqui IM

Why is there a difference between the message count and the display

[2015-06-13 13:08] ghost opened #748 ""new messages" message at wrong position"
While testing today, i was online with two Loqui IM clients but the receiver didn't received "message37 38 39" i decided to restarted the Loqui IM client, when the client was off i sent 3 more messages "message40 41 42", the messages were received correctly when Loqui IM was started again but the "6 new messages" message was at the wrong position. It should be before "messages37".
![png image 320

[2015-06-13 18:33] TitanNano commented on #719
can you try to reproduce this while your device is attached to the
debugging console? I'm not sure what's going on inside the Application.

2015-06-13 14:54 GMT+02:00 bobcanthelpyou notifications@github.com:

[2015-06-14 01:26] ghost commented on #719
Log 01: Receiver: http://pastebin.com/eubj87g4
1. start Loqui IM
2. receive msg01, msg02, msg03
3. write reply01 to sender
4. turn off internet connection
5. quit Loqui IM

Sender:
6. write msg04, msg05, msg06 to receiver

Log 02: Receiver: http://pastebin.com/H8hrjMZk
1. turn on internet connection
2. start Loqui IM
3. receive msg05, msg06

Result:
![index](https://cloud.githubusercontent.com/ass

[2015-06-14 07:16] TitanNano commented on #719
okay, you log clearly shows that we receive and acknowledge msg05. Means the message should be inside your device.... Can you check the chunks of your chat? I don't think the messages will be there but just to make sure.

[2015-06-14 13:51] acidicX opened #749 "not able to change cursor position, copy & paste blocked"
I cannot change the cursor position in the loqui textarea. This also blocks copy&paste actions...
// edit:
This seems to be a regression, works in the current stable release but not in dev.

[2015-06-14 14:49] ghost commented on #719
@TitanNano at which files i should have a look at?

[2015-06-14 19:26] TitanNano commented on #719
not a file. The messages chunks of your chat. I'm not sure if you know how
to do that.

2015-06-14 16:49 GMT+02:00 bobcanthelpyou notifications@github.com:

[2015-06-14 19:29] TitanNano commented on #749
yes thats the problem. The copy paste feature does not work properly on
content editable elements.
Lungo is not related to the input field in anyway. We should try to replace
the div with an text input.

2015-06-14 15:51 GMT+02:00 Carsten notifications@github.com:

[2015-06-14 19:33] ghost commented on #719
@TitanNano Where are these chunks saved? Or how could i access these chunks?

[2015-06-14 19:37] TitanNano commented on #719
select your account, open the console:

[code]

there you have the chats and the chats hold an array `chunks` with the
block Ids of the chunks. you can load them with:

[code]

[2015-06-14 20:14] ghost commented on #719
Ah okay 'msg04' is missing within the chunks

[2015-06-14 20:16] TitanNano commented on #719
okay. I think I need to have an other look into the saving and loading logic of the Stores.

[2015-06-14 21:14] ghost commented on #719
Maybe it is not a saving problem at all, maybe the unexpected disconnect of the internet connection is the problem, if i don't switch off the connection i can't reproduce the problem. If i quit Loqui IM while connected to the internet, someone is sending me message, starting Loqui IM again, everything is fine.

What does Loqui when the connection of Firefox OS get lost? (disconnect wifi / mobile d

[2015-06-15 04:34] rhasan516 commented on #739
Thanks acidicX and TitanNano. We are making ES5 compliant code for Chrome. But we are still hitting some issues (even in Firefox) for which I'll open separate issues.

[2015-06-15 07:02] sumikundu opened #750 ""Quit" is not working"
Hello,
I am trying to port Loqui for Tizen but facing some problems,though I have already
changed all destructive assignments.
After signing in google hangout I can't log out.
I am facing the same problem while using Loqui in firefox.
In both case I can't come back to the provider list page.
stack in this page:
![capture](https://cloud.githubusercontent.com/assets/12890898/8154702/a5a02c80-135e-11

[2015-06-15 08:00] TitanNano commented on #750
okay, if you want to see the providers list, tap add accounts. Quit should Quit the Application. This is not possible on Firefox Desktop.

[2015-06-15 08:12] TitanNano commented on #719
Firefox OS will notify us about the disconnect and we will disconnect all accounts. As soon as we receive a online event we reconnect.
The problem is, the message arrives in our Application and does get saved. But what I think interferes here is the following scenario:

contact reads our message we receive an ack for that -> loqui puts it in the queue

contact sent a message -> we receive it and r

[2015-06-16 10:33] tibtab commented on #746
I had this problem 3 times by now. Maybe it only happens when I open or start loqui, first my xmpp account is displayed and than I change to whatsapp using the account preview also shown in the picture above, but I'm not sure.

[2015-06-16 12:24] #750 closed, assigned to nobody

[2015-06-16 12:26] TitanNano commented on #746
this issue appears when you use the account switcher in the header?

[2015-06-16 12:26] TitanNano commented on #706
did anyone test the patch?

[2015-06-16 14:58] tibtab commented on #706
Yeah it works :)

[2015-06-16 14:59] tibtab commented on #746
Yes i think so but I'm not sure if that was the problem or something else

[2015-06-16 15:05] TitanNano commented on #746
can you try to figure out how to reproduce it?

[2015-06-16 15:14] tibtab commented on #746
Add two accounts to loqui first the xmpp that it is the first account wich is displayed when you start.
Close loqui, let someone send you an whatsapp message and restart it.
No swich the account through the header.
Im not sure if it works like this because i dont want to provoke that issue while writing with people which may get tired of sending there messages me twice or more because i didn't rec

[2015-06-16 15:20] TitanNano commented on #746
well this also happens sometimes to me, but not very often... You are
experiencing this recently? You can try to reconnect, most of the time you
will get the message then.

2015-06-16 17:14 GMT+02:00 tibtab notifications@github.com:

[2015-06-17 08:09] pravi opened #751 "loqui on android just shows a blank screen after using it for a while"
I bought a new Yu Yuphoria CyanogenMod phone and I wanted to continue testing loqui im. It worked beautifully after installed, notifications were working too (using fennec from fdroid, and CM 12). But after sometime it just turned blank screen. I removed the app and reinstalled, the same behaviour repeated after some time.

[2015-06-17 08:10] TitanNano commented on #751
Yes I had the same problem with a virtual android tablet. I don't really know what's the problem. Maybe it's a platform issue.

[2015-06-17 08:45] gargsms commented on #751
I am not very sure if I am following the discussion here.
Loqui is not available for Android AFAIK. 
Are you using the website for testing purposes?
How do you install Loqui on Android? I am about to buy an Android phone too.

[2015-06-17 08:46] TitanNano commented on #751
Loqui is available for android. Install Firefox for Android -> navigate to marketplace.firefox.com -> search for loqui -> click install

[2015-06-17 08:53] ghost commented on #746
@tibtab If possible and available get a new phone number just for testing, e.g. a free prepaid SIM card (i also can give you access to some of my testing phone numbers). And try to reproduce the issue with Firefox OS Simulator.

[2015-06-17 09:49] gargsms commented on #751
Ah, like that. Thanks.

[2015-06-17 10:04] ghost commented on #751
Is it possible to have a look at the debug console? Not sure if that works for apps on Firefox for Android, too.

https://developer.mozilla.org/en-US/docs/Tools/Remote_Debugging/Debugging_Firefox_for_Android_with_WebIDE

[2015-06-18 22:27] 03927e9c commented on #706
Please push this to market place!

[2015-06-19 12:13] tibtab commented on #746
I don't know any provider who gives his phone numbers away for free.

[2015-06-19 18:34] tibtab commented on #746
Have this problem again right now, I changed the account through the sidebar menu, so this disprooved my supposition.
I opened the webIDE should I look for something special?

[2015-06-19 18:36] TitanNano commented on #746
uh I don't really know. you can just post the log here, I will take a look
at it.

2015-06-19 20:34 GMT+02:00 tibtab notifications@github.com:

[2015-06-19 18:40] tibtab commented on #746
how to get that log?

[2015-06-19 18:42] TitanNano commented on #746
uhm just copy it from the console...

2015-06-19 20:40 GMT+02:00 tibtab notifications@github.com:

[2015-06-19 18:44] tibtab commented on #746
This ?

[code]

[2015-06-19 18:47] TitanNano commented on #746
yes. is that all you have?

[2015-06-19 18:52] tibtab commented on #746
Yes, but I not wasn't connected with the webIDE until I had the problem.

After a restart of the programm only:

"[l10n] #contactAdd is undefined." l10n.js:68
"SHOW" "main" undefined undefined menu.js:297

is displayed, not more.

[2015-06-19 18:53] TitanNano commented on #746
yes that is fine. :-/

2015-06-19 20:52 GMT+02:00 tibtab notifications@github.com:

[2015-06-19 21:50] tibtab commented on #746
Could it be caused by any changes you did in "fixes #706" ?
Because I never ha this Problem before.

[2015-06-21 18:42] mcepl commented on #732
Given that jabberd2 maintainers are not likely to fix their non-bug and bosh.loqui.im will remain broken as well, do you have any HOWTO for doing what you do, @cmeerw , please?

[2015-06-22 01:15] githubtefo commented on #735
Guys! Again I can't login to my XMPP account with Loqui.

[2015-06-22 12:07] TitanNano commented on #735
for how long are you now not able to login?

[2015-06-22 13:57] githubtefo commented on #735
Since this morning I can connect to my XMPP account again. The problem has began at Saturday night.

[2015-06-22 13:57] #735 closed, assigned to nobody

[2015-06-22 13:58] TitanNano commented on #735
yes there are a lot of issues with the server, probably due to heavy usage.

[2015-06-23 16:40] tibtab opened #752 "[WhatsApp] when connecting to it after deleting the account, no Groupchats are loaded"
Groupchats are first loaded when someone writes a message in them, but even then they have no name and i can't enter the settings for the groupchat. I think it's some problem with the server because it just happened connecting to the account last saturday without any changes on my side.

[2015-06-23 17:41] cmeerw commented on #732
Well, first thing is that you need to change the host in the XMPP connector (which is hardcoded in loqui) to something like wss://host.example.com:8443/jabber.example.com

The source code for my WebSockets server is available in http://svn.cmeerw.net/src/nginetd/trunk/ - this is definitely not production quality, but works for me for the moment - you'll need udns and gnutls development files and t

[2015-06-23 18:52] mcepl commented on #732
Builds on RHEL-7 (repo is https://gitlab.com/mcepl/nginetd, required changes https://gitlab.com/mcepl/nginetd/commit/0cfd0cfc6540b1ab08d84e160ae84f2ef26ff862).
Now, I will need to try to build it on RHEL-6. ;)
(And I needed also lua-devel and imake)

[2015-06-23 20:37] mcepl commented on #732
Hmm, so `gcc-c++-4.4.7` (on RHEL-6) is not new enough.

[2015-06-23 20:51] mcepl commented on #732
Hmm, so I got `g++ 4.9.2` from RH Software Collections, but still no happiness:

[code]

Any ideas? Is it something which could be fixed, or I am definitively lost?

[2015-06-24 12:36] holztest08 commented on #752
The same Problem here:
https://github.com/mozillahispano/openwapp/issues/132

[2015-06-24 12:45] TitanNano commented on #752
I will take a look into it as soon as I can.

2015-06-24 14:36 GMT+02:00 holztest08 notifications@github.com:

[2015-06-25 03:04] ayub79 opened #753 "Can not type Chat message after porting in Tizen"
Hello,
We are porting this loqui IM in Tizen platform. Currently we can login using google account but can not type chat message in Chat window. <div id="text" contenteditable></div> is being used as chat message input. When I tap in that input field, cursor / keypad is not displaying. We have been trying for a long time to find out the cause but still couldn't.

Can anyone please suggest me what

[2015-06-25 05:22] TitanNano commented on #753
Does Tizen support the HTML "contenteditable" attribute?

2015-06-25 5:04 GMT+02:00 ayub79 notifications@github.com:

[2015-06-25 10:19] sumikundu opened #754 ""WhatsApp" account create in Tizen"
Hello,
We are trying to port "Loqui" in Tizen.
It is working fine for Google Hangout but when we trying to create account in "WhatsApp"
and select "verify via SMS" it shows the following error :
![whtsapp](https://cloud.githubusercontent.com/assets/12890898/8352270/af7779d0-1b55-11e5-9094-3834e79ef5a1.PNG)

[2015-06-25 10:21] TitanNano commented on #754
Well it clearly says what's the problem. Tizen doesn't support json response types.

[2015-06-25 12:48] pravi commented on #659
You can follow the work on axolotr support in "conversations" android app here http://conversationsgsoc2015.blogspot.fr/ He mentions some of the design decisions and challenges, it would be good to collaborate.

[2015-06-26 20:43] 03927e9c commented on #706
WTF!!!! why this fix isn't on Market Place???? it's so annoying!!!!

[2015-06-26 20:54] 03927e9c opened #755 "[WhatsApp] Being in a group and receiving messages, but I can't see the members"
I've been in a group for a while, and in the top I always saw "8 participants", now all of the sudden I only see "1 participant", and when I click on the group profile picture, I can't access the other options, suchs as "clear chat, mute this chat, exit, etc".

[2015-06-26 21:12] tibtab commented on #755
related to #752
but would be nice when someone cares about this problem. It also causes that you can't create a new group.
it may have to do with an update whatsapp made some days ago

[2015-06-26 21:21] 03927e9c commented on #755
Well, this only happens with this group in particular, I'm in other 3 groups and this doesn't happen at all.

[2015-06-27 07:31] TitanNano commented on #706
@aesedepece needs to create a new version.

[2015-06-27 07:33] TitanNano commented on #755
It's not that we don't care about the bugs of this Project. But we also have other things to do. As I said in #752 I will take a look at it as soon as possible.

[2015-06-30 04:36] ayub79 commented on #753
Dear TitanNano,
thanks for your reply. Tizen supports HTML "contenteditable" attribute.

[2015-06-30 07:54] TitanNano commented on #753
Can you give me more details on your issue?

[2015-06-30 07:58] TitanNano commented on #746
okay I fixed this. you should have received a message without any sender jid... I don't know how this happened, but the same just happened to me too.

[2015-06-30 07:58] #746 closed, assigned to nobody

[2015-07-02 11:26] pravi opened #757 "OpenPGP drops messages occationally"
With just the following message "This is an XEP-0027 encryted message" (with the wrong spelling of encrypted"). Both sides use Conversations 1.4.3 from fdroid.

[2015-07-03 01:54] garvankeeley commented on #519
Same issue, latest release. 'Synchronizing' for ~20 seconds, then back to the login screen.

[2015-07-03 04:37] sumikundu opened #758 "WhatsApp "bad_token" error"
The following error  is showing when trying to register new account in WhatsApp from Bangladesh

![capture](https://cloud.githubusercontent.com/assets/12890898/8492672/241a1e18-216f-11e5-91ae-544a8d482d3d.PNG)

[2015-07-03 06:11] TitanNano commented on #758
new whatsapp version. @aesedepece can you extract the new token?

[2015-07-04 01:39] CesarSilva92 opened #759 "ERROR DE AUTENTICACION (FACEBOOK CHAT)"
tengo un ZTE open 2 con firefos os 1.3  cofigure wattsap y hangout pero facebook no logro me sale un mensaje que dice error de autenticacion, cambie la configuracion de mi cuenta  y he tratado generando contraseñas para aplicaciones donde me piden el nombre de la aplicacon probe LoquiIM, loquiim, loqui.im, Loqui IM, pero nada funciona me podrian ayudar?

[2015-07-04 06:56] TitanNano commented on #759
Please translate to English!

2015-07-04 3:39 GMT+02:00 CesarSilva92 notifications@github.com:

[2015-07-08 06:57] sumikundu commented on #758
Hello ,Is there any update about this issue...

[2015-07-08 07:43] TitanNano commented on #758
no not yet, we need the new token

[2015-07-08 12:44] ghost commented on #758
@TitanNano could everyone extract it? Is therefore a special phone needed? How to do that?

[2015-07-08 12:47] TitanNano commented on #758
@bobcanthelpyou you would need the whatsapp package for the Nokia S40, but  I don't know how it's done. @aesedepece did it the last time. Maybe someone of the CoSeMe team knows how to do it.

[2015-07-08 16:43] 03927e9c commented on #755
Now this just happened with another 2 groups, and it's because they've added another member. Now I just see "1 participant" and I can't access the other options. The same problem.

[2015-07-08 16:44] TitanNano commented on #755
yes, it's something in how we process the incoming group info.

[2015-07-08 16:55] 03927e9c commented on #755
Any news on when this is gonna be fix?

[2015-07-08 16:57] TitanNano commented on #755
no sorry, I'm quite busy recently and I don't know if anyone else has the time to look into this.

[2015-07-08 17:02] 03927e9c commented on #755
Ok.

OFF TOPIC: I'm still waiting for the false image reception fix to be on Market Place, can you please tell the guy in charge woud be great to have it uploaded. Thanks.